.io-ox-help-highlight {
	cursor: help;
	z-index: 101;
	background: #fff !important;
	border-radius: 3px;
	text-align: center;
	vertical-align: center;
	padding: 0 2px !important
}

.io-ox-help-blacksheepwall {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 100;
	overflow: hidden
}

.io-ox-help-item, #io-ox-help-off {
	z-index: 102
}