.io-ox-sidepopup .oxdrive .teaser {
	clear: both
}

.io-ox-sidepopup .oxdrive .oxdrive-shop-image {
	display: inline-block
}

.io-ox-sidepopup .oxdrive .link {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 10px 0 0
}

.io-ox-sidepopup .oxdrive .link i {
	font-size: 20px;
	margin-right: 5px
}

.io-ox-sidepopup .oxdrive .appicon {
	width: 72px;
	height: 72px;
	background-size: 72px 72px
}

.oxdrive .message h4 {
	margin-top: 0
}

.oxdrive .appicon {
	width: 40px;
	height: 40px;
	background-size: 40px;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px
}

.oxdrive .link {
	margin-top: 10px;
	clear: both
}

.oxdrive .oxdrive-shop-image {
	width: 135px;
	height: 40px;
	background-size: 135px 40px
}

.oxdrive .oxdrive-shop-image.android {
	width: 115px;
	background-size: 115px 40px
}

.oxdrive .oxdrive-shop-image.mac_os {
	width: 165px;
	background-size: 165px 40px
}