/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.addressbook-popup {

    .modal-header .row {
        margin-top: 8px;
    }

    .modal-body.error {
        color: #777;
        background-color: #eee;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .list-view {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: auto;
    }

    .list-item {
        line-height: 16px;
        padding-top: 11px;
        padding-bottom: 11px;

        &:last-child { border: 0; }

        .fa.fa-checkmark { top: 18px; }
    }

    .focus-indicator .list-item {

        border: 1px solid transparent;
        border-width: 1px 0;

        &:focus {
            // just focus
            background-color: #ddd;
            .fa.fa-checkmark { color: #555; }

            &.selected {
                border-color: lighten(@selected-background, 30%);
                background-color: darken(@selected-background, 5%);
            }
            &.selected .fa.fa-checkmark { color: white; }
        }
    }

    .limit {
        color: #777;
        background-color: #eee;
        padding: 8px 8px 8px 48px;
    }

    .contact-picture {
        float: left;
        display: inline-block;
        margin-right: 16px;
        background-color: #eee;
        position: relative;
        top: -4px;
        .picture(40px, 40px);
    }

    .name, .email {
        .ellipsis();
    }

    .list-item.selected .contact-picture {
        &.image {
            opacity: 0.25;
            -webkit-filter: saturate(0);
            background-color: #eee;
        }
        &.initials, &.distribution-list, &.label {
            color: white;
            background-color: rgba(0, 0, 0, 0.30);
        }
    }

    .initials, .distribution-list, .label {
        color: rgba(0, 0, 0, 0.60);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .initials {
        &.gray { color: #000; }
        &.red { background-color: #FFA0A5; }
        &.orange { background-color: #FFA77B; }
        &.yellow { background-color: #FFD23A; }
        &.green { background-color: #BFDE45; }
        &.cyan { background-color: #99E4FB; }
        &.blue { background-color: #95CEFF; }
        &.purple { background-color: #E5B0FF; }
        &.pink { background-color: #FFC2DE; }
    }

    .distribution-list, .label {
        font-size: 14px;
        color: #fff;
        background-color: #555;
    }

    .list-item .display_name {
        font-weight: bold;
    }

    .selection-summary {
        font-size: 13px;
        padding: 0 0 16px 0;
        text-align: left;
        .count {
            color: #777;
        }
        .addresses {
            font-weight: bold;
            clear: both;
            .ellipsis();
        }
    }

    .list-view .message-empty-container .message-empty {
        font-size: 13px;
        font-weight: 400;
    }
}
