@font-face {
	font-family: C64;
	src: url(v=7.8.3-11.20170116.064730/C64_User_Mono_v1.0-STYLE.ttf)
		format('truetype');
	font-weight: 400;
	font-style: normal
}

@
-webkit-keyframes blink { 0%{
	background: #a5a5ff
}

49%{
background
:
#a5a5ff
}
50%{
background
:
0
 
0
}
100%{
background
:
0
 
0
}
}
.c64 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #a5a5ff;
	z-index: 100000
}

.c64 .inner {
	font-family: C64;
	font-size: 16px;
	line-height: 18px;
	color: #a5a5ff;
	background-color: #4242e7;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 50%;
	width: 640px;
	margin-left: -320px;
	white-space: pre;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	outline: 0
}

.c64 .cursor {
	position: absolute;
	top: 432px;
	width: 16px;
	height: 16px;
	background-color: #a5a5ff;
	-webkit-animation: blink 1.25s linear 0s infinite
}

@media ( min-width :1024px) {
	.c64 .inner {
		font-size: 20px;
		line-height: 22px;
		width: 800px;
		margin-left: -400px
	}
	.c64 .cursor {
		top: 528px;
		width: 20px;
		height: 20px
	}
}