#io-ox-topbar {
	background-color: #4bb05d /*#cb2539*/;
	background-image: -moz-linear-gradient(top, #db2a3f, #b41e30);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db2a3f),
		to(#b41e30));
	background-image: -webkit-linear-gradient(top, #db2a3f, #b41e30);
	background-image: -o-linear-gradient(top, #db2a3f, #b41e30);
	background-image: linear-gradient(to bottom, #db2a3f, #b41e30);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb2a3f',
		endColorstr='#ffb41e30', GradientType=0)
}

#io-ox-topbar .launcher a.notifications-icon .badge.empty {
	color: #fff;
	background-color: #881724
}

#io-ox-topbar .launcher>a:hover {
	background-color: #b41e30
}

#io-ox-topbar .launcher-dropdown>a:focus, #io-ox-topbar .launcher>a:focus
	{
	background-color: #881724
}

.io-ox-portal .greeting-phrase {
	font-family: Arial;
	color: #db2a3f;
	font-weight: 400
}

.io-ox-portal .signin {
	display: none
}

.io-ox-portal .widget.widget-color-red h2 {
	color: #888;
	font-weight: 500
}

.io-ox-portal .widget.photo-stream.widget-color-red h2 {
	color: #fff
}

.promotion {
	color: #fff;
	margin-top: 14px;
	padding: 14px;
	font-size: 14px;
	min-height: 100px;
	background-color: #773972;
	background-image: -moz-linear-gradient(top, #894289, #5d2b50);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#894289),
		to(#5d2b50));
	background-image: -webkit-linear-gradient(top, #894289, #5d2b50);
	background-image: -o-linear-gradient(top, #894289, #5d2b50);
	background-image: linear-gradient(to bottom, #894289, #5d2b50);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff894289',
		endColorstr='#ff5d2b50', GradientType=0)
}

.promotion h2 {
	font-size: 16px;
	font-weight: 500
}

.promotion .buttons {
	margin-top: 14px
}

.promotion .btn-default {
	background-color: #fff;
	background-image: none
}

.my-thing {
	padding: 14px;
	border-bottom: 1px solid #eee
}

.my-thing h2 {
	font-weight: 500;
	line-height: 80px;
	height: 80px;
	padding: 0;
	margin: 0
}

.my-thing .logo {
	width: 83px;
	height: 80px;
	margin-right: 14px;
	vertical-align: top
}

.my-thing .data-row {
	font-size: 16px;
	margin-top: 14px;
	clear: both
}

.my-thing .data-row small {
	font-size: 13px
}

.my-thing .data-bar {
	clear: both;
	border: 1px solid #ddd;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.my-thing .data-bar-value {
	height: 28px;
	width: 50%;
	background-color: #A8B323
}

.my-thing .data-bar-value.red {
	background-color: #db2a3f
}

.my-ad {
	border-bottom: 1px solid #db2a3f
}

.my-ad img {
	vertical-align: bottom
}