.participantsrow {
	margin-bottom: 20px
}

.participantsrow legend {
	margin-bottom: 10px
}

.participant-wrapper {
	margin-bottom: 2px;
	position: relative;
	min-height: 54px;
	line-height: 20px
}

.autocomplete-item .participant-wrapper {
	margin: 0
}

.participant-wrapper.pointer {
	cursor: pointer
}

.participant-wrapper .remove {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	line-height: 1em;
	background-color: #f5f5f5;
	color: #ccc;
	cursor: pointer;
	display: none
}

.participant-wrapper .remove:hover, .participant-wrapper .remove:focus {
	background-color: #a00;
	color: #fff;
	text-decoration: none;
	outline: 0
}

.participant-wrapper .remove .icon {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -.5em;
	text-align: center
}

.participant-wrapper.removable {
	padding-right: 40px
}

.participant-wrapper.removable .remove {
	display: block
}

.participant-wrapper .participant-name {
	padding-top: 7px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.participant-wrapper .participant-email-wrapper, .participant-wrapper .extra-decorator-wrapper,
	.participant-wrapper .participant-email {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.participant-wrapper .extra-decorator {
	color: #888
}

.participant-wrapper .extra-decorator:hover {
	color: #888;
	text-decoration: none
}

.participant-wrapper.three-rows {
	line-height: 18px
}

.participant-wrapper.three-rows .participant-name {
	padding-top: 0
}

.participant-wrapper .participant-image {
	float: left;
	margin-right: 1em;
	width: 54px;
	height: 54px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.participant-wrapper .participant-image.contact-image,
	.participant-wrapper .participant-image.external-user-image {
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/fallback-image-contact.png)
}

.participant-wrapper .participant-image.group-image {
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/fallback-image-group.png);
	background-position: 0 -4px
}

.participant-wrapper .participant-image.resource-image {
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/fallback-image-resource.png)
}

.participants-view .group {
	border: 0
}

.participants-view legend {
	margin-bottom: 9px;
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 2px
}

.participants-view .status {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
	line-height: 24px
}

.participants-view .status.unconfirmed {
	color: #428bca
}

.participants-view .status.accepted {
	color: #5c7f31
}

html.high-contrast .participants-view .status.accepted i {
	opacity: 1
}

.participants-view .status.declined {
	color: #913f3f
}

.participants-view .status.tentative {
	color: #c80
}

.participants-view .status.tentative i {
	opacity: .5
}

html.high-contrast .participants-view .status.tentative i {
	opacity: 1
}

.participants-view .io-ox-inline-links.embedded {
	margin: 14px 0 18px;
	line-height: 24px;
	min-height: 0
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.participants-view .io-ox-inline-links.embedded {
		margin: 18px 0 14px;
		line-height: 16px
	}
}

.participants-view .summary {
	float: right;
	display: inline-block
}

.participants-view .summary .status {
	position: relative;
	margin-right: .3em;
	line-height: 20px
}

.participants-view .summary .countgroup {
	margin-right: .5em;
	cursor: pointer
}

.participants-view .summary .countgroup.badge {
	background-color: #fff;
	color: #000;
	border: 1px solid #888;
	margin: 0
}

.participants-view .participant-list {
	margin-bottom: 11px;
	padding-top: 5px
}

.participants-view .participant-list .participant {
	vertical-align: top;
	width: 250px;
	margin: 0 20px 8px 0;
	line-height: 24px
}

.participants-view .participant-list .participant:focus .person.accepted,
	.participants-view .participant-list .participant:hover .person.accepted,
	.participants-view .participant-list .participant:focus .person.declined,
	.participants-view .participant-list .participant:hover .person.declined
	{
	color: #000
}

.participants-view .participant-list .participant .person {
	line-height: 24px;
	padding-top: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 222px;
	display: inline-block
}

.participants-view .participant-list .participant .person.accepted {
	color: #5c7f31
}

html.high-contrast .participants-view .participant-list .participant .person.accepted
	{
	color: #198919
}

.participants-view .participant-list .participant .person.declined {
	text-decoration: line-through;
	color: #913f3f
}

.participants-view .participant-list .participant .person .last_name {
	font-weight: 700
}

.participants-view .participant-list .participant .comment {
	color: #767676;
	white-space: normal;
	padding-left: 1em;
	line-height: 16px;
	padding-top: 5px;
	margin-bottom: 3px
}