.vgrid-cell.tasks .vgrid-cell-checkbox {
	padding-top: 11px
}

.vgrid-cell.tasks .first-row {
	display: flex;
	display: -webkit-flex
}

.vgrid-cell.tasks .end_date {
	color: #777;
	margin-left: .5em;
	margin-right: .5em;
	overflow: visible;
	font-weight: 300;
	float: right
}

html.high-contrast .vgrid-cell.tasks .end_date {
	color: #000
}

.vgrid-cell.tasks .status {
	margin-left: .5em;
	float: right;
	padding-bottom: 1px
}

.vgrid-cell.tasks .priority {
	font-size: 16;
	font-weight: 700;
	padding: 0 .5em;
	display: inline-block;
	float: right;
	position: relative;
	overflow: visible
}

.vgrid-cell.tasks .priority i.fa-star {
	display: inline-block
}

.vgrid-cell.tasks .title {
	font-weight: 500;
	display: inline-block;
	white-space: nowrap;
	flex-grow: 1
}

.vgrid-cell.tasks .private-flag {
	float: left;
	font-size: 18px;
	margin-right: 3px;
	color: #aaa;
	min-width: 12px;
	max-width: 12px
}

.vgrid-cell.tasks .second-row {
	margin-top: 5px;
	height: 17px
}

.vgrid-cell.tasks .participants {
	line-height: 1em;
	margin-right: 1em;
	float: left
}

.vgrid-cell.tasks .progress {
	height: 13px;
	margin: 0 1em 0 0
}

.task-detail-container {
	padding: 16px 32px
}

.tasks-detailview .io-ox-inline-links:first-child {
	margin: 0 0 26px
}

.tasks-detailview header {
	margin-bottom: 15px;
	padding-top: 1px
}

.tasks-detailview header:after {
	content: "\00A0";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.tasks-detailview header .title {
	margin: 0 0 16px;
	font-size: 24px
}

.tasks-detailview .note {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	line-height: 24px;
	margin-bottom: 16px;
	white-space: pre-wrap;
	word-wrap: break-word;
	cursor: text
}

.tasks-detailview .info-panel {
	margin-left: 2em;
	display: inline;
	float: right;
	line-height: 20px
}

.tasks-detailview .info-panel .state {
	margin-bottom: 3px;
	margin-top: 1px
}

.tasks-detailview .state, .tasks-detailview .end-date, .tasks-detailview .alarm-date,
	.tasks-detailview .task-progress {
	float: right;
	clear: both;
	margin-bottom: 4px
}

.tasks-detailview .attachments {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	color: #aaa
}

.tasks-detailview .attachments-container {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	margin-bottom: 7px;
	font-weight: 300;
	line-height: 24px
}

.tasks-detailview .attachments-container .dropdown {
	margin-right: 1em;
	display: inline-block;
	padding-bottom: 2px;
	line-height: 22px
}

.tasks-detailview .attachment-item {
	color: #333;
	word-break: break-all
}

.tasks-detailview .task-details {
	padding: 7px 0 0;
	border-top: 1px solid #ddd;
	margin: 0 0 8px
}

.tasks-detailview .detail-label {
	cursor: default;
	color: #767676;
	text-align: left;
	padding-top: 8px;
	line-height: 24px
}

html.high-contrast .tasks-detailview .detail-label {
	color: #767676
}

.tasks-detailview .detail-value {
	line-height: 24px;
	padding-top: 8px
}

.tasks-detailview .private-flag {
	font-size: 20pt;
	margin-right: 12px;
	color: #aaa
}

.tasks-detailview .priority {
	font-weight: 700;
	vertical-align: top;
	white-space: nowrap
}

.tasks-detailview .priority .high, .tasks-detailview .priority .low,
	.tasks-detailview .priority .medium {
	margin-right: 10px;
	font-size: 16px;
	color: #ff4700
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.vgrid-cell.tasks {
		z-index: 2;
		width: 100%;
		font-size: 14px;
		border-top: 1px solid #ddd;
		left: 0;
		-webkit-transition: left .4s cubic-bezier(0.1, .7, .1, 1), padding .4s
			cubic-bezier(0.1, .7, .1, 1);
		-o-transition: left .4s cubic-bezier(0.1, .7, .1, 1), padding .4s
			cubic-bezier(0.1, .7, .1, 1);
		transition: left .4s cubic-bezier(0.1, .7, .1, 1), padding .4s
			cubic-bezier(0.1, .7, .1, 1)
	}
	.vgrid-cell.tasks:first-child {
		border-top-width: 0
	}
	.vgrid-cell.tasks.swipe-left {
		left: -80px
	}
	.tasks-detailview .title {
		margin: 0;
		padding-bottom: 1px
	}
	.tasks-detailview .detail-label, .tasks-detailview .detail-value,
		.tasks-detailview .participants-table-confirmmessage {
		display: block
	}
	.tasks-detailview .detail-label {
		margin-bottom: 0
	}
	.tasks-detailview .detail-value {
		padding-top: 0
	}
	.tasks-detailview .io-ox-inline-links:first-child {
		margin: 0;
		padding: 15px 0
	}
	.tasks-detailview .participants-table-confirmmessage {
		padding-left: 0
	}
	.tasks-detailview .info-panel {
		width: 100%
	}
	div.io-ox-tasks-edit.task-edit-wrapper.container.default-content-padding
		{
		padding-bottom: 40px
	}
	.task-detail-container {
		padding: 16px 16px 0
	}
}

.task-item .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500
}

.task-item .date {
	font-weight: 300;
	display: inline-block;
	margin-left: .5em;
	float: right;
	opacity: .5
}

html.high-contrast .task-item .date {
	opacity: 1
}

.task-item .prog {
	color: #777
}