.taskNotification .status {
	float: right;
	margin-top: 4px;
	margin-bottom: 2px
}

.taskNotification .info-wrapper {
	min-height: 24px
}

#io-ox-notifications #io-ox-notifications-confirmation-tasks .stateselect
	{
	margin-top: 1px;
	float: left;
	width: 50%
}

#io-ox-notifications #io-ox-notifications-confirmation-tasks .accept-decline-button
	{
	margin-right: 14px
}

#io-ox-notifications .end_date {
	line-height: 24px
}