/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, menu, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

a {
	background-color: transparent
}

a:active, a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #79bcfc;
	text-decoration: none
}

a:hover, a:focus {
	color: #2e97fa;
	text-decoration: underline
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

figure {
	margin: 0
}

img {
	vertical-align: middle
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

.img-rounded {
	border-radius: 3px
}

.img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto
}

.img-circle {
	border-radius: 50%
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}

[role=button] {
	cursor: pointer
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small,
	.h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small,
	h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small,
	.h4 .small, .h5 .small, .h6 .small {
	font-weight: 400;
	line-height: 1;
	color: #777
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small,
	.h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 65%
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px
}

h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small,
	.h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
	font-size: 75%
}

h1, .h1 {
	font-size: 36px
}

h2, .h2 {
	font-size: 30px
}

h3, .h3 {
	font-size: 24px
}

h4, .h4 {
	font-size: 18px
}

h5, .h5 {
	font-size: 14px
}

h6, .h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4
}

@media ( min-width :768px) {
	.lead {
		font-size: 21px
	}
}

small, .small {
	font-size: 85%
}

mark, .mark {
	background-color: #fcf8e3;
	padding: .2em
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.text-justify {
	text-align: justify
}

.text-nowrap {
	white-space: nowrap
}

.text-lowercase {
	text-transform: lowercase
}

.text-uppercase {
	text-transform: uppercase
}

.text-capitalize {
	text-transform: capitalize
}

.text-muted {
	color: #777
}

.text-primary {
	color: #3c73aa
}

a.text-primary:hover, a.text-primary:focus {
	color: #2f5984
}

.text-success {
	color: #3c763d
}

a.text-success:hover, a.text-success:focus {
	color: #2b542c
}

.text-info {
	color: #31708f
}

a.text-info:hover, a.text-info:focus {
	color: #245269
}

.text-warning {
	color: #8a6d3b
}

a.text-warning:hover, a.text-warning:focus {
	color: #66512c
}

.text-danger {
	color: #a94442
}

a.text-danger:hover, a.text-danger:focus {
	color: #843534
}

.bg-primary {
	color: #fff;
	background-color: #3c73aa
}

a.bg-primary:hover, a.bg-primary:focus {
	background-color: #2f5984
}

.bg-success {
	background-color: #dff0d8
}

a.bg-success:hover, a.bg-success:focus {
	background-color: #c1e2b3
}

.bg-info {
	background-color: #d9edf7
}

a.bg-info:hover, a.bg-info:focus {
	background-color: #afd9ee
}

.bg-warning {
	background-color: #fcf8e3
}

a.bg-warning:hover, a.bg-warning:focus {
	background-color: #f7ecb5
}

.bg-danger {
	background-color: #f2dede
}

a.bg-danger:hover, a.bg-danger:focus {
	background-color: #e4b9b9
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px
}

ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0
}

.list-unstyled {
	padding-left: 0;
	list-style: none
}

.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px
}

.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}

dl {
	margin-top: 0;
	margin-bottom: 20px
}

dt, dd {
	line-height: 1.42857143
}

dt {
	font-weight: 700
}

dd {
	margin-left: 0
}

@media ( min-width :768px) {
	.dl-horizontal dt {
		float: left;
		width: 160px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}
	.dl-horizontal dd {
		margin-left: 180px
	}
}

abbr[title], abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #777
}

.initialism {
	font-size: 90%;
	text-transform: uppercase
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child
	{
	margin-bottom: 0
}

blockquote footer, blockquote small, blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #777
}

blockquote footer:before, blockquote small:before, blockquote .small:before
	{
	content: '\2014 \00A0'
}

.blockquote-reverse, blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eee;
	border-left: 0;
	text-align: right
}

.blockquote-reverse footer:before, blockquote.pull-right footer:before,
	.blockquote-reverse small:before, blockquote.pull-right small:before,
	.blockquote-reverse .small:before, blockquote.pull-right .small:before
	{
	content: ''
}

.blockquote-reverse footer:after, blockquote.pull-right footer:after,
	.blockquote-reverse small:after, blockquote.pull-right small:after,
	.blockquote-reverse .small:after, blockquote.pull-right .small:after {
	content: '\00A0 \2014'
}

address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.42857143
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

@media ( min-width :768px) {
	.container {
		width: 750px
	}
}

@media ( min-width :992px) {
	.container {
		width: 900px
	}
}

@media ( min-width :1200px) {
	.container {
		width: 900px
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left
}

.col-xs-12 {
	width: 100%
}

.col-xs-11 {
	width: 91.66666667%
}

.col-xs-10 {
	width: 83.33333333%
}

.col-xs-9 {
	width: 75%
}

.col-xs-8 {
	width: 66.66666667%
}

.col-xs-7 {
	width: 58.33333333%
}

.col-xs-6 {
	width: 50%
}

.col-xs-5 {
	width: 41.66666667%
}

.col-xs-4 {
	width: 33.33333333%
}

.col-xs-3 {
	width: 25%
}

.col-xs-2 {
	width: 16.66666667%
}

.col-xs-1 {
	width: 8.33333333%
}

.col-xs-pull-12 {
	right: 100%
}

.col-xs-pull-11 {
	right: 91.66666667%
}

.col-xs-pull-10 {
	right: 83.33333333%
}

.col-xs-pull-9 {
	right: 75%
}

.col-xs-pull-8 {
	right: 66.66666667%
}

.col-xs-pull-7 {
	right: 58.33333333%
}

.col-xs-pull-6 {
	right: 50%
}

.col-xs-pull-5 {
	right: 41.66666667%
}

.col-xs-pull-4 {
	right: 33.33333333%
}

.col-xs-pull-3 {
	right: 25%
}

.col-xs-pull-2 {
	right: 16.66666667%
}

.col-xs-pull-1 {
	right: 8.33333333%
}

.col-xs-pull-0 {
	right: auto
}

.col-xs-push-12 {
	left: 100%
}

.col-xs-push-11 {
	left: 91.66666667%
}

.col-xs-push-10 {
	left: 83.33333333%
}

.col-xs-push-9 {
	left: 75%
}

.col-xs-push-8 {
	left: 66.66666667%
}

.col-xs-push-7 {
	left: 58.33333333%
}

.col-xs-push-6 {
	left: 50%
}

.col-xs-push-5 {
	left: 41.66666667%
}

.col-xs-push-4 {
	left: 33.33333333%
}

.col-xs-push-3 {
	left: 25%
}

.col-xs-push-2 {
	left: 16.66666667%
}

.col-xs-push-1 {
	left: 8.33333333%
}

.col-xs-push-0 {
	left: auto
}

.col-xs-offset-12 {
	margin-left: 100%
}

.col-xs-offset-11 {
	margin-left: 91.66666667%
}

.col-xs-offset-10 {
	margin-left: 83.33333333%
}

.col-xs-offset-9 {
	margin-left: 75%
}

.col-xs-offset-8 {
	margin-left: 66.66666667%
}

.col-xs-offset-7 {
	margin-left: 58.33333333%
}

.col-xs-offset-6 {
	margin-left: 50%
}

.col-xs-offset-5 {
	margin-left: 41.66666667%
}

.col-xs-offset-4 {
	margin-left: 33.33333333%
}

.col-xs-offset-3 {
	margin-left: 25%
}

.col-xs-offset-2 {
	margin-left: 16.66666667%
}

.col-xs-offset-1 {
	margin-left: 8.33333333%
}

.col-xs-offset-0 {
	margin-left: 0
}

@media ( min-width :768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
		.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666667%
	}
	.col-sm-10 {
		width: 83.33333333%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666667%
	}
	.col-sm-7 {
		width: 58.33333333%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666667%
	}
	.col-sm-4 {
		width: 33.33333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.66666667%
	}
	.col-sm-1 {
		width: 8.33333333%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-pull-11 {
		right: 91.66666667%
	}
	.col-sm-pull-10 {
		right: 83.33333333%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-8 {
		right: 66.66666667%
	}
	.col-sm-pull-7 {
		right: 58.33333333%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-5 {
		right: 41.66666667%
	}
	.col-sm-pull-4 {
		right: 33.33333333%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-2 {
		right: 16.66666667%
	}
	.col-sm-pull-1 {
		right: 8.33333333%
	}
	.col-sm-pull-0 {
		right: auto
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666667%
	}
	.col-sm-push-10 {
		left: 83.33333333%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666667%
	}
	.col-sm-push-7 {
		left: 58.33333333%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666667%
	}
	.col-sm-push-4 {
		left: 33.33333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.66666667%
	}
	.col-sm-push-1 {
		left: 8.33333333%
	}
	.col-sm-push-0 {
		left: auto
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%
	}
	.col-sm-offset-0 {
		margin-left: 0
	}
}

@media ( min-width :992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
		.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-11 {
		width: 91.66666667%
	}
	.col-md-10 {
		width: 83.33333333%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-8 {
		width: 66.66666667%
	}
	.col-md-7 {
		width: 58.33333333%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-5 {
		width: 41.66666667%
	}
	.col-md-4 {
		width: 33.33333333%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-2 {
		width: 16.66666667%
	}
	.col-md-1 {
		width: 8.33333333%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-pull-11 {
		right: 91.66666667%
	}
	.col-md-pull-10 {
		right: 83.33333333%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-pull-8 {
		right: 66.66666667%
	}
	.col-md-pull-7 {
		right: 58.33333333%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-pull-5 {
		right: 41.66666667%
	}
	.col-md-pull-4 {
		right: 33.33333333%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-pull-2 {
		right: 16.66666667%
	}
	.col-md-pull-1 {
		right: 8.33333333%
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-push-11 {
		left: 91.66666667%
	}
	.col-md-push-10 {
		left: 83.33333333%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-8 {
		left: 66.66666667%
	}
	.col-md-push-7 {
		left: 58.33333333%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-5 {
		left: 41.66666667%
	}
	.col-md-push-4 {
		left: 33.33333333%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-2 {
		left: 16.66666667%
	}
	.col-md-push-1 {
		left: 8.33333333%
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
	.col-md-offset-11 {
		margin-left: 91.66666667%
	}
	.col-md-offset-10 {
		margin-left: 83.33333333%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-offset-8 {
		margin-left: 66.66666667%
	}
	.col-md-offset-7 {
		margin-left: 58.33333333%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-offset-5 {
		margin-left: 41.66666667%
	}
	.col-md-offset-4 {
		margin-left: 33.33333333%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-offset-2 {
		margin-left: 16.66666667%
	}
	.col-md-offset-1 {
		margin-left: 8.33333333%
	}
	.col-md-offset-0 {
		margin-left: 0
	}
}

@media ( min-width :1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
		.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-pull-11 {
		right: 91.66666667%
	}
	.col-lg-pull-10 {
		right: 83.33333333%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-pull-8 {
		right: 66.66666667%
	}
	.col-lg-pull-7 {
		right: 58.33333333%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-pull-5 {
		right: 41.66666667%
	}
	.col-lg-pull-4 {
		right: 33.33333333%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-pull-2 {
		right: 16.66666667%
	}
	.col-lg-pull-1 {
		right: 8.33333333%
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-push-11 {
		left: 91.66666667%
	}
	.col-lg-push-10 {
		left: 83.33333333%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-push-8 {
		left: 66.66666667%
	}
	.col-lg-push-7 {
		left: 58.33333333%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-push-5 {
		left: 41.66666667%
	}
	.col-lg-push-4 {
		left: 33.33333333%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-push-2 {
		left: 16.66666667%
	}
	.col-lg-push-1 {
		left: 8.33333333%
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
	.col-lg-offset-11 {
		margin-left: 91.66666667%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-offset-8 {
		margin-left: 66.66666667%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333333%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-offset-5 {
		margin-left: 41.66666667%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-offset-2 {
		margin-left: 16.66666667%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%
	}
	.col-lg-offset-0 {
		margin-left: 0
	}
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}

input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

input[type=radio], input[type=checkbox] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal
}

input[type=file] {
	display: block
}

input[type=range] {
	display: block;
	width: 100%
}

select[multiple], select[size] {
	height: auto
}

input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus
	{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

output {
	display: block;
	padding-top: 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555
}

.form-control {
	display: block;
	width: 100%;
	height: 30px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.form-control::-ms-expand {
	border: 0;
	background-color: transparent
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background-color: #eee;
	opacity: 1
}

.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}

input[type=search] {
	-webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control,
		input[type=month].form-control {
		line-height: 30px
	}
	input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm,
		input[type=month].input-sm, .input-group-sm input[type=date],
		.input-group-sm input[type=time], .input-group-sm input[type=datetime-local],
		.input-group-sm input[type=month] {
		line-height: 30px
	}
	input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg,
		input[type=month].input-lg, .input-group-lg input[type=date],
		.input-group-lg input[type=time], .input-group-lg input[type=datetime-local],
		.input-group-lg input[type=month] {
		line-height: 46px
	}
}

.form-group {
	margin-bottom: 15px
}

.radio, .checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}

.radio label, .checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox],
	.checkbox-inline input[type=checkbox] {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px \9
}

.radio+.radio, .checkbox+.checkbox {
	margin-top: -5px
}

.radio-inline, .checkbox-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
	margin-top: 0;
	margin-left: 10px
}

input[type=radio][disabled], input[type=checkbox][disabled], input[type=radio].disabled,
	input[type=checkbox].disabled, fieldset[disabled] input[type=radio],
	fieldset[disabled] input[type=checkbox] {
	cursor: not-allowed
}

.radio-inline.disabled, .checkbox-inline.disabled, fieldset[disabled] .radio-inline,
	fieldset[disabled] .checkbox-inline {
	cursor: not-allowed
}

.radio.disabled label, .checkbox.disabled label, fieldset[disabled] .radio label,
	fieldset[disabled] .checkbox label {
	cursor: not-allowed
}

.form-control-static {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	min-height: 34px
}

.form-control-static.input-lg, .form-control-static.input-sm {
	padding-left: 0;
	padding-right: 0
}

.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

select.input-sm {
	height: 30px;
	line-height: 30px
}

textarea.input-sm, select[multiple].input-sm {
	height: auto
}

.form-group-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.form-group-sm select.form-control {
	height: 30px;
	line-height: 30px
}

.form-group-sm textarea.form-control, .form-group-sm select[multiple].form-control
	{
	height: auto
}

.form-group-sm .form-control-static {
	height: 30px;
	min-height: 32px;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 1.5
}

.input-lg {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 3px
}

select.input-lg {
	height: 46px;
	line-height: 46px
}

textarea.input-lg, select[multiple].input-lg {
	height: auto
}

.form-group-lg .form-control {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 3px
}

.form-group-lg select.form-control {
	height: 46px;
	line-height: 46px
}

.form-group-lg textarea.form-control, .form-group-lg select[multiple].form-control
	{
	height: auto
}

.form-group-lg .form-control-static {
	height: 46px;
	min-height: 38px;
	padding: 11px 16px;
	font-size: 18px;
	line-height: 1.3333333
}

.has-feedback {
	position: relative
}

.has-feedback .form-control {
	padding-right: 37.5px
}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	pointer-events: none
}

.input-lg+.form-control-feedback, .input-group-lg+.form-control-feedback,
	.form-group-lg .form-control+.form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px
}

.input-sm+.form-control-feedback, .input-group-sm+.form-control-feedback,
	.form-group-sm .form-control+.form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px
}

.has-success .help-block, .has-success .control-label, .has-success .radio,
	.has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline,
	.has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label,
	.has-success.checkbox-inline label {
	color: #3c763d
}

.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.has-success .input-group-addon {
	color: #3c763d;
	border-color: #3c763d;
	background-color: #dff0d8
}

.has-success .form-control-feedback {
	color: #3c763d
}

.has-warning .help-block, .has-warning .control-label, .has-warning .radio,
	.has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline,
	.has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label,
	.has-warning.checkbox-inline label {
	color: #8a6d3b
}

.has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
}

.has-warning .input-group-addon {
	color: #8a6d3b;
	border-color: #8a6d3b;
	background-color: #fcf8e3
}

.has-warning .form-control-feedback {
	color: #8a6d3b
}

.has-error .help-block, .has-error .control-label, .has-error .radio,
	.has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline,
	.has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label,
	.has-error.checkbox-inline label {
	color: #a94442
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-error .input-group-addon {
	color: #a94442;
	border-color: #a94442;
	background-color: #f2dede
}

.has-error .form-control-feedback {
	color: #a94442
}

.has-feedback label ~.form-control-feedback {
	top: 25px
}

.has-feedback label.sr-only ~.form-control-feedback {
	top: 0
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373
}

@media ( min-width :768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}
	.form-inline .form-control-static {
		display: inline-block
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle
	}
	.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn,
		.form-inline .input-group .form-control {
		width: auto
	}
	.form-inline .input-group>.form-control {
		width: 100%
	}
	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle
	}
	.form-inline .radio, .form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	.form-inline .radio label, .form-inline .checkbox label {
		padding-left: 0
	}
	.form-inline .radio input[type=radio], .form-inline .checkbox input[type=checkbox]
		{
		position: relative;
		margin-left: 0
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0
	}
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline,
	.form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px
}

.form-horizontal .radio, .form-horizontal .checkbox {
	min-height: 25px
}

.form-horizontal .form-group {
	margin-left: -15px;
	margin-right: -15px
}

@media ( min-width :768px) {
	.form-horizontal .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 5px
	}
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 15px
}

@media ( min-width :768px) {
	.form-horizontal .form-group-lg .control-label {
		padding-top: 11px;
		font-size: 18px
	}
}

@media ( min-width :768px) {
	.form-horizontal .form-group-sm .control-label {
		padding-top: 6px;
		font-size: 12px
	}
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn:hover, .btn:focus, .btn.focus {
	color: #333;
	text-decoration: none
}

.btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	opacity: .65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none
}

a.btn.disabled, fieldset[disabled] a.btn {
	pointer-events: none
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default:focus, .btn-default.focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}

.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
	{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
	{
	background-image: none
}

.btn-default .badge {
	color: #fff;
	background-color: #333
}

.btn-primary {
	color: #fff;
	background-color: #79bcfc;
	border-color: #60b0fb
}

.btn-primary:focus, .btn-primary.focus {
	color: #fff;
	background-color: #47a3fb;
	border-color: #0570d7
}

.btn-primary:hover {
	color: #fff;
	background-color: #47a3fb;
	border-color: #2492fa
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #47a3fb;
	border-color: #2492fa
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
	{
	background-image: none
}

.btn-primary .badge {
	color: #79bcfc;
	background-color: #fff
}

.btn-success {
	color: #fff;
	background-color: #198819;
	border-color: #157215
}

.btn-success:focus, .btn-success.focus {
	color: #fff;
	background-color: #115d11;
	border-color: #010701
}

.btn-success:hover {
	color: #fff;
	background-color: #115d11;
	border-color: #0c3f0c
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success
	{
	color: #fff;
	background-color: #115d11;
	border-color: #0c3f0c
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success
	{
	background-image: none
}

.btn-success .badge {
	color: #198819;
	background-color: #fff
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-info:focus, .btn-info.focus {
	color: #fff;
	background-color: #31b0d5;
	border-color: #1b6d85
}

.btn-info:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
	background-image: none
}

.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}

.btn-warning {
	color: #764500;
	background-color: #fbb450;
	border-color: #faa937
}

.btn-warning:focus, .btn-warning.focus {
	color: #764500;
	background-color: #fa9f1e;
	border-color: #ae6704
}

.btn-warning:hover {
	color: #764500;
	background-color: #fa9f1e;
	border-color: #ef8e05
}

.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning
	{
	color: #764500;
	background-color: #fa9f1e;
	border-color: #ef8e05
}

.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning
	{
	background-image: none
}

.btn-warning .badge {
	color: #fbb450;
	background-color: #764500
}

.btn-danger {
	color: #fff;
	background-color: #df332e;
	border-color: #d32520
}

.btn-danger:focus, .btn-danger.focus {
	color: #fff;
	background-color: #bd211d;
	border-color: #65120f
}

.btn-danger:hover {
	color: #fff;
	background-color: #bd211d;
	border-color: #9e1c18
}

.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger
	{
	color: #fff;
	background-color: #bd211d;
	border-color: #9e1c18
}

.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger
	{
	background-image: none
}

.btn-danger .badge {
	color: #df332e;
	background-color: #fff
}

.btn-link {
	color: #79bcfc;
	font-weight: 400;
	border-radius: 0
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
	fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent
}

.btn-link:hover, .btn-link:focus {
	color: #2e97fa;
	text-decoration: underline;
	background-color: transparent
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus,
	fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none
}

.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 3px
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-block {
	display: block;
	width: 100%
}

.btn-block+.btn-block {
	margin-top: 5px
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block
	{
	width: 100%
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

.dropup, .dropdown {
	position: relative
}

.dropdown-toggle:focus {
	outline: 0
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #3c73aa
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover,
	.dropdown-menu>.disabled>a:focus {
	color: #777
}

.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: not-allowed
}

.open>.dropdown-menu {
	display: block
}

.open>a {
	outline: 0
}

.dropdown-menu-right {
	left: auto;
	right: 0
}

.dropdown-menu-left {
	left: 0;
	right: auto
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990
}

.pull-right>.dropdown-menu {
	right: 0;
	left: auto
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
	content: ""
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px
}

@media ( min-width :768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0
	}
	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto
	}
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before,
	.dl-horizontal dd:after, .container:before, .container:after,
	.container-fluid:before, .container-fluid:after, .row:before, .row:after,
	.form-horizontal .form-group:before, .form-horizontal .form-group:after
	{
	content: " ";
	display: table
}

.clearfix:after, .dl-horizontal dd:after, .container:after,
	.container-fluid:after, .row:after, .form-horizontal .form-group:after
	{
	clear: both
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.pull-right {
	float: right !important
}

.pull-left {
	float: left !important
}

.hide {
	display: none !important
}

.show {
	display: block !important
}

.invisible {
	visibility: hidden
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.hidden {
	display: none !important
}

.affix {
	position: fixed
}

@font-face {
	font-family: OpenSans;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url(../../3rd.party/open-sans-fontface/fonts/Light/OpenSans-Light.woff)
		format('woff'),
		url(../../3rd.party/open-sans-fontface/fonts/Light/OpenSans-Light.ttf)
		format('truetype'),
		url(../../3rd.party/open-sans-fontface/fonts/Light/OpenSans-Light.svg#OpenSansLight)
		format('svg');
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: FontAwesome;
	src:
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0)
		format('woff2'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0)
		format('woff'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0)
		format('truetype'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
		format('svg');
	font-weight: 400;
	font-style: normal
}

html, body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px
}

html.baseline #background-loader {
	display: block !important;
	background-color: transparent;
	background-image: url(/apps/themes/default/baseline_8_cyan.png);
	opacity: .5
}

html.baseline.red #background-loader {
	background-image: url(/apps/themes/default/baseline_8_red.png);
	opacity: .3
}

html.baseline.gray #background-loader {
	background-image: url(/apps/themes/default/baseline_8_gray.png);
	opacity: .8
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.selectable-text {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: default
}

.noscript {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 65000;
	width: 400px;
	margin: -50px 0 0 -200px;
	z-index: 65301
}

#background-loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 65300;
	background-color: #fff;
	-webkit-transform: translateZ(0)
}

#io-ox-login-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 65102;
	background-color: #4bb05d /*#162c4a*/;
	color: #fff
}

#io-ox-login-screen .no-margin {
	margin: 0
}

#io-ox-login-screen.relogin {
	right: auto;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	-webkit-box-shadow: 0 0 70px 5px #000;
	-moz-box-shadow: 0 0 70px 5px #000;
	box-shadow: 0 0 70px 5px #000
}

#io-ox-login-screen .io-ox-busy {
	position: relative
}

#io-ox-login-screen .io-ox-busy:before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	font-size: 20px;
	font-family: FontAwesome;
	content: '\f021';
	color: rgba(0, 0, 0, .3);
	-moz-animation: fa-spin 1.5s infinite linear;
	-o-animation: fa-spin 1.5s infinite linear;
	-webkit-animation: fa-spin 1.5s infinite linear;
	animation: fa-spin 1.5s infinite linear
}

#io-ox-login-screen .help-block {
	color: #fff;
	margin-bottom: 16px
}

#io-ox-login-background {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	z-index: 0
}

#io-ox-login-background.wallpaper {
	background-image: -webkit-radial-gradient(circle, #30753c, #4bb05d /*#294f83,#162c4a*/);
	background-image: radial-gradient(circle, #30753c, #4bb05d /*#294f83,#162c4a*/);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@wallpaper-start-color',
		endColorstr='@wallpaper-end-color', GradientType=0)
}

#io-ox-login-blocker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: .01;
	filter: alpha(opacity = 1);
	z-index: 65000
}

#io-ox-login-container-scrollpane {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

#io-ox-login-container {
	position: relative;
	max-width: 400px;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding-bottom: 32px
}

#io-ox-login-container a:not (.btn ){
	color: #87B7E4
}

#io-ox-login-container .form-group {
	margin-bottom: 16px
}

#io-ox-login-container input.form-control {
	height: 40px
}

#io-ox-login-container input.form-control:focus {
	box-shadow: 0 0 8px 2px #9dcfff;
	outline: 0
}

#io-ox-login-container input:not ([type=submit] ){
	font-size: 16px
}

#io-ox-login-container .row.password-retype {
	display: none
}

#io-ox-login-container .btn-primary {
	background-color: #3d7dbb;
	border-color: #1f6da1
}

#io-ox-login-container .alert {
	padding: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

body.down #io-ox-login-container .alert {
	position: relative;
	top: 40%
}

#io-ox-login-container .alert.alert-info {
	color: #fff;
	background: rgba(0, 0, 0, .2);
	border: 1px solid rgba(0, 0, 0, .2)
}

#io-ox-login-container h1 {
	font-size: 40px;
	font-weight: 100;
	margin: 0 0 22px;
	line-height: 48px;
	padding-top: 2px
}

#io-ox-login-header {
	cursor: default
}

#io-ox-login-header-prefix {
	color: #6cbafc
}

#io-ox-login-store, #io-ox-forgot-password {
	margin-top: 8px;
	margin-bottom: 20px
}

#io-ox-login-feedback {
	margin-bottom: 8px
}

#io-ox-backtosignin {
	margin-top: 10px
}

#io-ox-login-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 1em 0;
	text-align: center
}

#io-ox-languages {
	margin-right: 32px
}

#io-ox-languages .dropup, #io-ox-languages .dropdown {
	display: inline-block
}

#io-ox-languages .dropup a[data-toggle=dropdown], #io-ox-languages .dropdown a[data-toggle=dropdown]
	{
	color: #87B7E4
}

#io-ox-languages .dropup ul a:focus, #io-ox-languages .dropdown ul a:focus,
	#io-ox-languages .dropup ul a:hover, #io-ox-languages .dropdown ul a:hover
	{
	background-color: #abd7ff
}

#io-ox-languages .dropup .dropdown-menu.multi, #io-ox-languages .dropdown .dropdown-menu.multi
	{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2
}

#io-ox-languages .dropup .dropdown-menu.multi li, #io-ox-languages .dropdown .dropdown-menu.multi li
	{
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	padding-bottom: 1px
}

#io-ox-languages .dropup .dropdown-menu.multi li a, #io-ox-languages .dropdown .dropdown-menu.multi li a
	{
	padding: 3px 20px 2px 30px
}

#io-ox-languages .lang-label {
	font-weight: 400
}

#io-ox-languages .lang-label:after {
	content: ':';
	margin-right: 5px
}

#io-ox-copyright {
	color: #fff /*#87B7E4*/;
	font-weight: 300;
	cursor: default
}

@media ( max-width :767px) {
	.android #io-ox-login-footer {
		position: static
	}
	#io-ox-login-header h1 {
		font-size: 20pt;
		padding-top: 7px;
		line-height: 48px;
		margin-bottom: 1px
	}
	#io-ox-login-container {
		top: 16px;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	.row.buttons .form-group {
		margin-bottom: 12px
	}
	.row.buttons #io-ox-login-button {
		margin-top: 4px
	}
	#io-ox-languages {
		text-align: left;
		margin-left: 16px
	}
	#io-ox-languages select {
		background: 0 0;
		border: 0
	}
	#io-ox-login-footer {
		margin: 16px 0
	}
	#io-ox-login-footer>span {
		display: block
	}
	#io-ox-languages .lang-label {
		margin-top: 1px;
		margin-bottom: 5px
	}
	#io-ox-login-store, #io-ox-forgot-password {
		margin-top: 1px;
		margin-bottom: 15px
	}
	#io-ox-forgot-password, #io-ox-backtosignin {
		text-align: left
	}
	#io-ox-copyright {
		margin-left: 16px;
		text-align: left;
		font-size: 10px
	}
}

@
-moz-keyframes fa-spin { 0%{
	-moz-transform: rotate(0deg)
}

100%{
-moz-transform
:rotate(359deg)
}
}
@
-webkit-keyframes fa-spin { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(359deg)
}
}
@
-o-keyframes fa-spin { 0%{
	-o-transform: rotate(0deg)
}

100%{
-o-transform
:rotate(359deg)
}
}
@
-ms-keyframes fa-spin { 0%{
	-ms-transform: rotate(0deg)
}

100%{
-ms-transform
:rotate(359deg)
}
}
@
keyframes fa-spin { 0%{
	transform: rotate(0deg)
}
100%{
transform
:rotate(359deg)
}
}

