/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Viktor Pracht <viktor.pracht@open-xchange.com>
 */
.contact-detail .with-furigana {
	float: left;
	margin-right: 14px;
}

.contact-detail .furigana {
	font-family: @ normal-font-family;
	font-size: 14px;
	line-height: 1.2em;
	color: #888;
}

.edit-contact .input-xlarge.furigana {
	margin-bottom: 2px;
}