.io-ox-office-main i[class^=docs-] {
	width: 18px;
	height: 18px;
	background-size: 720px 108px
}

.io-ox-office-main i[class^=docs-].docs-caret.down {
	background-position: 0 0
}

.io-ox-office-main i[class^=docs-].docs-caret.up {
	background-position: -18px 0
}

.io-ox-office-main i[class^=docs-].docs-border {
	background-position: -36px 0
}

.io-ox-office-main i[class^=docs-].docs-border-t {
	background-position: -54px 0
}

.io-ox-office-main i[class^=docs-].docs-border-b {
	background-position: -72px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tb {
	background-position: -90px 0
}

.io-ox-office-main i[class^=docs-].docs-border-h {
	background-position: -108px 0
}

.io-ox-office-main i[class^=docs-].docs-border-th {
	background-position: -126px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bh {
	background-position: -144px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbh {
	background-position: -162px 0
}

.io-ox-office-main i[class^=docs-].docs-border-l {
	background-position: -180px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tl {
	background-position: -198px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bl {
	background-position: -216px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbl {
	background-position: -234px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hl {
	background-position: -252px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thl {
	background-position: -270px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhl {
	background-position: -288px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhl {
	background-position: -306px 0
}

.io-ox-office-main i[class^=docs-].docs-border-r {
	background-position: -324px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tr {
	background-position: -342px 0
}

.io-ox-office-main i[class^=docs-].docs-border-br {
	background-position: -360px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbr {
	background-position: -378px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hr {
	background-position: -396px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thr {
	background-position: -414px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhr {
	background-position: -432px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhr {
	background-position: -450px 0
}

.io-ox-office-main i[class^=docs-].docs-border-lr {
	background-position: -468px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tlr {
	background-position: -486px 0
}

.io-ox-office-main i[class^=docs-].docs-border-blr {
	background-position: -504px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tblr {
	background-position: -522px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hlr {
	background-position: -540px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thlr {
	background-position: -558px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhlr {
	background-position: -576px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlr {
	background-position: -594px 0
}

.io-ox-office-main i[class^=docs-].docs-border-v {
	background-position: -612px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tv {
	background-position: -630px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bv {
	background-position: -648px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbv {
	background-position: -666px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hv {
	background-position: -684px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thv {
	background-position: -702px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhv {
	background-position: 0 -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhv {
	background-position: -18px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-lv {
	background-position: -36px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tlv {
	background-position: -54px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-blv {
	background-position: -72px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tblv {
	background-position: -90px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hlv {
	background-position: -108px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thlv {
	background-position: -126px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhlv {
	background-position: -144px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlv {
	background-position: -162px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-rv {
	background-position: -180px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-trv {
	background-position: -198px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-brv {
	background-position: -216px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbrv {
	background-position: -234px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hrv {
	background-position: -252px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thrv {
	background-position: -270px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhrv {
	background-position: -288px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhrv {
	background-position: -306px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-lrv {
	background-position: -324px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tlrv {
	background-position: -342px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-blrv {
	background-position: -360px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tblrv {
	background-position: -378px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hlrv {
	background-position: -396px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thlrv {
	background-position: -414px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhlrv {
	background-position: -432px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlrv {
	background-position: -450px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-bottom {
	background-position: -468px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-center {
	background-position: -486px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-left {
	background-position: -504px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-middle {
	background-position: -522px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-right {
	background-position: -540px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-top {
	background-position: -558px -18px
}

.io-ox-office-main i[class^=docs-].docs-arrange-to-back {
	background-position: -576px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-line-color {
	background-position: -594px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-line-color {
	background-position: -612px -18px
}

.io-ox-office-main i[class^=docs-].docs-paragraph-fill-color {
	background-position: -630px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-objects-h {
	background-position: -648px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-slide-h {
	background-position: -666px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-objects-v {
	background-position: -684px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-slide-v {
	background-position: -702px -18px
}

.io-ox-office-main i[class^=docs-].docs-filter {
	background-position: 0 -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-flip-v {
	background-position: -18px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-flip-h {
	background-position: -36px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-to-front {
	background-position: -54px -36px
}

.io-ox-office-main i[class^=docs-].docs-line-style {
	background-position: -72px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-anchor {
	background-position: -90px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-page {
	background-position: -108px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-page-margin {
	background-position: -126px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-paragraph {
	background-position: -144px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-text {
	background-position: -162px -36px
}

.io-ox-office-main i[class^=docs-].docs-z-order {
	background-position: -180px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-rotate-left {
	background-position: -198px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-rotate-right {
	background-position: -216px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-shape {
	background-position: -234px -36px
}

.io-ox-office-main i[class^=docs-].docs-insert-textframe {
	background-position: -252px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-backward {
	background-position: -270px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-forward {
	background-position: -288px -36px
}

.io-ox-office-main i[class^=docs-].docs-table-resize-row {
	background-position: -306px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-justify {
	background-position: -324px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-auto {
	background-position: -342px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-center {
	background-position: -360px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-left {
	background-position: -378px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-right {
	background-position: -396px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-style {
	background-position: -414px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-justify {
	background-position: -432px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-bottom {
	background-position: -450px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-middle {
	background-position: -468px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-top {
	background-position: -486px -36px
}

.io-ox-office-main i[class^=docs-].docs-table-resize-column {
	background-position: -504px -36px
}

.io-ox-office-main i[class^=docs-].docs-dec-places-decrease {
	background-position: -522px -36px
}

.io-ox-office-main i[class^=docs-].docs-dec-places-increase {
	background-position: -540px -36px
}

.io-ox-office-main i[class^=docs-].docs-functions {
	background-position: -558px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-on {
	background-position: -576px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-horizontal {
	background-position: -594px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-vertical {
	background-position: -612px -36px
}

.io-ox-office-main i[class^=docs-].docs-percent {
	background-position: -630px -36px
}

.io-ox-office-main i[class^=docs-].docs-format-painter {
	background-position: -648px -36px
}

.io-ox-office-main i[class^=docs-].docs-auto-sum {
	background-position: -666px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-off {
	background-position: -684px -36px
}

.io-ox-office-main i[class^=docs-].docs-color {
	background-position: -702px -36px
}

.io-ox-office-main i[class^=docs-].docs-font-fill-color {
	background-position: 0 -54px
}

.io-ox-office-main i[class^=docs-].docs-para-fill-color {
	background-position: -18px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-line-color {
	background-position: -36px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-color {
	background-position: -54px -54px
}

.io-ox-office-main i[class^=docs-].docs-previous-page {
	background-position: -72px -54px
}

.io-ox-office-main i[class^=docs-].docs-first-page {
	background-position: -90px -54px
}

.io-ox-office-main i[class^=docs-].docs-last-page {
	background-position: -108px -54px
}

.io-ox-office-main i[class^=docs-].docs-hide-sidepane {
	background-position: -126px -54px
}

.io-ox-office-main i[class^=docs-].docs-next-page {
	background-position: -144px -54px
}

.io-ox-office-main i[class^=docs-].docs-show-sidepane {
	background-position: -162px -54px
}

.io-ox-office-main i[class^=docs-].docs-hyperlink {
	background-position: -180px -54px
}

.io-ox-office-main i[class^=docs-].docs-image-insert {
	background-position: -198px -54px
}

.io-ox-office-main i[class^=docs-].docs-drawing-remove {
	background-position: -216px -54px
}

.io-ox-office-main i[class^=docs-].docs-redo {
	background-position: -234px -54px
}

.io-ox-office-main i[class^=docs-].docs-undo {
	background-position: -252px -54px
}

.io-ox-office-main i[class^=docs-].docs-zoom-in {
	background-position: -270px -54px
}

.io-ox-office-main i[class^=docs-].docs-zoom-out {
	background-position: -288px -54px
}

.io-ox-office-main i[class^=docs-].docs-reset-formatting {
	background-position: -306px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-style {
	background-position: -324px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-add {
	background-position: -342px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-show {
	background-position: -360px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-next {
	background-position: -378px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-back {
	background-position: -396px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-remove {
	background-position: -414px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert-column {
	background-position: -432px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert-row {
	background-position: -450px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert {
	background-position: -468px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-delete-column {
	background-position: -486px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-delete-row {
	background-position: -504px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-split {
	background-position: -522px -54px
}

.io-ox-office-main i[class^=docs-].docs-header-footer {
	background-position: -540px -54px
}

.io-ox-office-main i[class^=docs-].docs-page-layout {
	background-position: -558px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold {
	background-position: -576px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-da,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-de,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-hu,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-nb,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-nn,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-sv {
	background-position: -594px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-fr,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-it {
	background-position: -612px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-pt {
	background-position: -630px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-lv {
	background-position: -648px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-ru {
	background-position: -666px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-dbl-underline {
	background-position: -684px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-italic {
	background-position: -702px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-da,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-de,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-nb,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-nn,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-sv {
	background-position: 0 -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-it {
	background-position: -18px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-hu {
	background-position: -36px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-sl {
	background-position: -54px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-lv {
	background-position: -72px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-ru {
	background-position: -90px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-strikeout {
	background-position: -108px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-subscript {
	background-position: -126px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-superscript {
	background-position: -144px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-format {
	background-position: -162px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline {
	background-position: -180px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-fr,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-it,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-pt {
	background-position: -198px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-hu {
	background-position: -216px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-lv,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-sl {
	background-position: -234px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-ru {
	background-position: -252px -72px
}

.io-ox-office-main i[class^=docs-].docs-lists {
	background-position: -270px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-numbered {
	background-position: -288px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-bullet {
	background-position: -306px -72px
}

.io-ox-office-main i[class^=docs-].docs-field {
	background-position: -324px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-dec-level {
	background-position: -342px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-inc-level {
	background-position: -360px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-justify {
	background-position: -378px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-center {
	background-position: -396px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-left {
	background-position: -414px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-right {
	background-position: -432px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-linebreak {
	background-position: -450px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-pagebreak,
	.io-ox-office-main i[class^=docs-].docs-page-break {
	background-position: -468px -72px
}

.io-ox-office-main i[class^=docs-].docs-pilcrow {
	background-position: -486px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-200 {
	background-position: -504px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-150 {
	background-position: -522px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-100,
	.io-ox-office-main i[class^=docs-].docs-para-line-spacing-115 {
	background-position: -540px -72px
}

.io-ox-office-main i[class^=docs-].docs-online-spelling {
	background-position: -558px -72px
}

.io-ox-office-main i[class^=docs-].docs-dict-available {
	background-position: -576px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-tab {
	background-position: -594px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-both {
	background-position: -612px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-inline {
	background-position: -630px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-right-left {
	background-position: -648px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-none {
	background-position: -666px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-left-right {
	background-position: -684px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-left {
	background-position: -702px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-right {
	background-position: 0 -90px
}

.io-ox-office-main i[class^=docs-].docs-drawing-left-none {
	background-position: -18px -90px
}

.io-ox-office-main i[class^=docs-].docs-drawing-right-none {
	background-position: -36px -90px
}

.io-ox-office-main i[class^=docs-].docs-slide-background {
	background-position: -54px -90px
}

.io-ox-office-main i[class^=docs-].docs-slide-master {
	background-position: -72px -90px
}

.io-ox-office-main .ie-node-size-helper>div {
	display: inline-block;
	height: 0
}

.io-ox-office-main .ie-node-position-helper {
	position: absolute;
	left: 100%;
	top: 100%
}

.io-ox-office-main i[class^=docs-] {
	display: inline-block;
	margin: 0;
	background-origin: content-box;
	vertical-align: middle
}

.io-ox-office-main i[class^=docs-].docs-empty.small-icon {
	width: 12px
}

.io-ox-office-main i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main .button:focus, .io-ox-office-main input:focus,
	.io-ox-office-main .button:active, .io-ox-office-main input:active {
	outline: 0
}

.io-ox-office-main .button {
	-webkit-touch-callout: none
}

.io-ox-office-main input::-webkit-input-placeholder, .io-ox-office-main textarea::-webkit-input-placeholder
	{
	font-size: 11px !important;
	font-style: italic;
	opacity: .7
}

.io-ox-office-main input:-moz-placeholder, .io-ox-office-main textarea:-moz-placeholder
	{
	font-size: 11px !important;
	font-style: italic;
	opacity: .7
}

.io-ox-office-main input::-moz-placeholder, .io-ox-office-main textarea::-moz-placeholder
	{
	font-size: 11px !important;
	font-style: italic;
	opacity: .7
}

.io-ox-office-main input:-ms-input-placeholder, .io-ox-office-main textarea:-ms-input-placeholder
	{
	font-size: 11px !important;
	font-style: italic;
	opacity: .7
}

.io-ox-office-main input[type=number]:not ([min] ):not ([max] ){
	-moz-appearance: textfield
}

.io-ox-office-main input[type=number]:not ([min] ):not ([max] )::-webkit-outer-spin-button,
	.io-ox-office-main input[type=number]:not ([min] ):not ([max] )::-webkit-inner-spin-button
	{
	-webkit-appearance: none;
	margin: 0
}

.io-ox-office-main .group {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.io-ox-office-main .group.hidden {
	display: none !important
}

.io-ox-office-main .group.disabled, .io-ox-office-main .group.disabled *,
	.io-ox-office-main .group .disabled {
	cursor: default !important
}

.io-ox-office-main .group div.label, .io-ox-office-main .group .button,
	.io-ox-office-main .group input {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: 0 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	font-size: 13px;
	font-weight: 400;
	color: #333;
	text-shadow: none;
	vertical-align: top
}

.io-ox-office-main .group div.label>.caption, .io-ox-office-main .group .button>.caption
	{
	display: inline-block;
	min-width: 18px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none
}

.io-ox-office-main .group div.label>.caption:empty, .io-ox-office-main .group .button>.caption:empty
	{
	display: none
}

.io-ox-office-main .group div.label>.caption>*+*, .io-ox-office-main .group .button>.caption>*+*
	{
	margin-left: 6px
}

.io-ox-office-main .group div.label i.fa, .io-ox-office-main .group .button i.fa
	{
	display: inline-block;
	width: 18px;
	font-size: 14px;
	text-align: center
}

.io-ox-office-main .group div.label i.fa.small-icon, .io-ox-office-main .group .button i.fa.small-icon
	{
	width: 12px;
	font-size: 11px
}

.io-ox-office-main .group div.label {
	text-align: left;
	cursor: default
}

.io-ox-office-main .group .button {
	text-align: left;
	cursor: pointer
}

.io-ox-office-main .group .button:hover {
	text-decoration: none
}

.io-ox-office-main .group .input-wrapper {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 150px;
	padding: 0;
	vertical-align: top;
	cursor: text
}

.io-ox-office-main .group .input-wrapper>input {
	width: 100%;
	height: 100%;
	padding-right: 1px;
	line-height: normal;
	text-overflow: ellipsis;
	-webkit-appearance: none
}

.io-ox-office-main .group.check-group>.button.select-all {
	font-style: italic
}

.io-ox-office-main .group.text-field {
	white-space: nowrap
}

.io-ox-office-main .group.spin-field input {
	text-align: right
}

.io-ox-office-main .header-label {
	line-height: normal;
	font-size: 11px;
	color: #777;
	text-align: left;
	cursor: default
}

.io-ox-office-main.popup-container {
	position: absolute;
	z-index: 900;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	background: 0 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 0;
	line-height: 0
}

.io-ox-office-main.popup-container.popup-text-select {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.io-ox-office-main.popup-container:not (.popup-text-select ){
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-main.popup-container>.popup-content {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible;
	font-size: 13px;
	line-height: normal
}

.io-ox-office-main.popup-container>.popup-content:focus,
	.io-ox-office-main.popup-container>.popup-content:active {
	outline: 0
}

.io-ox-office-main.popup-container>.popup-content.hidden {
	display: none
}

.io-ox-office-main.popup-container>.popup-content>.popup-busy {
	min-width: 90px;
	min-height: 36px
}

.io-ox-office-main.popup-container.popup-tooltip {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .2)
}

.io-ox-office-main.popup-container.popup-tooltip:not (.popup-text-select
	){
	pointer-events: none;
	cursor: default
}

.io-ox-office-main.popup-container.popup-tooltip>.popup-content {
	padding: 5px 10px;
	box-shadow: 0 10px 20px #f7f7f7 inset;
	font-size: 12px;
	color: #404040;
	word-wrap: break-word
}

.io-ox-office-main.popup-container.bootstraptooltip {
	overflow: visible !important;
	box-shadow: none
}

.io-ox-office-main.popup-container.bootstraptooltip>.arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	top: -12px;
	border-bottom-color: #000;
	border-width: 6px
}

.io-ox-office-main.popup-container.bootstraptooltip>.arrow.on-top {
	top: auto;
	bottom: -12px;
	border-bottom-color: transparent;
	border-top-color: #000
}

.io-ox-office-main.popup-container.bootstraptooltip>.popup-content {
	box-shadow: none;
	border-radius: 3px;
	border-width: 0;
	border: 0;
	color: #fff;
	background-color: #000
}

.io-ox-office-main.popup-container.popup-menu {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.io-ox-office-main.popup-container.popup-menu.list-menu>.popup-content {
	padding: 5px 0
}

.io-ox-office-main.popup-container.popup-menu.list-menu .section-container
	{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.io-ox-office-main.popup-container.popup-menu.list-menu .section-container:not
	(.hidden )~.section-container:not (.hidden ){
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu.list-menu .section-container>.header-label
	{
	padding: 5px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container>*
	{
	display: block
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .input-wrapper
	{
	padding: 0 13px;
	border: 1px solid transparent
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) .button, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) .input-wrapper {
	height: 33px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) .button {
	line-height: 31px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 6px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 33px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 17px;
	line-height: 15px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field .input-wrapper
	{
	height: 27px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field .button
	{
	line-height: 25px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field i[class^=docs-]
	{
	position: relative;
	top: 3px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 27px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 14px;
	line-height: 12px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.focused
	{
	z-index: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container input
	{
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style div.label i[class^=docs-],
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style div.label i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.caret-button
	{
	min-width: 35px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 13px;
	pointer-events: none
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.disabled div.label>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.disabled .button>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container div.label.disabled>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.disabled>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.disabled ) .button:not (.disabled ).selected, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.dropdown-open .button
	{
	background-color: #8eb3d7
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.disabled .button.selected,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.disabled.selected
	{
	background-color: rgba(142, 179, 215, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ) .button.selected, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ) .button.selected i[class^=docs-], .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #7ba6d1
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #6999ca
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .input-wrapper>input, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.combo-field>.button.caret-button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.disabled .button:focus:not
	(:active ), .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container .button.disabled:focus:not
	(:active ){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused.disabled .input-wrapper,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field
	{
	border-radius: 3px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=list] .section-container.text-field .input-wrapper
	{
	border-radius: 3px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container
	{
	padding-left: 5px;
	padding-right: 5px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container>.grid-row
	{
	display: block;
	white-space: nowrap
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container>.grid-row>.grid-cell
	{
	display: inline-block
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container>.grid-row>.grid-cell .title
	{
	font-weight: 700;
	display: block;
	margin: 5px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .input-wrapper
	{
	padding: 0 8px;
	border: 1px solid transparent
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) .button {
	border-width: 3px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) .button, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) .input-wrapper {
	height: 43px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) .button {
	line-height: 41px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 11px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 43px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 22px;
	line-height: 20px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field .input-wrapper
	{
	height: 37px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field .button
	{
	line-height: 35px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field i[class^=docs-]
	{
	position: relative;
	top: 8px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 37px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 19px;
	line-height: 17px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.focused
	{
	z-index: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container input
	{
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style div.label,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style div.label i[class^=docs-],
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style div.label i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.caret-button
	{
	min-width: 25px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	pointer-events: none
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 8px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.disabled div.label>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.disabled .button>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container div.label.disabled>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.disabled>*,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.disabled ) .button:not (.disabled ).selected, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.dropdown-open .button
	{
	border-color: #568cc3
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.disabled .button.selected,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.disabled.selected
	{
	border-color: rgba(86, 140, 195, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ) .button.selected, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ) .button.selected i[class^=docs-], .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	border-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	border-color: #4380bd
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	border-color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .input-wrapper>input, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.combo-field>.button.caret-button,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	box-shadow: 0 0 0 1px #3c73aa, 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.disabled .button:focus:not
	(:active ), .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button.disabled:focus:not
	(:active ){
	box-shadow: 0 0 0 1px rgba(60, 115, 170, .75), 0 0 8px 2px
		rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused.disabled .input-wrapper,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design=grid] .section-container .button
	{
	border-radius: 3px !important
}

.io-ox-office-main.popup-container.popup-menu.context-menu .dropdown-group a
	{
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu.context-menu .dropdown-group a .caption
	{
	padding-right: 24px
}

.io-ox-office-main.popup-container.popup-menu.context-menu .dropdown-group a .caption i
	{
	font-size: 10px;
	right: 0;
	top: 10px;
	position: absolute
}

.io-ox-office-dialog>.modal-body>.form-group:last-child {
	margin-bottom: 0
}

.io-ox-office-dialog input {
	-webkit-appearance: none
}

.io-ox-office-dialog .spin-field>.spin-field-tail {
	margin-left: .25em
}

.io-ox-office-dialog .file-picker span.btn {
	color: #333;
	background-color: #eee
}

.io-ox-office-dialog .file-picker span.btn:hover {
	background-color: #d5d5d5
}

.io-ox-office-dialog .file-picker input.form-control[readonly] {
	background-color: #fcfcfc;
	cursor: default
}

.io-ox-office-dialog .drive-image-picker .drive-folder-list,
	.io-ox-office-dialog .drive-image-picker .drive-image-list {
	display: inline-block;
	height: 200px;
	margin: 0;
	overflow: auto;
	vertical-align: top;
	width: 50%;
	padding: 0
}

.io-ox-office-dialog .drive-image-picker .drive-image-list {
	outline: 0;
	padding-left: 1em
}

.io-ox-office-dialog .drive-image-picker .drive-image-list li.file {
	cursor: pointer;
	line-height: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-dialog .drive-image-picker .drive-image-list li.file label
	{
	margin-top: 5px;
	margin-left: 5px;
	float: left
}

.io-ox-office-dialog .drive-image-picker .drive-image-list li.file .name
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 10px
}

.io-ox-office-dialog .drive-image-picker .drive-image-list li.file.selected,
	.io-ox-office-dialog .drive-image-picker .drive-image-list li.file.selected:hover
	{
	background-color: rgba(0, 0, 0, .1)
}

.io-ox-office-dialog .drive-image-picker .drive-image-list:focus .file.selected,
	.io-ox-office-dialog .drive-image-picker .drive-image-list:focus .file.selected:hover
	{
	background-color: #3c73aa
}

.io-ox-office-dialog .drive-image-picker .drive-image-list:focus .file.selected .name,
	.io-ox-office-dialog .drive-image-picker .drive-image-list:focus .file.selected:hover .name
	{
	color: #fff
}

.io-ox-office-dialog .drive-image-picker .drive-image-list.singleselect li.file .name
	{
	padding-left: .5em
}

.io-ox-office-dialog .drive-image-picker .drive-image-list .bg-info {
	line-height: 30px;
	padding: 0 1em;
	color: gray
}

.io-ox-office-dialog.save-as-dialog.save-as-folder-list .folder-tree {
	height: 230px;
	padding: 0;
	margin-bottom: 20px
}

#io-ox-office-temp {
	position: absolute;
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden
}

#io-ox-office-temp>.font-metrics-helper {
	position: relative;
	display: inline-block;
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: normal;
	white-space: pre
}

#io-ox-office-selenium {
	position: absolute;
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}