/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.io-ox-calendar-edit {
    // baseline adjustment
    padding-top: @default-padding;

    .btn.btn-link { padding-left: 0; }

    .actionToggle {
        display: none;
        margin: 10px 0;
    }

    .recurrenceview div.checkbox { margin-top: 0; }

    input[name="title"] { font-weight: bold; }

    textarea.note {
        resize: vertical;
        padding: 10px;
        min-height: 120px;
    }

    .find-free-time { margin-top: 12px; }

    .custom-color {

        padding-top: 8px;

        input[type="radio"] {
            // display: none does NOT work; cannot receive focus
            position: absolute;
            clip: rect(0, 0, 0, 0);
        }

        label {
            padding: 0;
            margin: 0;
        }

        .box:before {
            font-family: 'FontAwesome';
            content: '\00a0';
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 4px;
            border-radius: @border-radius-small;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
        }

        input[type="radio"]:focus + .box:before {
            box-shadow: 0 0 3px @link-color;
        }

        input[type="radio"]:checked + .box:before {
            content: '\f00c';
        }

        .generate-color-label(@counter) when (@counter > 0) {
            .generate-color-label((@counter - 1));

            @color-label-bg-mod: ~"color-label-bg-@{counter}";
            @color-label-contrast: contrast(@@color-label-bg-mod);

            .color-label-@{counter} {
                &:before {
                    @color-label-counter: ~"color-label-bg-@{counter}";
                    background-color: darken(@@color-label-counter, 10%);
                    color: @color-label-contrast;
                }
            }
        }

        .generate-color-label(10);

        .box.no-color:before {
            border: 1px solid #888;
            margin-right: 24px;
            color: @black;
        }
    }

    .hard-conflict { margin: 1em 0 0 0; }

    /* Mobile */
    @media all and (max-width: 480px), all and (max-device-width: 480px) {
        .actionToggle { display: block; }

        .collapsed { display: none; }

        textarea.note { min-height: 50px; }

        .custom-color .color-label {
            width: 40px;
            height: 40px;
            margin: 4px;
            font-size: 30px;

            &.no-color { margin-right: 52px; }

            &.active .fa { line-height: 40px; }
        }
    }
}

.io-ox-calendar-edit-window.header-top .window-header .header-right,
.io-ox-calendar-edit-window.header-bottom .window-footer .header-right {
    float: right;
    line-height: 32px;

    a { margin-left: 0.2em; }
}
