.io-ox-notes-window .folder-icon.sticky-note i:before {
	content: '\f249'
}

.io-ox-notes-window .section-header {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding: 0 16px;
	margin: 19px 0 4px
}

.io-ox-notes-window .list-view .list-item {
	padding-top: 9px
}

.io-ox-notes-window .list-view .title {
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-notes-window .list-view .last_modified {
	float: right
}

.io-ox-notes-window .list-view .preview {
	height: 40px;
	line-height: 16px;
	padding-top: 7px;
	margin-bottom: 5px;
	word-break: break-all;
	overflow: hidden
}

.io-ox-notes-window .rightside {
	padding: 16px
}

.io-ox-notes-window .note {
	color: #333;
	padding: 0 32px
}

.io-ox-notes-window .note-container {
	width: 100%
}

.io-ox-notes-window .note-header {
	font-size: 13px;
	padding-top: 11px;
	height: 40px
}

.io-ox-notes-window .note-caption {
	color: #777;
	float: right
}

.io-ox-notes-window .note-title {
	clear: both
}

.io-ox-notes-window .note-title input {
	width: 100%;
	height: 40px;
	padding-bottom: 5px;
	border: 0;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 1px solid transparent;
	outline: 0
}

.io-ox-notes-window .note-title input:focus {
	border: 0;
	border-bottom: 1px solid #66afe9
}

.io-ox-notes-window .note-content {
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;
	padding: 8px 0 32px;
	outline: 0
}

.io-ox-notes-window .note-content strike {
	color: #a00
}

.io-ox-notes-window .note-content u {
	text-decoration: none;
	background-color: rgba(255, 192, 0, .5)
}

.io-ox-notes-window .note-content ul, .io-ox-notes-window .note-content ol
	{
	margin: 0
}

.io-ox-notes-window .note-content a {
	text-decoration: underline
}

.io-ox-notes-window .note-content img {
	margin: 8px auto;
	max-width: 100%;
	border: 0
}

.io-ox-notes-window .note-content .todo {
	list-style-type: none
}

.io-ox-notes-window .note-content .todo li {
	position: relative
}

.io-ox-notes-window .note-content .todo li:before {
	font-family: FontAwesome;
	font-size: 14px;
	color: #777;
	content: '\f1db';
	position: absolute;
	left: -20px;
	cursor: pointer
}

.io-ox-notes-window .note-content .todo li.checked:before {
	color: #3c73aa;
	content: '\f058'
}

.note-debug {
	position: absolute;
	left: 16px;
	bottom: 16px;
	width: 500px;
	height: 350px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 16px;
	white-space: pre-wrap;
	overflow: auto;
	font-family: monospace;
	font-size: 13px;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all
}