.edit-vacation [data-extension-id="io.ox/core/vacationnotice/edit/view/subject"]
	{
	clear: both
}

.edit-vacation [data-extension-id="io.ox/core/vacationnotice/edit/view/days"]
	{
	margin-bottom: 20px
}

.edit-vacation [data-extension-id="io.ox/core/vacationnotice/edit/view/timeframecheckbox"]
	{
	margin-top: 20px;
	width: 300px
}

.edit-vacation [data-extension-id="io.ox/core/vacationnotice/edit/view/start_date"]
	{
	float: left;
	margin-left: 0
}

.edit-vacation [data-extension-id="io.ox/core/vacationnotice/edit/view/end_date"]
	{
	float: left
}

.edit-vacation legend.sectiontitle {
	margin-bottom: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	border-bottom: 0
}

.edit-vacation legend.sectiontitle h2 {
	font-weight: 400
}

.edit-vacation legend.simple {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}

.edit-vacation legend.simple h2 {
	font-weight: 400;
	line-height: 30px;
	font-size: 21px;
	margin: 0
}

.edit-vacation .dateFrom .control-label, .edit-vacation .dateUntil .control-label
	{
	float: left;
	width: auto;
	margin-right: 5px;
	border: 0
}