.progress-bar.bar-weak {
	background-color: #c00
}

.progress-bar.bar-good {
	background-color: #f89406
}

.progress-bar.bar-strong {
	background-color: #92d050
}

.progress-bar.bar-legendary {
	background-color: #f80;
	background-image: -webkit-radial-gradient(#fd0, #f80) !important
}

.password-change-label, .password-hint-container {
	margin-top: 8px
}