.emoji-unified {
	background: url("emoji.png") top left no-repeat;
	width: 20px;
	height: 20px;
	margin: 0 2px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

.emoji2600 {
	background-position: -500px -120px;
}

.emoji2601 {
	background-position: -500px -140px;
}

.emoji2614 {
	background-position: -500px -200px;
}

.emoji26c4 {
	background-position: -520px -200px;
}

.emoji26a1 {
	background-position: -520px -100px;
}

.emoji1f300 {
	background-position: -20px -500px;
}

.emoji1f301 {
	background-position: -20px -520px;
}

.emoji1f302 {
	background-position: -20px -540px;
}

.emoji1f303 {
	background-position: -20px -560px;
}

.emoji1f304 {
	background-position: -20px -580px;
}

.emoji1f305 {
	background-position: -40px -0px;
}

.emoji1f306 {
	background-position: -40px -20px;
}

.emoji1f307 {
	background-position: -40px -40px;
}

.emoji1f308 {
	background-position: -40px -60px;
}

.emoji2744 {
	background-position: -540px -80px;
}

.emoji26c5 {
	background-position: -520px -220px;
}

.emoji1f309 {
	background-position: -40px -80px;
}

.emoji1f30a {
	background-position: -40px -100px;
}

.emoji1f30b {
	background-position: -40px -120px;
}

.emoji1f30c {
	background-position: -40px -140px;
}

.emoji1f30f {
	background-position: -40px -200px;
}

.emoji1f311 {
	background-position: -40px -240px;
}

.emoji1f314 {
	background-position: -40px -300px;
}

.emoji1f313 {
	background-position: -40px -280px;
}

.emoji1f319 {
	background-position: -40px -400px;
}

.emoji1f315 {
	background-position: -40px -320px;
}

.emoji1f31b {
	background-position: -40px -440px;
}

.emoji1f31f {
	background-position: -40px -520px;
}

.emoji1f320 {
	background-position: -540px -180px;
}

.emoji1f550 {
	background-position: -360px -260px;
}

.emoji1f551 {
	background-position: -360px -280px;
}

.emoji1f552 {
	background-position: -360px -300px;
}

.emoji1f553 {
	background-position: -360px -320px;
}

.emoji1f554 {
	background-position: -360px -340px;
}

.emoji1f555 {
	background-position: -360px -360px;
}

.emoji1f556 {
	background-position: -360px -380px;
}

.emoji1f557 {
	background-position: -360px -400px;
}

.emoji1f558 {
	background-position: -360px -420px;
}

.emoji1f559 {
	background-position: -360px -440px;
}

.emoji1f55a {
	background-position: -360px -460px;
}

.emoji1f55b {
	background-position: -360px -480px;
}

.emoji231a {
	background-position: -480px -380px;
}

.emoji231b {
	background-position: -480px -400px;
}

.emoji23f0 {
	background-position: -480px -500px;
}

.emoji23f3 {
	background-position: -480px -520px;
}

.emoji2648 {
	background-position: -500px -280px;
}

.emoji2649 {
	background-position: -500px -300px;
}

.emoji264a {
	background-position: -500px -320px;
}

.emoji264b {
	background-position: -500px -340px;
}

.emoji264c {
	background-position: -500px -360px;
}

.emoji264d {
	background-position: -500px -380px;
}

.emoji264e {
	background-position: -500px -400px;
}

.emoji264f {
	background-position: -500px -420px;
}

.emoji2650 {
	background-position: -500px -440px;
}

.emoji2651 {
	background-position: -500px -460px;
}

.emoji2652 {
	background-position: -500px -480px;
}

.emoji2653 {
	background-position: -500px -500px;
}

.emoji26ce {
	background-position: -520px -240px;
}

.emoji1f340 {
	background-position: -60px -240px;
}

.emoji1f337 {
	background-position: -60px -60px;
}

.emoji1f331 {
	background-position: -40px -560px;
}

.emoji1f341 {
	background-position: -60px -260px;
}

.emoji1f338 {
	background-position: -60px -80px;
}

.emoji1f339 {
	background-position: -60px -100px;
}

.emoji1f342 {
	background-position: -60px -280px;
}

.emoji1f343 {
	background-position: -60px -300px;
}

.emoji1f33a {
	background-position: -60px -120px;
}

.emoji1f33b {
	background-position: -60px -140px;
}

.emoji1f334 {
	background-position: -60px -20px;
}

.emoji1f335 {
	background-position: -60px -40px;
}

.emoji1f33e {
	background-position: -60px -200px;
}

.emoji1f33d {
	background-position: -60px -180px;
}

.emoji1f344 {
	background-position: -60px -320px;
}

.emoji1f330 {
	background-position: -40px -540px;
}

.emoji1f33c {
	background-position: -60px -160px;
}

.emoji1f33f {
	background-position: -60px -220px;
}

.emoji1f352 {
	background-position: -80px -0px;
}

.emoji1f34c {
	background-position: -60px -480px;
}

.emoji1f34e {
	background-position: -60px -520px;
}

.emoji1f34a {
	background-position: -60px -440px;
}

.emoji1f353 {
	background-position: -80px -20px;
}

.emoji1f349 {
	background-position: -60px -420px;
}

.emoji1f345 {
	background-position: -60px -340px;
}

.emoji1f346 {
	background-position: -60px -360px;
}

.emoji1f348 {
	background-position: -60px -400px;
}

.emoji1f34d {
	background-position: -60px -500px;
}

.emoji1f347 {
	background-position: -60px -380px;
}

.emoji1f351 {
	background-position: -60px -580px;
}

.emoji1f34f {
	background-position: -60px -540px;
}

.emoji1f440 {
	background-position: -200px -100px;
}

.emoji1f442 {
	background-position: -200px -120px;
}

.emoji1f443 {
	background-position: -200px -140px;
}

.emoji1f444 {
	background-position: -200px -160px;
}

.emoji1f445 {
	background-position: -200px -180px;
}

.emoji1f484 {
	background-position: -240px -240px;
}

.emoji1f485 {
	background-position: -240px -260px;
}

.emoji1f486 {
	background-position: -240px -280px;
}

.emoji1f487 {
	background-position: -240px -300px;
}

.emoji1f488 {
	background-position: -240px -320px;
}

.emoji1f464 {
	background-position: -220px -200px;
}

.emoji1f466 {
	background-position: -220px -240px;
}

.emoji1f467 {
	background-position: -220px -260px;
}

.emoji1f468 {
	background-position: -220px -280px;
}

.emoji1f469 {
	background-position: -220px -300px;
}

.emoji1f46a {
	background-position: -220px -320px;
}

.emoji1f46b {
	background-position: -220px -340px;
}

.emoji1f46e {
	background-position: -220px -400px;
}

.emoji1f46f {
	background-position: -220px -420px;
}

.emoji1f470 {
	background-position: -220px -440px;
}

.emoji1f471 {
	background-position: -220px -460px;
}

.emoji1f472 {
	background-position: -220px -480px;
}

.emoji1f473 {
	background-position: -220px -500px;
}

.emoji1f474 {
	background-position: -220px -520px;
}

.emoji1f475 {
	background-position: -220px -540px;
}

.emoji1f476 {
	background-position: -220px -560px;
}

.emoji1f477 {
	background-position: -220px -580px;
}

.emoji1f478 {
	background-position: -240px -0px;
}

.emoji1f479 {
	background-position: -240px -20px;
}

.emoji1f47a {
	background-position: -240px -40px;
}

.emoji1f47b {
	background-position: -240px -60px;
}

.emoji1f47c {
	background-position: -240px -80px;
}

.emoji1f47d {
	background-position: -240px -100px;
}

.emoji1f47e {
	background-position: -240px -120px;
}

.emoji1f47f {
	background-position: -240px -140px;
}

.emoji1f480 {
	background-position: -240px -160px;
}

.emoji1f481 {
	background-position: -240px -180px;
}

.emoji1f482 {
	background-position: -240px -200px;
}

.emoji1f483 {
	background-position: -240px -220px;
}

.emoji1f40c {
	background-position: -160px -280px;
}

.emoji1f40d {
	background-position: -160px -300px;
}

.emoji1f40e {
	background-position: -160px -320px;
}

.emoji1f414 {
	background-position: -160px -440px;
}

.emoji1f417 {
	background-position: -160px -500px;
}

.emoji1f42b {
	background-position: -180px -300px;
}

.emoji1f418 {
	background-position: -160px -520px;
}

.emoji1f428 {
	background-position: -180px -240px;
}

.emoji1f412 {
	background-position: -160px -400px;
}

.emoji1f411 {
	background-position: -160px -380px;
}

.emoji1f419 {
	background-position: -160px -540px;
}

.emoji1f41a {
	background-position: -160px -560px;
}

.emoji1f41b {
	background-position: -160px -580px;
}

.emoji1f41c {
	background-position: -180px -0px;
}

.emoji1f41d {
	background-position: -180px -20px;
}

.emoji1f41e {
	background-position: -180px -40px;
}

.emoji1f420 {
	background-position: -180px -80px;
}

.emoji1f421 {
	background-position: -180px -100px;
}

.emoji1f422 {
	background-position: -180px -120px;
}

.emoji1f424 {
	background-position: -180px -160px;
}

.emoji1f425 {
	background-position: -180px -180px;
}

.emoji1f426 {
	background-position: -180px -200px;
}

.emoji1f423 {
	background-position: -180px -140px;
}

.emoji1f427 {
	background-position: -180px -220px;
}

.emoji1f429 {
	background-position: -180px -260px;
}

.emoji1f41f {
	background-position: -180px -60px;
}

.emoji1f42c {
	background-position: -180px -320px;
}

.emoji1f42d {
	background-position: -180px -340px;
}

.emoji1f42f {
	background-position: -180px -380px;
}

.emoji1f431 {
	background-position: -180px -420px;
}

.emoji1f433 {
	background-position: -180px -460px;
}

.emoji1f434 {
	background-position: -180px -480px;
}

.emoji1f435 {
	background-position: -180px -500px;
}

.emoji1f436 {
	background-position: -180px -520px;
}

.emoji1f437 {
	background-position: -180px -540px;
}

.emoji1f43b {
	background-position: -200px -20px;
}

.emoji1f439 {
	background-position: -180px -580px;
}

.emoji1f43a {
	background-position: -200px -0px;
}

.emoji1f42e {
	background-position: -180px -360px;
}

.emoji1f430 {
	background-position: -180px -400px;
}

.emoji1f438 {
	background-position: -180px -560px;
}

.emoji1f43e {
	background-position: -200px -80px;
}

.emoji1f432 {
	background-position: -180px -440px;
}

.emoji1f43c {
	background-position: -200px -40px;
}

.emoji1f43d {
	background-position: -200px -60px;
}

.emoji1f620 {
	background-position: -400px -280px;
}

.emoji1f629 {
	background-position: -400px -460px;
}

.emoji1f632 {
	background-position: -420px -40px;
}

.emoji1f61e {
	background-position: -400px -240px;
}

.emoji1f635 {
	background-position: -420px -100px;
}

.emoji1f630 {
	background-position: -420px -0px;
}

.emoji1f612 {
	background-position: -400px -0px;
}

.emoji1f60d {
	background-position: -380px -500px;
}

.emoji1f624 {
	background-position: -400px -360px;
}

.emoji1f61c {
	background-position: -400px -200px;
}

.emoji1f61d {
	background-position: -400px -220px;
}

.emoji1f60b {
	background-position: -380px -460px;
}

.emoji1f618 {
	background-position: -400px -120px;
}

.emoji1f61a {
	background-position: -400px -160px;
}

.emoji1f637 {
	background-position: -420px -140px;
}

.emoji1f633 {
	background-position: -420px -60px;
}

.emoji1f603 {
	background-position: -380px -300px;
}

.emoji1f605 {
	background-position: -380px -340px;
}

.emoji1f606 {
	background-position: -380px -360px;
}

.emoji1f601 {
	background-position: -380px -260px;
}

.emoji1f602 {
	background-position: -380px -280px;
}

.emoji1f60a {
	background-position: -380px -440px;
}

.emoji263a {
	background-position: -500px -260px;
}

.emoji1f604 {
	background-position: -380px -320px;
}

.emoji1f622 {
	background-position: -400px -320px;
}

.emoji1f62d {
	background-position: -400px -540px;
}

.emoji1f628 {
	background-position: -400px -440px;
}

.emoji1f623 {
	background-position: -400px -340px;
}

.emoji1f621 {
	background-position: -400px -300px;
}

.emoji1f60c {
	background-position: -380px -480px;
}

.emoji1f616 {
	background-position: -400px -80px;
}

.emoji1f614 {
	background-position: -400px -40px;
}

.emoji1f631 {
	background-position: -420px -20px;
}

.emoji1f62a {
	background-position: -400px -480px;
}

.emoji1f60f {
	background-position: -380px -540px;
}

.emoji1f613 {
	background-position: -400px -20px;
}

.emoji1f625 {
	background-position: -400px -380px;
}

.emoji1f62b {
	background-position: -400px -500px;
}

.emoji1f609 {
	background-position: -380px -420px;
}

.emoji1f63a {
	background-position: -420px -200px;
}

.emoji1f638 {
	background-position: -420px -160px;
}

.emoji1f639 {
	background-position: -420px -180px;
}

.emoji1f63d {
	background-position: -420px -260px;
}

.emoji1f63b {
	background-position: -420px -220px;
}

.emoji1f63f {
	background-position: -420px -300px;
}

.emoji1f63e {
	background-position: -420px -280px;
}

.emoji1f63c {
	background-position: -420px -240px;
}

.emoji1f640 {
	background-position: -420px -320px;
}

.emoji1f645 {
	background-position: -420px -340px;
}

.emoji1f646 {
	background-position: -420px -360px;
}

.emoji1f647 {
	background-position: -420px -380px;
}

.emoji1f648 {
	background-position: -420px -400px;
}

.emoji1f64a {
	background-position: -420px -440px;
}

.emoji1f649 {
	background-position: -420px -420px;
}

.emoji1f64b {
	background-position: -420px -460px;
}

.emoji1f64c {
	background-position: -420px -480px;
}

.emoji1f64d {
	background-position: -420px -500px;
}

.emoji1f64e {
	background-position: -420px -520px;
}

.emoji1f64f {
	background-position: -420px -540px;
}

.emoji1f3e0 {
	background-position: -140px -300px;
}

.emoji1f3e1 {
	background-position: -140px -320px;
}

.emoji1f3e2 {
	background-position: -140px -340px;
}

.emoji1f3e3 {
	background-position: -140px -360px;
}

.emoji1f3e5 {
	background-position: -140px -400px;
}

.emoji1f3e6 {
	background-position: -140px -420px;
}

.emoji1f3e7 {
	background-position: -140px -440px;
}

.emoji1f3e8 {
	background-position: -140px -460px;
}

.emoji1f3e9 {
	background-position: -140px -480px;
}

.emoji1f3ea {
	background-position: -140px -500px;
}

.emoji1f3eb {
	background-position: -140px -520px;
}

.emoji26ea {
	background-position: -520px -280px;
}

.emoji26f2 {
	background-position: -520px -300px;
}

.emoji1f3ec {
	background-position: -140px -540px;
}

.emoji1f3ef {
	background-position: -160px -0px;
}

.emoji1f3f0 {
	background-position: -160px -20px;
}

.emoji1f3ed {
	background-position: -140px -560px;
}

.emoji2693 {
	background-position: -520px -60px;
}

.emoji1f3ee {
	background-position: -140px -580px;
}

.emoji1f5fb {
	background-position: -380px -140px;
}

.emoji1f5fc {
	background-position: -380px -160px;
}

.emoji1f5fd {
	background-position: -380px -180px;
}

.emoji1f5fe {
	background-position: -380px -200px;
}

.emoji1f5ff {
	background-position: -380px -220px;
}

.emoji1f45e {
	background-position: -220px -80px;
}

.emoji1f45f {
	background-position: -220px -100px;
}

.emoji1f460 {
	background-position: -220px -120px;
}

.emoji1f461 {
	background-position: -220px -140px;
}

.emoji1f462 {
	background-position: -220px -160px;
}

.emoji1f463 {
	background-position: -220px -180px;
}

.emoji1f453 {
	background-position: -200px -460px;
}

.emoji1f455 {
	background-position: -200px -500px;
}

.emoji1f456 {
	background-position: -200px -520px;
}

.emoji1f451 {
	background-position: -200px -420px;
}

.emoji1f454 {
	background-position: -200px -480px;
}

.emoji1f452 {
	background-position: -200px -440px;
}

.emoji1f457 {
	background-position: -200px -540px;
}

.emoji1f458 {
	background-position: -200px -560px;
}

.emoji1f459 {
	background-position: -200px -580px;
}

.emoji1f45a {
	background-position: -220px -0px;
}

.emoji1f45b {
	background-position: -220px -20px;
}

.emoji1f45c {
	background-position: -220px -40px;
}

.emoji1f45d {
	background-position: -220px -60px;
}

.emoji1f4b0 {
	background-position: -260px -520px;
}

.emoji1f4b1 {
	background-position: -260px -540px;
}

.emoji1f4b9 {
	background-position: -280px -100px;
}

.emoji1f4b2 {
	background-position: -260px -560px;
}

.emoji1f4b3 {
	background-position: -260px -580px;
}

.emoji1f4b4 {
	background-position: -280px -0px;
}

.emoji1f4b5 {
	background-position: -280px -20px;
}

.emoji1f4b8 {
	background-position: -280px -80px;
}

.emoji1f1e81f1f3 {
	background-position: -20px -0px;
}

.emoji1f1e91f1ea {
	background-position: -20px -20px;
}

.emoji1f1ea1f1f8 {
	background-position: -20px -40px;
}

.emoji1f1eb1f1f7 {
	background-position: -20px -60px;
}

.emoji1f1ec1f1e7 {
	background-position: -20px -80px;
}

.emoji1f1ee1f1f9 {
	background-position: -20px -100px;
}

.emoji1f1ef1f1f5 {
	background-position: -20px -120px;
}

.emoji1f1f01f1f7 {
	background-position: -20px -140px;
}

.emoji1f1f71f1fa {
	background-position: -20px -160px;
}

.emoji1f1fa1f1f8 {
	background-position: -20px -180px;
}

.emoji1f525 {
	background-position: -340px -360px;
}

.emoji1f526 {
	background-position: -340px -380px;
}

.emoji1f527 {
	background-position: -340px -400px;
}

.emoji1f528 {
	background-position: -340px -420px;
}

.emoji1f529 {
	background-position: -340px -440px;
}

.emoji1f52a {
	background-position: -340px -460px;
}

.emoji1f52b {
	background-position: -340px -480px;
}

.emoji1f52e {
	background-position: -340px -540px;
}

.emoji1f52f {
	background-position: -340px -560px;
}

.emoji1f530 {
	background-position: -340px -580px;
}

.emoji1f531 {
	background-position: -360px -0px;
}

.emoji1f489 {
	background-position: -240px -340px;
}

.emoji1f48a {
	background-position: -240px -360px;
}

.emoji1f170 {
	background-position: -0px -300px;
}

.emoji1f171 {
	background-position: -0px -320px;
}

.emoji1f18e {
	background-position: -0px -380px;
}

.emoji1f17e {
	background-position: -0px -340px;
}

.emoji1f380 {
	background-position: -100px -260px;
}

.emoji1f381 {
	background-position: -100px -280px;
}

.emoji1f382 {
	background-position: -100px -300px;
}

.emoji1f384 {
	background-position: -100px -340px;
}

.emoji1f385 {
	background-position: -100px -360px;
}

.emoji1f38c {
	background-position: -100px -500px;
}

.emoji1f386 {
	background-position: -100px -380px;
}

.emoji1f388 {
	background-position: -100px -420px;
}

.emoji1f389 {
	background-position: -100px -440px;
}

.emoji1f38d {
	background-position: -100px -520px;
}

.emoji1f38e {
	background-position: -100px -540px;
}

.emoji1f393 {
	background-position: -120px -40px;
}

.emoji1f392 {
	background-position: -120px -20px;
}

.emoji1f38f {
	background-position: -100px -560px;
}

.emoji1f387 {
	background-position: -100px -400px;
}

.emoji1f390 {
	background-position: -100px -580px;
}

.emoji1f383 {
	background-position: -100px -320px;
}

.emoji1f38a {
	background-position: -100px -460px;
}

.emoji1f38b {
	background-position: -100px -480px;
}

.emoji1f391 {
	background-position: -120px -0px;
}

.emoji1f4df {
	background-position: -300px -260px;
}

.emoji260e {
	background-position: -500px -160px;
}

.emoji1f4de {
	background-position: -300px -240px;
}

.emoji1f4f1 {
	background-position: -320px -20px;
}

.emoji1f4f2 {
	background-position: -320px -40px;
}

.emoji1f4dd {
	background-position: -300px -220px;
}

.emoji1f4e0 {
	background-position: -300px -280px;
}

.emoji2709 {
	background-position: -520px -460px;
}

.emoji1f4e8 {
	background-position: -300px -440px;
}

.emoji1f4e9 {
	background-position: -300px -460px;
}

.emoji1f4ea {
	background-position: -300px -480px;
}

.emoji1f4eb {
	background-position: -300px -500px;
}

.emoji1f4ee {
	background-position: -300px -560px;
}

.emoji1f4f0 {
	background-position: -320px -0px;
}

.emoji1f4e2 {
	background-position: -300px -320px;
}

.emoji1f4e3 {
	background-position: -300px -340px;
}

.emoji1f4e1 {
	background-position: -300px -300px;
}

.emoji1f4e4 {
	background-position: -300px -360px;
}

.emoji1f4e5 {
	background-position: -300px -380px;
}

.emoji1f4e6 {
	background-position: -300px -400px;
}

.emoji1f4e7 {
	background-position: -300px -420px;
}

.emoji1f520 {
	background-position: -340px -260px;
}

.emoji1f521 {
	background-position: -340px -280px;
}

.emoji1f522 {
	background-position: -340px -300px;
}

.emoji1f523 {
	background-position: -340px -320px;
}

.emoji1f524 {
	background-position: -340px -340px;
}

.emoji2712 {
	background-position: -520px -560px;
}

.emoji1f4ba {
	background-position: -280px -120px;
}

.emoji1f4bb {
	background-position: -280px -140px;
}

.emoji270f {
	background-position: -520px -540px;
}

.emoji1f4ce {
	background-position: -280px -520px;
}

.emoji1f4bc {
	background-position: -280px -160px;
}

.emoji1f4bd {
	background-position: -280px -180px;
}

.emoji1f4be {
	background-position: -280px -200px;
}

.emoji1f4bf {
	background-position: -280px -220px;
}

.emoji1f4c0 {
	background-position: -280px -240px;
}

.emoji2702 {
	background-position: -520px -400px;
}

.emoji1f4cd {
	background-position: -280px -500px;
}

.emoji1f4c3 {
	background-position: -280px -300px;
}

.emoji1f4c4 {
	background-position: -280px -320px;
}

.emoji1f4c5 {
	background-position: -280px -340px;
}

.emoji1f4c1 {
	background-position: -280px -260px;
}

.emoji1f4c2 {
	background-position: -280px -280px;
}

.emoji1f4d3 {
	background-position: -300px -20px;
}

.emoji1f4d6 {
	background-position: -300px -80px;
}

.emoji1f4d4 {
	background-position: -300px -40px;
}

.emoji1f4d5 {
	background-position: -300px -60px;
}

.emoji1f4d7 {
	background-position: -300px -100px;
}

.emoji1f4d8 {
	background-position: -300px -120px;
}

.emoji1f4d9 {
	background-position: -300px -140px;
}

.emoji1f4da {
	background-position: -300px -160px;
}

.emoji1f4db {
	background-position: -300px -180px;
}

.emoji1f4dc {
	background-position: -300px -200px;
}

.emoji1f4cb {
	background-position: -280px -460px;
}

.emoji1f4c6 {
	background-position: -280px -360px;
}

.emoji1f4ca {
	background-position: -280px -440px;
}

.emoji1f4c8 {
	background-position: -280px -400px;
}

.emoji1f4c9 {
	background-position: -280px -420px;
}

.emoji1f4c7 {
	background-position: -280px -380px;
}

.emoji1f4cc {
	background-position: -280px -480px;
}

.emoji1f4d2 {
	background-position: -300px -0px;
}

.emoji1f4cf {
	background-position: -280px -540px;
}

.emoji1f4d0 {
	background-position: -280px -560px;
}

.emoji1f4d1 {
	background-position: -280px -580px;
}

.emoji1f3bd {
	background-position: -140px -40px;
}

.emoji26be {
	background-position: -520px -180px;
}

.emoji26f3 {
	background-position: -520px -320px;
}

.emoji1f3be {
	background-position: -140px -60px;
}

.emoji26bd {
	background-position: -520px -160px;
}

.emoji1f3bf {
	background-position: -140px -80px;
}

.emoji1f3c0 {
	background-position: -140px -100px;
}

.emoji1f3c1 {
	background-position: -140px -120px;
}

.emoji1f3c2 {
	background-position: -140px -140px;
}

.emoji1f3c3 {
	background-position: -140px -160px;
}

.emoji1f3c4 {
	background-position: -140px -180px;
}

.emoji1f3c6 {
	background-position: -140px -200px;
}

.emoji1f3c8 {
	background-position: -140px -240px;
}

.emoji1f3ca {
	background-position: -140px -280px;
}

.emoji1f683 {
	background-position: -440px -20px;
}

.emoji1f687 {
	background-position: -440px -100px;
}

.emoji24c2 {
	background-position: -480px -540px;
}

.emoji1f684 {
	background-position: -440px -40px;
}

.emoji1f685 {
	background-position: -440px -60px;
}

.emoji1f697 {
	background-position: -440px -400px;
}

.emoji1f699 {
	background-position: -440px -440px;
}

.emoji1f68c {
	background-position: -440px -180px;
}

.emoji1f68f {
	background-position: -440px -240px;
}

.emoji1f6a2 {
	background-position: -460px -20px;
}

.emoji2708 {
	background-position: -520px -440px;
}

.emoji26f5 {
	background-position: -520px -340px;
}

.emoji1f689 {
	background-position: -440px -140px;
}

.emoji1f680 {
	background-position: -420px -560px;
}

.emoji1f6a4 {
	background-position: -460px -60px;
}

.emoji1f695 {
	background-position: -440px -360px;
}

.emoji1f69a {
	background-position: -440px -460px;
}

.emoji1f692 {
	background-position: -440px -300px;
}

.emoji1f691 {
	background-position: -440px -280px;
}

.emoji1f693 {
	background-position: -440px -320px;
}

.emoji26fd {
	background-position: -520px -380px;
}

.emoji1f17f {
	background-position: -0px -360px;
}

.emoji1f6a5 {
	background-position: -460px -80px;
}

.emoji1f6a7 {
	background-position: -460px -120px;
}

.emoji1f6a8 {
	background-position: -460px -140px;
}

.emoji2668 {
	background-position: -520px -0px;
}

.emoji26fa {
	background-position: -520px -360px;
}

.emoji1f3a0 {
	background-position: -120px -60px;
}

.emoji1f3a1 {
	background-position: -120px -80px;
}

.emoji1f3a2 {
	background-position: -120px -100px;
}

.emoji1f3a3 {
	background-position: -120px -120px;
}

.emoji1f3a4 {
	background-position: -120px -140px;
}

.emoji1f3a5 {
	background-position: -120px -160px;
}

.emoji1f3a6 {
	background-position: -120px -180px;
}

.emoji1f3a7 {
	background-position: -120px -200px;
}

.emoji1f3a8 {
	background-position: -120px -220px;
}

.emoji1f3a9 {
	background-position: -120px -240px;
}

.emoji1f3aa {
	background-position: -120px -260px;
}

.emoji1f3ab {
	background-position: -120px -280px;
}

.emoji1f3ac {
	background-position: -120px -300px;
}

.emoji1f3ad {
	background-position: -120px -320px;
}

.emoji1f3ae {
	background-position: -120px -340px;
}

.emoji1f004 {
	background-position: -0px -260px;
}

.emoji1f3af {
	background-position: -120px -360px;
}

.emoji1f3b0 {
	background-position: -120px -380px;
}

.emoji1f3b1 {
	background-position: -120px -400px;
}

.emoji1f3b2 {
	background-position: -120px -420px;
}

.emoji1f3b3 {
	background-position: -120px -440px;
}

.emoji1f3b4 {
	background-position: -120px -460px;
}

.emoji1f0cf {
	background-position: -0px -280px;
}

.emoji1f3b5 {
	background-position: -120px -480px;
}

.emoji1f3b6 {
	background-position: -120px -500px;
}

.emoji1f3b7 {
	background-position: -120px -520px;
}

.emoji1f3b8 {
	background-position: -120px -540px;
}

.emoji1f3b9 {
	background-position: -120px -560px;
}

.emoji1f3ba {
	background-position: -120px -580px;
}

.emoji1f3bb {
	background-position: -140px -0px;
}

.emoji1f3bc {
	background-position: -140px -20px;
}

.emoji303d {
	background-position: -540px -580px;
}

.emoji1f4f7 {
	background-position: -320px -140px;
}

.emoji1f4f9 {
	background-position: -320px -160px;
}

.emoji1f4fa {
	background-position: -320px -180px;
}

.emoji1f4fb {
	background-position: -320px -200px;
}

.emoji1f4fc {
	background-position: -320px -220px;
}

.emoji1f48b {
	background-position: -240px -380px;
}

.emoji1f48c {
	background-position: -240px -400px;
}

.emoji1f48d {
	background-position: -240px -420px;
}

.emoji1f48e {
	background-position: -240px -440px;
}

.emoji1f48f {
	background-position: -240px -460px;
}

.emoji1f490 {
	background-position: -240px -480px;
}

.emoji1f491 {
	background-position: -240px -500px;
}

.emoji1f492 {
	background-position: -240px -520px;
}

.emoji1f51e {
	background-position: -340px -220px;
}

.emojia9 {
	background-position: -0px -220px;
}

.emojiae {
	background-position: -0px -240px;
}

.emoji2122 {
	background-position: -480px -180px;
}

.emoji2139 {
	background-position: -480px -200px;
}

.emoji2320e3 {
	background-position: -0px -0px;
}

.emoji3120e3 {
	background-position: -0px -40px;
}

.emoji3220e3 {
	background-position: -0px -60px;
}

.emoji3320e3 {
	background-position: -0px -80px;
}

.emoji3420e3 {
	background-position: -0px -100px;
}

.emoji3520e3 {
	background-position: -0px -120px;
}

.emoji3620e3 {
	background-position: -0px -140px;
}

.emoji3720e3 {
	background-position: -0px -160px;
}

.emoji3820e3 {
	background-position: -0px -180px;
}

.emoji3920e3 {
	background-position: -0px -200px;
}

.emoji3020e3 {
	background-position: -0px -20px;
}

.emoji1f51f {
	background-position: -340px -240px;
}

.emoji1f4f6 {
	background-position: -320px -120px;
}

.emoji1f4f3 {
	background-position: -320px -60px;
}

.emoji1f4f4 {
	background-position: -320px -80px;
}

.emoji1f354 {
	background-position: -80px -40px;
}

.emoji1f359 {
	background-position: -80px -140px;
}

.emoji1f370 {
	background-position: -100px -0px;
}

.emoji1f35c {
	background-position: -80px -200px;
}

.emoji1f35e {
	background-position: -80px -240px;
}

.emoji1f373 {
	background-position: -100px -60px;
}

.emoji1f366 {
	background-position: -80px -400px;
}

.emoji1f35f {
	background-position: -80px -260px;
}

.emoji1f361 {
	background-position: -80px -300px;
}

.emoji1f358 {
	background-position: -80px -120px;
}

.emoji1f35a {
	background-position: -80px -160px;
}

.emoji1f35d {
	background-position: -80px -220px;
}

.emoji1f35b {
	background-position: -80px -180px;
}

.emoji1f362 {
	background-position: -80px -320px;
}

.emoji1f363 {
	background-position: -80px -340px;
}

.emoji1f371 {
	background-position: -100px -20px;
}

.emoji1f372 {
	background-position: -100px -40px;
}

.emoji1f367 {
	background-position: -80px -420px;
}

.emoji1f356 {
	background-position: -80px -80px;
}

.emoji1f365 {
	background-position: -80px -380px;
}

.emoji1f360 {
	background-position: -80px -280px;
}

.emoji1f355 {
	background-position: -80px -60px;
}

.emoji1f357 {
	background-position: -80px -100px;
}

.emoji1f368 {
	background-position: -80px -440px;
}

.emoji1f369 {
	background-position: -80px -460px;
}

.emoji1f36a {
	background-position: -80px -480px;
}

.emoji1f36b {
	background-position: -80px -500px;
}

.emoji1f36c {
	background-position: -80px -520px;
}

.emoji1f36d {
	background-position: -80px -540px;
}

.emoji1f36e {
	background-position: -80px -560px;
}

.emoji1f36f {
	background-position: -80px -580px;
}

.emoji1f364 {
	background-position: -80px -360px;
}

.emoji1f374 {
	background-position: -100px -80px;
}

.emoji2615 {
	background-position: -500px -220px;
}

.emoji1f378 {
	background-position: -100px -160px;
}

.emoji1f37a {
	background-position: -100px -200px;
}

.emoji1f375 {
	background-position: -100px -100px;
}

.emoji1f376 {
	background-position: -100px -120px;
}

.emoji1f377 {
	background-position: -100px -140px;
}

.emoji1f37b {
	background-position: -100px -220px;
}

.emoji1f379 {
	background-position: -100px -180px;
}

.emoji2197 {
	background-position: -480px -280px;
}

.emoji2198 {
	background-position: -480px -300px;
}

.emoji2196 {
	background-position: -480px -260px;
}

.emoji2199 {
	background-position: -480px -320px;
}

.emoji2934 {
	background-position: -540px -380px;
}

.emoji2935 {
	background-position: -540px -400px;
}

.emoji2194 {
	background-position: -480px -220px;
}

.emoji2195 {
	background-position: -480px -240px;
}

.emoji2b06 {
	background-position: -540px -440px;
}

.emoji2b07 {
	background-position: -540px -460px;
}

.emoji27a1 {
	background-position: -540px -320px;
}

.emoji2b05 {
	background-position: -540px -420px;
}

.emoji25b6 {
	background-position: -500px -0px;
}

.emoji25c0 {
	background-position: -500px -20px;
}

.emoji23e9 {
	background-position: -480px -420px;
}

.emoji23ea {
	background-position: -480px -440px;
}

.emoji23eb {
	background-position: -480px -460px;
}

.emoji23ec {
	background-position: -480px -480px;
}

.emoji1f53a {
	background-position: -360px -180px;
}

.emoji1f53b {
	background-position: -360px -200px;
}

.emoji1f53c {
	background-position: -360px -220px;
}

.emoji1f53d {
	background-position: -360px -240px;
}

.emoji2b55 {
	background-position: -540px -540px;
}

.emoji274c {
	background-position: -540px -120px;
}

.emoji274e {
	background-position: -540px -140px;
}

.emoji2757 {
	background-position: -540px -220px;
}

.emoji2049 {
	background-position: -480px -160px;
}

.emoji203c {
	background-position: -480px -140px;
}

.emoji2753 {
	background-position: -540px -160px;
}

.emoji2754 {
	background-position: -540px -180px;
}

.emoji2755 {
	background-position: -540px -200px;
}

.emoji3030 {
	background-position: -540px -560px;
}

.emoji27b0 {
	background-position: -540px -340px;
}

.emoji27bf {
	background-position: -540px -360px;
}

.emoji2764 {
	background-position: -540px -240px;
}

.emoji1f493 {
	background-position: -240px -540px;
}

.emoji1f494 {
	background-position: -240px -560px;
}

.emoji1f495 {
	background-position: -240px -580px;
}

.emoji1f496 {
	background-position: -260px -0px;
}

.emoji1f497 {
	background-position: -260px -20px;
}

.emoji1f498 {
	background-position: -260px -40px;
}

.emoji1f499 {
	background-position: -260px -60px;
}

.emoji1f49a {
	background-position: -260px -80px;
}

.emoji1f49b {
	background-position: -260px -100px;
}

.emoji1f49c {
	background-position: -260px -120px;
}

.emoji1f49d {
	background-position: -260px -140px;
}

.emoji1f49e {
	background-position: -260px -160px;
}

.emoji1f49f {
	background-position: -260px -180px;
}

.emoji2665 {
	background-position: -500px -560px;
}

.emoji2660 {
	background-position: -500px -520px;
}

.emoji2666 {
	background-position: -500px -580px;
}

.emoji2663 {
	background-position: -500px -540px;
}

.emoji1f6ac {
	background-position: -460px -220px;
}

.emoji1f6ad {
	background-position: -460px -240px;
}

.emoji267f {
	background-position: -520px -40px;
}

.emoji1f6a9 {
	background-position: -460px -160px;
}

.emoji26a0 {
	background-position: -520px -80px;
}

.emoji26d4 {
	background-position: -520px -260px;
}

.emoji267b {
	background-position: -520px -20px;
}

.emoji1f6b2 {
	background-position: -460px -340px;
}

.emoji1f6b6 {
	background-position: -460px -420px;
}

.emoji1f6b9 {
	background-position: -460px -480px;
}

.emoji1f6ba {
	background-position: -460px -500px;
}

.emoji1f6c0 {
	background-position: -480px -20px;
}

.emoji1f6bb {
	background-position: -460px -520px;
}

.emoji1f6bd {
	background-position: -460px -560px;
}

.emoji1f6be {
	background-position: -460px -580px;
}

.emoji1f6bc {
	background-position: -460px -540px;
}

.emoji1f6aa {
	background-position: -460px -180px;
}

.emoji1f6ab {
	background-position: -460px -200px;
}

.emoji2714 {
	background-position: -520px -580px;
}

.emoji1f191 {
	background-position: -0px -400px;
}

.emoji1f192 {
	background-position: -0px -420px;
}

.emoji1f193 {
	background-position: -0px -440px;
}

.emoji1f194 {
	background-position: -0px -460px;
}

.emoji1f195 {
	background-position: -0px -480px;
}

.emoji1f196 {
	background-position: -0px -500px;
}

.emoji1f197 {
	background-position: -0px -520px;
}

.emoji1f198 {
	background-position: -0px -540px;
}

.emoji1f199 {
	background-position: -0px -560px;
}

.emoji1f19a {
	background-position: -0px -580px;
}

.emoji1f201 {
	background-position: -20px -200px;
}

.emoji1f202 {
	background-position: -20px -220px;
}

.emoji1f232 {
	background-position: -20px -280px;
}

.emoji1f233 {
	background-position: -20px -300px;
}

.emoji1f234 {
	background-position: -20px -320px;
}

.emoji1f235 {
	background-position: -20px -340px;
}

.emoji1f236 {
	background-position: -20px -360px;
}

.emoji1f21a {
	background-position: -20px -240px;
}

.emoji1f237 {
	background-position: -20px -380px;
}

.emoji1f238 {
	background-position: -20px -400px;
}

.emoji1f239 {
	background-position: -20px -420px;
}

.emoji1f22f {
	background-position: -20px -260px;
}

.emoji1f23a {
	background-position: -20px -440px;
}

.emoji3299 {
	background-position: -560px -20px;
}

.emoji3297 {
	background-position: -560px -0px;
}

.emoji1f250 {
	background-position: -20px -460px;
}

.emoji1f251 {
	background-position: -20px -480px;
}

.emoji2795 {
	background-position: -540px -260px;
}

.emoji2796 {
	background-position: -540px -280px;
}

.emoji2716 {
	background-position: -540px -0px;
}

.emoji2797 {
	background-position: -540px -300px;
}

.emoji1f4a0 {
	background-position: -260px -200px;
}

.emoji1f4a1 {
	background-position: -260px -220px;
}

.emoji1f4a2 {
	background-position: -260px -240px;
}

.emoji1f4a3 {
	background-position: -260px -260px;
}

.emoji1f4a4 {
	background-position: -260px -280px;
}

.emoji1f4a5 {
	background-position: -260px -300px;
}

.emoji1f4a6 {
	background-position: -260px -320px;
}

.emoji1f4a7 {
	background-position: -260px -340px;
}

.emoji1f4a8 {
	background-position: -260px -360px;
}

.emoji1f4a9 {
	background-position: -260px -380px;
}

.emoji1f4aa {
	background-position: -260px -400px;
}

.emoji1f4ab {
	background-position: -260px -420px;
}

.emoji1f4ac {
	background-position: -260px -440px;
}

.emoji2728 {
	background-position: -540px -20px;
}

.emoji2734 {
	background-position: -540px -60px;
}

.emoji2733 {
	background-position: -540px -40px;
}

.emoji26aa {
	background-position: -520px -120px;
}

.emoji26ab {
	background-position: -520px -140px;
}

.emoji1f534 {
	background-position: -360px -60px;
}

.emoji1f535 {
	background-position: -360px -80px;
}

.emoji1f532 {
	background-position: -360px -20px;
}

.emoji1f533 {
	background-position: -360px -40px;
}

.emoji2b50 {
	background-position: -540px -520px;
}

.emoji2b1c {
	background-position: -540px -500px;
}

.emoji2b1b {
	background-position: -540px -480px;
}

.emoji25ab {
	background-position: -480px -580px;
}

.emoji25aa {
	background-position: -480px -560px;
}

.emoji25fd {
	background-position: -500px -80px;
}

.emoji25fe {
	background-position: -500px -100px;
}

.emoji25fb {
	background-position: -500px -40px;
}

.emoji25fc {
	background-position: -500px -60px;
}

.emoji1f536 {
	background-position: -360px -100px;
}

.emoji1f537 {
	background-position: -360px -120px;
}

.emoji1f538 {
	background-position: -360px -140px;
}

.emoji1f539 {
	background-position: -360px -160px;
}

.emoji2747 {
	background-position: -540px -100px;
}

.emoji1f4ae {
	background-position: -260px -480px;
}

.emoji1f4af {
	background-position: -260px -500px;
}

.emoji21a9 {
	background-position: -480px -340px;
}

.emoji21aa {
	background-position: -480px -360px;
}

.emoji1f503 {
	background-position: -320px -300px;
}

.emoji1f50a {
	background-position: -320px -420px;
}

.emoji1f50b {
	background-position: -320px -440px;
}

.emoji1f50c {
	background-position: -320px -460px;
}

.emoji1f50d {
	background-position: -320px -480px;
}

.emoji1f50e {
	background-position: -320px -500px;
}

.emoji1f512 {
	background-position: -320px -580px;
}

.emoji1f513 {
	background-position: -340px -0px;
}

.emoji1f50f {
	background-position: -320px -520px;
}

.emoji1f510 {
	background-position: -320px -540px;
}

.emoji1f511 {
	background-position: -320px -560px;
}

.emoji1f514 {
	background-position: -340px -20px;
}

.emoji2611 {
	background-position: -500px -180px;
}

.emoji1f518 {
	background-position: -340px -100px;
}

.emoji1f516 {
	background-position: -340px -60px;
}

.emoji1f517 {
	background-position: -340px -80px;
}

.emoji1f519 {
	background-position: -340px -120px;
}

.emoji1f51a {
	background-position: -340px -140px;
}

.emoji1f51b {
	background-position: -340px -160px;
}

.emoji1f51c {
	background-position: -340px -180px;
}

.emoji1f51d {
	background-position: -340px -200px;
}

.emoji2705 {
	background-position: -520px -420px;
}

.emoji270a {
	background-position: -520px -480px;
}

.emoji270b {
	background-position: -520px -500px;
}

.emoji270c {
	background-position: -520px -520px;
}

.emoji1f44a {
	background-position: -200px -280px;
}

.emoji1f44d {
	background-position: -200px -340px;
}

.emoji261d {
	background-position: -500px -240px;
}

.emoji1f446 {
	background-position: -200px -200px;
}

.emoji1f447 {
	background-position: -200px -220px;
}

.emoji1f448 {
	background-position: -200px -240px;
}

.emoji1f449 {
	background-position: -200px -260px;
}

.emoji1f44b {
	background-position: -200px -300px;
}

.emoji1f44f {
	background-position: -200px -380px;
}

.emoji1f44c {
	background-position: -200px -320px;
}

.emoji1f44e {
	background-position: -200px -360px;
}

.emoji1f450 {
	background-position: -200px -400px;
}