@import url(./fonts/open-sans);

/* general styles */
html, body {
    background: #dcdcdc;
    height: 100%;
    position: relative;
    font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 130%;
    color: #2d2d2d;
}

h1 {
    font-weight: 300;
    font-size: 32px;
    line-height: 120%;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
}

strong {
    font-weight: 800;
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* buttons, links, inputs */
a {
  /*  color: #3c73aa;*/
    text-decoration: none;

    transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

a:hover {
    opacity: 0.8;
    color: #3c73aa;
    text-decoration: none;
}

.clear {
    clear: both;
}

.btn-primary {
    background: #4bb05d;
    font-weight: 400;
    transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

.btn {
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 3px;
    padding: 4px 12px;
    min-width: 80px;
    transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #2f5984;
    border-color: #25486a;
}

.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.oxguard a {
    white-space:nowrap;
}

.oxguard input{
    border-radius: 4px;
    border: 1px solid #4bb05d;
    padding-left: 15px;
    padding-right: 15px;
}

.oxguard input, .oxguard button {
    height: 32px;
    vertical-align: middle;
}

/* waiting indicator */
.oxguard .wait
{
    display:none;
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.oxguard .wait .wait-content
{
    width: 300px;
    height: 120px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -150px;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

.oxguard .pin-content
{
    width: 300px;
    height: 200px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -150px;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;

}

/* alerts */
.oxguard .alert p {
    margin-top:10px;
}

.oxguard .alert .glyphicon {
    font-size: 28px;
}

/* 1200px container */
.oxguard .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.oxguard .view {
    display: none;
    position: relative;
}

/* Top Bar */
.oxguard .top-bar {
    height: 80px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
    background-color: #4bb05d;/*  Changes  */
}

.oxguard .top-bar .title {
    display: block;
    float: left;
    height: 100%;
    line-height: 80px;
}

.oxguard .top-bar .logo {
    display: block;
    float: right;
    height: 100%;
    line-height: 80px;
}

.oxguard .top-bar .logo img {
    vertical-align: middle;
}

/* Content */
.oxguard .content {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: visible;

    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.oxguard .forgot-label {
    display: inline-block;
    width: 300px;
    padding-top: 20px;
}

/* Login */
.oxguard #login {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.oxguard #login .form {
    margin-bottom: 10px;
}

.oxguard input#Username, .oxguard input#Password {
    width: 220px;
}

.oxguard input, .oxguard #LoginButton {
    height: 40px;
    width: 180px;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.oxguard #login #ErrorBox {
    margin-left: 2px;
    margin-right: 2px;
    display: none;
}

.oxguard #login #PinErrorBox {
    margin: 20px;
    display: none;
}

.oxguard #ForgotPassword #ForgotError {
    display: none;
}

.oxguard #languageSelect {
    text-align: left;
}

/* Not Found */
.oxguard #NotFound {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/* extra password */
.oxguard #ExtraPassDiv {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/* forgot password */
.oxguard #ForgotPassword {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.oxguard #ForgotPassword .form {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* forgot page 2 */
.oxguard #ForgotPage2 {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.oxguard #ForgotError2 {
    margin-top: 10px;
    display: none;
}

.oxguard #ForgotInfo {
    margin-top: 30px;
}

/* Standard dialog */
.oxguard .dialog {
  max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

/* new password */
.oxguard #NewPassword {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
}

.oxguard #NewPassword .form {
    margin-top: 30px;
}

.oxguard #NewPassword .form input {
    width: 100%;
    margin-bottom: 10px;
}

.oxguard #NewPassword .form label {
    width: 100%;
    text-align: left;
    font-weight: 400;
    color: #878787;
    margin: 10px auto;
    padding: 0;
    display: block;
}

.uploader {
    width: 300px;
    margin-left: auto;
    margin-right:auto;
}

.uploader td {
  padding: 10px;
  }
/*.oxguard #NewPassword .form button {
    width: 272px;
}*/

.oxguard #ChangePassword {
    margin-right: 4px;
}

.oxguard #CancelChangePassword {
    margin-left: 4px;
}

.oxguard #ChangeError {
    margin-top: 10px;
    display: none;
}

/* reader */
.oxguard .mail-actions {
    border-bottom: 1px solid #dcdcdc;
    height: 50px;
    line-height: 50px;
}

.oxguard .mail-actions-bottom {
    height: 50px;
    line-height: 50px;
}

.oxguard .logout {
    float: right !important;
    margin-right: 0 !important;
}

.oxguard .changepw {
    float: right !important;
    margin-right: 10 !important;
}

.oxguard .pgpmanage {
    float: right !important;
    margin-right: 10 !important;
}

.oxguard .mail-action {
    margin-right:30px;
}

.oxguard #subject {
    margin-top: 30px;
    margin-bottom: 30px;
}

.oxguard .oxlabel {
    color: #878787;
    font-weight: 400;
}

.oxguard .to, .oxguard .cc {
    display: none;
}

.oxguard .oxlabelcontent {
    display: inline-block;
    color: #000000;
    padding-left: 10px;
}

.oxguard #reader {
    width: 100%;
    min-height: 230px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-left: none;
    border-right:none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}

/* First time password setup */

.oxguard .newpass {
  width: 80%;
  height: 80%;
  display: block;
  background: #ffffff;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  padding-left: 30px;
    padding-right: 30px;
}

.oxguard .newpass label {
  width: 200px;
  text-align: left;
    font-weight: 400;
    color: #878787;
    margin: 10px;
    padding: 0;
    display: block;
}

.oxguard .newpass button {
  margin-top:20px;
}

.oxguard .newpass input {
  margin-left:10px;
  width: 250px;
}

/* reader password change pop-up */
.oxguard .passchange {
    width: 80%;
    max-width: 500px;
    display: block;
    height: 80%;
    max-height:600px;
    overflow: auto;
    background: #ffffff;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

.oxguard .passchange .form {
    margin-top: 30px;
}

.oxguard .passchange .form label {
    width: 100%;
    text-align: left;
    font-weight: 400;
    color: #878787;
    margin: 10px auto;
    padding: 0;
    display: block;
}

.oxguard .passchange .form input {
    width: 100%;
    margin: 0;
}

.oxguard .passchange .form button {
    width: 90px;
    display: inline-block;
    margin-top: 10px;
}

.oxguard .passchange .form #firstChangePassword {
    margin-right: 5px;
}

.oxguard .passchange .form #nochange {
    margin-left: 5px;
}

.oxguard #firstChangeError
{
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
}


.header td {
    vertical-align:top;
}

.header .tdname {
    vertical-align: middle !important;
}

.header td span {
  line-height: 1.5em;
}

.attachment-link {
  display:block;
  padding: 3px;
  overflow: hidden;
  }

.oxguard #attdiv
{
   margin-top: 10px;
}

.oxguard .back {
    float: right;
}
/* reply div */
#replydiv {
    margin-bottom: 30px;
}

#replydiv form {
    margin-top: 30px;
}

#replydiv label {
    width: 100%;
    display: block;
    margin-top: 10px;
}

#replydiv form label input {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 400;
    color: #2d2d2d;
}

#replydiv label span {
    color: #878787;
    display: block;
    text-align: left;
    font-weight: 400;
    margin-bottom: 10px;
}

#replydiv textarea {
    width: 100%;
    min-width: 100% !important;
    max-width: 100% !important;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    min-height: 200px;
    display: block;
    margin-bottom: 10px;
    padding: 15px;
}

#replydiv #SendReply {
    margin-top: 13px;
    margin-right: 3px;
}

#replydiv #CancelReply {
    margin-top: 13px;
    margin-left: 3px;
}

#replydiv .attachments {
    padding-top: 5px;
    padding-bottom: 20px;
}

#replydiv span {
 line-height: 1.5em;
 }

.attachments li {
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 8px;
    margin-right: 20px;
    margin-top: 5px;
    list-style-type: none;
    display: inline-block;
}

#replydiv #attachmentList {
    }

.deleteAttach {
    margin-right: 20px;
    margin-left: 5px;
}

#replydiv .attach {
    float: left;
    font-size: 1.5em;
}

#replydiv .format {
    float: right;
    margin-top: 7px;
}

#replydiv .format label {
    display:inline;
}

#replydiv .format input {
    display: inline !important;
    width: 15px !important;
    margin-right: 5px;
    margin-left: 15px;
}

#replydiv .plaintexteditor
{
    display: none;
    height: 300px;
}

/* results */
.oxguard #results {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.oxguard_signed
{
  padding-left: 2px;
}

.oxguard_icon_fa
{
  margin-left: 0.5em;
  display: inline;
  vertical-align: baseline;
  color:#39963B;
  font-size: 1.1em !important;
}

/* footer */
.oxguard .footer {
    text-align: center;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* PGP Properties */
.pgpManageDiv {
    padding: 6px;
    }

.pgpManageDiv input[type="checkbox"] {
    margin-left: 10px;
    width: 20px !important;
    height: 20px;
    float: left;
    margin-right: 20px !important;
    margin-top: 0px;
    }

.pgpManageDiv button {
        margin-top: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: block !important;
    }

.pgpManageDiv label {
    padding-bottom:10px;
    max-width: 90%;
    }

/* Key Retrieval */
    .keytable td {
        padding: 5px;
        text-align:left;
    }

    .keytable input {
        height: 1.8em;
    }

    .keydownload {
        padding: 10px;
        border: rgb(142, 151, 195) solid 1px;
        margin: 10px;
        border-radius: 4px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display:none;
    }

.pgpDirect {
  position: absolute;
  top: 20%;
  overflow:auto;
  width:100%;
  display:none;
}

.pgpDirectBox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 20px;
  background: #ffffff;
}

.mask {
  position:absolute;
  background: grey;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0px;
  display: none;
}

@media only screen and (max-width: 768px){
    body {
        line-height: 1em !important;
    }

    .oxguard .content {
        margin: 4% !important;
    }

    .oxguard input, .oxguard #LoginButton, .oxguard #ExtraPassButton, .oxguard #ForgotPasswordButton, .oxguard #ForgotPasswordButton2, .oxguard #NewPassword .form button {
        display: block;
        width: 100% !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .oxguard #login #ErrorBox {
        width: 100% !important;
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .oxguard .footer {
        padding-bottom: 4% !important;
    }
}

@media only screen and (max-width: 480px){
    .oxguard .top-bar .logo {
        display: none !important;
    }

    .oxguard .mail-action {
        display: inline-block !important;
        margin-right:0 !important;
        font-size: 0px !important;
        width: 50px !important;
    }

    .oxguard .logout {
        text-align: right !important;
    }

    .oxguard .mailActions {
        height:30px;
    }

    .oxguard .mail-action i {
        font-size: 24px !important;
        text-indent: 0 !important;
        line-height: 50px !important;
    }

    .oxguard .oxlabel {
        display: block !important;
        margin-top: 10px !important;
    }


    #replydiv button {
        width: 100%;
        margin-top: 10px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: block !important;
    }



}
