/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author David Bauer <david.bauer@open-xchange.com>
 */

.io-ox-mail-compose {
    // baseline adjustment
    padding-top: @default-padding;

    & > .mail-compose-fields > .row {

        margin-bottom: 10px;

        &.sender .dropdown { padding-top: 8px; }

        div.dropdown {
            display: inline-block;
            margin-bottom: 5px;

            &.signatures { margin-right: 15px; }
        }

        .shareAttachments div.dropdown {
            margin-bottom: 0px;
        }

        &.subject input { font-weight: bold; }

        &.attachments {

            .inplace-dropzone { margin: 0 15px; }

            .io-ox-core-tk-attachment-list { clear: both; }
        }

        .token-input,
        &.subject input {
            &::-webkit-input-placeholder { color: transparent; }
            &:-moz-placeholder { color: transparent; }
            &::-moz-placeholder { color: transparent; }
            &:-ms-input-placeholder { color: transparent; }
        }

        .maillabel a {
            color: #767676;
            font-size: 13px;
            font-weight: bold;
            line-height: 20px;
            display: inline-block;
            padding-top: 6px;
        }
    }

    .sender {
        .name { color: #333; }
        .address { color: @link-color; }
    }

    .header {
        margin-bottom: 5px;

        h1 {
            margin: 0;
            font-size: 20px;
        }

        .btn { margin-left: 10px; }
    }

    .recipient-actions {

        position: absolute;
        top: 7px;
        right: 16px;

        a {
            margin-right: 4px;
            padding: 2px;
            color: @label-default-bg;
            text-decoration: none;
        }

        @media (max-width: 767px) { right: 10px; }
    }

    .has-picker .recipient-actions {
        right: 44px;
    }

    .open-addressbook-popup {
        position: absolute;
        top: 5px;
        right: 24px;
        padding: 2px;
        color: @label-default-bg;
        text-decoration: none;
    }

    .contenteditable-editor {
        position: relative;
        z-index: 3;
    }

    .editable-toolbar {
        position: relative;
        height: 100%;

        &.fixed{
            position: fixed;
            min-height: 34px;
            z-index: 1;
            border-bottom: 1px solid #ccc;
            opacity: 0.9;
        }

        input.file-input:hover { cursor: pointer; }

        .mce-panel.mce-container:not(.mce-floatpanel):not(.mce-edit-area) { background-color: #fff; }

        .mce-panel.mce-edit-area { border:1px solid #fff !important; }

    }

    textarea.editable,
    .mce-content-body.editable {
        background: white;
        border: 1px solid #ccc;
        padding: 13px;
    }

    .mce-content-body.editable {

        // For large mails e.g. newsletters
        overflow-x: auto;

        &.mce-edit-focus {
            outline: none;
            .form-control-focus();
        }

        &.simple-mail {
            img {
                max-width: 100%;
                height: auto!important;
            }
        }

        // Force aspect ratio resizing of images in tinymce
        img.aspect-ratio {
            height: auto!important;
        }

        a {
            color: #00a0cd;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        table {
            border: 0 none;
            line-height: normal;

            td, th { padding: 8px; }
        }

        div { word-wrap: break-word; }

        blockquote {
            font-size: 14px;
            border-left: 1px solid #08C;
            padding: 7px 0 7px 19px;
            margin: 1em 0 1em 0;
            opacity: 0.5;

            blockquote { opacity: 1.0; }
        }

    }

    .plain-text {
        width: 100%;
        border: 1px solid #ccc;
        padding: 18px 21px;

        -webkit-font-feature-settings: "liga" 0;
        font-feature-settings: "liga" 0;
        text-rendering: optimizeLegibility;

        &.monospace { font-family: monospace; }
    }

    // Bootstrap Tokenfield overrides
    // space for cc/bcc toggle
    .tokenfield.form-control { padding-right: 40px; }

    .hidden-file-picker {
        // same as .dropdown-menu > li > a
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: @line-height-base;
        color: @dropdown-link-color;
        white-space: nowrap;

        // behave like a link
        cursor: pointer;

        // support for absolute input[file]
        position: relative;
        overflow: hidden;

        &:hover, &:focus {
            text-decoration: none;
            color: @dropdown-link-hover-color;
            background-color: @dropdown-link-hover-bg;
        }

        input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: #F00;
            cursor: inherit;
            display: block;
            outline: 0;
        }
    }

    .shareAttachments {

        > ul {
            margin-left: 16px;
        }

        > div {
            margin-right: 16px;
        }

        .input-group {
            width: 25%;
            display: inline-table;
            top: 10px;
        }

        .io-ox-inline-links {
            display: inline;
            font-family: @normal-font-family;
            font-size: 13px;

            li {
                padding-top: 3px;
            }

            a {
                text-decoration: underline;
            }

            a[data-action="shareAttachmentseDisable"] {
                text-decoration: none;
                font-weight: bold;
            }

            .fa-check, a[data-action="shareAttachmentseDisable"] {
                color: #FF6E00;
            }

            .fa-check {
                margin-right: 5px;
            }
        }

        .dropdownlink, .checkbox {
            display: inline;
            position: relative;

            a:hover {
                text-decoration: none;
            }

            a i.fa-caret-down {
                color: inherit;
                display: inline-block;
                margin-left: 5px;
            }

        }

    }

    .show-share-attachments .toggle-mode {
        padding-top: 16px;
    }

    .mail-attachment-list header .toggle-details {
            padding-top: 3px;
        }

}

.smartphone {
    .io-ox-mail-compose {
        padding-top: 8px;
        padding: 0;
        margin:0;

        textarea {
            padding:8px 16px;
            border:0;

            &:focus { outline: none; }
        }

        & > .mail-compose-fields > .row {
            font-size:16px;
            margin:0;

            label {
                font-size: 16px;
                font-weight: 400;
                color: #aaa;
            }

            &.sender { display: none; }

            &[data-extension-id=to],
            &[data-extension-id=cc],
            &[data-extension-id=bcc] {
                padding-top: 2px;
                padding-bottom: 2px;
                .col-xs-11 {
                    width: 90%;
                    margin-right: -5px;
                }
                input::-webkit-input-placeholder {
                    color: #fff;
                }
            }
            &[data-extension-id=subject] .col-xs-12 { padding-left: 7px; }

            &[data-extension-id=composetoolbar] {
                padding-top:8px;
                padding-bottom:4px;
            }

            .maillabel.col-xs-1 {
                width: 10%;
            }


            &.subject {
                padding-bottom: 6px;
                padding-top:3px;
                input { padding-left: 8px; font-size: 16px; font-weight:300; }
            }

            &:not(.attachments) { border-bottom: 1px solid #ccc; }

            .token-input,
            &.subject input {

                &::-webkit-input-placeholder {
                    color: #aaa;
                    font-weight: normal;
                }

                &:-moz-placeholder {
                    color: #aaa;
                    font-weight: normal;
                }

                &::-moz-placeholder {
                    color: #aaa;
                    font-weight: normal;
                }

                &:-ms-input-placeholder {
                    color: #aaa;
                    font-weight: normal;
                }
            }

            // This should be removed when autocomplete is rendered inplace
            .twitter-typeahead { display:block !important; }

            .form-control {
                padding-top: 7px;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }
        }

        .tokenfield.form-control.to { padding-right: 20px; }

        .recipient-actions a { outline: 0; }

        textarea.editable, .mce-content-body.editable {
            border-top:0;
            padding: 8px 16px;
            margin-top: 0;
        }
        .mail-attachment-list {
            margin-left: -15px;
            margin-right: -15px;
            padding: 8px 15px 9px;
            border-bottom: 1px solid #ccc;

            &.open { border-bottom: 1px solid #ccc; }
            &.empty { border-bottom: 0; }
        }
        .hidden-file-picker {
            font-size: 15px;
            line-height: initial;
            color: @link-color;
            padding: 0;
            padding-top: 1px;

            &:focus, &:hover {
                color: @link-color;
                background-color: transparent;
            }
        }
        textarea.editable, .mce-content-body.editable {
            border: none;
            outline: none;

            &.mce-edit-focus:focus { box-shadow: none; }
        }
    }

    .io-ox-mail-compose-window.header-top .window-header .btn[data-action="save"],
    .editable-toolbar { display:none; }
}
