.calendar-list-view .search-view .vgrid-cell.calendar .date {
	display: block
}

.calendar-list-view .vgrid.editable .vgrid-cell {
	padding-left: 48px
}

.calendar-list-view .vgrid-cell.calendar {
	height: 70px
}

.calendar-list-view .vgrid-cell.calendar .vgrid-cell-checkbox {
	padding-top: 10px
}

.calendar-list-view .vgrid-cell.calendar .contentContainer {
	padding-left: 10px
}

.calendar-list-view .vgrid-cell.calendar .private {
	color: #555;
	float: right;
	display: inline-block
}

.calendar-list-view .vgrid-cell.calendar .shown_as.label-info {
	width: 1em;
	height: 1em;
	float: right;
	margin-left: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.calendar-list-view .vgrid-cell.calendar.declined .title,
	.calendar-list-view .vgrid-cell.calendar.declined .location {
	text-decoration: line-through
}

.calendar-list-view .vgrid-cell.calendar .time {
	position: relative;
	width: 80px;
	height: 100%;
	float: left
}

.calendar-list-view .vgrid-cell.calendar .time .fragment {
	text-overflow: clip;
	margin-right: 5px
}

.calendar-list-view .vgrid-cell.calendar .time:after {
	content: "";
	width: 20px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0
}

.calendar-list-view .vgrid-cell.calendar .date {
	display: none
}

.calendar-list-view .vgrid-cell .custom_shown_as.reserved:after {
	background-color: #3774a8
}

.calendar-list-view .vgrid-cell .custom_shown_as.temporary:after {
	background-color: #fb0
}

.calendar-list-view .vgrid-cell .custom_shown_as.absent:after {
	background-color: #913f3f
}

.calendar-list-view .vgrid-cell .custom_shown_as.free:after {
	background-color: #8eb360
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-1:after
	{
	background-color: #cee7ff
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-1.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#def 25px, #def 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px, #def
		25px, #def 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#def 25px, #def 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #def
		25px, #def 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-1.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#def 8px, #def 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px, #def
		8px, #def 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#def 8px, #def 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #def 8px
		, #def 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-2:after
	{
	background-color: #96bbe8
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-2.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #a3c3eb
		25px, #a3c3eb 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-2.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #a3c3eb
		8px, #a3c3eb 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-3:after
	{
	background-color: #c4afe3
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-3.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #ccbae7
		25px, #ccbae7 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-3.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #ccbae7
		8px, #ccbae7 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-4:after
	{
	background-color: #f0d8f0
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-4.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f4e3f4
		25px, #f4e3f4 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-4.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f4e3f4
		8px, #f4e3f4 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-5:after
	{
	background-color: #f2d1d2
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-5.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f5ddde
		25px, #f5ddde 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-5.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f5ddde
		8px, #f5ddde 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-6:after
	{
	background-color: #ffd1a3
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-6.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #ffd9b2
		25px, #ffd9b2 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-6.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #ffd9b2
		8px, #ffd9b2 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-7:after
	{
	background-color: #f7ebb6
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-7.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f9efc4
		25px, #f9efc4 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-7.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f9efc4
		8px, #f9efc4 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-8:after
	{
	background-color: #d4dea7
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-8.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #d9e2b2
		25px, #d9e2b2 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-8.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #d9e2b2
		8px, #d9e2b2 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-9:after
	{
	background-color: #99af6e
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-9.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #a0b478
		25px, #a0b478 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-9.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #a0b478
		8px, #a0b478 16px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-10:after
	{
	background-color: #666
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-10.free:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #6e6e6e
		25px, #6e6e6e 50px)
}

.custom-colors .calendar-list-view .vgrid-cell .custom_shown_as.color-label-10.temporary:after
	{
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #6e6e6e
		8px, #6e6e6e 16px)
}