.docs-icons-url(@color-id) {
    i[class^="docs-"] {
        background-image: ~"url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-@{color-id}.png)";
        &.retina { background-image: ~"url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-@{color-id}.png)"; }
    }
}
