.io-ox-office-main i[class^="docs-"] {
width: 18px;
height: 18px;
&.docs-caret.down { background-position: 0px 0px; }
&.docs-caret.up { background-position: -18px 0px; }
&.docs-border { background-position: -36px 0px; }
&.docs-border-t { background-position: -54px 0px; }
&.docs-border-b { background-position: -72px 0px; }
&.docs-border-tb { background-position: -90px 0px; }
&.docs-border-h { background-position: -108px 0px; }
&.docs-border-th { background-position: -126px 0px; }
&.docs-border-bh { background-position: -144px 0px; }
&.docs-border-tbh { background-position: -162px 0px; }
&.docs-border-l { background-position: -180px 0px; }
&.docs-border-tl { background-position: -198px 0px; }
&.docs-border-bl { background-position: -216px 0px; }
&.docs-border-tbl { background-position: -234px 0px; }
&.docs-border-hl { background-position: -252px 0px; }
&.docs-border-thl { background-position: -270px 0px; }
&.docs-border-bhl { background-position: -288px 0px; }
&.docs-border-tbhl { background-position: -306px 0px; }
&.docs-border-r { background-position: -324px 0px; }
&.docs-border-tr { background-position: -342px 0px; }
&.docs-border-br { background-position: -360px 0px; }
&.docs-border-tbr { background-position: -378px 0px; }
&.docs-border-hr { background-position: -396px 0px; }
&.docs-border-thr { background-position: -414px 0px; }
&.docs-border-bhr { background-position: -432px 0px; }
&.docs-border-tbhr { background-position: -450px 0px; }
&.docs-border-lr { background-position: -468px 0px; }
&.docs-border-tlr { background-position: -486px 0px; }
&.docs-border-blr { background-position: -504px 0px; }
&.docs-border-tblr { background-position: -522px 0px; }
&.docs-border-hlr { background-position: -540px 0px; }
&.docs-border-thlr { background-position: -558px 0px; }
&.docs-border-bhlr { background-position: -576px 0px; }
&.docs-border-tbhlr { background-position: -594px 0px; }
&.docs-border-v { background-position: -612px 0px; }
&.docs-border-tv { background-position: -630px 0px; }
&.docs-border-bv { background-position: -648px 0px; }
&.docs-border-tbv { background-position: -666px 0px; }
&.docs-border-hv { background-position: -684px 0px; }
&.docs-border-thv { background-position: -702px 0px; }
&.docs-border-bhv { background-position: 0px -18px; }
&.docs-border-tbhv { background-position: -18px -18px; }
&.docs-border-lv { background-position: -36px -18px; }
&.docs-border-tlv { background-position: -54px -18px; }
&.docs-border-blv { background-position: -72px -18px; }
&.docs-border-tblv { background-position: -90px -18px; }
&.docs-border-hlv { background-position: -108px -18px; }
&.docs-border-thlv { background-position: -126px -18px; }
&.docs-border-bhlv { background-position: -144px -18px; }
&.docs-border-tbhlv { background-position: -162px -18px; }
&.docs-border-rv { background-position: -180px -18px; }
&.docs-border-trv { background-position: -198px -18px; }
&.docs-border-brv { background-position: -216px -18px; }
&.docs-border-tbrv { background-position: -234px -18px; }
&.docs-border-hrv { background-position: -252px -18px; }
&.docs-border-thrv { background-position: -270px -18px; }
&.docs-border-bhrv { background-position: -288px -18px; }
&.docs-border-tbhrv { background-position: -306px -18px; }
&.docs-border-lrv { background-position: -324px -18px; }
&.docs-border-tlrv { background-position: -342px -18px; }
&.docs-border-blrv { background-position: -360px -18px; }
&.docs-border-tblrv { background-position: -378px -18px; }
&.docs-border-hlrv { background-position: -396px -18px; }
&.docs-border-thlrv { background-position: -414px -18px; }
&.docs-border-bhlrv { background-position: -432px -18px; }
&.docs-border-tbhlrv { background-position: -450px -18px; }
&.docs-drawing-v-align-bottom { background-position: -468px -18px; }
&.docs-drawing-h-align-center { background-position: -486px -18px; }
&.docs-drawing-h-align-left { background-position: -504px -18px; }
&.docs-drawing-v-align-middle { background-position: -522px -18px; }
&.docs-drawing-h-align-right { background-position: -540px -18px; }
&.docs-drawing-v-align-top { background-position: -558px -18px; }
&.docs-arrange-to-back { background-position: -576px -18px; }
&.docs-drawing-fill-color, &.docs-cell-fill-color, &.docs-cell-line-color { background-position: -594px -18px; }
&.docs-drawing-line-color { background-position: -612px -18px; }
&.docs-paragraph-fill-color { background-position: -630px -18px; }
&.docs-distribute-objects-h { background-position: -648px -18px; }
&.docs-distribute-slide-h { background-position: -666px -18px; }
&.docs-distribute-objects-v { background-position: -684px -18px; }
&.docs-distribute-slide-v { background-position: -702px -18px; }
&.docs-filter { background-position: 0px -36px; }
&.docs-drawing-flip-v { background-position: -18px -36px; }
&.docs-drawing-flip-h { background-position: -36px -36px; }
&.docs-arrange-to-front { background-position: -54px -36px; }
&.docs-line-style { background-position: -72px -36px; }
&.docs-position-anchor { background-position: -90px -36px; }
&.docs-position-on-page { background-position: -108px -36px; }
&.docs-position-on-page-margin { background-position: -126px -36px; }
&.docs-position-on-paragraph { background-position: -144px -36px; }
&.docs-position-on-text { background-position: -162px -36px; }
&.docs-z-order { background-position: -180px -36px; }
&.docs-drawing-rotate-left { background-position: -198px -36px; }
&.docs-drawing-rotate-right { background-position: -216px -36px; }
&.docs-drawing-shape { background-position: -234px -36px; }
&.docs-insert-textframe { background-position: -252px -36px; }
&.docs-arrange-backward { background-position: -270px -36px; }
&.docs-arrange-forward { background-position: -288px -36px; }
&.docs-table-resize-row { background-position: -306px -36px; }
&.docs-cell-h-align-justify { background-position: -324px -36px; }
&.docs-cell-h-align-auto { background-position: -342px -36px; }
&.docs-cell-h-align-center { background-position: -360px -36px; }
&.docs-cell-h-align-left { background-position: -378px -36px; }
&.docs-cell-h-align-right { background-position: -396px -36px; }
&.docs-cell-style { background-position: -414px -36px; }
&.docs-cell-v-align-justify { background-position: -432px -36px; }
&.docs-cell-v-align-bottom { background-position: -450px -36px; }
&.docs-cell-v-align-middle { background-position: -468px -36px; }
&.docs-cell-v-align-top { background-position: -486px -36px; }
&.docs-table-resize-column { background-position: -504px -36px; }
&.docs-dec-places-decrease { background-position: -522px -36px; }
&.docs-dec-places-increase { background-position: -540px -36px; }
&.docs-functions { background-position: -558px -36px; }
&.docs-merged-cells-on { background-position: -576px -36px; }
&.docs-merged-cells-horizontal { background-position: -594px -36px; }
&.docs-merged-cells-vertical { background-position: -612px -36px; }
&.docs-percent { background-position: -630px -36px; }
&.docs-format-painter { background-position: -648px -36px; }
&.docs-auto-sum { background-position: -666px -36px; }
&.docs-merged-cells-off { background-position: -684px -36px; }
&.docs-color { background-position: -702px -36px; }
&.docs-font-fill-color { background-position: 0px -54px; }
&.docs-para-fill-color { background-position: -18px -54px; }
&.docs-table-fill-color, &.docs-cell-line-color { background-position: -36px -54px; }
&.docs-font-color { background-position: -54px -54px; }
&.docs-previous-page { background-position: -72px -54px; }
&.docs-first-page { background-position: -90px -54px; }
&.docs-last-page { background-position: -108px -54px; }
&.docs-hide-sidepane { background-position: -126px -54px; }
&.docs-next-page { background-position: -144px -54px; }
&.docs-show-sidepane { background-position: -162px -54px; }
&.docs-hyperlink { background-position: -180px -54px; }
&.docs-image-insert { background-position: -198px -54px; }
&.docs-drawing-remove { background-position: -216px -54px; }
&.docs-redo { background-position: -234px -54px; }
&.docs-undo { background-position: -252px -54px; }
&.docs-zoom-in { background-position: -270px -54px; }
&.docs-zoom-out { background-position: -288px -54px; }
&.docs-reset-formatting { background-position: -306px -54px; }
&.docs-table-style { background-position: -324px -54px; }
&.docs-comment-add { background-position: -342px -54px; }
&.docs-comment-show { background-position: -360px -54px; }
&.docs-comment-next { background-position: -378px -54px; }
&.docs-comment-back { background-position: -396px -54px; }
&.docs-comment-remove { background-position: -414px -54px; }
&.docs-table-insert-column { background-position: -432px -54px; }
&.docs-table-insert-row { background-position: -450px -54px; }
&.docs-table-insert { background-position: -468px -54px; }
&.docs-table-delete-column { background-position: -486px -54px; }
&.docs-table-delete-row { background-position: -504px -54px; }
&.docs-table-split { background-position: -522px -54px; }
&.docs-header-footer { background-position: -540px -54px; }
&.docs-page-layout { background-position: -558px -54px; }
&.docs-font-bold { background-position: -576px -54px; }
&.docs-font-bold { &.lc-da, &.lc-de, &.lc-hu, &.lc-nb, &.lc-nn, &.lc-sv { background-position: -594px -54px; } }
&.docs-font-bold { &.lc-fr, &.lc-it { background-position: -612px -54px; } }
&.docs-font-bold { &.lc-ca, &.lc-es, &.lc-pt { background-position: -630px -54px; } }
&.docs-font-bold { &.lc-lv { background-position: -648px -54px; } }
&.docs-font-bold { &.lc-ru { background-position: -666px -54px; } }
&.docs-font-dbl-underline { background-position: -684px -54px; }
&.docs-font-italic { background-position: -702px -54px; }
&.docs-font-italic { &.lc-ca, &.lc-da, &.lc-de, &.lc-es, &.lc-nb, &.lc-nn, &.lc-sv { background-position: 0px -72px; } }
&.docs-font-italic { &.lc-it { background-position: -18px -72px; } }
&.docs-font-italic { &.lc-hu { background-position: -36px -72px; } }
&.docs-font-italic { &.lc-sl { background-position: -54px -72px; } }
&.docs-font-italic { &.lc-lv { background-position: -72px -72px; } }
&.docs-font-italic { &.lc-ru { background-position: -90px -72px; } }
&.docs-font-strikeout { background-position: -108px -72px; }
&.docs-font-subscript { background-position: -126px -72px; }
&.docs-font-superscript { background-position: -144px -72px; }
&.docs-font-format { background-position: -162px -72px; }
&.docs-font-underline { background-position: -180px -72px; }
&.docs-font-underline { &.lc-ca, &.lc-es, &.lc-fr, &.lc-it, &.lc-pt { background-position: -198px -72px; } }
&.docs-font-underline { &.lc-hu { background-position: -216px -72px; } }
&.docs-font-underline { &.lc-lv, &.lc-sl { background-position: -234px -72px; } }
&.docs-font-underline { &.lc-ru { background-position: -252px -72px; } }
&.docs-lists { background-position: -270px -72px; }
&.docs-list-numbered { background-position: -288px -72px; }
&.docs-list-bullet { background-position: -306px -72px; }
&.docs-field { background-position: -324px -72px; }
&.docs-list-dec-level { background-position: -342px -72px; }
&.docs-list-inc-level { background-position: -360px -72px; }
&.docs-para-align-justify { background-position: -378px -72px; }
&.docs-para-align-center { background-position: -396px -72px; }
&.docs-para-align-left { background-position: -414px -72px; }
&.docs-para-align-right { background-position: -432px -72px; }
&.docs-insert-linebreak { background-position: -450px -72px; }
&.docs-insert-pagebreak, &.docs-page-break { background-position: -468px -72px; }
&.docs-pilcrow { background-position: -486px -72px; }
&.docs-para-line-spacing-200 { background-position: -504px -72px; }
&.docs-para-line-spacing-150 { background-position: -522px -72px; }
&.docs-para-line-spacing-100, &.docs-para-line-spacing-115 { background-position: -540px -72px; }
&.docs-online-spelling { background-position: -558px -72px; }
&.docs-dict-available { background-position: -576px -72px; }
&.docs-insert-tab { background-position: -594px -72px; }
&.docs-drawing-center-both { background-position: -612px -72px; }
&.docs-drawing-inline { background-position: -630px -72px; }
&.docs-drawing-right-left { background-position: -648px -72px; }
&.docs-drawing-center-none { background-position: -666px -72px; }
&.docs-drawing-left-right { background-position: -684px -72px; }
&.docs-drawing-center-left { background-position: -702px -72px; }
&.docs-drawing-center-right { background-position: 0px -90px; }
&.docs-drawing-left-none { background-position: -18px -90px; }
&.docs-drawing-right-none { background-position: -36px -90px; }
&.docs-slide-background { background-position: -54px -90px; }
&.docs-slide-master { background-position: -72px -90px; }
background-size: 720px 108px;
}
