.date-picker {
	display: none;
	position: absolute;
	z-index: 1000000;
	width: 290px;
	min-height: 160px;
	padding: 16px;
	line-height: 16px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	outline: 0;
	cursor: default;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.date-picker:focus {
	border-color: rgba(0, 0, 0, .5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .3)
}

.date-picker.open {
	display: block
}

.date-picker .navigation {
	font-weight: 700;
	text-align: center;
	margin-bottom: 8px
}

.date-picker .navigation button.btn-prev, .date-picker .navigation button.btn-next
	{
	width: 32px
}

.date-picker button {
	color: #333;
	background-color: #fff;
	padding: 8px;
	outline: 0;
	border: 0;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.date-picker button:hover {
	background-color: #eee
}

.date-picker button:focus {
	background-color: #555;
	color: #fff
}

.date-picker caption {
	display: inline-block
}

.date-picker td, .date-picker th {
	color: #333;
	padding: 4px 0;
	width: 32px;
	text-align: center;
	line-height: 24px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.date-picker th.weekday {
	color: #333;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase
}

.date-picker th.cw {
	color: #707070;
	font-size: 10px;
	font-weight: 300
}

.date-picker th.weekend {
	color: #a00
}

.date-picker td {
	cursor: pointer
}

.date-picker td.outside {
	color: #707070;
	font-weight: 300
}

.date-picker td.today {
	color: #fff;
	background-color: #a00
}

.date-picker td.weekend {
	color: #a00
}

.date-picker td.weekend.outside {
	color: #707070
}

.date-picker td.weekend.today {
	color: #fff
}

.date-picker td.month, .date-picker td.year {
	width: 84px;
	text-align: center;
	padding: 16px 0
}

.date-picker .grid {
	clear: both;
	outline: 0
}

.date-picker .grid td:hover {
	background-color: #eee;
	color: #333
}

.date-picker .grid td.today:hover {
	background-color: #700;
	color: #fff
}

.date-picker .grid td[aria-selected=true] {
	background-color: #ccc;
	color: #333
}

.date-picker .grid td[aria-selected=true]:hover {
	background-color: #aaa;
	color: #333
}

.date-picker .grid:focus td[aria-selected=true] {
	background-color: #555;
	color: #fff
}

.date-picker .btn-today {
	color: #333;
	font-size: 13px;
	text-align: center;
	display: block;
	margin: 8px 0 0;
	width: 100%
}