.mce-content-body pre {
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: inherit;
	border: 0;
	border-radius: 0;
	font-family: inherit
}

.mce-window .mce-formitem .mce-widget {
	width: auto !important;
	position: relative !important
}

.mce-window .mce-container-body.mce-window-body.mce-abs-layout label.mce-widget.mce-label.mce-autoscroll.mce-abs-layout-item.mce-first.mce-last
	{
	white-space: pre-wrap;
	position: relative
}

.mce-window .mce-btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-width: 80px;
	margin-right: 8px;
	height: 32px;
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.mce-window .mce-btn:focus, .mce-window .mce-btn.focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c
}

.mce-window .mce-btn:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.mce-window .mce-btn:active, .mce-window .mce-btn.active, .open>.dropdown-toggle.mce-window .mce-btn
	{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.mce-window .mce-btn:active:hover, .mce-window .mce-btn.active:hover,
	.open>.dropdown-toggle.mce-window .mce-btn:hover, .mce-window .mce-btn:active:focus,
	.mce-window .mce-btn.active:focus, .open>.dropdown-toggle.mce-window .mce-btn:focus,
	.mce-window .mce-btn:active.focus, .mce-window .mce-btn.active.focus,
	.open>.dropdown-toggle.mce-window .mce-btn.focus {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c
}

.mce-window .mce-btn:active, .mce-window .mce-btn.active, .open>.dropdown-toggle.mce-window .mce-btn
	{
	background-image: none
}

.mce-window .mce-btn.disabled:hover, .mce-window .mce-btn[disabled]:hover,
	fieldset[disabled] .mce-window .mce-btn:hover, .mce-window .mce-btn.disabled:focus,
	.mce-window .mce-btn[disabled]:focus, fieldset[disabled] .mce-window .mce-btn:focus,
	.mce-window .mce-btn.disabled.focus, .mce-window .mce-btn[disabled].focus,
	fieldset[disabled] .mce-window .mce-btn.focus {
	background-color: #fff;
	border-color: #ccc
}

.mce-window .mce-btn .badge {
	color: #fff;
	background-color: #333
}

.mce-window .mce-btn:not (.mce-open ){
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.mce-window .mce-btn.mce-primary {
	color: #fff;
	background-color: #3c73aa;
	border-color: #356697
}

.mce-window .mce-btn.mce-primary:focus, .mce-window .mce-btn.mce-primary.focus
	{
	color: #fff;
	background-color: #2f5984;
	border-color: #142639
}

.mce-window .mce-btn.mce-primary:hover {
	color: #fff;
	background-color: #2f5984;
	border-color: #25486a
}

.mce-window .mce-btn.mce-primary:active, .mce-window .mce-btn.mce-primary.active,
	.open>.dropdown-toggle.mce-window .mce-btn.mce-primary {
	color: #fff;
	background-color: #2f5984;
	border-color: #25486a
}

.mce-window .mce-btn.mce-primary:active:hover, .mce-window .mce-btn.mce-primary.active:hover,
	.open>.dropdown-toggle.mce-window .mce-btn.mce-primary:hover,
	.mce-window .mce-btn.mce-primary:active:focus, .mce-window .mce-btn.mce-primary.active:focus,
	.open>.dropdown-toggle.mce-window .mce-btn.mce-primary:focus,
	.mce-window .mce-btn.mce-primary:active.focus, .mce-window .mce-btn.mce-primary.active.focus,
	.open>.dropdown-toggle.mce-window .mce-btn.mce-primary.focus {
	color: #fff;
	background-color: #25486a;
	border-color: #142639
}

.mce-window .mce-btn.mce-primary:active, .mce-window .mce-btn.mce-primary.active,
	.open>.dropdown-toggle.mce-window .mce-btn.mce-primary {
	background-image: none
}

.mce-window .mce-btn.mce-primary.disabled:hover, .mce-window .mce-btn.mce-primary[disabled]:hover,
	fieldset[disabled] .mce-window .mce-btn.mce-primary:hover, .mce-window .mce-btn.mce-primary.disabled:focus,
	.mce-window .mce-btn.mce-primary[disabled]:focus, fieldset[disabled] .mce-window .mce-btn.mce-primary:focus,
	.mce-window .mce-btn.mce-primary.disabled.focus, .mce-window .mce-btn.mce-primary[disabled].focus,
	fieldset[disabled] .mce-window .mce-btn.mce-primary.focus {
	background-color: #3c73aa;
	border-color: #356697
}

.mce-window .mce-btn.mce-primary .badge {
	color: #3c73aa;
	background-color: #fff
}

.mce-flow-layout-item {
	margin: 0
}

.mce-container-body.mce-stack-layout .mce-toolbar-grp {
	padding-bottom: 0;
	border: 0
}

.mce-container-body.mce-stack-layout .mce-toolbar-grp .mce-btn.mce-active,
	.mce-container-body.mce-stack-layout .mce-toolbar-grp .mce-btn.mce-active:hover
	{
	background-color: #e6e6e6
}

.mce-toolbar .mce-btn-group, .mce-btn-group:not (:first-child ){
	border: 0
}

.mce-toolbar .mce-btn-group .mce-btn, .mce-btn-group:not (:first-child ) .mce-btn
	{
	border: 0;
	background: 0 0;
	padding-bottom: 2px;
	padding-top: 1px
}

.mce-toolbar .mce-btn-group .mce-btn:focus, .mce-btn-group:not (:first-child
	) .mce-btn:focus {
	background-color: #ddd;
	outline: 1px solid #00f
}

.mce-toolbar .mce-btn-group .mce-btn:hover, .mce-btn-group:not (:first-child
	) .mce-btn:hover {
	background-color: #ddd
}

.mce-panel.mce-container:not (.mce-floatpanel ):not (.mce-edit-area ){
	border-width: 0 !important
}

.mce-panel.mce-edit-area {
	border: 1px solid #ccc !important
}

.mce-btn button {
	background: 0 0
}

.mce-close {
	display: none
}

.mce-window-head .mce-title {
	font-size: 18px;
	font-weight: 500
}

.mce-floatpanel.mce-window {
	-webkit-box-shadow: 0 5px 25px -5px #000;
	box-shadow: 0 5px 25px -5px #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.mce-colorbutton:hover .mce-open {
	border-left-color: transparent;
	border-right-color: transparent
}

.mce-window-head, .mce-foot {
	border-color: #e5e5e5
}

.mce-container :not (.emoji, .mce-i-backcolor ){
	background: 0 0
}

.mce-container :not (.emoji ) .mce-menu-item:hover, .mce-container :not
	(.emoji ) .mce-menu-item.mce-selected, .mce-container :not (.emoji ) .mce-menu-item:focus
	{
	background-color: #0081c2
}

.mce-grid.mce-colorbutton-grid td.mce-grid-cell div {
	line-height: 11px
}