.flag_1 {
	color: #c00
}

.flag_2 {
	color: #017fb3
}

.flag_3 {
	color: #198819
}

.flag_4 {
	color: #777
}

.flag_5 {
	color: #7e16cf
}

.flag_6 {
	color: #92d050
}

.flag_7 {
	color: #f89406
}

.flag_8 {
	color: #e01cd9
}

.flag_9 {
	color: #62cffc
}

.flag_10 {
	color: #f8e400
}

.flag_bg_1 {
	background-color: #c00
}

.flag_bg_2 {
	background-color: #017fb3
}

.flag_bg_3 {
	background-color: #198819
}

.flag_bg_4 {
	background-color: #777
}

.flag_bg_5 {
	background-color: #7e16cf
}

.flag_bg_6 {
	background-color: #92d050
}

.flag_bg_7 {
	background-color: #f89406
}

.flag_bg_8 {
	background-color: #e01cd9
}

.flag_bg_9 {
	background-color: #62cffc
}

.flag_bg_10 {
	background-color: #f8e400
}

.flag-picker .dropdown-toggle {
	font-size: 14px
}

.flag-picker .dropdown-toggle:hover {
	text-decoration: none
}

.flag-picker .dropdown-toggle:focus i {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.flag-picker {
	float: right;
	display: inline-block;
	position: relative
}

.flag-picker .flag-example {
	display: inline-block;
	float: right;
	width: 28px;
	height: 22px;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.flag-picker .flag-dropdown {
	font-size: 22px;
	margin: 7px 0 0 14px;
	cursor: pointer;
	float: right
}

.flag-picker .flag-dropdown ul {
	font: 14px/20 "Helvetica Neue", Helvetica, Arial, sans-serif;
	right: -20px;
	left: auto;
	top: 120%;
	width: 200px
}

.flag-picker .flag-dropdown a {
	line-height: 24px;
	text-decoration: none
}

.flag-picker .flag-dropdown .flag-dropdown-icon.flag_0 {
	color: #ddd
}

.flag-picker .flag-dropdown .flag-dropdown-icon.flag_0:hover {
	color: #aaa
}

.flag-picker .flag-dropdown .flag-dropdown-icon.flag_0 {
	color: #767676
}

.flag-picker .dropdown-menu {
	right: 0;
	left: auto;
	width: 200px
}

.flag-picker .dropdown-menu a {
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}