.tokenfield.form-control {
	padding: 3px 3px 0;
	height: auto
}

.tokenfield .token {
	margin: 0 5px 3px 0;
	border-radius: 3px
}

.tokenfield .token.ui-sortable-helper {
	background-color: #fff
}

.tokenfield .token .contact-image {
	display: inline-block;
	margin: 2px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.tokenfield .token.placeholder {
	background-color: transparent;
	border: 0
}

.tokenfield.drophover {
	background-color: #eee
}

.tokenfield.drophover .token-input {
	width: 0 !important;
	background-color: #eee
}

.tokenfield .twitter-typeahead>.token-input.tt-input, .tokenfield .twitter-typeahead>.token-input.tt-hint
	{
	height: 22px;
	border: 0;
	padding: 0 5px
}

.tokenfield .twitter-typeahead>.token-input.tt-hint, .tokenfield .twitter-typeahead>.token-input.tt-input
	{
	min-width: 320px !important
}

.tokenfield .twitter-typeahead .tt-dropdown-menu {
	width: 320px;
	min-width: 320px
}

.smartphone .tokenfield .twitter-typeahead>.token-input.tt-hint,
	.smartphone .tokenfield .twitter-typeahead>.token-input.tt-input {
	min-width: inherit !important
}

.smartphone .tokenfield .twitter-typeahead .tt-dropdown-menu {
	border-radius: 0;
	border: 1px solid #fff;
	border-top-color: #ccc
}