.io-ox-dropzone-multiple-overlay {
	display: table;
	color: #333;
	background-color: rgba(0, 0, 0, .1);
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2em;
	z-index: 65000;
	height: 100%;
	width: 100%;
	border-spacing: 50px
}

.io-ox-dropzone-multiple-overlay .io-ox-dropzone-action {
	display: table-row
}

.io-ox-dropzone-multiple-overlay .io-ox-dropzone-action div {
	display: table-cell;
	vertical-align: middle;
	border: 1px dashed #aaa;
	background: #fff
}

.io-ox-dropzone-multiple-overlay .io-ox-dropzone-action div .dndignore {
	pointer-events: none
}

.io-ox-dropzone-multiple-overlay .io-ox-dropzone-action.io-ox-dropzone-hover div
	{
	border-color: #63793a;
	background-color: #afc587
}

.io-ox-dropzone-active .io-ox-dropzone-multiple-overlay {
	background-color: rgba(255, 255, 255, .6)
}

.cssfilters .io-ox-dropzone-active #io-ox-core {
	-webkit-filter: blur(20px)
}

.cssfilters .io-ox-dropzone-active .io-ox-dropzone-multiple-overlay {
	background-color: rgba(255, 255, 255, .2)
}