.group-administration {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px
}

.group-administration .classic-toolbar-container {
	position: absolute;
	top: 35px;
	width: 100%
}

.group-administration .classic-toolbar {
	border: 0;
	padding: 0
}

.group-administration .classic-toolbar>li>a {
	padding: 10px 18px
}

.settings-detail-pane .group-administration h1 {
	font-size: 22px;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
	padding-left: 18px
}

.settings-detail-pane .group-administration h2 {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 1em
}

.group-administration .below-toolbar {
	top: 90px
}

.group-administration .list-view {
	border: 1px solid #ddd
}

.group-administration .detail-pane {
	padding: 10px 30px 20px
}

.administration-group-members {
	list-style-type: none;
	padding: 0;
	margin: 0;
	min-height: 100px
}

.administration-group-members .first_name, .administration-group-members .title
	{
	color: #777
}

.administration-group-members .last_name {
	font-weight: 700
}

.administration-group-members.editable .group-member {
	padding: 7px 10px;
	border-bottom: 1px solid #ccc
}

.administration-group-members.editable .group-member:last-child {
	border-bottom: 0
}

.administration-group-members .group-member .name {
	vertical-align: middle
}

.administration-group-members .group-member .fa-user {
	display: inline-block;
	margin-right: 14px
}

.administration-group-editor {
	height: 350px
}

.administration-group-editor input[name=display_name] {
	font-weight: 700
}

.administration-group-editor label {
	font-size: 13px;
	color: #777
}

.administration-group-editor .autocomplete-item {
	padding: 7px 10px
}

.administration-group-editor .autocomplete-item .last_name {
	font-weight: 700
}