/* imports */
@import "tour/style.less";


/* default styles, former style.css */
/* TODO: split up into less separate less files for maintainability */

.ui-tooltip {
    padding: 10px 20px;
    color: black;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }

.lockTitle
{
    font-family: OpenSans,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    margin: 0 0 13px;
}

.accessdiv label
{
    padding-left:5px !important;
}

.oxguard
{
}

.selectable {
    cursor: pointer;
}

.oxguard_disable
{
color:grey;
text-decoration:line-through;
}

.oxguard_key_share
{
    color:grey;
}

.oxguard_access
{
width: 200px;
text-align:justify;
padding:5px;
}

.oxguard_access label
{
position: absolute;
}

.oxguard_info
{
    background-clip: padding-box;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 60px;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px;
    position: absolute;
    z-index: 500;
}

.oxguard_option
{
position: relative;
padding: 5px;
line-height: 24px;
}

.oxguard_password
{
position: absolute;
padding: 10px;
   background-clip: padding-box;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
top:270px;
left:30px;
z-index:100;
width:280px;
}

.oxguard_password button
{
margin: 5px;
float: right;
}

.og_file_share_table
{
    overflow: auto;
    max-height: 200px;
}

.oxguard_icon
{
  width: 24px;
  height: 24px;
  margin-left: 0.5em;
  float: right;
  display: inline;
  vertical-align: baseline;
  background-image: url("images/stock_lock_24.png");
  background-size: contain;
}

.oxguard_icon_fa
{
  margin-left: 0.5em;
  padding-right:4px;
  float: right !important;
  display: inline;
  vertical-align: baseline;
  color:#be7820;
  font-size: 1.1em !important;
}

.oxguard_icon_fa_alert
{
  margin-left: 0.5em;
  padding-right:4px;
  float: right !important;
  display: inline;
  vertical-align: baseline;
  color:#a94442;
  font-size: 1.6em !important;
}
.pgp_superscript
{
    font-size: 0.5em !important;
    position: relative;
    top: -8px;
    left: -9px;
}

.oxguard_lock
{
  color:#be7820 !important;
}

.oxguard_token
{
    padding-left: 7px;
    position: relative;
    top: -5px;
}

.oxguard_lock_p
{
  color:#be7820 !important;
  padding-right:10px;
}

.oxguard_lock_compose
{
  float:right;
  height:30px;
  margin-top:-40px;
  left:-20px;
  position:relative;
}

.oxguard_keyspace
{
    margin-right:45px;
}

.oxguard_file_lock
{
    padding-right: 5px;
}
.oxguard_lock_large
{
    font-size:2em;
}

.oxguard_options
{
    padding: 4px 4px 4px 5px !important;
}

.oxguard_settings table
{
    margin-top:15px;
}

.oxguard_settings
{
    padding-bottom:50px;
}

.oxguard_settings button
{
    margin-top:15px;
}

.oxguard_settings td
{
    padding:5px;
}

.oxguard_badpass {
    background: rgb(255,191,191);
}

.oxguard_hint_bad {
    color: rgb(255,191,191);
}

.oxguard_warnpass {
    background: rgb(255,211,131);
}

.oxguard_hint_warn {
    color: rgb(255,211,131);
}

.oxguard_goodpass {
    background: rgb(157, 255, 157);
}

.oxguard_hint_good {
    color: rgb(157, 255, 157);
}

.oxguard_signatures th
{
    padding-right:20px;
}

.oxguard_pubkeylist {
  text-align:left;
  max-width:150px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.guard_signed
{
  padding-top: 1px;
  padding-left: 3px;
}

.oxguard_passbutton
{
    margin-left:10px;
    margin-top: -3px;

}

.guardhelp
{
  padding-left: 20px;
  font-size: 15px;
}

.oxguard_file
{
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 500;
  margin-left: -30%;
  float: left;
  display: inline;
  background-image: url("images/stock_lock_24.png");
  background-size: contain;
}
.oxguard_file_fa
{
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 500;
  margin-left: -30%;
  float: left;
  display: inline;
}
.oxguard_file_detail
{
  width: 24px;
  height: 24px;
  top: 0px;
  left: -10px;
  margin-bottom: 5px;
  position: relative;
  z-index: 500;
  margin-left: 0.5em;
  float: left;
  display: inline;
  vertical-align: baseline;
  background-image: url("images/stock_lock_24.png");
  background-size: contain;
}
.oxguard_file_detail_fa
{
  width: 24px;
  height: 24px;
  top: 0px;
  left: -10px;
  margin-bottom: 5px;
  position: relative;
  z-index: 500;
  margin-left: 1em;
  float: left;
  display: inline;
  vertical-align: baseline;
}

.oxguard_key
{
    float:right;
}

.oxguard_extrapass
{
    margin: 10px;
}

.oxguard_message_label
{
    float:left;
    padding-top:20px;
}

.file_status
{
     position:relative;
     width: 300px;
     max-width: 80%;
     min-height:100px;
     z-index:500;
     top:150px;
     margin-left:auto;
     margin-right:auto;
     background-clip: padding-box;
     background-color: #eee;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 6px 6px 6px 6px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.file_status_text
{
    left: 0px;
    color: #0088cc;
}
.file_stop_button
{

}
.og_file
{
    position: absolute !important;
    top:50%;
    left:14%;
    font-size:26px !important;
    z-index:500;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.og_file_list
{
    position: absolute !important;
    top: 20px;
    left: 17px;
    z-index:500;
    font-size:24px !important;
    border:none;
    box-shadow:none;
}
.og_fa
{
    line-height:30px !important;
}
.og_file_icon
{
    border: none !important;
    line-height: 30px !important;
    background-color: transparent !important;
    height: 30px !important;
    width: 30px !important;
    font-size: 30px !important;
    padding: 0px !important;
    box-shadow: 0 0 0 !important;

}
.og_status
{
    padding-left:20px;
    color: 555;
}

.status_table td
{
    padding-left: 20px;
}

.status_table_button
{
    padding: 5px;
}

.oxguard_error
{
  padding: 15px;
  font-weight: bold;
}
.oxguard_warning
{
  font-weight: bold;
}
.og_duration
{
    margin-left:20px;
    margin-top:5px;
    width: 150px;
}
.og_wait
{
    position:absolute;
    min-width: 300px;
    max-width: 500px;
    height:25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display:none;
    z-index: 66000;
    background:#EEEEEE;
    text-align:center;
    vertical-align:middle;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.og_wait span
{
    padding:20px;
}
.og_language
{
    width: 150px;
    margin-left: 55px;
    margin-right:14px;
    float: right;
}
.og_guest_message
{
    height: 150px;
    width: 320px;
    margin: 15px;
    float: right;
    padding: 10px;
    max-width: 90%;
}
.og_new
{
    display: none;
}
.og_exp
{
    font-size: 10pt;
    color: #aa3333;
}
.og_getkey
{
    margin-left:10px;
}
.og_sharediv
{
    display:none;
    padding-left:10px;
}
.og_file_options
{
    display:none;
    border: 1px solid #aaa;
    background-color: #F9F9F9;
    padding: 10px;
    margin-top: 15px;

}
.og_file_extra {
    padding: 10px;
    padding-bottom: 15px;
}
.og_share_link {
    margin-top:10px;
}
.og_sharetable {
    margin: 10px;
    box-shadow: 2px 2px 7px #ddd;
    background-color: #f9f9f9;
    border-collapse: : collapse;
    width: 90%;
}
.og_sharetable td
{
    border: 1px solid lightgrey;
    padding: 10px;
}
.og_filelock {
    float:right;
    padding-right:10px;
}
.og_filelock_icon {
    color: #c09258 !important;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.75);
    font-size: 2.5em !important;
}
.og_share_actions {
    padding-top:10px;
}
.og_action_button {
    margin-right: 10px;
}
.og_encr_pass_div {
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    padding-top: 10px;
}
.og_password_prompt td {
    padding: 10px;
}
.og_broken {
    margin-left: -11px;
    font-size: 1.6em;
    margin-top: 5px;
    opacity: 0.3;
    color: #8d2121;
}

.og_disabled {
    background-color: #c2c2c2 !important;
    }

.guard-mail .attachment-preview {
    display: none;
    }

.pin {
    padding-left:30%;
    font-size: 3em;
    }

.keytable {
    padding-top:10px;
    overflow: auto;
    max-height: 300px;
    }


.keytable td {
    padding: 10px;
    text-align: center;
    }
.keytable th {
    padding-right: 10px;
    }
.contact-detail .keytable th {
    font-weight: normal;
    color: #aaa;
    }
.keytable tr {
    padding: 5px;
    }

.keystart {

    }

.keyend {
    font-weight:bold;
    padding-left:3px;
    }

.keyoptions {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    }

.pgpLock {
    margin-left: -16px;
    vertical-align: bottom;
    font-size: 0.6em;
    height: 20px;
    display: inline-block;
    padding-top: 16px;
    font-weight: bold;
}

.lockLeft {
    float: left;
    padding: 0px;
    pointer-events: none;
    }


.importKey {
  width: 100%;
  background-color: #eee;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}

.io-ox-dialog-popup > .modal-body > .guard-create-key {
    /* prevent overflow-x in modal dialog */
    padding: 2px;
}

.wizard-step .content p.help {
    padding-top: 1em;
}

.guardVersion {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
}
