.services-list-view .service-item {
	padding-left: 8px;
	margin-bottom: 8px;
	line-height: 32px;
	height: 32px;
	background-color: #f5f5f5
}

.services-list-view .service-item:hover {
	background-color: #ddd
}

.services-list-view .service-item .service-icon {
	margin-right: 16px;
	width: 16px
}