.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane {
	background-color: #3c73aa
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane::before {
	content: "" !important;
	display: block !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .25)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane>.float-wrapper.leading>.area-container
	{
	padding-right: 13px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane>.float-wrapper.trailing>.area-container
	{
	padding-left: 13px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar>.group-container.separator
	{
	border-left: 1px solid rgba(255, 255, 255, .1)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group div.label,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .input-wrapper
	{
	padding: 0 12px;
	border: 1px solid transparent
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) div.label, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) .button, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) .input-wrapper {
	height: 40px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) div.label, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) .button {
	line-height: 38px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 9.5px;
	vertical-align: top
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 40px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 20.5px;
	line-height: 18.5px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field div.label,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field .button,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field .input-wrapper
	{
	height: 34px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field div.label,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field .button
	{
	line-height: 32px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field i[class^=docs-]
	{
	position: relative;
	top: 6.5px;
	vertical-align: top
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 34px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 17.5px;
	line-height: 15.5px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.focused
	{
	z-index: 1
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group div.label,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group input
	{
	color: #fff
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style div.label,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style div.label i[class^=docs-],
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style div.label i[class^=docs-].retina,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.caret-button
	{
	min-width: 33px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 12px;
	pointer-events: none
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-white.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-white.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 12px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.disabled div.label>*,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.disabled .button>*,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group div.label.disabled>*,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.disabled>*,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ).selected, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.dropdown-open .button
	{
	background-color: #f8f8f8
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.disabled .button.selected,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.disabled.selected
	{
	background-color: rgba(248, 248, 248, .6)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ) .button.selected, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ) .button.selected i[class^=docs-], .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .25)
}

html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .3)
}

html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .25)
}

html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #dfdfdf
}

html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #d2d2d2
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper>input, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.combo-field>.button.caret-button,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	border-color: #568cc3;
	box-shadow: 0 0 8px 2px rgba(86, 140, 195, .6) inset
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.disabled .button:focus:not
	(:active ), .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group .button.disabled:focus:not
	(:active ){
	border-color: rgba(86, 140, 195, .75);
	box-shadow: 0 0 8px 2px rgba(86, 140, 195, .45) inset
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(86, 140, 195, .6) inset
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused:not
	(.disabled ) .button {
	border-color: #568cc3
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(86, 140, 195, .45) inset
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused.disabled .input-wrapper,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.text-field.focused.disabled .button
	{
	border-color: rgba(86, 140, 195, .75)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.tab-group .button.option-button.selected
	{
	cursor: default
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.tab-group .button.option-button.selected:hover,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane .view-component.toolbar .group.tab-group .button.option-button.selected:active
	{
	background-color: #f8f8f8 !important
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.top-pane.small-distance .view-component.toolbar .group:not
	(.text-field ) .button {
	padding: 0 7px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.status-area
	{
	position: absolute;
	top: 0;
	right: 0;
	overflow: visible
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.status-area .status-label
	{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button
	{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	background-color: #f8f8f8;
	text-align: center
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:focus,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:active
	{
	outline: 0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button.left
	{
	left: 0;
	border-right: 1px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button.right
	{
	right: 0;
	border-left: 1px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button>i
	{
	position: absolute;
	top: 40%;
	top: calc(43%);
	left: 0;
	right: 0;
	opacity: .4
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:not
	(.disabled ){
	cursor: pointer
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:not
	(.disabled ):hover {
	background-color: #f8f8f8
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:not
	(.disabled ):hover>i {
	opacity: .4
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.edit-pane>.float-wrapper.center>.scroll-button:not
	(.disabled ):active {
	background-color: #f0f0f0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane .window-search {
	background-color: #f8f8f8;
	border-bottom: 1px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane {
	border-top: 2px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .inline-popup.spell-replacement,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .inline-popup.spell-replacement
	{
	line-height: 150%;
	text-align: left
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .inline-popup.spell-replacement.touch,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .inline-popup.spell-replacement.touch
	{
	line-height: 200%;
	font-size: 16px
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 0;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 0 12px -2px #ccc inset;
	line-height: normal;
	text-align: left;
	font-size: 13px
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder i,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder i {
	min-width: 0
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder>.background-icon,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder>.background-icon
	{
	color: #e5e5e5;
	text-align: center
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder>.background-icon>i,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder>.background-icon>i
	{
	vertical-align: middle
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder>p,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder>p {
	position: relative;
	margin: 0;
	font-weight: 700;
	color: #666
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .placeholder>p
	~p, .io-ox-office-main.io-ox-office-edit-main>.app-pane .placeholder>p
	~p{
	font-weight: 400;
	margin-top: 4px;
	font-size: 85%;
	color: #333
}

.io-ox-office-main.io-ox-office-edit-main .slidePaneThumbnail>.slideContent .clipboard,
	.io-ox-office-main.io-ox-office-edit-main>.app-pane .clipboard {
	position: fixed;
	top: 110%;
	line-height: normal;
	min-width: 1px;
	min-height: 1px
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]
	{
	box-shadow: 0 0 0 1px #ccc
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]:focus,
	.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]:active
	{
	outline: 0
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]:focus,
	.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role].focused
	{
	box-shadow: 0 0 0 1px #3c73aa, 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]:before
	{
	content: attr(data-focus-role);
	position: absolute;
	top: -6px;
	height: 11px;
	left: 6px;
	z-index: 1;
	padding: 0 6px 2px;
	background-color: #ccc;
	border-radius: 7px;
	font-size: 10px;
	line-height: 100%;
	font-weight: 700;
	font-style: italic;
	color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role]:focus:before,
	.io-ox-office-main.io-ox-office-edit-main.debug-highlight [data-focus-role].focused:before
	{
	content: attr(data-focus-role) " focused";
	background-color: #3c73aa
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight>.app-pane>.app-hidden-root
	{
	top: 6px;
	height: 0;
	left: 6px;
	right: 6px;
	overflow: visible;
	z-index: 5
}

.io-ox-office-main.io-ox-office-edit-main.debug-highlight>.app-pane .clipboard
	{
	position: absolute;
	bottom: auto;
	height: auto;
	left: 0;
	right: 0;
	min-height: 30px;
	max-height: 200px;
	padding: 12px 6px 6px;
	background-color: rgba(255, 255, 255, .5)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane {
	border-top: 5px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.resizer
	{
	top: -5px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table
	{
	position: absolute;
	top: 0;
	bottom: 0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table.ops
	{
	left: 0;
	width: 70%
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table.info
	{
	right: 0;
	width: 30%
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table>div
	{
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	overflow: auto;
	background: #fff
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table>div:focus,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table>div:active
	{
	outline: 1px solid #3c73aa
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table
	{
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	font-size: 9pt;
	line-height: normal;
	white-space: nowrap;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table>tbody>tr.external
	{
	background: #f2f2ff
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table>tbody>tr.removed
	{
	background: orange !important
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table>tbody>tr.error>td
	{
	font-weight: 700;
	color: red
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table th,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table td
	{
	border: 1px solid #e0e0e0;
	padding: 1px 2px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table th,
	.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table td:first-child
	{
	background-color: #f8f8f8;
	color: #666
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table th
	{
	text-align: left;
	font-weight: 700
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table td:first-child
	{
	text-align: right
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table table tr:hover>td
	{
	background-color: rgba(248, 248, 248, .5)
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table [data-attributes-tooltip]
	{
	color: #00f;
	cursor: pointer
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.operations-pane>.debug-table [data-attributes-tooltip]:hover
	{
	text-decoration: underline
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.clipboard-pane {
	padding: 1px;
	border-top: 5px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.clipboard-pane>.resizer
	{
	top: -5px
}

.io-ox-office-main.io-ox-office-edit-main>.view-pane.clipboard-pane>.clip-container
	{
	width: 100%;
	height: 100%;
	overflow: auto;
	border: 1px solid #e0e0e0;
	font-size: 9pt;
	line-height: normal;
	white-space: nowrap;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.io-ox-office-main .group.text-field.file-name input {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: 400;
	opacity: 1 !important
}

.io-ox-office-main .group.text-field.file-name .busy-overlay {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 17px;
	right: 7px
}

.io-ox-office-main .group .button>.color-preview-box {
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 1px;
	height: 5px;
	background: 0 0;
	border: 1px solid rgba(0, 0, 0, .1);
	max-width: 30px
}

.io-ox-office-main .group .button>.caption>img.border-style-box {
	display: inline-block;
	margin-right: 5px
}

.io-ox-office-main .group.app-status-label div.label {
	opacity: .6
}

.io-ox-office-main .group.app-status-label div.label.hideLabel .caption>span
	{
	display: none
}

.io-ox-office-main .group.app-status-label div.label .caption>i {
	position: absolute;
	left: 0;
	top: 12px
}

.io-ox-office-main .group.app-status-label div.label .caption>span {
	display: inline-block;
	margin-left: 13px;
	line-height: normal;
	font-size: 90%;
	white-space: normal;
	vertical-align: middle
}

.io-ox-office-main.popup-container.popup-menu .button.mini-caption>.caption
	{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	line-height: normal;
	white-space: normal;
	font-size: 9px;
	font-weight: 700;
	color: rgba(51, 51, 51, .7)
}

.io-ox-office-main.popup-container.popup-menu.vertical-list.drop-down .drop-down
	{
	display: inline-block
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component
	{
	padding: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container
	{
	clear: both;
	float: left;
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container:not
	(.hidden )~.group-container {
	margin-left: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container:not
	(.hidden )~.group-container.separator {
	padding-left: 0;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container:not
	(.hidden )~.group-container.separator.noVerticalSeparator {
	border-top: 0;
	padding-top: 0;
	margin-top: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group
	{
	padding: 0;
	float: left;
	clear: both;
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group:not
	(.combo-field ):not (.dropdown-group )>* {
	float: left;
	clear: both
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.dropdown-group
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.dropdown-group .button
	{
	-ms-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	flex: 1
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.dropdown-group .button
	~.caret-button {
	-ms-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	flex: 0;
	min-width: 35px;
	width: auto;
	padding: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.combo-field
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.combo-field .input-wrapper
	{
	-ms-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	flex: 1
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.combo-field .button
	{
	-ms-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	flex: 0;
	width: 35px;
	padding: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.combo-field .button .caret-node
	{
	width: 35px
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group.text-field.dropdown-group.combo-field
	{
	margin-left: 9px;
	width: 87%
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group>*
	{
	padding: 0 13px
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group .button
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group .button.caret-button
	{
	padding-right: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group .button.caret-button .caption
	{
	-ms-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	flex: 1;
	padding: 0
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group .button.caret-button .caret-node
	{
	-ms-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	flex: 0;
	min-width: 35px;
	position: relative;
	right: auto;
	text-align: center
}

.io-ox-office-main.popup-container.popup-menu.vertical-list>.popup-content>.view-component .group-container .group .button>.color-preview-box
	{
	width: 35px;
	max-width: 35px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button
	{
	height: auto;
	padding: 1px;
	line-height: 0
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button:before,
	.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button:after
	{
	content: " ";
	display: table
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button:after
	{
	clear: both
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button>.color-button
	{
	width: 24px;
	height: 24px;
	float: left;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px
}

html.smartphone .io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button>.color-button
	{
	width: 41px;
	height: 41px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button>.caption
	{
	line-height: 24px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button>.caption>:first-child
	{
	margin-left: 6px
}

html.smartphone .io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .section-container .button>.caption
	{
	line-height: 41px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .group.color-slider-container
	{
	height: 65px;
	position: relative;
	margin-top: 20px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .group.color-slider-container .color-slider
	{
	width: 280px;
	height: 60px;
	margin-left: 12px
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .group.color-slider-container .color-slider-field
	{
	width: 28px;
	height: 45px;
	float: left;
	pointer-events: none
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .group.color-slider-container .color-slider-handle
	{
	opacity: .7;
	width: 48px;
	height: 65px;
	position: absolute;
	top: -10px;
	border: 10px solid #000
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].color-picker .group.color-slider-container .color-slider-handle.transition
	{
	transition: left .3s
}

.io-ox-office-main.popup-container.popup-menu.list-menu[data-design].language-picker .section-container .button>.caption i
	{
	text-align: left
}

.io-ox-office-main.popup-container.popup-menu.table-size-picker {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-main.popup-container.popup-menu.table-size-picker .button
	{
	display: inline-block;
	position: relative;
	float: none;
	width: auto;
	height: auto;
	margin: 0;
	padding: 3px;
	background: 0 0;
	border: 0;
	vertical-align: top;
	font-size: 1px;
	line-height: 1px
}

.io-ox-office-main.popup-container.popup-menu.table-size-picker .button>.caption
	{
	display: none
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge
	{
	display: table;
	padding: 5px 10px;
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>*
	{
	display: table-cell;
	vertical-align: middle
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge+.group.user-badge
	{
	border-top: 1px solid #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-name
	{
	line-height: 1.5em;
	text-align: left;
	padding-left: 10px
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-name .user-name
	{
	display: block;
	width: 150px;
	padding-right: 5px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status
	{
	position: relative;
	width: 32px;
	padding: 3px;
	text-align: center
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status>div
	{
	width: 26px;
	height: 26px;
	border: 1px solid transparent;
	line-height: 24px
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status>div i
	{
	font-size: 16px;
	opacity: .7
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-1>div
	{
	background-color: rgba(248, 147, 6, .1);
	border-color: rgba(248, 147, 6, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-2>div
	{
	background-color: rgba(0, 160, 224, .1);
	border-color: rgba(0, 160, 224, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-3>div
	{
	background-color: rgba(148, 193, 0, .1);
	border-color: rgba(148, 193, 0, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-4>div
	{
	background-color: rgba(233, 57, 142, .1);
	border-color: rgba(233, 57, 142, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-5>div
	{
	background-color: rgba(10, 193, 117, .1);
	border-color: rgba(10, 193, 117, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-6>div
	{
	background-color: rgba(240, 94, 75, .1);
	border-color: rgba(240, 94, 75, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-7>div
	{
	background-color: rgba(201, 192, 22, .1);
	border-color: rgba(201, 192, 22, .3)
}

.io-ox-office-main.popup-container.popup-menu .view-component>.group.user-badge>.user-status.user-8>div
	{
	background-color: rgba(144, 109, 247, .1);
	border-color: rgba(144, 109, 247, .3)
}

html[lang=zh] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption,
	html[lang=ja] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption,
	html[lang=ko] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption
	{
	font-size: 13px;
	min-height: 13px
}

html[lang=zh] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption>span,
	html[lang=ja] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption>span,
	html[lang=ko] .io-ox-office-main.popup-container.popup-menu.chart-type-picker .button.mini-caption>.caption>span
	{
	text-overflow: ellipsis;
	white-space: nowrap
}