.portal-context-menu .popup-content .section-container .header-label,
	.portal-context-menu .popup-content .group .header-label {
	padding-left: 13px !important;
	padding-top: 5px !important;
	padding-bottom: 0 !important;
	color: #999;
	font-size: 12px;
	line-height: 21px
}

.portal-context-menu .popup-content .section-container .button,
	.portal-context-menu .popup-content .group .button {
	font-size: 14px;
	height: 29px !important;
	line-height: 28px !important
}

.io-ox-office-portal-main .window-body {
	-webkit-overflow-scrolling: touch
}

.io-ox-office-portal-main .window-body .office-portal-toolbar {
	height: 45px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	white-space: nowrap
}

.io-ox-office-portal-main .window-body .office-portal-toolbar a {
	display: inline-block;
	padding: 12px 20px;
	text-overflow: ellipsis;
	max-width: 50%;
	overflow: hidden
}

.io-ox-office-portal-main .window-body .office-portal-toolbar a:hover {
	color: #2a6496;
	text-decoration: none
}

.io-ox-office-portal-main .window-body .office-portal-toolbar a:focus,
	.io-ox-office-portal-main .window-body .office-portal-toolbar a:active
	{
	color: #2a6496;
	text-decoration: none;
	background-color: #eee;
	outline: 0
}

.io-ox-office-portal-main .window-content {
	overflow: hidden;
	top: 45px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

@media ( max-width :1024px) {
	.io-ox-office-portal-main .window-content {
		overflow: auto
	}
}

.io-ox-office-portal-main .window-content h2 {
	color: #999;
	margin: 20px 15px
}

@media ( max-width :1024px) {
	.io-ox-office-portal-main .window-content h2 {
		margin: 15px;
		font-size: 22px
	}
}

.io-ox-office-portal-main .window-content div.tooltip-inner {
	padding: 5px 10px;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis
}

.io-ox-office-portal-main .window-content .tooltip.top .tooltip-arrow {
	border-width: 6px 5px 0
}

.io-ox-office-portal-main .window-content .office-portal-recents {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: none;
	border-right: 1px solid #eee;
	width: 360px;
	background-color: #fafafa;
	padding-top: 10px
}

@media ( max-width :768px) {
	.io-ox-office-portal-main .window-content .office-portal-recents {
		position: relative;
		width: 100%;
		background-color: #fff
	}
}

.io-ox-office-portal-main .window-content .office-portal-recents div.tooltip-inner
	{
	text-align: left;
	white-space: nowrap;
	line-height: 1.5em
}

.io-ox-office-portal-main .window-content .office-portal-recents div.tooltip-inner .tooltip-filepath
	{
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis
}

.io-ox-office-portal-main .window-content .office-portal-recents div.tooltip-inner .tooltip-filepath .breadcrumb-divider
	{
	margin: 0 4px;
	width: 4px;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list
	{
	position: relative
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link
	{
	padding: 7px 0;
	margin: 0;
	display: block;
	cursor: pointer;
	-webkit-touch-callout: none
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name
	{
	padding-right: 0
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-icon
	{
	margin-right: 10px;
	float: left;
	text-align: center;
	font-size: 28px;
	margin-top: 2px
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-icon.text::before
	{
	color: #376cb8
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-icon.spreadsheet::before
	{
	color: #2fb145
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-icon.presentation::before
	{
	color: #ed4d21
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name:hover
	{
	text-decoration: none
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-filename
	{
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	padding-right: 10px;
	font-size: 13px
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-path
	{
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
	padding-right: 10px;
	font-size: 10px
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-name .document-path .divider
	{
	margin: 0 3px;
	width: 3px;
	text-align: center;
	font-family: FontAwesome
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link .document-date
	{
	color: #aaa;
	text-align: right;
	padding-left: 0;
	font-size: 13px
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link:focus,
	.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .permanent-hover
	{
	background-color: #ddd !important;
	outline: 0
}

.io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link:hover
	{
	background-color: #ddd;
	outline: 0
}

html.android .io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link:hover,
	html.ios .io-ox-office-portal-main .window-content .office-portal-recents .office-portal-recents-list .document-link:hover
	{
	background-color: rgba(0, 0, 0, 0)
}

.io-ox-office-portal-main .window-content .office-portal-templates {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 360px;
	overflow: auto;
	padding: 10px 0 0 40px
}

@media ( max-width :768px) {
	.io-ox-office-portal-main .window-content .office-portal-templates {
		position: relative;
		width: 100%;
		left: 0;
		padding: 10px 0 0;
		background-color: #fff
	}
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper
	{
	margin-bottom: 20px
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item
	{
	display: inline-block;
	width: 150px;
	height: 200px;
	margin: 0 10px 10px 0;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	-webkit-touch-callout: none
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation
	{
	width: 200px;
	height: 140px
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item .permanent-hover
	{
	box-shadow: 0 0 0 3px #ddd !important
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item .template-name
	{
	font-size: 13px;
	text-align: center;
	margin: 10px 0;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item>.preview-box
	{
	text-align: center;
	margin: 0 auto
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item>.preview-box .fa
	{
	color: gray;
	font-size: 150%
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item>.preview-box .fa-plus
	{
	color: #3c73aa;
	font-size: 200%
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box {
	width: 120px;
	height: 160px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	line-height: 160px;
	overflow: hidden;
	background-color: #fff
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box img {
	vertical-align: top
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box.new-blank {
	background-color: #fff
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box:hover {
	box-shadow: 0 0 0 3px #ddd
}

html.android .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box:hover, html.ios .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:not
	(.presentation )>.preview-box:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box
	{
	width: 100%;
	height: 102px;
	line-height: 100px
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box img
	{
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	vertical-align: middle
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box img:hover
	{
	box-shadow: 0 0 0 3px #ddd
}

html.android .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box img:hover,
	html.ios .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box img:hover
	{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box.new-blank:hover
	{
	box-shadow: 0 0 0 3px #ddd
}

html.android .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box.new-blank:hover,
	html.ios .io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box.new-blank:hover
	{
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box .fa-plus
	{
	padding-top: 38px
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item.presentation>.preview-box.new-blank
	{
	background-color: #fff;
	width: 180px;
	height: 102px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:hover
	{
	text-decoration: none
}

.io-ox-office-portal-main .window-content .office-portal-templates .template-type-wrapper .template-item:focus
	{
	background-color: #ddd;
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 3px #ddd
}

.io-ox-office-portal-main .window-content .office-portal-notification {
	padding: 10px 20px;
	color: #333
}

