.io-ox-office-custom-sort-dialog {
	overflow: visible !important;
	min-width: 350px
}

.io-ox-office-custom-sort-dialog .modal-body {
	overflow: visible !important;
	min-width: 350px
}

.io-ox-office-custom-sort-dialog hr {
	box-sizing: border-box;
	display: block;
	margin: 5px 13px
}

.io-ox-office-custom-sort-dialog a {
	padding-left: 2px;
	padding-right: 2px
}

.io-ox-office-custom-sort-dialog a:focus {
	outline-offset: 0
}

.io-ox-office-custom-sort-dialog .check-box {
	padding: 5px 13px;
	color: #333;
	text-decoration: none
}

.io-ox-office-custom-sort-dialog .check-box .button {
	font-size: 13px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
	position: relative
}

.io-ox-office-custom-sort-dialog .check-box .button:hover {
	color: #333;
	text-decoration: none
}

.io-ox-office-custom-sort-dialog .check-box .button .check-mark {
	color: #333;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2px
}

.io-ox-office-custom-sort-dialog .check-box .button .caption {
	padding-left: 18px
}

.io-ox-office-custom-sort-dialog .dropdown-link {
	padding: 5px 13px
}

.io-ox-office-custom-sort-dialog .dropdown-link label span {
	color: #333
}

.io-ox-office-custom-sort-dialog .dropdown-link .dropdown {
	margin-left: 5px
}

.io-ox-office-custom-sort-dialog .rule-collection {
	padding: 5px 13px
}

.io-ox-office-custom-sort-dialog .rule-collection span {
	display: inline-block;
	width: 50%
}

.io-ox-office-custom-sort-dialog .rule-collection span i {
	margin-right: 5px;
	float: left
}

.io-ox-office-custom-sort-dialog .rule-collection span a {
	float: left;
	max-width: 85%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	white-space: nowrap
}

.io-ox-office-custom-sort-dialog .rule-collection span+span {
	width: 40%
}

.io-ox-office-custom-sort-dialog .rule-collection>div>span+span+a.trash
	{
	color: #333;
	width: 10%;
	float: right
}

.io-ox-office-custom-sort-dialog .rule-collection>div {
	margin-top: 10px;
	margin-bottom: 10px
}

.io-ox-office-custom-sort-dialog .rule-collection ul.dropdown-menu {
	max-width: 100%
}

.io-ox-office-custom-sort-dialog .rule-collection ul.dropdown-menu li a
	{
	max-width: 100%;
	width: 100%
}

.io-ox-office-custom-sort-dialog .btnHolder {
	box-sizing: border-box;
	display: block;
	padding: 5px 13px
}

.io-ox-office-custom-sort-dialog .btnHolder .newSortRuleBtn {
	text-decoration: none
}

.io-ox-office-custom-sort-dialog .btnHolder .newSortRuleBtn:hover {
	text-decoration: none
}

.io-ox-office-custom-sort-dialog .btnHolder .newSortRuleBtn.disabled {
	cursor: default !important;
	color: #b0b0b0;
	text-decoration: none
}