.io-ox-office-spreadsheet-function-dialog {
	height: 360px;
	font-size: 13px;
	overflow-y: visible !important
}

.browser-safari .io-ox-office-spreadsheet-function-dialog.mobile>.list>.control
	{
	height: 50px
}

.io-ox-office-spreadsheet-function-dialog:not (.mobile )>.list,
	.io-ox-office-spreadsheet-function-dialog.mobile.landscape>.list {
	float: left;
	width: 40%;
	height: 100%
}

.io-ox-office-spreadsheet-function-dialog:not (.mobile )>.desc,
	.io-ox-office-spreadsheet-function-dialog.mobile.landscape>.desc {
	float: left;
	width: 60%;
	height: 100%;
	padding: 10px 0 0 26px
}

.io-ox-office-spreadsheet-function-dialog.mobile.portrait>.list {
	float: left;
	width: 100%;
	height: 50%
}

.io-ox-office-spreadsheet-function-dialog.mobile.portrait>.desc {
	float: left;
	width: 100%;
	height: 50%;
	padding: 0
}

.io-ox-office-spreadsheet-function-dialog>.list .control {
	width: 100%;
	padding-bottom: 5px
}

.io-ox-office-spreadsheet-function-dialog>.list .control label {
	color: #767676;
	font-weight: 700
}

.io-ox-office-spreadsheet-function-dialog>.list .control label+.dropdown,
	.io-ox-office-spreadsheet-function-dialog>.list .control .dropdown+label
	{
	margin-left: 6px
}

.io-ox-office-spreadsheet-function-dialog>.list ul.categories {
	border-color: #e0e0e0
}

.io-ox-office-spreadsheet-function-dialog>.list ul.categories li:first-child
	{
	border-bottom: 1px solid #e0e0e0
}

.io-ox-office-spreadsheet-function-dialog>.list ul.categories a {
	padding: 1px 13px
}

.io-ox-office-spreadsheet-function-dialog>.list ul.categories .selected
	{
	background-color: #8eb3d7
}

.io-ox-office-spreadsheet-function-dialog>.list .control.functions select
	{
	width: 100%;
	border: 1px solid #e0e0e0;
	color: #333
}

.io-ox-office-spreadsheet-function-dialog>.list .control.functions select option
	{
	padding: 3px 8px
}

.io-ox-office-spreadsheet-function-dialog>.desc {
	overflow-y: auto
}

.io-ox-office-spreadsheet-function-dialog>.desc p,
	.io-ox-office-spreadsheet-function-dialog>.desc li {
	margin: 5px 0
}

.io-ox-office-spreadsheet-function-dialog>.desc p.desc-title {
	margin-top: 10px
}

.io-ox-office-spreadsheet-function-dialog>.desc p.desc-title.main {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 150%;
	font-weight: 700
}

.io-ox-office-spreadsheet-function-dialog>.desc p.desc-title.sub {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: 700
}

.io-ox-office-spreadsheet-function-dialog>.desc ul.desc-params {
	margin: 0;
	padding: 0 0 0 20px
}

.io-ox-office-spreadsheet-function-dialog>.desc ul.desc-params>li span:first-child
	{
	font-weight: 700
}

.io-ox-office-spreadsheet-function-dialog>.desc ul.desc-params>li span+span
	{
	margin-left: 6px
}