.io-ox-office-spreadsheet-reorder-dialog .dialog-ordersheets-holder {
	width: 225px;
	max-height: 200px;
	overflow-y: auto
}

.io-ox-office-spreadsheet-reorder-dialog .dialog-ordersheets-list {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	padding: 10px 0 15px;
	vertical-align: top;
	text-align: left
}

.io-ox-office-spreadsheet-reorder-dialog .dialog-ordersheets-control {
	position: absolute;
	top: 50%;
	bottom: 50%;
	right: 12px;
	margin-top: -30px
}

.io-ox-office-spreadsheet-reorder-dialog .dialog-ordersheets-list>* {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-height: 3em;
	margin-bottom: 7px;
	padding: .5em;
	overflow: hidden;
	background-color: #eee;
	border: 1px transparent;
	border-radius: 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer
}

.io-ox-office-spreadsheet-reorder-dialog .dialog-ordersheets-list>.btn-primary
	{
	background-image: linear-gradient(to bottom, #08c, #069)
}