.mce-content-body.editable {
	outline: 0;
	border-radius: 3px
}

.io-ox-signature-edit {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	background: #fff;
	border: 1px solid #ccc;
	padding: 13px
}

.io-ox-signature-edit:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.io-ox-signature-import {
	padding: 0;
	margin-top: 10px
}

.io-ox-signature-import li {
	list-style-type: none;
	background-color: #f5f5f5;
	margin-top: 8px;
	padding: 8px
}

.io-ox-signature-import li div {
	margin: 2px
}

.io-ox-signature-import li .signature-name {
	display: inline-block;
	font-weight: 700
}

.io-ox-signature-import li .signature-preview {
	margin-top: 10px;
	color: #666;
	font-size: 13px;
	line-height: 18px;
	max-height: 144px;
	overflow: hidden
}

.io-ox-signature-settings .radio label {
	width: 100%
}

.io-ox-signature-settings .signature-preview {
	width: 100%;
	color: #aaa;
	padding-top: 0;
	padding-right: 40px;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer
}

.io-ox-signature-settings .signature-preview>div {
	overflow: hidden;
	max-height: 153px
}

input.error {
	border-color: #b94a48
}

.io-ox-signature-dialog .form-group {
	position: relative
}

.io-ox-signature-dialog .form-group .editable-toolbar .mce-tinymce {
	background-color: transparent
}

.io-ox-signature-dialog .form-group .editable-toolbar .mce-tinymce .mce-toolbar-grp
	{
	background-color: transparent
}

.io-ox-signature-dialog .form-group .editable-toolbar .mce-tinymce .mce-edit-area
	{
	border-color: transparent !important
}