/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../definitions";

/* ========================================================================= */
/* debug console emulation in a DOM container                                */
/* ========================================================================= */

#io-ox-office-console {
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 40%;
    z-index: 60000;
    overflow: hidden;
    background-color: fade(white, 90%);
    border: 1px solid @text-color;
    border-radius: @popup-border-radius;
    .drop-shadow();
    .user-select(text);

    > .output {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 42px;
        overflow: auto;
        > p {
            min-height: 12px;
            margin: 0;
            padding: 1px 5px;
            border-bottom: 1px solid #ccc;
            font-family: monospace;
            font-size: 10px;
            line-height: 12px;
            color: @text-color;
            word-wrap: break-word;
            > i { width: 12px; text-align: center; }
            > :not(:first-child) { margin-left: 5px; }
            &.info { background-color: fade(blue, 5%); > i { color: blue; } }
            &.warn { background-color: fade(yellow, 5%); > i { color: #f90; } }
            &.error { background-color: fade(red, 5%); > i { color: red; } }
            > span.hover { color: blue; &:hover { text-decoration: underline; } }
        }
        &:not(.show-time) > p > span.time { display: none; }
    }

    > table.buttons {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 40px;
        table-layout: fixed;
        border-collapse: collapse;

        td {
            border-top: 1px solid @text-color;
            cursor: pointer;
            line-height: 40px;
            text-align: center;
            white-space: nowrap;
            &:hover { background-color: #eee; }
            > i { width: 18px; padding-right: 3px; text-align: left; }
        }
    }

    > i {
        position: absolute;
        display: none;
    }

    &.collapsed {
        top: 50%;
        left: -20px;
        width: 40px;
        height: 40px;
        margin-top: -10px;
        border-radius: 50%;
        background-color: fade(yellow, 50%);
        cursor: pointer;
        > * { display: none; }
        > i { display: block; right: 6px; top: 12px; }
    }
}
