.upsell-wizard-container {
	width: 800px;
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.upsell-wizard-container * {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.upsell-wizard-container .upsell-product-choice {
	box-sizing: border-box;
	display: block;
	height: 400px;
	overflow-y: scroll;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	border-right: 2px solid #ccc
}

.upsell-wizard-container .upsell-shopping-cart {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	height: 200px;
	width: 300px;
	padding: 0 10px
}

.upsell-wizard-container .upsell-product-details {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 200px;
	padding: 0 13px;
	height: 400px;
	width: 680px;
	overflow-x: hidden;
	overflow-y: scroll
}

.upsell-wizard-container .upsell-product-choice .upsell-product input {
	display: inline-block;
	float: left;
	margin-right: .5em
}

.upsell-wizard-container .upsell-product-choice .upsell-product label {
	display: inline-block
}

.upsell-wizard-container .upsell-product-choice .upsell-product-image {
	width: 80px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: auto
}

.upsell-wizard-container .upsell-product-choice .upsell-product-price {
	display: block
}

.upsell-wizard-container .upsell-product-choice .upsell-product {
	margin-bottom: 18px
}

.upsell-wizard-container .upsell-shopping-cart .fa-shopping-cart.fa-2x {
	display: inline-block;
	padding: 0 .25em .25em 0
}

.upsell-wizard-container .upsell-shopping-cart .title {
	font-weight: 700
}

.upsell-wizard-container .upsell-product-details .upsell-product-image {
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0
}

.upsell-wizard-container .upsell-product-details .upsell-product-name {
	font-weight: 700
}

.upsell-wizard-container .upsell-product-details .filler {
	width: 100%;
	overflow: hidden;
	padding-top: 40%;
	text-align: center;
	font-style: italic
}

.upsell-wizard-container .upsell-shopping-cart-review {
	margin: 13px
}

.upsell-wizard-container .upsell-shopping-cart-review .upsell-product-price
	{
	text-align: right
}

.upsell-wizard-container .upsell-shopping-cart-review .upsell-total {
	font-weight: 700
}

.upsell-wizard-container .upsell-shopping-cart-review td {
	padding: 0 .25em
}

.upsell-wizard-container .upsell-disclaimer {
	padding: 13px;
	font-size: 90%
}

.upsell-wizard-container .upsell-activation {
	padding: 13px
}

.upsell-wizard-container .modal-body {
	padding: 0;
	height: 400px;
	padding-left: 5px
}

.upsell-wizard-container .btn.wizard-close {
	float: left
}