.io-ox-portal {
	padding: 16px 0 16px 16px;
	overflow: auto
}

.io-ox-portal .header {
	margin: 0 16px 16px 0;
	min-height: 32px
}

.ios .io-ox-portal .header {
	-webkit-overflow-scrolling: initial
}

.io-ox-portal h1.greeting {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #333;
	margin: 0
}

.io-ox-portal .greeting-phrase {
	margin: 0 16px 0 0
}

.io-ox-portal .signin {
	font-size: 13px;
	color: #555;
	white-space: nowrap
}

.io-ox-portal .widgets {
	clear: both;
	min-height: 200px;
	list-style-type: none;
	margin: 0;
	padding: 0
}

.io-ox-portal .widget {
	outline: 0;
	position: relative;
	display: inline-block;
	width: 300px;
	height: 356px;
	border-width: 0 16px 16px 0;
	border-style: solid;
	border-color: transparent;
	float: left;
	background-clip: padding-box;
	overflow: hidden;
	-webkit-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	transition: background-color .3s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-portal .widget .decoration {
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: solid transparent 1px;
	background-color: #f5f5f5
}

.io-ox-portal .widget .decoration .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
	display: inline-block;
	font-size: 16px;
	font-weight: 400
}

.io-ox-portal .widget:focus .decoration {
	background-color: #dcdcdc
}

.io-ox-portal .widget.ui-sortable-helper {
	background-color: #eee
}

.io-ox-portal .widget .new-item {
	position: relative;
	font-size: 10px;
	bottom: 2px;
	margin-right: 4px;
	text-decoration: none
}

.io-ox-portal .widget.inverse {
	color: #fff;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .7) inset
}

.io-ox-portal .widget.inverse h2 {
	font-weight: 200
}

.io-ox-portal .widget.inverse h2, .io-ox-portal .widget.inverse .accent
	{
	color: rgba(255, 255, 255, .7)
}

.io-ox-portal .widget.inverse .content .gray {
	color: rgba(255, 255, 255, .9)
}

.io-ox-portal .widget.inverse .action {
	color: #fff
}

.io-ox-portal .widget.inverse:hover {
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, .7) inset
}

.io-ox-portal .widget.widget-color-black h2, .io-ox-portal .widget.widget-color-black .accent
	{
	color: #333
}

.io-ox-portal .widget.widget-color-black .action {
	background-color: #333
}

.io-ox-portal .widget.widget-color-black.inverse {
	background-color: #333
}

.io-ox-portal .widget.widget-color-black.inverse h2, .io-ox-portal .widget.widget-color-black.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-black.inverse .decoration {
	background-color: #333
}

html.high-contrast .io-ox-portal .widget.widget-color-black h2, html.high-contrast .io-ox-portal .widget.widget-color-black .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-black .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-black.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-red h2, .io-ox-portal .widget.widget-color-red .accent
	{
	color: #e30000
}

.io-ox-portal .widget.widget-color-red .action {
	background-color: #e30000
}

.io-ox-portal .widget.widget-color-red.inverse {
	background-color: #e30000
}

.io-ox-portal .widget.widget-color-red.inverse h2, .io-ox-portal .widget.widget-color-red.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-red.inverse .decoration {
	background-color: #e30000
}

html.high-contrast .io-ox-portal .widget.widget-color-red h2, html.high-contrast .io-ox-portal .widget.widget-color-red .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-red .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-red.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-orange h2, .io-ox-portal .widget.widget-color-orange .accent
	{
	color: #ce3c00
}

.io-ox-portal .widget.widget-color-orange .action {
	background-color: #ce3c00
}

.io-ox-portal .widget.widget-color-orange.inverse {
	background-color: #ce3c00
}

.io-ox-portal .widget.widget-color-orange.inverse h2, .io-ox-portal .widget.widget-color-orange.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-orange.inverse .decoration {
	background-color: #ce3c00
}

html.high-contrast .io-ox-portal .widget.widget-color-orange h2, html.high-contrast .io-ox-portal .widget.widget-color-orange .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-orange .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-orange.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-lightgreen h2, .io-ox-portal .widget.widget-color-lightgreen .accent
	{
	color: #4f7a21
}

.io-ox-portal .widget.widget-color-lightgreen .action {
	background-color: #4f7a21
}

.io-ox-portal .widget.widget-color-lightgreen.inverse {
	background-color: #4f7a21
}

.io-ox-portal .widget.widget-color-lightgreen.inverse h2, .io-ox-portal .widget.widget-color-lightgreen.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-lightgreen.inverse .decoration {
	background-color: #4f7a21
}

html.high-contrast .io-ox-portal .widget.widget-color-lightgreen h2,
	html.high-contrast .io-ox-portal .widget.widget-color-lightgreen .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-lightgreen .action
	{
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-lightgreen.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-green h2, .io-ox-portal .widget.widget-color-green .accent
	{
	color: #177f17
}

.io-ox-portal .widget.widget-color-green .action {
	background-color: #177f17
}

.io-ox-portal .widget.widget-color-green.inverse {
	background-color: #177f17
}

.io-ox-portal .widget.widget-color-green.inverse h2, .io-ox-portal .widget.widget-color-green.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-green.inverse .decoration {
	background-color: #177f17
}

html.high-contrast .io-ox-portal .widget.widget-color-green h2, html.high-contrast .io-ox-portal .widget.widget-color-green .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-green .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-green.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-lightblue h2, .io-ox-portal .widget.widget-color-lightblue .accent
	{
	color: #0375a4
}

.io-ox-portal .widget.widget-color-lightblue .action {
	background-color: #0375a4
}

.io-ox-portal .widget.widget-color-lightblue.inverse {
	background-color: #0375a4
}

.io-ox-portal .widget.widget-color-lightblue.inverse h2, .io-ox-portal .widget.widget-color-lightblue.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-lightblue.inverse .decoration {
	background-color: #0375a4
}

html.high-contrast .io-ox-portal .widget.widget-color-lightblue h2, html.high-contrast .io-ox-portal .widget.widget-color-lightblue .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-lightblue .action
	{
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-lightblue.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-blue h2, .io-ox-portal .widget.widget-color-blue .accent
	{
	color: #01628a
}

.io-ox-portal .widget.widget-color-blue .action {
	background-color: #01628a
}

.io-ox-portal .widget.widget-color-blue.inverse {
	background-color: #01628a
}

.io-ox-portal .widget.widget-color-blue.inverse h2, .io-ox-portal .widget.widget-color-blue.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-blue.inverse .decoration {
	background-color: #01628a
}

html.high-contrast .io-ox-portal .widget.widget-color-blue h2, html.high-contrast .io-ox-portal .widget.widget-color-blue .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-blue .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-blue.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-purple h2, .io-ox-portal .widget.widget-color-purple .accent
	{
	color: #7e16cf
}

.io-ox-portal .widget.widget-color-purple .action {
	background-color: #7e16cf
}

.io-ox-portal .widget.widget-color-purple.inverse {
	background-color: #7e16cf
}

.io-ox-portal .widget.widget-color-purple.inverse h2, .io-ox-portal .widget.widget-color-purple.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-purple.inverse .decoration {
	background-color: #7e16cf
}

html.high-contrast .io-ox-portal .widget.widget-color-purple h2, html.high-contrast .io-ox-portal .widget.widget-color-purple .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-purple .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-purple.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-pink h2, .io-ox-portal .widget.widget-color-pink .accent
	{
	color: #b316ad
}

.io-ox-portal .widget.widget-color-pink .action {
	background-color: #b316ad
}

.io-ox-portal .widget.widget-color-pink.inverse {
	background-color: #b316ad
}

.io-ox-portal .widget.widget-color-pink.inverse h2, .io-ox-portal .widget.widget-color-pink.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-pink.inverse .decoration {
	background-color: #b316ad
}

html.high-contrast .io-ox-portal .widget.widget-color-pink h2, html.high-contrast .io-ox-portal .widget.widget-color-pink .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-pink .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-pink.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-gray h2, .io-ox-portal .widget.widget-color-gray .accent
	{
	color: #5e5e5e
}

.io-ox-portal .widget.widget-color-gray .action {
	background-color: #5e5e5e
}

.io-ox-portal .widget.widget-color-gray.inverse {
	background-color: #5e5e5e
}

.io-ox-portal .widget.widget-color-gray.inverse h2, .io-ox-portal .widget.widget-color-gray.inverse .accent
	{
	color: #fff
}

.io-ox-portal .widget.widget-color-gray.inverse .decoration {
	background-color: #5e5e5e
}

html.high-contrast .io-ox-portal .widget.widget-color-gray h2, html.high-contrast .io-ox-portal .widget.widget-color-gray .accent
	{
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-gray .action {
	color: #fff;
	background-color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-gray.inverse .decoration
	{
	background-color: #000
}

.io-ox-portal .widget.widget-color-custom {
	color: #fff
}

.io-ox-portal .widget.widget-color-custom h2 {
	color: #fff
}

.io-ox-portal .widget.widget-color-custom .accent {
	color: rgba(255, 255, 255, .5)
}

.io-ox-portal .widget.widget-color-custom .action {
	background-color: rgba(0, 0, 0, .25)
}

.io-ox-portal .widget.widget-color-custom .action:hover, .io-ox-portal .widget.widget-color-custom .action:focus
	{
	background-color: rgba(0, 0, 0, .4)
}

html.high-contrast .io-ox-portal .widget.widget-color-custom {
	color: #000
}

html.high-contrast .io-ox-portal .widget.widget-color-custom .decoration
	{
	background-color: #f5f5f5
}

.io-ox-portal .widget.requires-setup {
	background-color: #eee
}

.io-ox-portal .widget.requires-setup h2 {
	color: #555
}

.io-ox-portal .widget.requires-setup .content, .io-ox-portal .widget.error-occurred .content
	{
	text-align: center;
	padding-top: 7em;
	color: #888;
	cursor: pointer
}

.io-ox-portal .widget.requires-setup .content:hover, .io-ox-portal .widget.error-occurred .content:hover
	{
	text-decoration: underline
}

.io-ox-portal .widget .content {
	position: absolute;
	right: 16px;
	bottom: 16px;
	left: 16px;
	top: 72px;
	line-height: 18px;
	overflow: hidden;
	z-index: 10;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear
}

.io-ox-portal .widget .content.pointer {
	cursor: pointer
}

.io-ox-portal .widget .content.centered {
	text-align: center
}

.io-ox-portal .widget .content .bold {
	font-weight: 700
}

.io-ox-portal .widget .content li .bold {
	line-height: 1em
}

.io-ox-portal .widget .content .italic {
	font-style: italic
}

.io-ox-portal .widget .content .gray {
	color: rgba(0, 0, 0, .6)
}

html.high-contrast .io-ox-portal .widget .content .gray {
	color: #000
}

.io-ox-portal .widget .content:focus {
	background-color: rgba(0, 0, 0, .1);
	outline: 0
}

.io-ox-portal .widget ul.content {
	margin-left: 0
}

.io-ox-portal .pending {
	background-color: #fafafa
}

.io-ox-portal .pending h2 {
	color: #ddd !important
}

.io-ox-portal .action {
	display: block;
	color: #fff;
	text-align: center;
	padding: 16px;
	margin-bottom: 16px;
	cursor: pointer
}

.io-ox-portal .action:hover {
	text-decoration: underline;
	color: #fff
}

.io-ox-portal .action:focus {
	text-decoration: underline;
	color: #fff;
	outline: 0
}

.io-ox-portal h2 {
	position: relative;
	font-size: 20px;
	padding: 16px;
	margin: 0;
	font-weight: 700;
	line-height: 26px;
	height: 57px;
	z-index: 2;
	cursor: move;
	-webkit-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
	white-space: nowrap
}

.io-ox-portal h2 .disable-widget {
	float: right;
	width: 52px;
	padding: 14px 0;
	text-align: center;
	margin: -16px -16px 0 0;
	text-decoration: none;
	cursor: pointer
}

.io-ox-portal h2 .disable-widget .fa-times {
	color: rgba(0, 0, 0, .15)
}

.io-ox-portal h2 .disable-widget:hover .fa-times {
	color: rgba(0, 0, 0, .5)
}

.io-ox-portal h2 .disable-widget:focus {
	background-color: rgba(0, 0, 0, .1);
	outline: 0
}

.io-ox-portal h2.action-link {
	cursor: pointer
}

.io-ox-portal h2.action-link:hover {
	text-decoration: underline
}

.io-ox-portal .widget>h2 {
	cursor: default
}

.io-ox-portal .widget>h2.hide-title .decoration>h2 {
	display: none
}

.io-ox-portal .widget.photo-stream .content, .io-ox-portal .widget.preview .content
	{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.io-ox-portal .widget.photo-stream h2, .io-ox-portal .widget.preview h2
	{
	position: absolute;
	bottom: 0;
	right: 1px;
	left: 1px;
	margin: 0;
	height: 57px;
	padding: 16px;
	color: #fff;
	background-color: rgba(0, 0, 0, .6);
	border-top: 1px solid rgba(0, 0, 0, .7)
}

html.high-contrast .io-ox-portal .widget.photo-stream h2, html.high-contrast .io-ox-portal .widget.preview h2
	{
	background-color: #000;
	color: #fff
}

html.high-contrast .io-ox-portal .widget.photo-stream h2 .fa-times, html.high-contrast .io-ox-portal .widget.preview h2 .fa-times
	{
	color: #fff
}

html.high-contrast .io-ox-portal .widget.photo-stream h2:hover .fa-times,
	html.high-contrast .io-ox-portal .widget.preview h2:hover .fa-times {
	color: #767676
}

.io-ox-portal .widget.photo-stream h2 .disable-widget .fa-times,
	.io-ox-portal .widget.preview h2 .disable-widget .fa-times {
	color: rgba(255, 255, 255, .5)
}

.io-ox-portal .widget.photo-stream h2 .disable-widget:hover .fa-times,
	.io-ox-portal .widget.preview h2 .disable-widget:hover .fa-times {
	color: rgba(255, 255, 255, .8)
}

.io-ox-portal .preview h2 {
	background-color: rgba(255, 255, 255, .8)
}

.io-ox-portal .item, .io-ox-portal .paragraph {
	line-height: 18px;
	margin-bottom: 18px
}

.io-ox-portal .paragraph.setup {
	min-height: 40px
}

.io-ox-portal .item:last-child, .io-ox-portal .paragraph:last-child {
	margin-bottom: 0
}

.io-ox-portal .item {
	cursor: pointer
}

.io-ox-portal .item:hover {
	text-decoration: underline
}

.io-ox-portal .item:focus {
	background-color: rgba(0, 0, 0, .1);
	outline: 0
}

.io-ox-portal .line {
	line-height: 18px
}

.io-ox-portal .content a.solution {
	cursor: pointer
}

.portal-feed h1 {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: left;
	margin: 0 0 26px
}

.portal-feed h2 {
	font-size: 18px;
	line-height: 22px;
	margin: 26px 0 16px;
	clear: both
}

.portal-feed .photo {
	width: 100%;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
	margin-bottom: 16px
}

.portal-feed .post-url {
	margin: 0 0 16px;
	clear: both
}

.portal-feed .rss-url {
	text-align: right;
	margin: 0 0 16px;
	clear: both
}

.portal-feed img[src=""] {
	display: none
}

.portal-feed .text {
	margin-bottom: 26px
}

.portal-feed .text img[hspace][align=left] {
	margin: 0 1em 0 0
}

.portal-feed .text img[hspace][align=right] {
	margin: 0 0 0 1em
}

.portal-feed .text-delimiter {
	color: #3c73aa;
	width: 2em;
	display: inline-block;
	text-align: center
}

.portal-feed caption {
	font-size: 12px;
	text-align: left;
	color: #888;
	display: block
}

.portal-feed.tumblr h2 {
	margin: 26px 0 4px
}

.portal-feed.tumblr .post {
	margin-bottom: 26px
}

.portal-feed.tumblr .post img {
	display: block
}

.portal-feed.tumblr .post blockquote {
	margin-bottom: 5px
}

.portal-feed.tumblr .post blockquote em {
	display: block
}

.portal-feed.tumblr .post blockquote em:before {
	content: '-- '
}

.portal-feed.tumblr .post-bar {
	font-size: 90%;
	color: gray;
	font-weight: 300;
	text-align: right
}

.portal-feed.tumblr .post-bar a {
	color: gray;
	margin-left: 8px
}

.portal-feed.tumblr .post-bar a:hover {
	color: #08c
}

.portal-feed.tumblr .post-bar a, .portal-feed.tumblr .post-bar i {
	text-decoration: none
}

.portal-feed.tumblr .post-bar a.icon-tag, .portal-feed.tumblr .post-bar i.icon-tag
	{
	margin-right: 4px
}

.portal-feed.tumblr .post-bar .post-date {
	float: left
}

@media all and (max-width:560px) {
	.simple-window .io-ox-sidepopup {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text
	}
	.io-ox-portal {
		padding: 0;
		overflow: visible
	}
	.io-ox-portal h1.greeting {
		margin: 14px 0 0 10px;
		font-size: 20px;
		line-height: 24px
	}
	.io-ox-portal h1.greeting .greeting-phrase {
		display: block
	}
	.io-ox-portal h1.greeting .signin {
		font-size: 12px;
		color: #aaa;
		white-space: normal
	}
	.io-ox-portal h2 {
		padding: 0 0 14px
	}
	.io-ox-portal .disable-widget {
		display: none
	}
	.io-ox-portal .widget {
		display: block;
		height: auto;
		width: 100%;
		border-right-width: 0;
		float: none;
		margin: 0;
		padding: 14px;
		border-bottom: 1px solid #eee
	}
	.io-ox-portal .widget .content {
		position: static
	}
	.io-ox-portal .widget .decoration {
		height: auto;
		background-color: transparent;
		border: 0 none
	}
	.io-ox-portal .widget.requires-setup {
		background-color: transparent
	}
	.io-ox-portal .widget.requires-setup .content, .io-ox-portal .widget.error-occurred .content
		{
		text-align: left;
		color: #888;
		cursor: pointer;
		padding-top: 0
	}
	.io-ox-portal .widget.with-summary.generic-summary:not (.photo-stream ) h2
		{
		height: initial;
		padding: 0
	}
	.io-ox-portal .widget.with-summary.show-summary .summary, .io-ox-portal .widget.with-summary .content
		{
		display: block
	}
	.io-ox-portal .widget.with-summary.show-summary .content, .io-ox-portal .widget.with-summary .summary
		{
		display: none
	}
	.io-ox-portal .photo-stream, .io-ox-portal .photo-stream .content,
		.io-ox-portal .preview, .io-ox-portal .preview .content {
		height: 320px
	}
	.io-ox-portal li.photo-stream.show-summary {
		height: 60px
	}
	.io-ox-portal .widget.photo-stream, .io-ox-portal .widget.preview {
		padding: 0;
		border-bottom: 1px solid #555
	}
	.io-ox-portal .portal-feed h1 {
		margin: 0 0 16px
	}
	.io-ox-portal .portal-feed .photo {
		height: 200px
	}
}

@media all and (min-width:560px) {
	.io-ox-portal .widget {
		width: 50%
	}
}

@media all and (min-width:840px) {
	.io-ox-portal .widget {
		width: 33.28333333%
	}
}

@media all and (min-width:1120px) {
	.io-ox-portal .widget {
		width: 24.95%
	}
}

@media all and (min-width:1400px) {
	.io-ox-portal .widget {
		width: 19.95%
	}
}

.io-ox-portal-settings {
	min-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-portal-settings .controls {
	padding: 16px;
	height: 30px;
	margin-bottom: 16px
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-portal-settings .controls {
		padding-left: 0
	}
	.io-ox-portal-settings .controls .btn-group.pull-right {
		float: none
	}
	.io-ox-portal-settings li.widget-settings-view .drag-handle {
		width: 40px
	}
	.io-ox-portal-settings li.widget-settings-view .draggable {
		padding-left: 40px
	}
}

.io-ox-portal-settings .widget-list {
	margin: 0;
	list-style-type: none
}

.io-ox-portal-settings .settings-list-item .list-item-title {
	display: block;
	font-weight: 700;
	margin-top: 1px;
	margin-right: 2em;
	text-align: left;
	max-width: 100%;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-portal-settings .settings-list-item a[data-action=toggle] {
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .2;
		margin-right: 2em
	}
	.io-ox-portal-settings .settings-list-item a[data-action=toggle]:hover {
		opacity: .4;
		text-decoration: none
	}
	.io-ox-portal-settings .settings-list-item a[data-toggle=dropdown]:hover
		{
		text-decoration: none
	}
}

.io-ox-portal-settings .widget-color-black {
	color: #333
}

.io-ox-portal-settings .widget-color-red {
	color: #e30000
}

.io-ox-portal-settings .widget-color-orange {
	color: #ce3c00
}

.io-ox-portal-settings .widget-color-lightgreen {
	color: #4f7a21
}

.io-ox-portal-settings .widget-color-green {
	color: #177f17
}

.io-ox-portal-settings .widget-color-lightblue {
	color: #0375a4
}

.io-ox-portal-settings .widget-color-blue {
	color: #01628a
}

.io-ox-portal-settings .widget-color-purple {
	color: #7e16cf
}

.io-ox-portal-settings .widget-color-pink {
	color: #b316ad
}

.io-ox-portal-settings .widget-color-gray {
	color: #5e5e5e
}

.io-ox-portal-settings .colors {
	display: inline-block
}

.io-ox-portal-settings .colors ul {
	font: 14px/20 "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 200px;
	text-align: left;
	right: 0;
	left: auto
}

.io-ox-portal-settings .colors ul a {
	line-height: 24px
}

.io-ox-portal-settings .colors ul .color-example {
	display: inline-block;
	float: right;
	width: 28px;
	height: 22px;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.io-ox-portal-settings .colors ul .color-black {
	background-color: #333
}

.io-ox-portal-settings .colors ul .color-red {
	background-color: #e30000
}

.io-ox-portal-settings .colors ul .color-orange {
	background-color: #ce3c00
}

.io-ox-portal-settings .colors ul .color-lightgreen {
	background-color: #4f7a21
}

.io-ox-portal-settings .colors ul .color-green {
	background-color: #177f17
}

.io-ox-portal-settings .colors ul .color-lightblue {
	background-color: #0375a4
}

.io-ox-portal-settings .colors ul .color-blue {
	background-color: #01628a
}

.io-ox-portal-settings .colors ul .color-purple {
	background-color: #7e16cf
}

.io-ox-portal-settings .colors ul .color-pink {
	background-color: #b316ad
}

.io-ox-portal-settings .colors ul .color-gray {
	background-color: #5e5e5e
}

.io-ox-portal-settings .colors ul .active-color {
	font-weight: 700
}

.ios .io-ox-portal-settings .btn-group.pull-right {
	z-index: 1001
}

.ios .io-ox-portal-settings .widget-settings-view.draggable {
	padding-left: 0;
	position: static
}

.ios .io-ox-portal-settings .widget-settings-view .drag-handle {
	position: relative;
	top: -16px;
	right: 60px;
	bottom: 16px;
	width: 50px;
	cursor: move;
	float: left;
	height: 46px
}

.ios .io-ox-portal-settings .dropdown.colors {
	position: static
}

.ios .io-ox-portal-settings .dropdown.colors.open {
	position: relative
}

#io-ox-topbar.toolbar-fixed-position {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15
}

.io-ox-portal .btn-group-portal, .io-ox-portal-settings .btn-group-portal
	{
	position: relative;
	display: inline-block;
	vertical-align: middle
}

.io-ox-portal .btn-group-portal .btn, .io-ox-portal-settings .btn-group-portal .btn
	{
	margin-left: 5px
}

.content-v-shift .window-content.io-ox-portal {
	padding-top: 53px
}