@font-face {
	font-family: FontAwesome;
	src:
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.eot?v=4.4.0);
	src:
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0)
		format('embedded-opentype'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0)
		format('woff2'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0)
		format('woff'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0)
		format('truetype'),
		url(../../3rd.party/font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
		format('svg');
	font-weight: 400;
	font-style: normal
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0
}

body {
	position: relative
}

body:before {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: FontAwesome;
	content: '\f021';
	color: #ccc;
	-moz-animation: spin 1.5s infinite linear;
	-o-animation: spin 1.5s infinite linear;
	-webkit-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear
}

@
-moz-keyframes spin { 0%{
	-moz-transform: rotate(0deg)
}

100%{
-moz-transform
:rotate(359deg)
}
}
@
-webkit-keyframes spin { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(359deg)
}
}
@
-o-keyframes spin { 0%{
	-o-transform: rotate(0deg)
}

100%{
-o-transform
:rotate(359deg)
}
}
@
-ms-keyframes spin { 0%{
	-ms-transform: rotate(0deg)
}

100%{
-ms-transform
:rotate(359deg)
}
}
@
keyframes spin { 0%{
	transform: rotate(0deg)
}
100%{
transform
:rotate(359deg)
}
}