.io-ox-office-main.io-ox-office-text-main>.app-pane .page {
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 195mm;
	min-height: 282mm;
	padding: 15mm;
	background-color: #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	cursor: default
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page:focus,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page:active {
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode {
	cursor: text
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode div.cell>div.resize
	{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode div.cell>div.resize.bottom
	{
	cursor: row-resize
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode div.cell>div.resize.right
	{
	cursor: col-resize
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.inactive-mode
	{
	background-color: #f7f7f7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.inactive-mode .inactive-selection
	{
	background-color: #EFEFEF
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .change-track-highlight
	{
	background-color: #caddee !important;
	color: #fff !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p {
	position: relative;
	margin: 0;
	line-height: 0;
	word-wrap: break-word
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p.visibleAnchor>.anchorIcon
	{
	display: block;
	position: absolute;
	top: 0;
	left: -25px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>* {
	text-indent: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label
	{
	display: inline-block;
	text-align: left
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span
	{
	-webkit-user-select: none;
	text-decoration: none !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.field
	{
	display: inline;
	position: relative
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.field:hover span
	{
	background: #bbb !important;
	opacity: .7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p .field.sf-highlight span
	{
	background: #bbb !important;
	opacity: .7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.tab
	{
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: bottom
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawingplaceholder,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.commentplaceholder,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.hardbreak,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.rangemarker,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.complexfield
	{
	display: inline
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span
	{
	font-family: sans-serif;
	font-size: 11pt;
	line-height: normal
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.highlight,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.highlight
	{
	opacity: 1;
	background-color: #ff0 !important;
	color: #000 !important;
	margin-top: -1px;
	margin-bottom: -1px;
	border-top: 1px dotted #505000;
	border-bottom: 1px dotted #505000
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.simulatedCursor,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.simulatedCursor
	{
	border-left: 1px solid #fff;
	margin-left: -1px;
	display: inline-block;
	vertical-align: bottom !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.simulatedCursor+.drawing,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.simulatedCursor+.drawing
	{
	margin-right: -2px !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.doblink,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.doblink
	{
	border-left: 1px solid #000
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.uppercase,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.uppercase
	{
	text-transform: uppercase
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span.lowercase,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span.lowercase
	{
	text-transform: lowercase
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted=true],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span[data-change-track-inserted=true]
	{
	text-decoration: underline !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed=true],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span[data-change-track-removed=true]
	{
	text-decoration: line-through !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted=true][data-change-track-removed=true],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div>span[data-change-track-inserted=true][data-change-track-removed=true]
	{
	text-decoration: underline line-through !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p.selectionHighlighting>span:empty:after
	{
	content: "\00a0";
	background-color: #39F !important;
	color: transparent !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="1"]
	{
	outline: 1px dashed #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="1"]
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="1"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="1"]
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="2"]
	{
	outline: 1px dashed #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="2"]
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="2"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="2"]
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="3"]
	{
	outline: 1px dashed #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="3"]
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="3"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="3"]
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="4"]
	{
	outline: 1px dashed #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="4"]
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="4"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="4"]
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="5"]
	{
	outline: 1px dashed #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="5"]
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="5"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="5"]
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="6"]
	{
	outline: 1px dashed #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="6"]
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="6"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="6"]
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="7"]
	{
	outline: 1px dashed #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="7"]
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="7"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="7"]
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-modified-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-modified-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-modified-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-modified-author="8"]
	{
	outline: 1px dashed #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-inserted-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-inserted-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-inserted-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-inserted-author="8"]
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>span[data-change-track-removed-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.inline>span[data-change-track-removed-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.drawing[data-change-track-removed-author="8"],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p>div.list-label>span[data-change-track-removed-author="8"]
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.p.change-track-highlight>span
	{
	background-color: #caddee !important;
	color: #fff !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing {
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.inline
	{
	display: inline-block;
	vertical-align: bottom;
	position: relative
}

.browser-safari.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.inline+span:empty
	{
	display: inline-block;
	width: 1px;
	height: 20px;
	margin-left: 1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.float
	{
	position: relative
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.absolute
	{
	position: absolute
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing[data-change-track-inserted=true]
	{
	border-bottom: 3px solid #00f2fa !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing[data-change-track-removed=true]
	{
	border-bottom: 3px solid red !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing[data-type=group]>.content
	{
	border: 1px solid transparent
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing[data-type=group]>.content:hover
	{
	border: 1px dotted rgba(0, 0, 0, .25)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing>div.content>canvas
	{
	pointer-events: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing>div.content.textframecontent
	{
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing>div.content.textframecontent>div.textframe
	{
	height: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 2px;
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing:not (.comment
	):not (.selected )[data-type=shape]:hover::before {
	content: "" !important;
	display: block !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px dotted rgba(0, 0, 0, .25);
	z-index: 100;
	pointer-events: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment.childcomment
	{
	left: 20px;
	width: 274px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo
	{
	font-size: 10px;
	cursor: default;
	text-align: left;
	position: relative;
	padding: 10px 10px 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentpicture
	{
	display: table-cell;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate
	{
	height: 100%;
	width: 100%;
	vertical-align: top;
	padding: 2px 5px;
	display: table-cell
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor
	{
	line-height: 12px;
	max-height: 12px;
	font-size: 8pt;
	overflow: hidden
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-1
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-2
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-3
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-4
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-5
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-6
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-7
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.comment-author-8
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentauthor.halo-link:hover
	{
	cursor: pointer;
	text-decoration: underline
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentauthordate>.commentdate
	{
	line-height: 12px;
	max-height: 12px;
	padding-top: 2px;
	font-size: 7pt;
	color: #aaa
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton
	{
	display: none;
	font-size: 10pt
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton.touch
	{
	font-size: 14pt
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton.commentbuttonactive,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton.commentbuttonhover
	{
	display: table-cell
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton>.commentcloser
	{
	display: table-cell;
	color: #000;
	padding: 3px;
	cursor: pointer
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton>.commentcloser.touch
	{
	padding-left: 10px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentmetainfo>.commentbutton>.commentreply
	{
	display: table-cell;
	color: #000;
	padding: 3px;
	cursor: pointer
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.content
	{
	padding: 5px 10px 10px;
	border: 0 !important;
	display: block
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentbottom
	{
	display: none;
	text-align: right;
	padding-right: 15px;
	height: 15px;
	margin-top: -20px;
	padding-bottom: 25px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .drawing.comment>div.commentbottom>.shrinkarrow
	{
	font-size: 12pt;
	color: #000
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode .textframecontent .drawing
	{
	cursor: default !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode .drawing
	{
	cursor: move
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode .drawing.comment
	{
	cursor: text
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode .drawing>.textframecontent>.textframe
	{
	cursor: text
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.textdrawinglayer
	{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.textdrawinglayer div.drawing
	{
	pointer-events: fill
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.textdrawinglayer div.drawing.absolute
	{
	position: absolute;
	z-index: 50
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer
	{
	position: absolute;
	top: 0;
	width: 310px;
	z-index: 100;
	cursor: default
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer.classicview
	{
	width: 300px;
	background-color: #eee;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread
	{
	position: absolute;
	height: auto;
	width: 300px;
	background-color: #fff;
	overflow: hidden;
	border: 2px solid #fff;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	border-radius: 2px;
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-1
	{
	border-left: 4px solid #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-2
	{
	border-left: 4px solid #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-3
	{
	border-left: 4px solid #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-4
	{
	border-left: 4px solid #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-5
	{
	border-left: 4px solid #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-6
	{
	border-left: 4px solid #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-7
	{
	border-left: 4px solid #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-author-8
	{
	border-left: 4px solid #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-1
	{
	border-color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-1
	{
	border-color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-2
	{
	border-color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-2
	{
	border-color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-3
	{
	border-color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-3
	{
	border-color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-4
	{
	border-color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-4
	{
	border-color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-5
	{
	border-color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-5
	{
	border-color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-6
	{
	border-color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-6
	{
	border-color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-7
	{
	border-color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-7
	{
	border-color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-active-author-8
	{
	border-color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.comment-thread-hovered-author-8
	{
	border-color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.avantgardview
	{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.classicview
	{
	box-shadow: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.inactivethread>div.comment.decreased>div.content>div.textframe
	{
	max-height: 36px;
	overflow: hidden
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentlayer>div.commentthread.inactivethread>div.comment.decreased>div.commentbottom
	{
	display: block
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer
	{
	position: absolute;
	top: 0;
	z-index: 80
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble
	{
	position: absolute;
	height: 25px;
	width: 25px;
	cursor: pointer;
	font-size: 18pt
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-1
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-2
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-3
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-4
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-5
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-6
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-7
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble>a>.fa.comment-author-8
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-1,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-1
	{
	background-color: rgba(248, 147, 6, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-2,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-2
	{
	background-color: rgba(0, 160, 224, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-3,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-3
	{
	background-color: rgba(148, 193, 0, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-4,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-4
	{
	background-color: rgba(233, 57, 142, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-5,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-5
	{
	background-color: rgba(10, 193, 117, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-6,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-6
	{
	background-color: rgba(240, 94, 75, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-7,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-7
	{
	background-color: rgba(201, 192, 22, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble.activated.comment-author-8,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.commentbubblelayer>div.commentbubble:hover.comment-author-8
	{
	background-color: rgba(144, 109, 247, .3)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay
	{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 22
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg
	{
	position: absolute;
	pointer-events: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-1,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-1
	{
	background-color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-2,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-2
	{
	background-color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-3,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-3
	{
	background-color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-4,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-4
	{
	background-color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-5,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-5
	{
	background-color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-6,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-6
	{
	background-color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-7,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-7
	{
	background-color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.fillcolor.comment-author-8,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.fillcolor.comment-author-8
	{
	background-color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.visualizedcommenthover,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.visualizedcommenthover
	{
	opacity: .3
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.visualizedcommentclick,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.visualizedcommentclick
	{
	opacity: .4
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.highlightcommentlinehover,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.highlightcommentlinehover
	{
	opacity: .7;
	z-index: 50;
	width: 1px;
	height: 1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>div.highlightcommentlineclick,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page div.rangemarkeroverlay>svg.highlightcommentlineclick
	{
	opacity: .7;
	z-index: 50;
	width: 2px;
	height: 2px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .rangemarkeroverlay.higher-z-index
	{
	z-index: 42
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.pagecontent>div.p:last-child:after
	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.ctsidebar
	{
	position: absolute;
	width: 2px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.ctsidebar>div.ctdiv
	{
	position: absolute;
	left: 0;
	width: 2px;
	background-color: #AAA;
	z-index: 40
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode.spellerror-visible span.spellerror
	{
	margin-bottom: -2px !important;
	padding-bottom: 1px !important;
	border-bottom: 1px dotted red !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin: 6px 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table:first-child
	{
	margin-top: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table:last-child
	{
	margin-bottom: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table table {
	margin: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table tr {
	height: 100%
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td {
	height: 100%;
	padding: 4px;
	border: 0;
	vertical-align: top
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="1"]
	{
	outline: 1px dashed #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="1"]
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="1"]
	{
	color: #f89306 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="2"]
	{
	outline: 1px dashed #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="2"]
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="2"]
	{
	color: #00a0e0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="3"]
	{
	outline: 1px dashed #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="3"]
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="3"]
	{
	color: #94c100 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="4"]
	{
	outline: 1px dashed #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="4"]
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="4"]
	{
	color: #e9398e !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="5"]
	{
	outline: 1px dashed #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="5"]
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="5"]
	{
	color: #0ac175 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="6"]
	{
	outline: 1px dashed #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="6"]
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="6"]
	{
	color: #f05e4b !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="7"]
	{
	outline: 1px dashed #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="7"]
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="7"]
	{
	color: #c9c016 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-modified-author="8"]
	{
	outline: 1px dashed #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-inserted-author="8"]
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td[data-change-track-removed-author="8"]
	{
	color: #906df7 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell
	{
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize
	{
	position: absolute;
	border: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize.touch
	{
	border: 1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize.bottom
	{
	height: 4px;
	bottom: -6px;
	left: -4px;
	right: -5px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize.bottom.touch
	{
	height: 12px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize.right
	{
	width: 4px;
	right: -6px;
	top: -4px;
	bottom: -5px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.resize.right.touch
	{
	width: 12px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td>div.cell>div.cellcontent:focus
	{
	outline-color: transparent
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table.size-exceeded td
	{
	padding: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table.size-exceeded td>.placeholder
	{
	position: relative;
	height: 90px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table.size-exceeded td>.placeholder .background-icon
	{
	line-height: 88px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table.size-exceeded td>.placeholder .background-icon i
	{
	font-size: 72px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.pagecontent>table tr[data-change-track-inserted=true],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.pagecontent>table td[data-change-track-inserted=true]
	{
	background-color: #e1f2fa !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.pagecontent>table tr[data-change-track-removed=true],
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page>div.pagecontent>table td[data-change-track-removed=true]
	{
	background-color: #fce6f4 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table tr,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page table td {
	border: 1px dotted transparent
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode table.selected
	{
	box-shadow: 0 3px 6px rgba(0, 0, 0, .2)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode table.selected td,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode table:hover td
	{
	border: 1px dotted rgba(0, 0, 0, .25)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .float {
	display: block
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .float.left {
	float: left;
	clear: left
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .float.right {
	float: right;
	clear: right
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page.highlight>.pagecontent
	{
	opacity: .7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 42
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay div,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay svg
	{
	position: absolute;
	pointer-events: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .collaborative-cursor
	{
	border-left: 2px solid #000;
	height: 1.3em
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .collaborative-cursor-handle
	{
	pointer-events: auto;
	left: -2px;
	height: 1.5em;
	width: 4px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .collaborative-username
	{
	top: 1.5em;
	left: -2px;
	min-width: 70px;
	padding: 2px 7px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
	line-height: normal;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	white-space: nowrap;
	display: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .collaborative-selection-group .selection-overlay
	{
	opacity: .3;
	filter: alpha(opacity = 30)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .collaborative-selection-group .selection-overlay.drawing
	{
	position: relative;
	width: 100%;
	height: 100%;
	borderWidth: 2px;
	border-style: solid;
	opacity: 1;
	background-color: transparent
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-1
	{
	background-color: #f89306;
	border-color: #f89306
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-2
	{
	background-color: #00a0e0;
	border-color: #00a0e0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-3
	{
	background-color: #94c100;
	border-color: #94c100
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-4
	{
	background-color: #e9398e;
	border-color: #e9398e
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-5
	{
	background-color: #0ac175;
	border-color: #0ac175
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-6
	{
	background-color: #f05e4b;
	border-color: #f05e4b
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-7
	{
	background-color: #c9c016;
	border-color: #c9c016
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .user-8
	{
	background-color: #906df7;
	border-color: #906df7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay .drop-caret
	{
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5em;
	width: 0;
	border-right: 3px solid #3774a8;
	transition: top .2s ease-out, left .2s ease-out;
	display: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .collaborative-overlay.target-overlay
	{
	z-index: 41
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .footer {
	text-align: left;
	line-height: 14px;
	position: relative
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .flexfooter {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .flexfooter .flexcontent
	{
	width: 100%;
	-ms-align-self: flex-end;
	-webkit-align-self: flex-end;
	align-self: flex-end
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header .cover-overlay,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .footer .cover-overlay
	{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header .textdrawinglayer
	{
	overflow: visible;
	clip: rect(0, auto, 2000px, 0)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .footer .textdrawinglayer
	{
	overflow: visible;
	clip: rect(-2000px, auto, auto, 0)
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .page-break {
	position: relative;
	clear: both;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #fff;
	z-index: 40
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .page-break .inner-pb-line
	{
	background: #f0f0f0;
	height: 6px;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .pb-row td {
	padding-bottom: 1px !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .no-margin-bottom
	{
	margin-bottom: 0 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection
	{
	opacity: .5;
	filter: alpha(opacity = 50);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection .drawing
	{
	pointer-events: none !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection::-moz-selection,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection .p::-moz-selection,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection .p>span::-moz-selection
	{
	background: #fff
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection::selection,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection .p::selection,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection .p>span::selection
	{
	background: #fff
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection div.p.selectionHighlighting
	{
	background: none !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection span,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection table,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .inactive-selection div
	{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .active-selection
	{
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: auto;
	background-color: #fff
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header-wrapper,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .footer-wrapper
	{
	position: relative;
	background: #fff
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header.active-selection
	{
	border-bottom: 1px dashed #000;
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .footer.active-selection
	{
	border-top: 1px dashed #000;
	outline: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .header-footer-placeholder
	{
	position: absolute;
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0;
	overflow: hidden
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page table.selected.tb-split-nb
	{
	box-shadow: none
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu
	{
	position: absolute;
	left: 10px;
	z-index: 900;
	background: #fff
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-goto,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-close
	{
	display: inline-block;
	background: #fff;
	padding: 5px 7px;
	border: 1px solid silver;
	height: 25px;
	line-height: normal;
	font-size: 12px;
	cursor: pointer
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type .fa,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-goto .fa,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-close .fa
	{
	margin-left: 5px;
	color: #A9A9A9
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type:hover,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-goto:hover,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-close:hover
	{
	background-color: #ececec;
	z-index: 900
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type:hover .fa-times,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-goto:hover .fa-times,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-close:hover .fa-times,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type:hover .fa-caret-down,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-goto:hover .fa-caret-down,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-close:hover .fa-caret-down
	{
	color: #000
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .active-highlight
	{
	background-color: #8EB3D7
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .active-highlight:hover
	{
	background-color: #7BA6D1 !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type.active-dropdown
	{
	background-color: #ececec
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-menu-type.active-dropdown:hover
	{
	background-color: #DFDFDF
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container
	{
	text-align: left;
	position: absolute;
	background: #fff;
	border: 1px solid silver;
	box-shadow: 2px 2px 3px #dadada;
	left: 0;
	cursor: default
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container>div
	{
	cursor: pointer;
	padding: 7px 15px;
	white-space: nowrap
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container>div:hover
	{
	background-color: #F3F3F3
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container>div:hover>.marginal-menu-type.active-dropdown
	{
	background-color: #ececec
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container .marginal-separator-line
	{
	height: 1px;
	margin: 5px 0;
	background-color: #e0e0e0;
	padding: 0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu .marginal-container .marginal-separator-line:hover
	{
	cursor: default;
	background-color: #e0e0e0
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.below-node
	{
	bottom: -24px;
	padding-top: 1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.below-node .marginal-menu-type,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.below-node .marginal-menu-goto,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.below-node .marginal-menu-close
	{
	margin-right: -1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.below-node .marginal-container
	{
	top: 24px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.above-node
	{
	top: -24px;
	padding-bottom: 1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.above-node .marginal-menu-type,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.above-node .marginal-menu-goto,
	.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.above-node .marginal-menu-close
	{
	margin-right: -1px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .marginal-context-menu.above-node .marginal-container
	{
	bottom: 25px
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .field-tooltip-box
	{
	padding: 10px 8px;
	color: #000;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 10px;
	white-space: nowrap;
	z-index: 2;
	border-radius: 5px;
	border: 1px solid #000;
	background: #ffd;
	box-shadow: 2px 2px 2px #aaa
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .cx-field-highlight
	{
	background-color: #aaa;
	opacity: .2;
	z-index: 41
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .empty-field {
	position: absolute !important;
	width: 5px;
	margin-left: -1px;
	height: 100%;
	opacity: .5
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .empty-field:hover
	{
	background: #bbb !important
}

.io-ox-office-main.io-ox-office-text-main>.app-pane .page .hiddenVisibility
	{
	visibility: hidden
}

.io-ox-office-main.io-ox-office-text-main>.app-pane.browser-safari .page div.p>span:not
	(:first-child ):empty {
	display: inline-block
}

.io-ox-office-main.io-ox-office-text-main>.app-pane.browser-safari.touch .page div.p:last-child>span:last-child:empty:after
	{
	content: '\200B'
}

.io-ox-office-main.io-ox-office-text-main div.resizeline {
	position: absolute;
	border: 1px dotted #000
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.small-device .app-content
	{
	margin: 15px !important
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content
	{
	width: 100% !important;
	margin: 0 !important
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page
	{
	padding: 2% !important;
	width: 96% !important
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page div.pagecontent
	{
	max-width: 100%;
	position: relative;
	overflow: hidden
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page table
	{
	left: 0;
	top: 0;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
	position: relative;
	max-width: unset
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page div.drawing div.content:not
	(.textframecontent ){
	max-width: 100%;
	height: auto !important;
	position: relative
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page div.drawing div.content:not
	(.textframecontent ) .cropping-frame {
	position: relative
}

.io-ox-office-main.io-ox-office-text-main .app-content-root.draft-mode .app-content div.page div.drawing div.content:not
	(.textframecontent ) .cropping-frame img {
	max-width: 100%;
	height: auto !important
}

.io-ox-office-main.io-ox-office-text-main.debug-highlight .page div.p {
	box-shadow: 0 0 0 1px rgba(136, 255, 136, .6), 0 0 8px 2px
		rgba(136, 255, 136, .4)
}

.io-ox-office-main.io-ox-office-text-main.debug-highlight .page div.p>span
	{
	box-shadow: 0 0 0 1px rgba(136, 136, 255, .6), 0 0 8px 2px
		rgba(136, 136, 255, .4)
}

.io-ox-office-main.io-ox-office-text-main.debug-highlight .page div.p>div.inline:not
	(.drawing ){
	box-shadow: 0 0 0 1px rgba(255, 136, 255, .6), 0 0 8px 2px
		rgba(255, 136, 255, .4)
}

.io-ox-office-main.io-ox-office-text-main.debug-highlight .page div.p>div.list-label
	{
	box-shadow: 0 0 0 1px rgba(255, 136, 136, .6), 0 0 8px 2px
		rgba(255, 136, 136, .4)
}

.io-ox-office-main.io-ox-office-text-main.debug-highlight .page table,
	.io-ox-office-main.io-ox-office-text-main.debug-highlight .page div.drawing
	{
	box-shadow: 0 0 0 1px rgba(255, 136, 136, .6), 0 0 8px 2px
		rgba(255, 136, 136, .4)
}

.io-ox-office-main.popup-container.popup-menu.list-style-picker .section-container .button
	{
	text-align: center
}

.io-ox-office-main.popup-container.popup-menu.list-style-picker .section-container .button>.caption
	{
	min-width: 28px
}

.io-ox-office-main.popup-container.popup-menu.app-text.style-picker.family-paragraph .section-container .button
	{
	width: 128px
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge
	{
	display: table !important;
	padding: 5px 10px;
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .photo-container
	{
	display: table-cell
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description
	{
	display: table-cell;
	font-weight: 700;
	line-height: 1.5em;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author
	{
	display: block;
	width: 160px;
	padding-right: 5px;
	color: #f89406;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="1"]
	{
	color: #f89306 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="2"]
	{
	color: #00a0e0 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="3"]
	{
	color: #94c100 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="4"]
	{
	color: #e9398e !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="5"]
	{
	color: #0ac175 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="6"]
	{
	color: #f05e4b !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="7"]
	{
	color: #c9c016 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author[data-user-index="8"]
	{
	color: #906df7 !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .change-track-author:hover
	{
	cursor: text;
	text-decoration: none
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-description .halo-link:hover
	{
	cursor: pointer;
	text-decoration: underline
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .change-track-badge .change-track-date
	{
	display: table-cell;
	color: #777;
	font-size: 11px;
	text-align: right;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .button
	{
	padding: 0 20px !important
}

.io-ox-office-main.popup-container.popup-menu.change-track-popup .button>*
	{
	pointer-events: none
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component
	{
	min-width: 220px
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .dropdown-group
	{
	flex-direction: column
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .field-format-description
	{
	font-weight: 700;
	padding: 5px 13px;
	text-align: left;
	cursor: default
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 5px 13px 0;
	padding-bottom: 8px
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper a
	{
	text-align: center;
	width: 100%
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper .set-today-btn
	{
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block !important;
	flex: 1
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper .toggle-datepicker-btn
	{
	display: inline-block !important;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 13px;
	width: 50px
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper .disable
	{
	cursor: default !important;
	pointer-events: none !important
}

.io-ox-office-main.popup-container.popup-menu.field-format-popup .view-component .today-datepicker-wrapper .disable a
	{
	color: #ccc !important
}

#io-ox-office-temp .p {
	word-wrap: break-word
}

#io-ox-office-temp .p .inline.tab, #io-ox-office-temp .p .helper.list-label
	{
	display: inline-block
}

#io-ox-office-temp .p .drawing.inline {
	display: inline-block;
	vertical-align: bottom
}

#io-ox-office-temp .p .float {
	display: block
}

#io-ox-office-temp .p .float.left {
	float: left;
	clear: left
}

#io-ox-office-temp .p .float.right {
	float: right;
	clear: right
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page {
	-webkit-user-modify: read-only
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page .androidblink span.androidcursor,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page .androidblink span.androidcursor
	{
	border-right: 1px solid #000;
	margin-right: -1px
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page .androidblink div.androidcursor,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page .androidblink div.androidcursor
	{
	border-right: 1px solid #000;
	padding-right: -1px
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page span.androidime,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page span.androidime
	{
	border-bottom: 1px solid #000;
	margin-bottom: -1px
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page [contenteditable=true],
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page [contenteditable=true]
	{
	-webkit-user-modify: read-only
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode
	{
	-webkit-user-modify: read-write-plaintext-only
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode [contenteditable=true],
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane .page.edit-mode [contenteditable=true]
	{
	-webkit-user-modify: inherit
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane textarea.transparent-selection,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane textarea.transparent-selection
	{
	color: transparent;
	background: 0 0;
	border-color: transparent
}

html.android .io-ox-office-main.io-ox-office-text-main>.app-pane textarea.transparent-selection::selection,
	html.ios .io-ox-office-main.io-ox-office-text-main>.app-pane textarea.transparent-selection::selection
	{
	background: 0 0
}