/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 * @author David Bauer <david.bauer@open-xchange.com>
 */

// Font-Awesome path
//----------------------
@fa-font-path:                          "apps/3rd.party/font-awesome/fonts";

// Basic definitions
//----------------------
@padding-base-vertical:                 4px;
@padding-base-horizontal:               12px;
@modal-inner-padding:                   13px;

@light-font-family:                     "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
@normal-font-family:                    @font-family-sans-serif;
@font-size-touch:                       16px;
@topbar-font-size:                      13px;
@window-head-font-size:                 13px;
@vgrid-font-size:                       13px;
@inline-link-font-size:                 14px;

@base-padding:                          4px;
@default-padding:                       @base-padding * 4;
@list-view-padding:                     @default-padding;

@border-radius-large:                   3px;
@border-radius-base:                    3px;
@border-radius-small:                   3px;

// Accent colors
//----------------------
@white:                                 #fff;
@black:                                 #000;
@blue:                                  #017FB3; //was darken(#049cdb, 5%)
@blue-dark:                             #0064cd;
@blue-light:                            lighten(#049cdb, 25%);
@green:                                 #198819; //was #1a8d1a
@green-light:                           #92d050;
@red:                                   #cc0000;
@yellow:                                #f8e400;
@orange:                                #f89406;
@pink:                                  #e01cd9;
@purple:                                #7e16cf;

// Bootstrap overwites
//----------------------
@brand-primary:                         #3C73AA; //@link-color uses this
@badge-color:                           @white;
@badge-bg:                              #aaa;   // used by folder tree for unread messages, for example
@label-info-bg:                         #3a87ad;
@label-default-bg:                      #666;

// Basic colors
//----------------------
@contact-picture-radius:                50%;

@inline-links-margin:                   18px 0;

@trash-icon-hover-background:           @red;
@trash-icon-hover-color:                @white;

@link-on-dark:                          #3bf;
@person-link-color:                     @link-color;
@inline-link-color:                     @link-color;
@inline-link-border-color:              #eee;

@outline-color:                         #006897;
@defaultBorderColor:                    #ddd;

// Button colors
//----------------------
@btn-primary-bg:                @link-color;
@btn-info-bg:                   #5bc0de;
@btn-success-bg:                #198819;
@btn-warning-bg:                #fbb450;
@btn-warning-color:             #764500;
@btn-danger-bg:                 #DF332E;
@btn-inverse-bg:                #444;

// High contrast colors
@hc-link-color:                         #3774A8;
@hc-gray:                               #767676;
@hc-border-color:                       @hc-gray;
@hc-green:                              #198919;

// login background
@wallpaper-color-1:                     rgba(255, 255, 255, 1);
@wallpaper-color-2:                     rgba(246, 246, 246, 1);
@wallpaper-color-3:                     rgba(168, 168, 168, 1);

@background:                            #fff;

@selected-background:                   #3C73AA;
@selected-color:                        #f0faff;

// Componets
//----------------------

// window head (side toolbar)
@window-header-color:                   #f5f5f5;
@window-head-color:                     #fff;
@window-head-border-color:              #eee;
@window-head-width:                     50px;
@window-title-color:                    #fff;

// badge
@notification-icon-color:               rgba(255, 255, 255, 1);
@notification-icon-background: 			rgba(200, 0, 0, 1);
@notification-icon-color-active:        #333;
@notification-icon-background-active: 	#fff; 	// alt. bright orange: #ff4700
@notification-pane-background:          rgba(255, 255, 255, 1);
@notification-pane-item-background:     rgba(0, 0, 0, 0.10);

// foldertree
@foldertree-sidepanel-background:       #f5f5f5;
@foldertree-section-title-color:        #888;
@foldertree-selected-label-color:       #333;
@foldertree-focused-label-color:        #fff;
@foldertree-active-label-color:         #333;
@foldertree-passive-label-color:        @hc-gray;
@foldertree-hover-background:           rgba(0, 0, 0, 0.05);
@foldertree-selected-background:        rgba(0, 0, 0, 0.10);
@foldertree-selected-focus-background:  @selected-background;
@foldertree-badge-background:           @badge-bg;
@foldertree-badge-focus-background:     #006597;
@foldertree-badge-color:                @badge-color;
@foldertree-counter-color:              #0076b3;
@foldertree-selected-focus-counter-color: rgba(255, 255, 255, 0.95);
@foldertree-selected-focus-options-background: rgba(0, 0, 0, 0.20);
@foldertree-account-link-color:         #333;

// topbar
@topbar-launcher-color:                 rgba(255, 255, 255, 0.95);
@topbar-launcher-color-hover:           #fff;
@topbar-launcher-color-active:          #fff;
@topbar-launcher-background-hover:      rgba(0, 0, 0, 0.15);
@topbar-launcher-background-active:     rgba(0, 0, 0, 0.25);
@topbar-icon-color:                     #fff;
@topbar-background:                     #3C73AA;

// toolbar
@toolbar:                               #08c;
@toolbar-button-accent:                 lighten(@link-color, 0%);
@toolbar-button-color:                  #bbb;
@toolbar-link-color:                    lighten(@toolbar, 25%);
@toolbar-link-disabled-color:           @link-disabled-color;
@toolbar-focus-color:                   #08c;
@toolbar-background:                    #333;
@toolbar-background-alt:                lighten(@toolbar-background, 10%);
@toolbar-line-height:                   24px;
@toolbar-vertical-padding:              8px;
@toolbar-height:                        @toolbar-line-height + 2 * @toolbar-vertical-padding;
@link-disabled-color:                   #aaa;
@link-accent-color:                     #ffad00;

// mail app
//----------------------
@mail-priority:                         #ff4700;
@mail-priority-low:                     lighten(#08c, 10%);
@mail-attachment-link-color:            #333;
@mail-attachment-link-color-hover:      #000;

// tasks app
//----------------------
@task-priority:                         #ff4700;
@badge-deferred-bg: #767676;
@badge-deferred-color: @white;
@badge-inprogress-bg: #767676;
@badge-inprogress-color: @white;
@badge-notstarted-bg: #767676;
@badge-notstarted-color: @white;
@badge-done-bg: @green;
@badge-done-color: @white;
@badge-waiting-bg: #767676;
@badge-waiting-color: @white;
@badge-overdue-bg: @blue;
@badge-overdue-color: @white;

// calendar app
//----------------------
@appointment-reserved:                  #3774A8;    /* blue */
@appointment-temporary:                 #ffbb00;    /* yellow */
@appointment-absent:                    #913f3f;    /* red */
@appointment-free:                      #8eb360;    /* green */
@appointment-free-dark:                 #198819;    /* dark green */
@appointment-private:                   #555;       /* dark gray */
@appointment-unconfirmed-font:          #555;       /* dark gray */
@appointment-declined-font:             #6b6b6b;    /* gray */
@appointment-unconfirmed:               #f0f0f0;
@appointment-declined:                  #E8E8E8;
@appointment-hover-pct:                 15%;

@weekview-appointment-lasso:            #D0EAFF;    /* light blue */
@weekview-background:                   #fff;       /* white */
@weekview-border:                       #ccc;
@weekview-time-width:                   80px;
@weekview-footer-height:                34px;
@weekview-working-time-border:          #333;

@monthview-border:                      #ddd;
@monthview-appointment-out:             #aaa;       /* light gray */
@monthview-cw-width:                    80px;

@calendar-today-background:             #f5f5f5;    /* gray */
@calendar-today:                        #CF3239;    /* red */
@calendar-toolbar-height:               35px;
@calendar-toolbar-top-padding:          13px;

// calender custom colors (ordered by spectrum)

@color-label-bg-1:                      #CEE7FF;     /* light blue */
@color-label-bg-2:                      #96BBE8;     /* blue */
@color-label-bg-3:                      #C4AFE3;     /* purple */
@color-label-bg-4:                      #F0D8F0;     /* pink */
@color-label-bg-5:                      #F2D1D2;     /* red */
@color-label-bg-6:                      #FFD1A3;     /* orange */
@color-label-bg-7:                      #F7EBB6;     /* yellow */
@color-label-bg-8:                      #D4DEA7;     /* light green */
@color-label-bg-9:                      #99AF6E;     /* green */
@color-label-bg-10:                     #666666;     /* dark gray */

@color-label-fg-1:                      #2A4B6C;     /* light blue */
@color-label-fg-2:                      #0B1624;     /* blue */
@color-label-fg-3:                      #3F0E84;     /* purple */
@color-label-fg-4:                      #8A1C8C;     /* pink */
@color-label-fg-5:                      #A83336;     /* red */
@color-label-fg-6:                      #622906;     /* orange */
@color-label-fg-7:                      #5C4209;     /* yellow */
@color-label-fg-8:                      #526107;     /* light green */
@color-label-fg-9:                      #28350F;     /* green */
@color-label-fg-10:                     #FFFFFF;     /* dark gray */

@custom-color-hover-pct:                10%;
@custom-color-pattern-pct:              3%;

// wizard & tours
@wizard-backdrop-color: rgba(0, 0, 0, 0.15);

// hotspot
@hotspot-color: #FD057C;
@pulse-color: fade(@hotspot-color, 70%);
@pulse-border-color: @hotspot-color;


// mobile
//----------------------
@pagecontroller-animation-duration:     350ms;
// size of the menu launcher in the top left
@mobile-launcher-icon-size:             18px;

// misc
//----------------------
@ui-disabled-color:                     #ccc;

@container-desktop:                     (870px + @grid-gutter-width);
@container-large-desktop:               @container-desktop;

// fallback images
@theme:                                 'default';
@fallback-image-contact:                'apps/themes/@{theme}/fallback-image-contact.png';
@fallback-image-group:                  'apps/themes/@{theme}/fallback-image-group.png';
@fallback-image-resource:               'apps/themes/@{theme}/fallback-image-resource.png';

// premium toolbar colors
@premium-toolbar-background:            darken(@brand-primary, 10%);
@premium-toolbar-header-background:     lighten(@premium-toolbar-background, 10%);
@premium-toolbar-link-color:            #fff;
@premium-toolbar-header-color:          lighten(@premium-toolbar-header-background, 35%);
