.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing,
	.io-ox-office-main>.app-pane .drawing {
	position: relative;
	cursor: default;
	font-size: 0
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content,
	.io-ox-office-main>.app-pane .drawing>.content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: visible;
	font-size: 16px
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content,
	.io-ox-office-main>.app-pane .drawing>.content, .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content *,
	.io-ox-office-main>.app-pane .drawing>.content * {
	z-index: 30
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content img,
	.io-ox-office-main>.app-pane .drawing>.content img {
	position: relative;
	max-width: none;
	vertical-align: initial
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.textframecontent,
	.io-ox-office-main>.app-pane .drawing>.content.textframecontent {
	position: absolute
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.textframecontent.autoresizeheight,
	.io-ox-office-main>.app-pane .drawing>.content.textframecontent.autoresizeheight
	{
	position: relative;
	display: flex
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.textframecontent .textframe.flipH,
	.io-ox-office-main>.app-pane .drawing>.content.textframecontent .textframe.flipH
	{
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content>.cropping-frame,
	.io-ox-office-main>.app-pane .drawing>.content>.cropping-frame {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content>.canvasgeometry,
	.io-ox-office-main>.app-pane .drawing>.content>.canvasgeometry {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.chartholder>.chartnode,
	.io-ox-office-main>.app-pane .drawing>.content.chartholder>.chartnode {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.chartholder>.chartnode .canvasjs-chart-container,
	.io-ox-office-main>.app-pane .drawing>.content.chartholder>.chartnode .canvasjs-chart-container,
	.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.chartholder>.chartnode canvas,
	.io-ox-office-main>.app-pane .drawing>.content.chartholder>.chartnode canvas
	{
	width: 100% !important;
	height: 100% !important
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.placeholder,
	.io-ox-office-main>.app-pane .drawing>.content.placeholder {
	overflow: hidden
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.flipV,
	.io-ox-office-main>.app-pane .drawing>.content.flipV {
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-ms-transform: scaleY(-1)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.flipH,
	.io-ox-office-main>.app-pane .drawing>.content.flipH {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.content.flipV.flipH,
	.io-ox-office-main>.app-pane .drawing>.content.flipV.flipH {
	transform: scale(-1);
	-webkit-transform: scale(-1);
	-moz-transform: scale(-1);
	-ms-transform: scale(-1)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.bulletdrawing,
	.io-ox-office-main>.app-pane .drawing.bulletdrawing {
	font-size: 100%;
	pointer-events: none
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.bulletdrawing>.content,
	.io-ox-office-main>.app-pane .drawing.bulletdrawing>.content {
	font-size: 100%
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.movable,
	.io-ox-office-main>.app-pane .drawing.movable {
	cursor: move
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.active-edit.selected,
	.io-ox-office-main>.app-pane .drawing.active-edit.selected {
	outline: 2px dashed #5f97b3 !important;
	box-shadow: none;
	-webkit-user-select: text
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.active-edit.selected .textframe,
	.io-ox-office-main>.app-pane .drawing.active-edit.selected .textframe {
	pointer-events: auto
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.active-edit.selected .selection,
	.io-ox-office-main>.app-pane .drawing.active-edit.selected .selection {
	display: none
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.selected,
	.io-ox-office-main>.app-pane .drawing.selected {
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.selected>.content,
	.io-ox-office-main>.app-pane .drawing.selected>.content,
	.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.selected>.content *,
	.io-ox-office-main>.app-pane .drawing.selected>.content * {
	z-index: 31
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.selected>.content>.canvasgeometry,
	.io-ox-office-main>.app-pane .drawing.selected>.content>.canvasgeometry
	{
	z-index: 30
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection,
	.io-ox-office-main>.app-pane .drawing>.selection {
	position: static;
	width: 0;
	height: 0;
	overflow: visible;
	font-size: 10px;
	font-size: 1rem
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders,
	.io-ox-office-main>.app-pane .drawing>.selection>.borders {
	position: static;
	width: 0;
	height: 0;
	overflow: visible
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos] {
	position: absolute
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="l"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="l"],
	.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="r"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="r"]
	{
	top: .15em;
	bottom: .15em;
	width: .3em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="t"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="t"],
	.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="b"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="b"]
	{
	left: -.15em;
	right: -.15em;
	height: .3em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="l"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="l"]
	{
	left: -.15em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="r"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="r"]
	{
	right: -.15em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="t"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="t"]
	{
	top: -.15em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos][data-pos="b"],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos][data-pos="b"]
	{
	bottom: -.15em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos]::before,
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos]::before
	{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos]::before,
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos]::before
	{
	background-color: rgba(60, 115, 170, .7)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.borders>[data-pos],
	.io-ox-office-main>.app-pane .drawing>.selection>.borders>[data-pos] {
	z-index: 32
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers,
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers
	{
	position: static;
	width: 0;
	height: 0;
	overflow: visible
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]
	{
	position: absolute;
	width: 1.3em;
	height: 1.3em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr]
	{
	top: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"]
	{
	top: 50%;
	margin-top: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	bottom: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl]
	{
	left: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"]
	{
	left: 50%;
	margin-left: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	right: -.65em
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl]
	{
	cursor: nw-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"]
	{
	cursor: n-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr]
	{
	cursor: ne-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"]
	{
	cursor: e-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	cursor: se-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"]
	{
	cursor: s-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl]
	{
	cursor: sw-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"]
	{
	cursor: w-resize
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos]::before,
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]::before
	{
	content: "";
	position: absolute;
	top: .3em;
	right: .3em;
	bottom: .3em;
	left: .3em;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, .5)
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos]::before,
	:not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]::before
	{
	border-color: #3c73aa
}

:not (.touch ) .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection:not
	(.tracking-active )>.resizers:hover>[data-pos]::before, :not (.touch ) .io-ox-office-main>.app-pane .drawing>.selection:not
	(.tracking-active )>.resizers:hover>[data-pos]::before {
	box-shadow: 0 0 3px #3c73aa
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers,
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers {
	position: static;
	width: 0;
	height: 0;
	overflow: visible
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]
	{
	position: absolute;
	width: 2.5em;
	height: 2.5em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr]
	{
	top: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"]
	{
	top: 50%;
	margin-top: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	bottom: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl]
	{
	left: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"]
	{
	left: 50%;
	margin-left: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	right: -1.25em
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tl]
	{
	cursor: nw-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="t"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="t"]
	{
	cursor: n-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=tr],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=tr]
	{
	cursor: ne-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="r"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="r"]
	{
	cursor: e-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=br],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=br]
	{
	cursor: se-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="b"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="b"]
	{
	cursor: s-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos=bl],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos=bl]
	{
	cursor: sw-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos][data-pos="l"],
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos][data-pos="l"]
	{
	cursor: w-resize
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos]::before,
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]::before
	{
	content: "";
	position: absolute;
	top: .5em;
	right: .5em;
	bottom: .5em;
	left: .5em;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, .5)
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos]::before,
	.touch .io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos]::before
	{
	border-color: #3c73aa
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection:not
	(.tracking-active )>.resizers:hover>[data-pos]::before, .touch .io-ox-office-main>.app-pane .drawing>.selection:not
	(.tracking-active )>.resizers:hover>[data-pos]::before {
	box-shadow: 0 0 3px #3c73aa
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.resizers>[data-pos],
	.io-ox-office-main>.app-pane .drawing>.selection>.resizers>[data-pos] {
	z-index: 32
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection>.tracker,
	.io-ox-office-main>.app-pane .drawing>.selection>.tracker {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 33;
	background-color: rgba(255, 255, 255, .2);
	border: .1em solid #3c73aa;
	box-shadow: 0 .3em .6em rgba(0, 0, 0, .2)
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection:not
	(.tracking-active )>.tracker, .io-ox-office-main>.app-pane .drawing>.selection:not
	(.tracking-active )>.tracker {
	display: none
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection .rotate-handle,
	.io-ox-office-main>.app-pane .drawing>.selection .rotate-handle {
	position: absolute;
	width: .3em;
	height: 2.5em;
	background: rgba(60, 115, 170, .7);
	left: 50%;
	top: -2.5em;
	margin-left: -.1em;
	cursor: crosshair
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection .rotate-handle::before,
	.io-ox-office-main>.app-pane .drawing>.selection .rotate-handle::before
	{
	content: "";
	background-color: #fff;
	border: .2em solid rgba(60, 115, 170, .7);
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	position: absolute;
	top: -.5em;
	left: -.5em;
	cursor: crosshair
}

.touch .io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection .rotate-handle::before,
	.touch .io-ox-office-main>.app-pane .drawing>.selection .rotate-handle::before
	{
	width: 3em;
	height: 3em;
	top: -3em;
	left: -1.4em
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing>.selection .resizers>[data-pos]::before,
	.io-ox-office-main>.app-pane .drawing>.selection .resizers>[data-pos]::before
	{
	border-width: .1em !important
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing:not (.resizable
	)>.selection>.resizers, .io-ox-office-main>.app-pane .drawing:not (.resizable
	)>.selection>.resizers {
	display: none
}

.io-ox-office-main .slidePaneThumbnail>.slideContent .drawing.absolute .placeholder.content
	{
	height: 100%
}

.io-ox-office-main.popup-container.color-set-picker .caption>.color-node
	{
	display: inline-block;
	margin-top: 3px
}

.io-ox-office-main.popup-container.color-set-picker .caption>.color-node>span
	{
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 2px
}

.io-ox-office-main.popup-container.color-set-picker .caption>.color-node>span+span
	{
	margin-left: 2px
}

.io-ox-office-main.popup-container.chart-type-picker .button {
	min-width: 100px;
	text-align: center
}

.io-ox-office-main.popup-container.chart-type-picker .button>img {
	width: 100px;
	height: 100px
}