/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Julian Bäume <julian.baeume@open-xchange.com>
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

@font-face {
    font-family: 'AndroidEmojiRegular';
    src: url('font/androidemoji.eot');
    src: url('font/androidemoji.eot') format('embedded-opentype'),
         url('font/androidemoji.woff') format('woff'),
         url('font/androidemoji.ttf') format('truetype');
}

.emojifont { font-family: 'AndroidEmojiRegular'; }

img.emoji {
    border: 0;
    margin: 0 2px;
}

.mceIcon.mce_emoji { background-position:-60px -20px; }

//work-around for Bug 34943 - the second rule can be removed for 7.8.0
.mceEmojiPane, .mce-container .mceEmojiPane {
    @background: #f5f5f5;
    @emojiTabHeight: 34px;

    height: 309px;
    width: 238px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;

    .emoji-tabs {
        height: @emojiTabHeight;
        bottom: auto;
    }

    .emoji-tab {
        font-size: 12px;
        line-height: 20px;
        color: white;
        padding: 7px 14px;
        background-color: #ccc;
        border: 1px solid white;
        cursor: pointer;

        &.left {
            right: 50%;
            border-right: 0 none;
        }

        &.right { left: 50%; }

        &.active { background-color: #333; }

        &:focus, &:active {
            outline: 0;
            background-color: #555;
        }
    }

    .emoji-header {
        line-height: 20px;
        height: 34px;
        bottom: auto;
        padding: 0 0 0 14px;
        background-color: @background;

        .emoji-category {
            line-height: 34px;
            font-weight: bold;
            color: #333;
            display: inline-block;
            width: 100%;
            padding-right: 30px;
            .ellipsis();
        }

        i { line-height: 20px; }
    }

    .emoji-use-tabs .emoji-header { top: @emojiTabHeight; }

    .emoji-options {
        .dropdown-toggle {
            width: 34px;
            height: 20px;
            padding: 7px 0;
            display: inline-block;
            text-align: center;
        }
        .dropdown-toggle:focus {
            outline: 0;
            background-color: #08c;

            i { color: white; }
        }
    }

    .emoji-icons {
        top: 34px;
        bottom: 65px;
        height: 210px;
        padding: 14px 8px 14px 14px;
        white-space: normal;
        overflow: auto;
        background-color: white;
    }

    .emoji-use-tabs .emoji-icons {
        top: 34px + @emojiTabHeight;
    }

    .reset-recents {
        color: @link-color;
        cursor: pointer;
        display: block;
        margin: 7px 0;
        text-align: right;

        &:hover { text-decoration: underline; }
    }

    .emoji {
        width: 20px;
        height: 20px;
        margin: 0 7px 7px 0;
        cursor: pointer;

        &:focus {
            outline: 5px solid #ccc;
            background-color: #ccc;
        }
    }

    .emoji-footer {
        top: auto;
        height: 50px;
        padding: 7px 0 7px 10px;
        white-space: normal;
        border-top: 1px solid #fff;
        overflow: hidden;
        background-color: @background;

        .vertical-gradient(@background, darken(@background, 10%));
        .emoji { margin: 0 27px 3px 0; }
    }

    .one-row-footer {
        .emoji-icons { bottom: 40px; }

        .emoji-footer {
            height: 25px;

            .emoji { margin: 0 18px 3px 0; }
        }
    }

    /* bootstrap re-resets */

    .dropdown-toggle, .dropdown-toggle * { cursor: pointer; }

    .dropdown-menu {
        padding: 5px 0;
        margin: 2px 0 0;
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.2);

        a { cursor: pointer; }
    }
}


