/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Alexander Quast <alexander.quast@open-xchange.com>
 */

.calendar-list-view {

    .search-view .vgrid-cell.calendar .date {display: block; }

    .vgrid.editable .vgrid-cell { padding-left: 48px; }

    .vgrid-cell {

        &.calendar {
            height: 70px; /* = 3 rows */

            .vgrid-cell-checkbox { padding-top: 10px; }

            .contentContainer { padding-left: 10px; }

            .private {
                color: #555;
                float: right;
                display: inline-block;
            }

            .shown_as.label-info {
                width: 1em;
                height: 1em;
                float: right;
                margin-left: 1em;
                .border-radius(@border-radius-base);
            }

           &.declined .title,
           &.declined .location { text-decoration: line-through; }

            .time {
                position: relative;
                width: 80px;
                height: 100%;
                float: left;

                .fragment {
                    text-overflow: clip;
                    margin-right: 5px;
                }

            }

            .time:after {
                content: "";
                width: 20px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
            }

            .date { display: none; }
        }

        .custom_shown_as {
            &.reserved:after  { background-color: @appointment-reserved;  }
            &.temporary:after { background-color: @appointment-temporary; }
            &.absent:after    { background-color: @appointment-absent;    } /* red */
            &.free:after      { background-color: @appointment-free;      }
        }
    }
}

.custom-colors .calendar-list-view .vgrid-cell {
    .custom_shown_as {
        .generate-color-label(@counter) when (@counter > 0) {
            .generate-color-label((@counter - 1));

            &.color-label-@{counter} {
                @color-label-bg-mod: ~"color-label-bg-@{counter}";
                @color-label-bg-light: lighten(@@color-label-bg-mod, @custom-color-pattern-pct);


                &:after {
                    background-color: ~"@{color-label-bg-@{counter}}";
                }

                &.free:after {
                    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px, @color-label-bg-light 25px, @color-label-bg-light 50px);
                    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px, @color-label-bg-light 25px, @color-label-bg-light 50px);
                    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px, @color-label-bg-light 25px, @color-label-bg-light 50px);
                    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, @color-label-bg-light 25px, @color-label-bg-light 50px);
                }

                &.temporary:after {
                    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px, @color-label-bg-light 8px, @color-label-bg-light 16px);
                    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px, @color-label-bg-light 8px, @color-label-bg-light 16px);
                    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px, @color-label-bg-light 8px, @color-label-bg-light 16px);
                    background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, @color-label-bg-light 8px, @color-label-bg-light 16px);
                }
            }
        }

        .generate-color-label(10);
    }
}
