#io-ox-office-console {
	position: fixed;
	top: 10px;
	bottom: 10px;
	left: 10px;
	width: 40%;
	z-index: 60000;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .9);
	border: 1px solid #333;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

#io-ox-office-console>.output {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 42px;
	overflow: auto
}

#io-ox-office-console>.output>p {
	min-height: 12px;
	margin: 0;
	padding: 1px 5px;
	border-bottom: 1px solid #ccc;
	font-family: monospace;
	font-size: 10px;
	line-height: 12px;
	color: #333;
	word-wrap: break-word
}

#io-ox-office-console>.output>p>i {
	width: 12px;
	text-align: center
}

#io-ox-office-console>.output>p>:not (:first-child ){
	margin-left: 5px
}

#io-ox-office-console>.output>p.info {
	background-color: rgba(0, 0, 255, .05)
}

#io-ox-office-console>.output>p.info>i {
	color: #00f
}

#io-ox-office-console>.output>p.warn {
	background-color: rgba(255, 255, 0, .05)
}

#io-ox-office-console>.output>p.warn>i {
	color: #f90
}

#io-ox-office-console>.output>p.error {
	background-color: rgba(255, 0, 0, .05)
}

#io-ox-office-console>.output>p.error>i {
	color: red
}

#io-ox-office-console>.output>p>span.hover {
	color: #00f
}

#io-ox-office-console>.output>p>span.hover:hover {
	text-decoration: underline
}

#io-ox-office-console>.output:not (.show-time )>p>span.time {
	display: none
}

#io-ox-office-console>table.buttons {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 40px;
	table-layout: fixed;
	border-collapse: collapse
}

#io-ox-office-console>table.buttons td {
	border-top: 1px solid #333;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	white-space: nowrap
}

#io-ox-office-console>table.buttons td:hover {
	background-color: #eee
}

#io-ox-office-console>table.buttons td>i {
	width: 18px;
	padding-right: 3px;
	text-align: left
}

#io-ox-office-console>i {
	position: absolute;
	display: none
}

#io-ox-office-console.collapsed {
	top: 50%;
	left: -20px;
	width: 40px;
	height: 40px;
	margin-top: -10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 0, .5);
	cursor: pointer
}

#io-ox-office-console.collapsed>* {
	display: none
}

#io-ox-office-console.collapsed>i {
	display: block;
	right: 6px;
	top: 12px
}