.io-ox-core-pdf .text-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: .2;
	line-height: normal
}

.io-ox-core-pdf .text-wrapper>div {
	color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0
}

.io-ox-core-pdf .text-wrapper .highlight {
	margin: -1px;
	padding: 1px;
	background-color: #b400aa;
	border-radius: 4px
}

.io-ox-core-pdf .text-wrapper .highlight.begin {
	border-radius: 4px 0 0 4px
}

.io-ox-core-pdf .text-wrapper .highlight.end {
	border-radius: 0 4px 4px 0
}

.io-ox-core-pdf .text-wrapper .highlight.middle {
	border-radius: 0
}

.io-ox-core-pdf .text-wrapper .highlight.selected {
	background-color: #006400
}

.io-ox-core-pdf .text-wrapper ::selection {
	background: #00f
}

.io-ox-core-pdf .text-wrapper ::-moz-selection {
	background: #00f
}

.io-ox-core-pdf .canvas-wrapper {
	overflow: hidden
}

.io-ox-core-pdf .pdf-page {
	direction: ltr;
	margin: 0 auto;
	position: relative;
	overflow: visible;
	background-clip: content-box;
	background-color: #fff
}

.io-ox-core-pdf .pdf-page canvas {
	margin: 0;
	display: block
}

.io-ox-core-pdf .pdf-page .annotLink>a:hover {
	opacity: .2;
	background: #ff0;
	box-shadow: 0 2px 10px #ff0
}

.io-ox-core-pdf .pdf-page :-webkit-full-screen {
	margin-bottom: 100%;
	border: 0
}

.io-ox-core-pdf .pdf-page :-moz-full-screen {
	margin-bottom: 100%;
	border: 0
}

.io-ox-core-pdf .pdf-page :-ms-fullscreen {
	margin-bottom: 100% !important;
	border: 0
}

.io-ox-core-pdf .pdf-page :fullscreen {
	margin-bottom: 100%;
	border: 0
}

.io-ox-core-pdf .annotationLayer section {
	position: absolute
}

.io-ox-core-pdf .annotationLayer .linkAnnotation>a {
	position: absolute;
	font-size: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:
		url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)
		0 0 repeat
}

.io-ox-core-pdf .annotationLayer .linkAnnotation>a:hover {
	opacity: .2;
	background: #ff0;
	box-shadow: 0 2px 10px #ff0
}

.io-ox-core-pdf .annotationLayer .textAnnotation img {
	position: absolute;
	cursor: pointer
}

.io-ox-core-pdf .annotationLayer .popupWrapper {
	position: absolute;
	width: 20em
}

.io-ox-core-pdf .annotationLayer .popup {
	position: absolute;
	z-index: 200;
	max-width: 20em;
	background-color: #FF9;
	box-shadow: 0 2px 5px #333;
	border-radius: 2px;
	padding: .6em;
	margin-left: 5px;
	cursor: pointer;
	word-wrap: break-word
}

.io-ox-core-pdf .annotationLayer .popup h1 {
	font-size: 1em;
	border-bottom: 1px solid #000;
	padding-bottom: .2em
}

.io-ox-core-pdf .annotationLayer .popup p {
	padding-top: .2em
}

.io-ox-core-pdf .annotationLayer .highlightAnnotation, .io-ox-core-pdf .annotationLayer .underlineAnnotation,
	.io-ox-core-pdf .annotationLayer .squigglyAnnotation, .io-ox-core-pdf .annotationLayer .strikeoutAnnotation
	{
	cursor: pointer
}