.io-ox-tasks-edit {
	padding-top: 16px;
	padding-bottom: 16px
}

.io-ox-tasks-edit-main .collapsed, .io-ox-tasks-edit-main .task-edit-details
	{
	display: none
}

.io-ox-tasks-edit-main .progress-field {
	text-align: center
}

.io-ox-tasks-edit-main .note-field {
	resize: vertical;
	padding: 10px;
	min-height: 120px
}

.io-ox-tasks-edit-main .btn.btn-link {
	padding-left: 0;
	margin-bottom: 9px
}

.io-ox-tasks-edit-main .input-group .progress-field:focus,
	.io-ox-tasks-edit-main .input-group button[data-action=minus]:focus,
	.io-ox-tasks-edit-main .input-group button[data-action=plus]:focus {
	z-index: 3
}