/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.month-view {

    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }

    .footer-container {
        position: absolute;
        top: 7px;
        margin-left: @monthview-cw-width;
        width: auto;

        .footer {
            left: 0;

            .weekday {
                width: 100/7%;
                text-align: center;
            }
        }
    }

    .controls-container { padding-top: @default-padding; }

    .scrollpane {
        outline: 0;
        position: absolute;
        top: @weekview-footer-height + 11px;
        right: 0;
        bottom: 0;
        left: 0;
        .overflow-y(scroll);
        .backface-visibility(hidden);

        .week {
            // might be 6 weeks in a month
            height: 100/6%;
            padding-left: @monthview-cw-width;

            .week-info {
                position: absolute;
                left: 0;
                width: @monthview-cw-width - 10px;
                height: 100/6%;
                padding: 13px 13px 13px 1px;
                font-size: 11px;
                line-height: 1.0em;
                text-align: right;
                color: @hc-gray;
                margin-left: 10px;
                .ellipsis();

                &.no-border { border: 0; }

                .cw {
                    position: absolute;
                    right: 13px;
                    top: 5px;
                    z-index: 1;
                }
            }

            .day-filler {
                position: relative;
                display: inline-block;
                width: 100/7%;
                height: 100%;
                background-color: @white;

                &.bordertop   { border-top:   1px solid @monthview-border; }
                &.borderright { border-right: 1px solid @monthview-border; }
            }

            .day {
                position: relative;
                display: inline-block;
                width: 100/7%;
                height: 100%;
                border-top: 1px solid @monthview-border;
                border-right: 1px solid @monthview-border;
                background-color: @white;

                &.bordertop    { border-top:    1px solid @monthview-border; }
                &.borderbottom { border-bottom: 1px solid @monthview-border; }
                &.borderleft   { border-left:   1px solid @monthview-border; }
                &.borderright  { border-right:  1px solid @monthview-border; }

                &.first { border-left: none; }

                &.forceleftborder { border-left: 1px solid @monthview-border; }

                .number {
                    position: absolute;
                    color: #767676;
                    text-align: right;
                    right: 0;
                    top: 0;
                    padding: 5px 7px;
                    z-index: 1;
                    font-size: 11px;
                    line-height: 1em;
                    background-color: #fff;
                    .user-select(none);
                    cursor: default;

                    html.high-contrast & { color: @black; }

                }

                &.today .number {
                    color: #fff;
                    font-weight: bold;
                    background-color: @calendar-today;
                }

                &.weekend:not(.today) .number { color: #a00; }

                .list {
                    top: 25px;
                    margin: 2px;
                    .overflow-y(auto);
                    z-index: 0;
                }
            }
        }

        .month-name {
            text-align: center;
            font-size: 25px;
            min-height: 40px;
            color: #777;

            @media (min-height: 850px) { font-size: 35px; }

            div {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

    }

    // Appointment
    .appointment {
        line-height: 14px;
        margin-bottom: 1px;
        white-space: nowrap;
        cursor: pointer;
        background-color: @appointment-reserved;
        opacity: 0.85;
        .transition(opacity 0.2s);
        .backface-visibility(hidden);

        .appointment-content {
            height: 100%;
            width: 100%;
            font-size: 12px;
            padding: 2px 0;
            .ellipsis();
        }

        .appointment-content > * {
            padding-left: 5px;
            display: inline;
        }

        .private-flag {
            float: left;
            font-size: 15px;
        }
    }

    @media (min-width: 1281px) {
        @adjusted-width: @monthview-cw-width * 1.25;

        .footer-container { margin-left: @adjusted-width; }

        .scrollpane .week {
            padding-left: @adjusted-width;

            .week-info { width: @adjusted-width - 10px; }
        }
    }

    // Mobile
    @media (max-width: 480px) and (orientation: portrait), (max-height: 480px) and (orientation: landscape) {

        .toolbar .info {
            top: 10px;
            left: 10px;
            .ellipsis();
            width: 45%;
        }

        .footer-container {
            top: 0;
            margin-left: 0;

            .footer {
                left: 0;

                .weekday {
                    width: 100/7%;
                    font-size: 15px;
                }
            }
        }

        .scrollpane {
            -webkit-user-select: none;
            top: 33px;

            .week {
                height: 100/6%;
                min-height: 40px;
                border-bottom: 1px solid #ccc;
                padding-left: 0;

                &.no-border { border: 0; }

                .day {
                    width: 100/7%;
                    border-width: 0;
                    -webkit-user-select: auto;

                    &:active {
                        .transition(none);
                        background-color: #ccc;
                    }

                    .number {
                        top: auto;
                        bottom: auto;
                        left: 0;
                        text-align: center;
                        color: rgba(1,1,1,.6);
                        font-size: 20px;
                        font-weight: 200;
                        background-color: transparent;
                    }

                    &.today, &.today .number {
                        font-weight: bold;
                        color: @calendar-today;
                        background-color: transparent;
                    }

                    .list {
                        top: 50%;
                        font-size: 12px;
                        text-align: center;
                        color: #777;
                        .transition(color 0.2s linear);
                    }
                }

                .day-filler {
                    width: 100/7%;
                    border: 0;

                    &.bordertop { border: 0; }
                }
            }

            .month-name {
                margin-left: 0;
                border: 0;
                font-size: 26px;
                font-weight: 300;
            }
        }
    }
}
