/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 * @author David Bauer <david.bauer@open-xchange.com>
 */

.io-ox-dialog-wrapper {
    height: 100%;
    width: 100%;

    .modal-body {
        overflow-y: auto;
        max-height: 400px;
    }

    .modal-footer .checkbox {
        float: left;
        margin-top: 6px;
        margin-bottom: 0;
    }
}

.io-ox-dialog-underlay {
    background-color: black;
    opacity: 0;
    z-index: 65000;
    .transition(opacity 0.15s linear);

    &.in { opacity: 0.30; }

    &.topmost { z-index: 65002; }

}

.io-ox-dialog-popup {
    position: relative;
    max-width: 500px;
    margin: 0 auto 0 auto;
    overflow: visible;
    background-color: white;
    z-index: 65001;
    border: 0 none;
    .box-shadow(0 5px 25px -5px #000);
    .border-radius(@border-radius-base);

    .modal-header {
        position: relative;

        h2, h3, h4 {
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            .ellipsis();
        }

        &.help {
            h2, h3, h4 { margin-right: 35px; }
        }

        .io-ox-context-help {
            padding: 13px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 20px;
            line-height: 1.1;
        }
    }

    .modal-body {
        &.max-height-100 { max-height: 100px; }
        &.max-height-150 { max-height: 150px; }
        &.max-height-200 { max-height: 200px; }
        &.max-height-250 { max-height: 250px; }
        &.max-height-300 { max-height: 300px; }
        &.max-height-350 { max-height: 350px; }

    }

    &.zero-padding {
        .modal-body {
            padding: 0;

            iframe {
                display: block;
                .border-radius(5px 5px 0 0);
            }
        }

        .modal-footer { margin-top: 0; }
    }

    &.relogin { z-index: 65301; }

    .content {
        overflow: auto;

        .plain-text {
            font-size: 12pt;
            text-align: center;
            color: @text-color;
            padding: 10px;
        }

    }

    .modal-footer > .btn { min-width: 5em; }

    .modal-footer .help-block { text-align: left; }

    .io-ox-sidepopup {
        &.right { .border-radius(0 5px 5px 0); }
        &.left  { .border-radius(5px 0 0 5px); }
    }

    &:focus {
        outline: none;
        .box-shadow(0 5px 25px -5px darken(@link-color, 20%));
    }

    &.topmost { z-index: 65003; }

    .modal-header, .modal-footer { padding: 12px 16px; }

}

.subscribe-imap-folder .modal-body { padding: 0; }

// filepicker should always be 100% in width, also in landscape mode
.ios.smartphone, .android.smartphone .picker-pc-container .modal-body {
    & > div,
    & > ul { width: 100%; }
}
// filepicker mobile
.picker-pc-container .io-ox-pagecontroller.page { padding-top: 40px; }

.add-infostore-file {
    .picker-pc-container {
        position: relative;
        height: 350px;
        @media all and (max-width: 480px), all and (max-device-width: 480px) {
            .folder-tree .folder-node .folder-arrow { position: static; }
        }

        .io-ox-fileselection {
             li.file {
                font-size: @font-size-touch;
                outline: none;
                line-height: 40px;
                padding: 2px 7px;
                .user-select(none);

                label {
                    margin-top:   10px;
                    margin-left:  2px;
                    margin-right: 5px;
                    float: left;
                }

                .checkbox-inline { font-size: 16px; }

                .name { .ellipsis(); }

                &.selected, &.selected:hover {
                    background-color: @foldertree-selected-background;

                    * { color: @foldertree-selected-label-color; }
                }

                &:focus {
                    background-color: @foldertree-selected-focus-background;

                    * { color: @foldertree-focused-label-color; }
                }
            }

            &.singleselect li.file .name { padding-left: 0.5em; }
        }
    }

    .modal-body {
        padding: 0;
        overflow: hidden;

        & > div, & > ul {
            display: inline-block;
            width: 50%;
            height: 100%;
            vertical-align: top;
            overflow: auto;
            margin: 0;
        }

        @media all and (max-width: 480px), all and (max-device-width: 480px) {
            & > div,
            & > ul { width: 100%; }
        }

        .folder-tree { border-right: 1px solid #ddd; }

        .io-ox-fileselection {

            li.file {
                outline: none;
                line-height: 30px;
                padding: 2px 7px;
                cursor: pointer;
                .user-select(none);

                label {
                    margin-top: 5px;
                    margin-left: 5px;
                    float: left;
                }

                .name { .ellipsis(); }

                &.selected {
                    background-color: @foldertree-selected-focus-background;

                    * { color: @foldertree-focused-label-color; }
                }

                &:focus {
                    background-color: darken(@foldertree-selected-focus-background, 5%);

                    * { color: @foldertree-focused-label-color; }
                }
            }

            &.singleselect li.file .name { padding-left: 0.5em; }
        }
    }

    .modal-footer { margin-top: 0; }
}

/* ios momentum scrolling, breakes mobile chrome if applied to all devices */
.ios .io-ox-dialog-popup { -webkit-overflow-scrolling: touch; }

.mobile-dialog.io-ox-dialog-popup {

    overflow-y: scroll;
    max-height: 95%;
    width: 95%;
    margin-top: 0;
    top: 10px;
    .border-radius(0);

    .modal-footer {
        margin-top: 0;

        .row {
            [class*="col-"] { margin-left: 0; }

            .btn {
                width: 100%;
                margin: 2px 0;
            }
        }
    }

    h3 { font-size: 20px; }
}

/***************** Android stock browser tweaks **************/
.legacy-chrome .io-ox-dialog-popup .modal-footer .row {
    margin: 0;

    .col-md-3 { padding: 0; }
}


.export-dialog .modal-body label.checkbox { padding-left: 20px; }

//
// Backbone-based Modal Dialog
//
.modal.flex {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .modal-dialog {
        margin: 0;
        padding: 16px 0;
        width: 500px;
    }

    .modal-content {
        border: 0;
    }

    .modal-title {
        font-size: 18px;
        line-height: 24px;
        margin: -3px 0 2px 0;
    }

    .modal-body {
        min-height: 60px;
        overflow-y: auto;
    }

    .modal-header, .modal-body, .modal-footer {
        padding: 16px;
        flex-grow: 0;
    }

    .modal-header {
        // helps against flex grow pushing the headline out of the dialog
        min-height: 56px;
    }

    .modal-footer {
        .btn.pull-left { margin-right: 8px; }
        .btn.pull-right { margin-left: 8px; }

        // helps against flex grow pushing the buttons out of the dialog
        min-height: 63px;
    }

    &.maximize {
        .modal-dialog {
            height: 100%;
        }
        .modal-content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: 100%;
        }
        .modal-body {
            flex-grow: 1;
        }
    }

    .modal-header.help {
        .modal-title {
            margin-right: 40px;
        }
        .io-ox-context-help {
            padding: 16px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            line-height: 24px;
        }
    }
}
