/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 * @author David Bauer <david.bauer@open-xchange.com>
 */

/** DROPDOWNS **/
.dropdown a i.fa-caret-down {
    color: inherit;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-menu {

    &.dropdown-right {
        right: 4px; left: auto;
    }

    &.dropdown-right-side {
        top: 15%;
        left: 42px;
    }
    & > li > a:focus {
        color: @selected-color;
        background: @selected-background;
        outline: 0;
    }
}

.dropdown-header, .dropdown-footer {
    display: block;
    cursor: default;
    max-width: 230px;
    .ellipsis();
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #767676;

    // allow line breaks for dropdown description (using bs dropdown-header style)
    &.dropdown-description {
        min-width: 200px;
        white-space: normal;
        cursor: pointer;
    }

    html.high-contrast & {
        color: @hc-gray; // HC
    }
}

.dropdown-footer {
    padding: 6px 20px 3px 20px;
    border-top: 1px solid #ddd;
    margin-top: 6px;
}

.dropdown {
    // fixes dropdown in breadcrumb
    li {
        display: block; text-shadow: none;
        .fa { width: 2em; text-align: left; } // icons in dropdowns
        small { font-size: 12px; color: #777; }
    }

    a:hover, a:focus {
        text-decoration:none;
    }

    a b.caret {
        color:#333;
    }
}

.attachment-list {
    .dropdown {
        margin-right: 1em;
    }
}

ul.dropdown-menu li a.disabled {
    color:#999;
}

/* context menu */
.context-dropdown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.01);
    display: none;

    &.dropdown {
        position: fixed;
    }

    .dropdown-toggle {
        // must be visible in order to receive the focus
        outline: 0;
    }

    &.open {
        display: block;
    }

    .dropdown-menu {
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 10001; // > 10000; see bug #32517
    }

    .dropdown-menu.io-ox-busy {
        min-height: 100px;
    }

    .dropdown-menu:empty,
    .divider:first-child, .divider:last-child, .divider + .divider { display: none; }
}

.smart-dropdown-container {
    ul {
        position: fixed;
        overflow-y: auto;
        z-index: 10002;
    }

    .abs {
        overflow: hidden;
        z-index: 10001;
        position: fixed;
        cursor: default;
    }
}

.tt-dropdown-menu {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

// TINY SCREENS
@media (max-width: 700px) {
    .window-head {
        .dropdown-right-side {
            top: auto;
            bottom: 40px;
            left: 5px;
        }
    }
}

// small screens (mobile)
// note that we have to target max-width and max-device-width
// to target all devices which don't support the max-device-width
// property
@media(max-width: 480px) and (orientation: portrait), (max-height: 480px) and (orientation: landscape) {

    /** custom bootstrap dropdowns on mobile devices **/
    .custom-dropdown.dropdown-menu {
        z-index: 65500;
        max-height: 90%; /* Fixed with iOS 8.0.2 -> Reverted changes for Bug 34487: iOS 8 has problems on pre iPhone 6 devices with max-height, position fixed and bottom: 0 */
        min-width: initial;
        .overflow-y();
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0 !important;
        right: 0;
        .border-radius(0);
        border: 0;
        background-color: transparent;

        .active-app {
            a {
               font-weight: bold;
            }
        }

        @marginSmall  : 0px;
        @marginLarge  : 5px;
        @extraPadding : 5px;
        @border-radius: 4px;

        .divider {
            display: none;
            margin: 0;
            height: @marginLarge - 2 * @marginSmall; // because the siblings still have margins
            visibility: hidden;
        }

        .divider + .divider {
            display: none;
        }

        .dropdown-header {
            max-width: 100%;
            /* background: rgba(255, 255, 255, 0.5); */
            color: @link-color;
            padding: 5px;
            /* margin-bottom: 5px; */
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            text-transform: uppercase;

            &.dropdown-description {
                text-transform: none;
                font-size: 12px;
                line-height: 1.42857143;
                color: #999;
            }
        }

        li {

            background-color: #fff;
            margin: @marginSmall 5px;
            text-align: center;

            a, .custom-dropdown-label {
                padding: (3px + @extraPadding) 20px;
            }

            a[role~="menuitemcheckbox"] {
                margin-left: -30px;
            }

            .fa {
                line-height: inherit;
                width: 30px;
            }

            &:not(.has-dropdown-description), & + .dropdown-description {
                border-bottom: 1px solid #ddd;
            }

            &:first-child {
                border-top-left-radius: @border-radius;
                border-top-right-radius: @border-radius;
            }

            &:nth-last-child(2) {
                border-bottom-left-radius: @border-radius;
                border-bottom-right-radius: @border-radius;
            }

            &:last-child {
                margin-top: @marginLarge;
                border-radius: @border-radius;
            }

            // no clue why but there are empty <li> in system drop-down, for example
            &:empty { padding: 0; }

            & > a, & > span, & .custom-dropdown-label {
                .ellipsis();
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                user-select: none;
                line-height: 30px;
                font-size: 18px;
                font-weight: 300;
                max-width: none !important;
            }
            .custom-dropdown-label {
                color: #999;
            }
        }

        .io-ox-action-link:last-child { margin: 0; };

        .dropdown-menu li > a:focus:not(.disabled) {
            background-color: initial;
            background-image: none;
            color: initial;
        }

         /* fixes for mail flags */
        .flag-example, .color-example {
            display: inline-block;
            left: 10px;
            width: 10px;
            height: 30px;
            border-width: 0;
            border-radius: 0;
            position: absolute;
        }

        .instant-preview {
            padding: 3px 20px;
        }

        .color-black      { background-color: #333; }
        .color-red        { background-color: @red; }
        .color-orange     { background-color: @orange; }
        .color-lightgreen { background-color: darken(@green-light, 10%); }
        .color-green      { background-color: @green; }
        .color-lightblue  { background-color: darken(@blue-light, 20%); }
        .color-blue       { background-color: @blue; }
        .color-purple     { background-color: @purple; }
        .color-pink       { background-color: darken(@pink, 10%); }
        .color-gray       { background-color: darken(@gray-light, 20%); }

        // Disable hover state on mobile devices for custom dropdowns
        // -----------
        &.dropdown-menu li > a:hover:not(.disabled),
        &.dropdown-menu li > a:focus:not(.disabled),
        &.dropdown-submenu:hover > a:not(.disabled) {
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            background-image: none;
        }

        &.dropdown-menu li > a:active {
            color: @dropdown-link-active-color;
            text-decoration: none;
            outline: 0;
            .vertical-gradient(@dropdown-link-active-bg, darken(@dropdown-link-active-bg, 5%));
        }
    }
    .android .custom-dropdown.dropdown-menu {
        /* active state must be disabled due to messed up active classes on android */
        &.dropdown-menu li > a:active {
            color: inherit;
            text-decoration: none;
            outline: 0;
            background: none;

        }
    }
    //** blur style for body when mobile custom menus are shown **/
    .ios #io-ox-core {
         transition: -webkit-filter 100ms ease-in;
         -webkit-filter: blur(0);

        &.menu-blur { -webkit-filter: blur(5px); }
    }
}
