/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Alexander Quast <alexander.quast@open-xchange.com>
 */

// some local vars
@pop-scale: .9;

.taptrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100;
}

.io-ox-pagecontroller {

    &.page {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
        &:not(.current):not(.inmotion) {
            display: none;
        }
        .content {
            margin: 0 8px;
        }
    }
}

/*
 *   Animation stuff
 */
.io-ox-core-animation {

    &.in, &.out{
                animation-duration: @pagecontroller-animation-duration;
        -webkit-animation-duration: @pagecontroller-animation-duration;
           -moz-animation-duration: @pagecontroller-animation-duration;
                animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
        -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
           -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
                animation-timing-function: cubic-bezier(.1, .7, .1, 1);
        -webkit-backface-visibility: hidden;
           -moz-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-perspective: 1000;
           -moz-perspective: 1000;
                perspective: 1000;
    }

    &.fade.in {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 150ms;
           -moz-animation-timing-function: linear;
           -moz-animation-duration: 150ms;
                animation-timing-function: linear;
                animation-duration: 150ms;
        -webkit-animation-name: fadeIn;
           -moz-animation-name: fadeIn;
                animation-name: fadeIn;
    }

    &.fade.out {
        opacity: 0;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 150ms;
           -moz-animation-timing-function: linear;
           -moz-animation-duration: 150ms;
                animation-timing-function: linear;
                animation-duration: 150ms;
        -webkit-animation-name: fadeOut;
           -moz-animation-name: fadeOut;
                animation-name: fadeOut;
    }

    &.slideleft.in {
        -webkit-animation-name: slideLeftIn;
           -moz-animation-name: slideLeftIn;
                animation-name: slideLeftIn;
    }

    &.slideleft.out {
        -webkit-animation-name: slideLeftOut;
           -moz-animation-name: slideLeftOut;
                animation-name: slideLeftOut;
    }

    &.slideright.in {
        -webkit-animation-name: slideRightIn;
           -moz-animation-name: slideRightIn;
                animation-name: slideRightIn;
    }

    &.slideright.out {
        -webkit-animation-name: slideRightOut;
           -moz-animation-name: slideRightOut;
                animation-name: slideRightOut;
    }

    &.slideup.in {
        -webkit-animation-name: slideUpIn;
           -moz-animation-name: slideUpIn;
                animation-name: slideUpIn;
    }

    &.slideup.out {
        -webkit-animation-name: slideUpOut;
           -moz-animation-name: slideUpOut;
                animation-name: slideUpOut;
    }

    &.slidedown.in {
        -webkit-animation-name: slideDownIn;
           -moz-animation-name: slideDownIn;
                animation-name: slideDownIn;
    }

    &.slidedown.out {
        -webkit-animation-name: slideDownOut;
           -moz-animation-name: slideDownOut;
                animation-name: slideDownOut;
    }

    &.pop {
        -webkit-transform-origin: 50% 50%;
           -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }

    &.pop.in {
        -webkit-transform: scale(1);
        -webkit-animation-name: popin;
        -webkit-animation-duration: 350ms;
        -moz-transform: scale(1);
        -moz-animation-name: popin;
        -moz-animation-duration: 350ms;
        transform: scale(1);
        animation-name: popin;
        animation-duration: 350ms;
        opacity: 1;
    }

    &.pop.out {
        -webkit-animation-name: fadeOut;
        -webkit-animation-duration: 100ms;
        -moz-animation-name: fadeOut;
        -moz-animation-duration: 100ms;
        animation-name: fadeOut;
        animation-duration: 100ms;
        opacity: 0;
    }

}

@-webkit-keyframes popin {
    from {
        -webkit-transform: scale(@pop-scale);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@-moz-keyframes popin {
    from {
        -moz-transform: scale(@pop-scale);
        opacity: 0;
    }
    to {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes popin {
    from {
        transform: scale(@pop-scale);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(@pop-scale);
        opacity: 0;
    }
}

@-moz-keyframes popout {
    from {
        -moz-transform: scale(1);
        opacity: 1;
    }
    to {
        -moz-transform: scale(@pop-scale);
        opacity: 0;
    }
}

@keyframes popout {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(@pop-scale);
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes slideLeftIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0 ,0, 0);
    }
}

@-moz-keyframes slideLeftIn {
    0% {
        -moz-transform: translate3d(100%, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0 ,0, 0);
    }
}
@keyframes slideLeftIn {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(0 ,0, 0);
    }
}

@-webkit-keyframes slideLeftOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

@-moz-keyframes slideLeftOut {
    0% {
        -moz-transform: translate3d(0, 0, 0);
    }
    100% {
        -moz-transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideLeftOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes slideRightIn {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slideRightIn {
    0% {
        -moz-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes slideRightIn {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideRightOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@-moz-keyframes slideRightOut {
    0% {
        -moz-transform: translate3d(0, 0, 0);
    }
    100% {
        -moz-transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideRightOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes slideUpIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slideUpIn {
    0% {
        -moz-transform: translate3d(0, 100%, 0);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes slideUpIn {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideUpOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@-moz-keyframes slideUpOut {
    0% {
        -moz-transform: translate3d(0, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideUpOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes slideDownIn {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slideDownIn {
    0% {
        -moz-transform: translate3d(0, -100%, 0);
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@keyframes slideDownIn {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideDownOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@-moz-keyframes slideDownOut {
    0% {
        -moz-transform: translate3d(0, 0, 0);
    }
    100% {
        -moz-transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideDownOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 100%, 0);
    }
}
