/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 * @author David Bauer <david.bauer@open-xchange.com>
 */

#io-ox-desktop {
    top: 32px;
    z-index: 1;
    overflow: hidden;
}

#io-ox-screens {
    top: 40px;
    overflow: hidden;
    z-index: 10;
}

#io-ox-windowmanager { overflow: hidden; }

#io-ox-windowmanager-pane {
    left: 0;
    width: 100%;
}

.touch {
    #io-ox-screens { top: 40px; }

    #io-ox-windowmanager .window-container-center { width: 100% !important; }
}

.window-title {
    padding: 0 13px 0 13px;
    color: @window-title-color;
    font-family: @light-font-family;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    text-shadow: 0 0 2px #000;
    .ellipsis();
    /* override h1 */
    display: block;
    margin: 0;

    .badge {
        position: relative;
        display: inline-block;
        line-height: 1.4em;
        top: -3px;
        left: 10px;
    }
}

.smartphone .window-container.header-top {
    .window-body{
        top: 0;
        margin-bottom: 40px;
    }

    .window-header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 666;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #ddd;
        padding: 0;
        border-top: 1px solid @link-color;

        .container {
            padding-left:0;
            padding-right:0;
        }

        h1.title { display: none; }

        a.btn {
            padding: 0;
            line-height: 40px;
            border: 0;
            border-radius: 0;
            margin: 0;
            height: 40px;
            width: 50%;

        }

        button.btn {
            border: 0;
            border-radius: 0;
            margin: 0;
            height: 40px;
            width: 50%;
        }
    }
}

.window-container {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;

    &.header-top {

        .window-body {
            top: 48px;
            bottom: 0;
        }

        .window-header {

            position: absolute;
            width: 100%;
            height: 48px;
            background-color: @window-header-color;
            border-bottom: 1px solid darken(@window-header-color, 15%);
            padding: 8px 0;
            z-index: 2;
            // yep, a shadow
            .box-shadow(0 1px 5px rgba(0, 0, 0, 0.10));

            h1.title {
                margin: 0.2em 0;
                font-size: 20px;
                float: left;
            }

            .btn {
                min-width: 80px;
                margin-right: 8px;
                height: 32px;
            }
        }

        // always reserve space for scroll bar
        .window-content { overflow-y: scroll !important; }
    }

    &.header-bottom {

        .window-body {
            bottom: 64px;
            top: 0;
        }

        .window-header {
            display: none;
        }

        .window-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 64px;
            background-color: @window-header-color;
            border-top: 1px solid darken(@window-header-color, 15%);
            padding: 16px 0;
            z-index: 2;
            // yep, a shadow
            .box-shadow(0 1px 5px rgba(0, 0, 0, 0.10));

            h1.title {
                margin: 0.2em 0;
                font-size: 20px;
                float: left;
            }

            .btn {
                min-width: 80px;
                margin-right: 8px;
                height: 32px;
            }
        }

        // always reserve space for scroll bar
        .window-content { overflow-y: scroll !important; }
    }

    &.classic {
        color: white;

        .window-head {
            width: auto; right: 0; height: 30px; color: white;
            border-top: 1px solid #000;
            padding: 7px 0 11px 0;
            text-align: center;

            .toolbar-button { display: none; }
        }

        .window-body {
            top: 50px;
            left: 0;
        }
    }

    &.simple-window {
        position: relative;
        z-index: 11; // higher than io-ox-screens
    }
}

.window-container-center {
    position: relative;
    margin: 0 auto 0 auto;
    width: 100% !important; /* 90% */
    max-width: 100%;
    height: 100%;
}

#io-ox-windowmanager.fullscreen .window-container-center {
    width: 100% !important;
}

.window-blocker {

    background-color: rgba(255, 255, 255, 0.8);
    z-index: 30;

    .progress {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 8px;
        margin-left: -200px;
    }

    @media (max-width: 480px), (max-device-width: 480px) {
        .progress {
            width: 150px;
            margin-left: -75px;
        }
    }

    .header {
        top: auto;
        bottom: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer {
        top: 50%;
        bottom: auto;
        margin-top: 8px;
        text-align: center;
    }

    .first { margin-top: -20px; }

    .second {
        margin-top: -5px;
        height: 4px;
        .progress-bar {
            background-color: #555;
        }
    }

    .progress .progress-bar { .border-radius(2px); }
}

.window-head {
    font-size: @window-head-font-size;
    background-color: @window-head-color;
    position: absolute;
    top: 0;
    width: @window-head-width;
    bottom: 0;
    left: 0;
    z-index: 20;
    .user-select(none);
    filter: none;

    html.high-contrast & { border-right: 1px solid @hc-border-color; }

    &.css-table {
        table-layout: fixed;
    }

}

.window-sidepanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    z-index: 2;
    overflow: hidden;
    display: none;
    background-color: #f5f5f5;

    &.visible {
        .flex-display(flex);
        .flex-direction(column);
        overflow: visible;
        width: 250px;
        + .window-body { left: 250px; }
    }

    .folder-tree {
        position: static;
        .flex(1);
    }

    .resizebar {
        background: transparent;
        width: 5px;
        height: 100%;
        position: absolute;
        z-index: 1;
        float: right;
        cursor: e-resize;
        cursor: ew-resize;
        cursor: col-resize;
        top: 0;
        right: -3px;
        bottom: 0;
    }

    .generic-toolbar {
        .flex(0 0 auto);
        position: static;

        &.bottom {
            border-color: rgba(0, 0, 0, 0.10);
            background-color: @foldertree-sidepanel-background;
        }

        &.premium-toolbar {
            height: auto;
            line-height: 16px;
            background-color: @premium-toolbar-background;
            padding: 8px 16px;

            ul {
                margin: 0;
                padding-top: 3px;
                margin-bottom: 5px;

                li {
                    padding-top: 5px;
                    margin-bottom: 3px;
                }
            }

            ul a,
            .header a { color: @premium-toolbar-link-color; }

            .header {
                margin: -8px -16px 6px -16px;
                padding: 10px 16px;
                background-color: @premium-toolbar-header-background;
                color: @premium-toolbar-header-color;
            }

            .io-ox-upsell-link { padding-top: 5px; }
        }
    }
}

.window-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}


.window-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: @window-head-width;
    white-space: normal;
    z-index: 1;
    .user-select(text);
}

.window-content {
    top: 0;
    z-index: 2;
    background-color: @background;
    overflow: hidden;
    outline: 0;

    textarea {
        .user-select(text);
        resize: none;
    }
}

.leftside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    background-color: @background;
    overflow: hidden;
}

.rightside {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 320px;
    background-color: @background;
    overflow: auto;
}

.rightside-navbar { display: none; }

@media (max-width: 900px) {
    .leftside { width: 250px; }
    .rightside { left: 250px; }
}

@media (min-width: 1300px) {
    .leftside  { width: 400px; }
    .rightside { left:  400px; }
}

@media (min-width: 1500px) {
    .leftside {  width: 450px; }
    .rightside { left:  450px; }
}

@media (min-width: 1700px) {
    .leftside { width: 500px; }
    .rightside { left: 500px; }
}

// TINY SCREENS
@media (max-width: 540px) {
    .window-head {
        top: auto;
        right: 0;
        width: auto;
        height: 40px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-right: 0 none;

        .toolbar-button {

            line-height: 44px;
            float: left;
            margin: 0;

            & > a {
                height: 40px;
            }
        }
    }

    .window-body {
        bottom: 40px;
        left: 0;
    }

    .chromeless-window .window-body { bottom: 0; }

    .vsplit {
        left: 0; width: 200%; right: auto;
        -webkit-animation-timing-function: ease-out;
        -webkit-animation-duration: 350ms;
        animation-timing-function: ease-out;
        animation-duration: 350ms;
    }

    .vsplit-slide {
        -webkit-transform: translateX(-50%);
        -webkit-animation-name: slideright;
        transform: translateX(-50%);
        animation-name: slideright;
    }

    .vsplit-reverse {
        -webkit-transform: translateX(0);
        -webkit-animation-name: slideleft;
        transform: translateX(0);
        animation-name: slideleft;
    }

    .touch .vsplit { -webkit-backface-visibility: hidden; }

    .vsplit .leftside {
        width: 50%;
        right: auto;
        z-index: 1;
    }

    .vsplit .rightside {
        left: 50%;
        width: 50%;
        top: 41px;
        right: auto;
        z-index: 2;
    }

    .vsplit .rightside-navbar {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 41px;
        background-color: @white;
        border-bottom: 1px solid #ccc;
        padding: 5px 13px 5px 13px;
        z-index: 2;
        line-height: 2em;
        display: block;
    }

    .vsplit-reverse {
        .rightside-navbar,
        .rightside { display:none; }
    }
}

// landscape fullscreen on iPhone
// iOS will go fullscreen and show an overaly with own buttons
// we need to position our buttons around them
@media (height: 320px) and (orientation:landscape) {
    .window-head { padding-right: 40px; }
}

// small screens (mobile)
// note that we have to target max-width and max-device-width
// to target all devices which don't support the max-device-width
// property
@media(max-width: 480px) and (orientation: portrait), (max-height: 480px) and (orientation: landscape) {
    .window-sidepanel {
        display: block;
        -webkit-backface-visibility: hidden;
    }
}
