.viewer-sidebar {
	position: absolute;
	width: 360px;
	padding: 16px;
	display: none;
	overflow-y: auto;
	overflow-x: hidden
}

.viewer-sidebar .viewer-responsive-label[data-label-normal]:before {
	content: attr(data-label-normal)
}

@media ( orientation :portrait) {
	.viewer-sidebar .smartphone .viewer-responsive-label[data-label-normal]:before
		{
		content: attr(data-label-short)
	}
}

.viewer-sidebar.open {
	display: block
}

.viewer-sidebar .viewer-uploadnewversion>.form-group {
	margin-top: 5px
}

.viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default {
	background-color: transparent;
	width: 100%
}

.viewer-sidebar .breadcrumb-view {
	margin: 0
}

.viewer-sidebar .breadcrumb-tail {
	font-weight: 400
}

.sidebar-panel {
	margin-bottom: 16px
}

.sidebar-panel .close {
	position: relative;
	top: -5px
}

.sidebar-panel .sidebar-panel-heading {
	position: relative;
	padding: 12px 0 5px
}

.sidebar-panel .sidebar-panel-heading .panel-toggle-btn {
	color: inherit;
	position: absolute;
	top: 10px;
	right: 0
}

.sidebar-panel .sidebar-panel-heading h3 {
	font-size: 13px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	cursor: default
}

.sidebar-panel .sidebar-panel-heading.io-ox-busy:before {
	top: 185%
}

.sidebar-panel .sidebar-panel-body {
	padding: 12px 0 5px
}

.sidebar-panel .sidebar-panel-body.panel-collapsed {
	display: none
}

.sidebar-panel .sidebar-panel-body:after {
	content: " ";
	display: table;
	clear: both
}

.sidebar-panel .sidebar-panel-body dd, .sidebar-panel .sidebar-panel-body dt
	{
	line-height: 16px;
	margin-bottom: 8px;
	float: left
}

.sidebar-panel .sidebar-panel-body dt {
	width: 33%;
	font-weight: 400;
	cursor: default;
	clear: both
}

.sidebar-panel .sidebar-panel-body dd {
	width: 66%;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	word-wrap: break-word
}

.sidebar-panel .sidebar-panel-body dd.io-ox-busy:before {
	font-size: inherit;
	left: 0;
	margin-left: 0
}

.sidebar-panel .sidebar-panel-body .versiontable {
	white-space: nowrap;
	margin-bottom: 0
}

.sidebar-panel .sidebar-panel-body .versiontable td {
	padding: 0;
	border-top: 0;
	line-height: 16px
}

.sidebar-panel .sidebar-panel-body .versiontable .version-content {
	padding: 0 0 8px
}

.sidebar-panel .sidebar-panel-body .versiontable .version-content .createdby,
	.sidebar-panel .sidebar-panel-body .versiontable .version-content .last_modified,
	.sidebar-panel .sidebar-panel-body .versiontable .version-content .size
	{
	padding: 2px
}

.sidebar-panel .sidebar-panel-body .versiontable .version-content .last_modified
	{
	float: right
}

.sidebar-panel .sidebar-panel-body .versiontable .version-content .size
	{
	text-align: left
}

.sidebar-panel .sidebar-panel-body .versiontable .dropdown>a.current {
	font-weight: 700
}

.sidebar-panel .sidebar-panel-body .description {
	display: block;
	white-space: pre-wrap;
	line-height: 16px;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.sidebar-panel .sidebar-panel-body .description.description-empty {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default
}

.sidebar-panel.viewer-fileinfo {
	margin-bottom: 0
}

.io-ox-viewer.viewer-dark-theme {
	font-size: 13px;
	background-color: rgba(0, 0, 0, .85);
	color: #fff;
	outline: 0;
	z-index: 1000;
	scrollbar-base-color: #666;
	scrollbar-track-color: rgba(0, 0, 0, .4);
	scrollbar-arrow-color: #999 #999
}

.io-ox-viewer.viewer-dark-theme ::-webkit-scrollbar {
	width: 12px
}

.io-ox-viewer.viewer-dark-theme ::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .4)
}

.io-ox-viewer.viewer-dark-theme ::-webkit-scrollbar-thumb {
	background: #555;
	width: 12px
}

.io-ox-viewer.viewer-dark-theme ::-webkit-scrollbar-thumb:hover {
	background: #777
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #000;
	list-style: none;
	padding-left: 0;
	text-align: right;
	z-index: 2;
	border-bottom: 1px solid #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar i.fa {
	font-size: 14px
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li {
	display: inline-block;
	height: 40px;
	text-align: center
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li>a {
	display: inline-block;
	height: 40px;
	min-width: 48px;
	padding: 0 16px;
	outline: 0;
	text-align: center;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #000
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li>a:not (.disabled ):hover
	{
	color: #999;
	background-color: #333
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li>a:not (.disabled ):focus,
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li>a:not (.disabled ):active
	{
	color: #fff;
	background-color: #222
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li>a.active {
	color: #fff;
	background-color: #222
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li.dropdown {
	margin-right: 48px
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li.dropdown.open {
	background-color: #222
}

@media ( max-width :1023px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li.dropdown {
		margin-right: 0
	}
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar>li .dropdown-menu {
	margin: 0
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename
	{
	max-width: 400px;
	padding: 0 16px;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i
	{
	margin-right: 16px;
	font-size: 14px
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-excel-o
	{
	color: #44B957
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-word-o
	{
	color: #1A9DD4
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-powerpoint-o
	{
	color: #EE5F37
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-pdf-o
	{
	color: #CF1E28
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-image-o
	{
	color: #EE5F37
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-text-o
	{
	color: #4285f4
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):hover, .io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):active, .io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):focus {
	color: #999;
	background: #333
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename.disabled
	{
	cursor: default
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename i
		{
		margin-right: 5px
	}
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) and
	(min-width:320px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 115px
	}
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) and
	(min-width:1024px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 215px
	}
}

@media screen and (min-aspect-ratio:13/9) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 220px
	}
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation
	{
	position: absolute;
	top: 0;
	left: calc(50% - 280px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row
}

@media ( max-width :1023px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation
		{
		left: 135px
	}
}

@media ( max-width :767px) {
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation
		{
		display: none
	}
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation-button
	{
	cursor: pointer
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled
	{
	color: #ccc;
	cursor: auto
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:hover,
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:focus,
	.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:active
	{
	background: #fff
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-page-wrapper
	{
	display: inline-block;
	outline: 1px solid #e0e0e0;
	height: 30px;
	margin: 5px 10px
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-page {
	display: block;
	height: 28px;
	line-height: 28px;
	width: 40px;
	padding-right: 5px;
	text-align: right;
	-webkit-appearance: none;
	border: 0
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .viewer-toolbar-page-total
	{
	color: #3c73aa;
	display: inline-block
}

.io-ox-viewer.viewer-dark-theme .viewer-toolbar .fitzoom-check {
	display: none
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar:not (.open )~.viewer-toolbar a.viewer-toolbar-togglesidebar:focus
	{
	color: rgba(255, 255, 255, .3)
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0;
	outline: 0
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer.toolbar-bottom-visible .toolbar.bottom
	{
	display: block
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .toolbar.bottom {
	display: none
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .toolbar.bottom .upload-wrapper
	{
	border-top: 1px solid #000;
	background-color: #000
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer #viewer-carousel,
	.io-ox-viewer.viewer-dark-theme .viewer-displayer .carousel-inner,
	.io-ox-viewer.viewer-dark-theme .viewer-displayer .item, .io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-container
	{
	height: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-container {
	width: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-container .swiper-slide
	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-container .swiper-slide.swiper-slide-document
	{
	display: block;
	height: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-container .io-ox-busy::before
	{
	color: rgba(255, 255, 255, .3)
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-item-container
	{
	max-height: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-item
	{
	max-height: 100%;
	max-width: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-image
	{
	display: none;
	background-color: #fff;
	background-image: -webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent
		75%, #eee 75%, #eee),
		-webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent
		75%, #eee 75%, #eee);
	background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee
		75%, #eee),
		linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee
		75%, #eee);
	background-position: 0 0, 16px 16px;
	background-size: 32px 32px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio.player-hidden
	{
	display: none
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio img
	{
	display: block;
	max-width: 280px;
	max-height: 280px;
	margin-bottom: 4px;
	border-radius: 6px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio audio
	{
	width: 280px;
	min-height: 34px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio .play-button
	{
	position: absolute;
	width: 280px;
	height: 280px;
	padding-top: 100px;
	text-align: center;
	font-size: 56px;
	color: #eee;
	cursor: pointer
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio .player-text
	{
	text-align: center
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-video
	{
	min-height: 34px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-video.player-hidden
	{
	display: none
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio-video-placeholder
	{
	width: 90%;
	height: 90%
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-audio-video-placeholder i
	{
	font-size: 56px;
	text-align: center
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .document-container .document-page
	{
	margin: 20px auto;
	width: 450px;
	background: #fff;
	color: #000;
	box-shadow: 0 0 8px rgba(255, 255, 255, .2)
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .white-page {
	color: #333;
	background-color: #fff;
	width: 100%;
	max-width: 21cm;
	padding: 16px;
	margin: 32px auto;
	min-height: 90%;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .white-page .io-ox-busy::before
	{
	color: rgba(0, 0, 0, .3)
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .letter {
	padding: 77px 3cm
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .plain-text {
	font: 13px/1.23077em monospace;
	white-space: pre-wrap
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-caption
	{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 40px;
	text-align: center;
	display: none;
	pointer-events: none
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-caption .caption-content
	{
	display: inline-block;
	min-height: 24px;
	line-height: 24px;
	padding: 0 15px;
	color: #fff;
	background: rgba(0, 0, 0, .7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-caption.smartphone
	{
	bottom: 6px
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-button-control
	{
	display: none;
	margin-top: -50px;
	color: rgba(255, 255, 255, .5);
	background: rgba(0, 0, 0, .5);
	outline: 0;
	width: 50px;
	height: 50px;
	border-radius: 2px;
	text-align: center
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-button-control i
	{
	line-height: 50px;
	font-size: 3rem
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-button-control:hover,
	.io-ox-viewer.viewer-dark-theme .viewer-displayer .swiper-button-control:focus
	{
	color: #FFF
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-notification
	{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -50px;
	height: 100px;
	width: 100%;
	padding: 0 40px;
	text-align: center;
	color: #999
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-notification i
	{
	font-size: 4rem
}

.io-ox-viewer.viewer-dark-theme .viewer-displayer .viewer-displayer-notification .apology
	{
	margin-top: 20px
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	width: 360px;
	background-color: rgba(0, 0, 0, .4);
	border-left: 1px solid #000;
	outline: 0;
	z-index: 2
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar.open {
	display: block
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar.smartphone {
	width: 100%
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .inplace-dropzone {
	background-color: rgba(0, 0, 0, .4)
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .inplace-dropzone .dropzone-caption
	{
	color: #999
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default
	{
	color: #fff;
	background-color: #222;
	border-color: #444
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:active,
	.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:hover
	{
	border-color: #777
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:focus
	{
	outline: 0;
	color: #fff;
	background: #333;
	border-color: #444
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-tabs {
	display: none;
	list-style: none;
	width: 100%;
	margin-bottom: 20px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-tabs li
	{
	display: inline-block;
	width: 50%
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-tabs a {
	display: block;
	font-weight: 700;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid #555
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-tabs a.selected
	{
	border-bottom: 2px solid #3c73aa;
	background-color: rgba(255, 255, 255, .1)
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-tabs a:hover
	{
	background-color: rgba(255, 255, 255, .2)
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-pane.thumbnail-pane.io-ox-busy::before
	{
	top: 100px;
	color: rgba(255, 255, 255, .3)
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .viewer-sidebar-pane.detail-pane
	{
	display: none
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link
	{
	display: inline-block;
	width: 150px;
	height: 180px;
	padding: 10px 0 0;
	margin: 0 5px 5px 0;
	cursor: pointer;
	vertical-align: top
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link:hover
	{
	background: #444;
	text-decoration: none
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link:hover .page-number
	{
	color: #fff
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link:active,
	.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link:focus
	{
	background: #777
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link.selected
	{
	background: #777
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail-link.selected .page-number
	{
	color: #fff
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail {
	width: 100px;
	height: 140px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #e0e0e0;
	overflow: hidden
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail .thumbnail-image
	{
	width: 100%;
	height: auto
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .document-thumbnail.landscape
	{
	width: 140px;
	height: 100px
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar .page-number {
	color: #999;
	text-align: center;
	margin-top: 5px;
	font-weight: 700
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel a.btn, .io-ox-viewer.viewer-dark-theme .sidebar-panel div.dropdown>a
	{
	outline: 0
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading {
	color: #999
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn
	{
	outline: 0;
	color: #999;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 20px;
	text-align: center
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn i.fa-chevron-right
	{
	padding-top: 3px;
	padding-left: 1px
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:active,
	.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:focus,
	.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:hover
	{
	border-color: #444;
	color: #fff;
	background-color: #333
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading h3
	{
	font-size: 13px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	cursor: default
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-heading.io-ox-busy:before
	{
	top: 185%
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body dt {
	color: #999
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable td
	{
	color: #ccc
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable .version-comment
	{
	color: #d3d3d3
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a
	{
	color: #fff;
	border: 1px solid transparent;
	padding: 2px
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:hover
	{
	color: #fff
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:active,
	.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:focus
	{
	border-radius: 3px;
	border-color: #444;
	color: #fff;
	background-color: #333
}

.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .description:active,
	.io-ox-viewer.viewer-dark-theme .sidebar-panel .sidebar-panel-body .description:focus
	{
	outline: 2px solid #444;
	outline-offset: 2px
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar dd a:link, .io-ox-viewer.viewer-dark-theme .viewer-sidebar dd a:visited
	{
	color: #7ba6d1
}

.io-ox-viewer.viewer-dark-theme .viewer-sidebar dd a:hover,
	.io-ox-viewer.viewer-dark-theme .viewer-sidebar dd a:focus {
	color: #3c73aa
}

.io-ox-viewer.viewer-dark-theme .breadcrumb-tail {
	color: #fff
}

.io-ox-viewer.viewer-light-theme {
	font-size: 13px;
	background-color: #f5f5f5;
	color: #333;
	outline: 0;
	z-index: 1000;
	scrollbar-base-color: #666;
	scrollbar-track-color: #ddd;
	scrollbar-arrow-color: #999 #999
}

.io-ox-viewer.viewer-light-theme ::-webkit-scrollbar {
	width: 12px
}

.io-ox-viewer.viewer-light-theme ::-webkit-scrollbar-track {
	background: #ddd
}

.io-ox-viewer.viewer-light-theme ::-webkit-scrollbar-thumb {
	background: #aaa;
	width: 12px
}

.io-ox-viewer.viewer-light-theme ::-webkit-scrollbar-thumb:hover {
	background: #777
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	list-style: none;
	padding-left: 0;
	text-align: right;
	z-index: 2;
	border-bottom: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar i.fa {
	font-size: 14px
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li {
	display: inline-block;
	height: 40px;
	text-align: center
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li>a {
	display: inline-block;
	height: 40px;
	min-width: 48px;
	padding: 0 16px;
	outline: 0;
	text-align: center;
	text-decoration: none;
	color: #3c73aa;
	border-bottom: 1px solid #ddd
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li>a:not (.disabled ):hover
	{
	color: #284d71;
	background-color: #eee
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li>a:not (.disabled ):focus,
	.io-ox-viewer.viewer-light-theme .viewer-toolbar>li>a:not (.disabled ):active
	{
	color: #fff;
	background-color: #3c73aa
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li>a.active {
	color: #284d71;
	background-color: #aaa
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li.dropdown {
	margin-right: 48px
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li.dropdown.open {
	background-color: #aaa
}

@media ( max-width :1023px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar>li.dropdown {
		margin-right: 0
	}
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar>li .dropdown-menu {
	margin: 0
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename
	{
	max-width: 400px;
	padding: 0 16px;
	text-align: left;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i
	{
	margin-right: 16px;
	font-size: 14px
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-excel-o
	{
	color: #44B957
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-word-o
	{
	color: #1A9DD4
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-powerpoint-o
	{
	color: #EE5F37
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-pdf-o
	{
	color: #CF1E28
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-image-o
	{
	color: #EE5F37
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i.fa-file-text-o
	{
	color: #4285f4
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):hover, .io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):active, .io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename:not
	(.disabled ):focus {
	color: #3c73aa;
	background: #eee
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename.disabled
	{
	cursor: default
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename i
		{
		margin-right: 5px
	}
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) and
	(min-width:320px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 115px
	}
}

@media screen and (max-aspect-ratio:13/9) and (min-width:320px) and
	(min-width:1024px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 215px
	}
}

@media screen and (min-aspect-ratio:13/9) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-filename
		{
		width: 220px
	}
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation
	{
	position: absolute;
	top: 0;
	left: calc(50% - 280px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row
}

@media ( max-width :1023px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation
		{
		left: 135px
	}
}

@media ( max-width :767px) {
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation
		{
		display: none
	}
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation-button
	{
	cursor: pointer
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled
	{
	color: #ccc;
	cursor: auto
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:hover,
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:focus,
	.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-navigation-button.disabled:active
	{
	background: #fff
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-page-wrapper
	{
	display: inline-block;
	outline: 1px solid #e0e0e0;
	height: 30px;
	margin: 5px 10px
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-page {
	display: block;
	height: 28px;
	line-height: 28px;
	width: 40px;
	padding-right: 5px;
	text-align: right;
	-webkit-appearance: none;
	border: 0
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .viewer-toolbar-page-total
	{
	color: #3c73aa;
	display: inline-block
}

.io-ox-viewer.viewer-light-theme .viewer-toolbar .fitzoom-check {
	display: none
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar:not (.open )~.viewer-toolbar a.viewer-toolbar-togglesidebar:focus
	{
	color: rgba(255, 255, 255, .3)
}

.io-ox-viewer.viewer-light-theme .viewer-displayer {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0;
	outline: 0
}

.io-ox-viewer.viewer-light-theme .viewer-displayer.toolbar-bottom-visible .toolbar.bottom
	{
	display: block
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .toolbar.bottom {
	display: none
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .toolbar.bottom .upload-wrapper
	{
	border-top: 1px solid #000;
	background-color: #000
}

.io-ox-viewer.viewer-light-theme .viewer-displayer #viewer-carousel,
	.io-ox-viewer.viewer-light-theme .viewer-displayer .carousel-inner,
	.io-ox-viewer.viewer-light-theme .viewer-displayer .item, .io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-container
	{
	height: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-container {
	width: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-container .swiper-slide
	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-container .swiper-slide.swiper-slide-document
	{
	display: block;
	height: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-container .io-ox-busy::before
	{
	color: rgba(0, 0, 0, .3)
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-item-container
	{
	max-height: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-item
	{
	max-height: 100%;
	max-width: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-image
	{
	display: none;
	background-color: #fff;
	background-image: -webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent
		75%, #eee 75%, #eee),
		-webkit-linear-gradient(45deg, #eee 25%, transparent 25%, transparent
		75%, #eee 75%, #eee);
	background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee
		75%, #eee),
		linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee
		75%, #eee);
	background-position: 0 0, 16px 16px;
	background-size: 32px 32px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio.player-hidden
	{
	display: none
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio img
	{
	display: block;
	max-width: 280px;
	max-height: 280px;
	margin-bottom: 4px;
	border-radius: 6px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio audio
	{
	width: 280px;
	min-height: 34px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio .play-button
	{
	position: absolute;
	width: 280px;
	height: 280px;
	padding-top: 100px;
	text-align: center;
	font-size: 56px;
	color: #eee;
	cursor: pointer
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio .player-text
	{
	text-align: center
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-video
	{
	min-height: 34px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-video.player-hidden
	{
	display: none
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio-video-placeholder
	{
	width: 90%;
	height: 90%
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-audio-video-placeholder i
	{
	font-size: 56px;
	text-align: center
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .document-container .document-page
	{
	margin: 20px auto;
	width: 450px;
	background: #fff;
	color: #000;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2)
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .white-page {
	color: #333;
	background-color: #fff;
	width: 100%;
	max-width: 21cm;
	padding: 16px;
	margin: 32px auto;
	min-height: 90%;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .white-page .io-ox-busy::before
	{
	color: rgba(0, 0, 0, .3)
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .letter {
	padding: 77px 3cm
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .plain-text {
	font: 13px/1.23077em monospace;
	white-space: pre-wrap
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-caption
	{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 40px;
	text-align: center;
	display: none;
	pointer-events: none
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-caption .caption-content
	{
	display: inline-block;
	min-height: 24px;
	line-height: 24px;
	padding: 0 15px;
	color: #fff;
	background: rgba(0, 0, 0, .6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-caption.smartphone
	{
	bottom: 6px
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-button-control
	{
	display: none;
	margin-top: -50px;
	color: rgba(255, 255, 255, .5);
	background: rgba(0, 0, 0, .2);
	outline: 0;
	width: 50px;
	height: 50px;
	border-radius: 2px;
	text-align: center
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-button-control i
	{
	line-height: 50px;
	font-size: 3rem
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-button-control:hover,
	.io-ox-viewer.viewer-light-theme .viewer-displayer .swiper-button-control:focus
	{
	color: #FFF
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-notification
	{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -50px;
	height: 100px;
	width: 100%;
	padding: 0 40px;
	text-align: center;
	color: #3c73aa
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-notification i
	{
	font-size: 4rem
}

.io-ox-viewer.viewer-light-theme .viewer-displayer .viewer-displayer-notification .apology
	{
	margin-top: 20px
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	width: 360px;
	background-color: #f5f5f5;
	border-left: 1px solid #ddd;
	outline: 0;
	z-index: 2
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar.open {
	display: block
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar.smartphone {
	width: 100%
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .inplace-dropzone {
	background-color: #f5f5f5
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .inplace-dropzone .dropzone-caption
	{
	color: #999
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default
	{
	color: #333;
	background-color: rgba(0, 0, 0, .1);
	border-color: rgba(0, 0, 0, .1)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:active,
	.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:hover
	{
	border-color: rgba(0, 0, 0, .5)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-uploadnewversion>.form-group>.btn-default:focus
	{
	outline: 0;
	color: #fff;
	background: #3c73aa;
	border-color: #fff
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-tabs {
	display: none;
	list-style: none;
	width: 100%;
	margin-bottom: 20px;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-tabs li
	{
	display: inline-block;
	width: 50%
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-tabs a
	{
	display: block;
	font-weight: 700;
	color: #333;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid rgba(0, 0, 0, .2)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-tabs a.selected
	{
	border-bottom: 2px solid #3c73aa;
	background-color: rgba(0, 0, 0, .1)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-tabs a:hover
	{
	background-color: rgba(0, 0, 0, .2)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-pane.thumbnail-pane.io-ox-busy::before
	{
	top: 100px;
	color: rgba(0, 0, 0, .3)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .viewer-sidebar-pane.detail-pane
	{
	display: none
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link
	{
	display: inline-block;
	width: 150px;
	height: 180px;
	padding: 10px 0 0;
	margin: 0 5px 5px 0;
	cursor: pointer;
	vertical-align: top
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link:hover
	{
	background: rgba(0, 0, 0, .05);
	text-decoration: none
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link:hover .page-number
	{
	color: #333
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link:active,
	.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link:focus
	{
	background: rgba(0, 0, 0, .1)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link.selected
	{
	background: rgba(0, 0, 0, .15)
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail-link.selected .page-number
	{
	color: #333
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail {
	width: 100px;
	height: 140px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #e0e0e0;
	overflow: hidden
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail .thumbnail-image
	{
	width: 100%;
	height: auto
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .document-thumbnail.landscape
	{
	width: 140px;
	height: 100px
}

.io-ox-viewer.viewer-light-theme .viewer-sidebar .page-number {
	color: #333;
	text-align: center;
	margin-top: 5px;
	font-weight: 700
}

.io-ox-viewer.viewer-light-theme .sidebar-panel a.btn, .io-ox-viewer.viewer-light-theme .sidebar-panel div.dropdown>a
	{
	outline: 0
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading {
	color: #999
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn
	{
	outline: 0;
	color: #3c73aa;
	border: 1px solid transparent;
	border-radius: 3px;
	width: 20px;
	text-align: center
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn i.fa-chevron-right
	{
	padding-top: 3px;
	padding-left: 1px
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:active,
	.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:focus,
	.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading .panel-toggle-btn:hover
	{
	border-color: #fff;
	color: #fff;
	background-color: #3c73aa
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading h3
	{
	font-size: 13px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0;
	cursor: default
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-heading.io-ox-busy:before
	{
	top: 185%
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body dt {
	color: #999
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable td
	{
	color: #333
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable .version-comment
	{
	color: #a9a9a9
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a
	{
	color: #222;
	border: 1px solid transparent;
	padding: 2px
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:hover
	{
	color: #222
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:active,
	.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .versiontable .dropdown>a:focus
	{
	border-radius: 3px;
	border-color: #fff;
	color: #fff;
	background-color: #3c73aa
}

.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .description:active,
	.io-ox-viewer.viewer-light-theme .sidebar-panel .sidebar-panel-body .description:focus
	{
	outline: 2px solid #777;
	outline-offset: 2px
}

html.ios .io-ox-viewer .viewer-sidebar, html.ios .io-ox-viewer .swiper-slide.swiper-slide-active
	{
	-webkit-overflow-scrolling: touch
}

.viewer-sidebar .description-button {
	outline: 0;
	padding: 0;
	border: 0;
	font-size: 13px;
	color: #3c73aa
}

.viewer-dark-theme .viewer-sidebar .description-button {
	color: #7ba6d1
}