.io-ox-recurrence-view {
	background-color: #eee;
	padding: 10px;
	margin: 7px 0 10px;
	min-height: 140px
}

.io-ox-recurrence-view * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.io-ox-recurrence-view .recurrence-detail-toggle .fa-times {
	color: #888
}

.io-ox-recurrence-view span.dropdown {
	position: static
}

.io-ox-recurrence-view span.dropdown.open {
	position: relative
}

.io-ox-recurrence-view .inset {
	padding-left: 5px;
	height: 20px
}

.io-ox-recurrence-view input[type=text] {
	min-width: 25px;
	padding: 0 2px;
	height: 20px
}

.io-ox-recurrence-view input[type=text].dateinput {
	width: 107px
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-recurrence-view .inset {
		height: auto
	}
}