.io-ox-calendar-edit {
	padding-top: 16px
}

.io-ox-calendar-edit .btn.btn-link {
	padding-left: 0
}

.io-ox-calendar-edit .actionToggle {
	display: none;
	margin: 10px 0
}

.io-ox-calendar-edit .recurrenceview div.checkbox {
	margin-top: 0
}

.io-ox-calendar-edit input[name=title] {
	font-weight: 700
}

.io-ox-calendar-edit textarea.note {
	resize: vertical;
	padding: 10px;
	min-height: 120px
}

.io-ox-calendar-edit .find-free-time {
	margin-top: 12px
}

.io-ox-calendar-edit .custom-color {
	padding-top: 8px
}

.io-ox-calendar-edit .custom-color input[type=radio] {
	position: absolute;
	clip: rect(0, 0, 0, 0)
}

.io-ox-calendar-edit .custom-color label {
	padding: 0;
	margin: 0
}

.io-ox-calendar-edit .custom-color .box:before {
	font-family: FontAwesome;
	content: '\00a0';
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 4px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	line-height: 20px
}

.io-ox-calendar-edit .custom-color input[type=radio]:focus+.box:before {
	box-shadow: 0 0 3px #3c73aa
}

.io-ox-calendar-edit .custom-color input[type=radio]:checked+.box:before
	{
	content: '\f00c'
}

.io-ox-calendar-edit .custom-color .color-label-1:before {
	background-color: #9bceff;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-2:before {
	background-color: #6ca0df;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-3:before {
	background-color: #a889d6;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-4:before {
	background-color: #e2b3e2;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-5:before {
	background-color: #e7a9ab;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-6:before {
	background-color: #ffb870;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-7:before {
	background-color: #f2de88;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-8:before {
	background-color: #c2d082;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-9:before {
	background-color: #809753;
	color: #000
}

.io-ox-calendar-edit .custom-color .color-label-10:before {
	background-color: #4d4d4d;
	color: #fff
}

.io-ox-calendar-edit .custom-color .box.no-color:before {
	border: 1px solid #888;
	margin-right: 24px;
	color: #000
}

.io-ox-calendar-edit .hard-conflict {
	margin: 1em 0 0
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-calendar-edit .actionToggle {
		display: block
	}
	.io-ox-calendar-edit .collapsed {
		display: none
	}
	.io-ox-calendar-edit textarea.note {
		min-height: 50px
	}
	.io-ox-calendar-edit .custom-color .color-label {
		width: 40px;
		height: 40px;
		margin: 4px;
		font-size: 30px
	}
	.io-ox-calendar-edit .custom-color .color-label.no-color {
		margin-right: 52px
	}
	.io-ox-calendar-edit .custom-color .color-label.active .fa {
		line-height: 40px
	}
}

.io-ox-calendar-edit-window.header-top .window-header .header-right,
	.io-ox-calendar-edit-window.header-bottom .window-footer .header-right
	{
	float: right;
	line-height: 32px
}

.io-ox-calendar-edit-window.header-top .window-header .header-right a,
	.io-ox-calendar-edit-window.header-bottom .window-footer .header-right a
	{
	margin-left: .2em
}