/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Christoph Kopp <christoph.kopp@open-xchange.com>
 */

.edit-vacation {

    [data-extension-id="io.ox/core/vacationnotice/edit/view/subject"] {
        clear: both;
    }

    [data-extension-id="io.ox/core/vacationnotice/edit/view/days"] {
        margin-bottom: 20px;
    }

    [data-extension-id="io.ox/core/vacationnotice/edit/view/timeframecheckbox"] {
         margin-top: 20px;
         width: 300px;
    }

    [data-extension-id="io.ox/core/vacationnotice/edit/view/start_date"] {
        float: left;
        margin-left: 0;
    }

    [data-extension-id="io.ox/core/vacationnotice/edit/view/end_date"] {
        float: left;
    }

    legend.sectiontitle {
        margin-bottom: 15px;
        font-family: @normal-font-family;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;
        border-bottom: none;

        h2 { font-weight: normal; }
    }

    legend.simple {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        color: #333333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;

        h2 {
            font-weight: normal;
            line-height: 30px;
            font-size: 21px;
            margin: 0;
        }
    }

    .dateFrom, .dateUntil {
        .control-label {
            float: left;
            width: auto;
            margin-right: 5px;
            border: none;
        }
    }
}

