.choice_wizard {
  width: 60%;
}

.security-provider-choice {
    & > .row > span a.option {
        color: #333;
        display: inline-block;
        text-decoration: none;

        .button-variant(@btn-default-color, @btn-default-bg, @btn-default-border);
        &:hover {
            text-decoration: none;
        }

        .arguments {
            .plus i {
                color: @green;
            }
            .minus i {
                color: @orange;
            }
        }

        .icon-large {
            font-size: 3em;
            text-align: center;
        }

        .guard {
            .icon-large {
                color: #FDE599;
            }
        }
        .btn {
            display: block;
        }
        .mailvelope {
            .icon-large {
                color: #F9CB9C;
            }
        }
    }
}
