/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../../tk/definitions";

/* restrict all definitions to OX Documents applications */
.io-ox-office-main {

/* ========================================================================= */
/* view panes                                                                */
/* ========================================================================= */

> .view-pane {
    position: absolute;
    .user-select(none);
    background: @shaded-pane-fill-color;
    line-height: 0;

    /* override all custom display modes in hidden state */
    &.hidden {
        display: none !important;
    }

    /* hide all contents during import, without collapsing the pane */
    &.hidden-contents {
        > * { visibility: hidden; }
        .always-visible { visibility: visible; }
    }

    /* right-aligned components in top/bottom view panes */
    &.right {
        text-align: right;
    }

    > .resizer {
        position: absolute;
        z-index: 10;
        .focus-outline(none);
    }

    &[data-pos="top"], &[data-pos="bottom"] {
        > .resizer {
            left: 0;
            right: 0;
            height: 12px;
            cursor: row-resize;
        }
    }

    &[data-pos="left"], &[data-pos="right"] {
        > .resizer {
            top: 0;
            bottom: 0;
            width: 12px;
            cursor: col-resize;
        }
    }

    &[data-pos="top"] > .resizer { bottom: 0; }
    &[data-pos="bottom"] > .resizer { top: 0; }
    &[data-pos="left"] > .resizer { right: 0; }
    &[data-pos="right"] > .resizer { left: 0; }

    /* hide all elements which were present for drop-down view */
    .drop-down {
        display: none;
    }

    /* tool panes ========================================================== */

    &.tool-pane {

        > .float-wrapper {
            position: relative;
            overflow: hidden;
        }

        /* area nodes at left and right border in top/bottom panes */
        &[data-pos="top"], &[data-pos="bottom"] {
            white-space: nowrap;
            .clearfix();

            > .float-wrapper {
                display: inline-block;
                float: left;
                direction: ltr;

                &.trailing {
                    float: right;
                    direction: rtl;
                }

                > .area-container {
                    display: inline-block;
                    direction: ltr; /* "initial" not supported by IE; TODO: needs to be fixed in global RTL layout */
                }
            }
        }

        &.flat-pane.standard-design {
            > .leading, > .trailing {
                width: 41px !important;
            }
            > .leading .view-component.toolbar {
                padding: 0 0 0 7px !important;
            }
            > .trailing .view-component.toolbar {
                padding: 0 7px 0 0 !important;
            }
        }
    }

} /* end of > .view-pane */

/* ========================================================================= */
/* the application pane in the middle between all view panes                 */
/* ========================================================================= */

> .app-pane {
    .absolute-with-distance(0);
    margin: 0;
    padding: 0;
    .user-select(none);
    line-height: 0;

    /* the container element for the application contents */
    > .app-content-root {
        background: @shaded-pane-fill-color;
        .focus-outline(none);
        font-size: 16px; //default font-size overrides body's font-size (which has 14px)

        /* scrollable application pane, center container node horizontally into application pane */
        &.scrolling {
            .overflow(auto);
            text-align: center;

            /* the child container element for the application contents in the scrollable node */
            > .app-content {
                position: relative;
                display: inline-block;
                width: auto;
                height: auto;
            }
        }
    }

} /* end of > .app-pane */

/* ========================================================================= */
/* view components                                                           */
/* ========================================================================= */

.view-component {
    position: relative;
    padding: 0;

    /* hidden components ("important" to overrule display modes from other rules) */
    &.hidden {
        display: none !important;
    }
}

/* tool bars =============================================================== */

.view-component.toolbar {
    display: inline-block;
    .box-sizing(border-box);
    white-space: nowrap;
    vertical-align: top; /* IE fix */

    .group-container {
        display: inline-block;
        vertical-align: top; /* IE fix */

        &.hidden {
            display: none;
        }

        > .group {
            vertical-align: top; /* IE fix */
        }

        &:not(.hidden) ~ .group-container {
            margin-left: @standard-distance-h;
            &.separator { padding-left: @standard-distance-h; }
        }
    }
}

.small-distance{
    .view-component.toolbar {
        .group-container {
            &:not(.hidden) ~ .group-container {
                margin-left: (@standard-distance-h - 5);
                &.separator { padding-left: (@standard-distance-h - 5); }
            }
        }
    }
}

/* ========================================================================= */
/* tool pane standard design (white background)                              */
/* ========================================================================= */

> .view-pane.tool-pane.standard-design {

    /* border line at the inner border of the tool pane */
    &[data-pos="top"] { border-bottom: @standard-border; }
    &[data-pos="bottom"] { border-top: @standard-border; }
    &[data-pos="left"] { border-right: @standard-border; }
    &[data-pos="right"] { border-left: @standard-border; }

    .view-component.toolbar {
        margin: 3px 0;
        padding: 0 @standard-distance-h;

        &.noSeparator{
            padding-left: 0px;
        }

        /* border line between control groups, and between visible tool bars */
        > .group-container.separator, &:not(.hidden) ~ .toolbar:not(.noSeparator) {
            border-left: @standard-border;
        }

        /* standard group design in tool bars */
        .group {
            .standard-group-design();
        }
    }

    &.small-distance {
        .view-component.toolbar {
            padding: 0 (@standard-distance-h - 6);
        }

        .group-container {
            &:not(.hidden) ~ .group-container {
                margin-left: (@standard-distance-h - 6);
                &.separator { padding-left: (@standard-distance-h - 6); }
            }
        }
    }
}

/* custom view pane additions ============================================== */

/* inline style view panes */
.view-pane.inline {
    white-space: nowrap;
    text-align: left;

    &.right {
        text-align: right;
    }

    > .view-component {
        display: inline-block;
        white-space: nowrap;

        > .group {
            white-space: nowrap;
        }
    }
}

/* inline pop-ups ========================================================== */

/* generic inline pop-up formatting */
.app-pane .inline-popup {
    position: absolute;
    z-index: 100;
    padding: 10px 20px;
    background-color: white;
    border: @standard-border;
    border-radius: @popup-border-radius;
    .drop-shadow();
    font-family: sans-serif;
    font-size: @standard-font-size;
    line-height: normal;
    text-align: center;

    a {
        word-wrap: break-word;
        color: #327BBA;

        &:hover {
           color: #1A5486;
           text-decoration: underline;
           cursor: pointer;
        }

        &.touch {
            line-height: 150%;
            font-size: 16px;
        }
    }
}

/* ========================================================================= */
/* control groups                                                            */
/* ========================================================================= */

.group.user-picture .photo-container {
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* the label displaying the current status of the application */
.group.status-label {
    border-radius: 3px !important;

    > div.label {
        height: 21px !important;
        padding: 0 8px !important;
        line-height: 19px !important;
        border: 1px solid fade(black, 20%) !important;
        border-radius: 3px !important;
        box-shadow: 5px 10px 10px -10px white inset !important;
        font-size: 11px !important;
        font-weight: bold !important;
    }

    .color-styles(@fill-color; @text-color) {
        > div.label {
            background-color: @fill-color !important;
            color: @text-color !important;
        }
    }
    &[data-type="info"] { .color-styles(#ccc; #555); }
    &[data-type="success"] { .color-styles(#aea; #575); }
    &[data-type="warning"] { .color-styles(#ee9; #774); }
    &[data-type="error"] { .color-styles(#eaa; #755); }
}

/* ========================================================================= */
/* pop-up menus                                                              */
/* ========================================================================= */

&.popup-container.popup-menu > .popup-content {

    > * {
        display: block;
    }

    /* the dynamic content section */
    > .view-component {
        .focus-outline(none);
        padding: @standard-distance-v 0;

        /* generic control styles (also in inline container nodes) */
        .group { .list-group-design(); }

        /* block layout for all top-level control groups */
        > .group {
            display: block;

            &:not(.dropdown-group) .button:not(.inline) {
                display: block;
            }

            /* use flexible layout to position the caret button (supported by IE10+) */
            &.dropdown-group {
                .display-flex();
                .button {
                    .flex-grow(1 1 auto);
                }

                &.check-box {
                    .button.caret-button {
                        .flex-grow(0);
                    }
                }
            }

            &.compund-split-group {
                .button.caret-button { width: 35px; }
                .caption { padding-right: 0px; }
            }

            &.text-field {
                margin: @standard-distance-v @control-list-padding;
                > .input-wrapper { display: block; }
            }
        }

        /* single line with several group nodes */
        > .inline-container {
            white-space: nowrap;

            > .group {
                display: inline-block;
                vertical-align: top;

                &.text-field {
                    &:not(:first-child) { margin-left: 0; }
                    &:not(:last-child) { margin-right: 0; }
                }
            }
        }

        /* the separator line between control groups */
        > .separator-line {
            height: 1px;
            margin: @standard-distance-v 0;
            background-color: @standard-border-color;
            &:first-child { display: none; }
        }

        > .header-label {
            padding: @standard-distance-v @control-list-padding;
        }
    }

    /* the header section containing the title and closer button */
    > .header-section {
        position: relative;
        height: 36px;
        overflow: hidden;
        background-color: darken(@topbar-background, 10%);
        border-top-left-radius: @popup-border-radius;
        border-top-right-radius: @popup-border-radius;
        line-height: 36px;
        cursor: default;

        /* width of the trailing closer button element */
        @closer-width: 40px;

        > .title-label {
            display: block;
            margin-right: @closer-width;
            padding: 0 @standard-distance-h;
            color: @topbar-launcher-color-active;
            overflow: hidden;
            .light-heading-font(120%);
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        > a.closer {
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: @closer-width;
            padding: 0;
            text-align: center;
            color: fade(@topbar-launcher-color-active, 80%);
            cursor: pointer;

            &:hover, &:active {
                background-color: fade(black, 20%);
                color: @topbar-launcher-color-active;
            }
        }
    }

    /* the footer section containing the action and cancel buttons */
    > .footer-section {
        padding: (2 * @standard-distance-v) @standard-distance-h;
        border-top: @standard-border;
        text-align: right;

        > button + button {
            margin-left: @standard-distance-h;
        }
    }
}

/* reduce z-index of floating menus (below pop-up menus) */
&.popup-container.layer-menu {
    z-index: (@popup-z-index - 1);
    touch-action: none;
}

/* ========================================================================= */
/* debugging                                                                 */
/* ========================================================================= */

&.debug-highlight {
    .view-pane { .debug-highlight-inset-box(#8f8); }
    .view-component { .debug-highlight-inset-box(#f88); }
    .group-container { .debug-highlight-box(#88f); }
}

} /* end of .io-ox-office-main */

/* ========================================================================= */
/* busy blocker                                                              */
/* ========================================================================= */

.io-ox-office-blocker {
    .focus-outline(none);
    .opacity(1);

    .header {
        top: 0;
    }

    .header, .footer {
        > div {
            margin: 13px 0;
            padding: 0 10px;

            &.filename {
                padding-left: 30px;
                text-align: left;
            }

            > button {
                .drop-shadow();
            }

            > .alert {
                max-width: 500px;
                margin: 0 auto;
                padding: 0;
                .drop-shadow(7px);
                cursor: default;

                > div {
                    margin: 8px 13px;

                    &.title {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/* ========================================================================= */
/* yell node for notifications                                               */
/* ========================================================================= */

.io-ox-office-alert .message .small-text {
    overflow: hidden;
    font-size: 9px;
    color: gray;

    html.high-contrast & {
        color: #D7D7D7;
        font-size: 10px;
    }
}

/* ========================================================================= */
/* modal dialogs                                                             */
/* ========================================================================= */

.io-ox-office-dialog .dialog-group {
    .list-group-design();
    display: block;

    .button {
        display: block;
        position: relative;
        text-decoration: none;
        overflow: ellipsis;
    }

    .button.select-all {
        font-style: italic;
    }
}
