.io-ox-portal .widget.upsellads-widget * {
	box-sizing: border-box;
	-moz-box-sizing: border-box
}

.io-ox-portal .widget.upsellads-widget .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.io-ox-portal .widget.upsellads-widget .text {
	line-height: 18px
}

.io-ox-portal .widget.upsellads-widget .image.upsell-top, .io-ox-portal .widget.upsellads-widget .image.upsell-bottom,
	.io-ox-portal .widget.upsellads-widget .text.upsell-top, .io-ox-portal .widget.upsellads-widget .text.upsell-bottom,
	.io-ox-portal .widget.upsellads-widget .upsell-full {
	display: block;
	position: absolute;
	overflow: hidden
}

.io-ox-portal .widget.upsellads-widget .image {
	background-size: cover;
	background-position: center
}

.io-ox-portal .widget.upsellads-widget .image.upsell-top, .io-ox-portal .widget.upsellads-widget .image.upsell-bottom
	{
	height: 221px;
	width: 100%
}

.io-ox-portal .widget.upsellads-widget .text.upsell-top, .io-ox-portal .widget.upsellads-widget .text.upsell-bottom
	{
	height: 90px;
	padding-left: 13px;
	padding-right: 13px
}

.io-ox-portal .widget.upsellads-widget .text.upsell-top {
	top: 13px
}

.io-ox-portal .widget.upsellads-widget .text.upsell-bottom {
	bottom: 13px
}

.io-ox-portal .widget.upsellads-widget .upsell-full {
	height: 350px;
	width: 100%
}

.io-ox-portal .widget.upsellads-widget .upsell-top, .io-ox-portal .widget.upsellads-widget .upsell-full
	{
	top: 0;
	left: 0
}

.io-ox-portal .widget.upsellads-widget .image.upsell-bottom {
	top: 116px
}

.io-ox-portal .widget.upsellads-widget .upsell-full .overflow-container
	{
	overflow: hidden;
	display: block;
	height: 306px;
	margin-top: 13px;
	padding: 0 13px
}

.io-ox-portal .widget.upsellads-widget .upsellads-next {
	position: absolute;
	right: 13px;
	top: 13px;
	z-index: 12;
	cursor: pointer;
	text-shadow: 0 0 25px #fff
}