.io-ox-alert .presenter-notification-btn {
	color: #3c73aa;
	font-size: 15pt
}

.presenter-notification {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -50px;
	height: 100px;
	width: 100%;
	padding: 0 40px;
	text-align: center;
	color: #3c73aa
}

.presenter-notification i {
	font-size: 4rem
}

.presenter-notification .apology {
	margin-top: 20px
}

.io-ox-presenter {
	background-color: #F8F8F8
}

.io-ox-presenter .swiper-container, .io-ox-presenter .swiper-wrapper,
	.io-ox-presenter .swiper-slide {
	height: 100%
}

.io-ox-presenter .swiper-slide .pdf-page {
	box-shadow: 0 0 8px rgba(0, 0, 0, .2)
}

.io-ox-presenter .presenter-toolbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #fff;
	list-style: none;
	padding-left: 0;
	text-align: right;
	z-index: 2;
	border-bottom: 1px solid #ddd
}

.io-ox-presenter .presenter-toolbar i.fa {
	font-size: 14px
}

.io-ox-presenter .presenter-toolbar>li {
	display: inline-block;
	height: 40px;
	text-align: center
}

.io-ox-presenter .presenter-toolbar>li>a {
	display: inline-block;
	height: 40px;
	min-width: 48px;
	padding: 0 16px;
	outline: 0;
	text-align: center;
	text-decoration: none;
	color: #3c73aa;
	border-bottom: 1px solid #ddd
}

.io-ox-presenter .presenter-toolbar>li>a:hover {
	color: #284d71;
	background-color: #eee
}

.io-ox-presenter .presenter-toolbar>li>a:focus, .io-ox-presenter .presenter-toolbar>li>a:active
	{
	color: #fff;
	background-color: #ddd
}

.io-ox-presenter .presenter-toolbar>li>a.active {
	color: #284d71;
	background-color: #aaa
}

.io-ox-presenter .presenter-toolbar>li.dropdown.open {
	background-color: #aaa
}

.io-ox-presenter .presenter-toolbar>li .dropdown-menu {
	margin: 0
}

.io-ox-presenter .presenter-navigation {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	height: 40px;
	line-height: 40px;
	background: #fff;
	list-style: none;
	padding-left: 0;
	text-align: right;
	z-index: 2;
	border-top: 1px solid #ddd
}

.io-ox-presenter .presenter-navigation i.fa {
	font-size: 14px
}

.io-ox-presenter .presenter-navigation>li {
	display: inline-block;
	height: 40px;
	text-align: center
}

.io-ox-presenter .presenter-navigation>li>a {
	display: inline-block;
	height: 40px;
	min-width: 48px;
	padding: 0 16px;
	outline: 0;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	color: #3c73aa;
	border-bottom: 1px solid #ddd
}

.io-ox-presenter .presenter-navigation>li>a:hover {
	color: #284d71;
	background-color: #eee
}

.io-ox-presenter .presenter-navigation>li>a:focus, .io-ox-presenter .presenter-navigation>li>a:active
	{
	color: #fff;
	background-color: #ddd
}

.io-ox-presenter .presenter-navigation>li>a.active {
	color: #284d71;
	background-color: #aaa
}

.io-ox-presenter .presenter-navigation>li.dropdown.open {
	background-color: #aaa
}

.io-ox-presenter .presenter-navigation>li .dropdown-menu {
	margin: 0
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-group
	{
	position: absolute;
	left: 0;
	top: 0
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-button
	{
	cursor: pointer
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-button.disabled
	{
	color: #ccc;
	cursor: auto
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-button.disabled:hover,
	.io-ox-presenter .presenter-navigation .presenter-navigation-slide-button.disabled:focus,
	.io-ox-presenter .presenter-navigation .presenter-navigation-slide-button.disabled:active
	{
	background: #fff
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-wrapper
	{
	display: inline-block;
	outline: 1px solid #e0e0e0;
	height: 30px;
	margin: 5px 10px
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide {
	display: block;
	height: 28px;
	line-height: 28px;
	width: 40px;
	padding-right: 5px;
	text-align: right;
	-webkit-appearance: none;
	border: 0
}

.io-ox-presenter .presenter-navigation .presenter-navigation-slide-total
	{
	color: #3c73aa;
	display: inline-block;
	vertical-align: top
}

.io-ox-presenter .presenter-navigation .presenter-participants-dropdown>.dropdown-menu>.dropdown-header
	{
	padding-left: 10px
}

.io-ox-presenter .presenter-presentation {
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
	outline: 0
}

.io-ox-presenter .presenter-presentation:-webkit-full-screen {
	top: 0;
	background-color: #000
}

.io-ox-presenter .presenter-presentation:-webkit-full-screen .swiper-container .swiper-wrapper .swiper-slide
	{
	overflow: hidden
}

.io-ox-presenter .presenter-presentation:-moz-full-screen {
	top: 0;
	background-color: #000
}

.io-ox-presenter .presenter-presentation:-moz-full-screen .swiper-container .swiper-wrapper .swiper-slide
	{
	overflow: hidden
}

.io-ox-presenter .presenter-presentation:-ms-fullscreen {
	top: 0;
	background-color: #000
}

.io-ox-presenter .presenter-presentation:-ms-fullscreen .swiper-container .swiper-wrapper .swiper-slide
	{
	overflow: hidden
}

.io-ox-presenter .presenter-presentation:full-screen {
	top: 0;
	background-color: #000
}

.io-ox-presenter .presenter-presentation:full-screen .swiper-container .swiper-wrapper .swiper-slide
	{
	overflow: hidden
}

.io-ox-presenter .presenter-presentation:fullscreen {
	top: 0;
	background-color: #000
}

.io-ox-presenter .presenter-presentation:fullscreen .swiper-container .swiper-wrapper .swiper-slide
	{
	overflow: hidden
}

.io-ox-presenter .presenter-presentation .document-page {
	display: inline-block;
	vertical-align: middle
}

.io-ox-presenter .presenter-presentation .swiper-slide {
	overflow: auto;
	outline: 0;
	text-align: center
}

.io-ox-presenter .presenter-presentation .swiper-button-control {
	color: #3c73aa;
	background: rgba(211, 211, 211, .3);
	width: 50px;
	height: 50px;
	border-radius: 2px;
	text-align: center
}

.io-ox-presenter .presenter-presentation .swiper-button-control i {
	line-height: 50px;
	font-size: 3rem
}

.io-ox-presenter .presenter-presentation .swiper-button-control:hover,
	.io-ox-presenter .presenter-presentation .swiper-button-control:focus {
	color: #284d71;
	background: rgba(211, 211, 211, .6)
}

.io-ox-presenter .presenter-presentation .presentation-caption {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 40px;
	text-align: center;
	display: none;
	pointer-events: none
}

.io-ox-presenter .presenter-presentation .presentation-caption .caption-content
	{
	display: inline-block;
	min-height: 24px;
	line-height: 24px;
	padding: 0 15px;
	color: #FFF;
	background: rgba(0, 0, 0, .3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px
}

.io-ox-presenter .presenter-presentation .presentation-caption.smartphone
	{
	bottom: 6px
}

.io-ox-presenter .presenter-presentation .pause-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 1;
	display: none
}

.io-ox-presenter .presenter-presentation .pause-overlay .pause-infobox {
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 20px;
	text-align: center
}

.io-ox-presenter .presenter-presentation .pause-overlay .pause-message {
	color: #999;
	margin-right: 1em
}

.io-ox-presenter .presenter-presentation .pause-overlay .pause-leave {
	background-color: #555;
	color: #ccc;
	border-color: #777
}

.io-ox-presenter .presenter-presentation .pause-overlay .pause-continue
	{
	width: 110px;
	height: 120px;
	line-height: 120px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 6em;
	color: rgba(195, 195, 195, .6)
}

.io-ox-presenter .presenter-presentation .pause-overlay.remote-presenation .pause-continue,
	.io-ox-presenter .presenter-presentation .pause-overlay.local-presenation .pause-infobox
	{
	display: none
}

.io-ox-presenter .presenter-presentation.thumbnails-opened {
	bottom: 140px
}

.io-ox-presenter .presenter-sidebar {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	width: 320px;
	outline: 0;
	z-index: 2;
	padding: 15px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #f5f5f5;
	border-left: 1px solid #ddd
}

.io-ox-presenter .presenter-sidebar.opened {
	display: block
}

.io-ox-presenter .presenter-sidebar .presenter-sidebar-section {
	width: 100%
}

.io-ox-presenter .presenter-sidebar .sidebar-section-heading {
	border-bottom: 1px solid #aaa;
	margin-bottom: 15px
}

.io-ox-presenter .presenter-sidebar .sidebar-section-headline {
	font-size: 1em;
	font-weight: 700
}

.io-ox-presenter .presenter-sidebar .participants-list {
	list-style: none;
	padding: 0
}

.io-ox-presenter .presenter-sidebar .participant {
	display: table;
	table-layout: fixed;
	margin-bottom: 2px;
	padding: 10px;
	background-color: #eaeaea
}

.io-ox-presenter .presenter-sidebar .participant>div {
	display: table-cell;
	height: 40px;
	vertical-align: middle
}

.io-ox-presenter .presenter-sidebar .participant-picture-col {
	padding-right: 10px
}

.io-ox-presenter .presenter-sidebar .picture {
	width: 40px;
	height: 40px;
	background-size: cover;
	border-radius: 50%
}

.io-ox-presenter .presenter-sidebar .participant-name-col {
	width: 100%;
	vertical-align: middle
}

.io-ox-presenter .presenter-sidebar .name {
	color: #333;
	cursor: pointer
}

.io-ox-presenter .presenter-sidebar .participant-role-col i {
	font-size: 24px;
	color: #333;
	margin-top: 5px
}

.io-ox-presenter .presenter-sidebar .slidepeek {
	position: relative;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto
}

.io-ox-presenter .presenter-sidebar .slidepeek .slidepeek-image {
	width: 100%;
	height: auto;
	display: none
}

.io-ox-presenter .presenter-sidebar .slidepeek.end {
	background-color: #eaeaea;
	color: #fff
}

.io-ox-presenter .presenter-sidebar.presenting {
	width: 35%;
	max-width: 600px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	border: 0;
	background-color: #f8f8f8
}

.io-ox-presenter .presenter-thumbnails {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 140px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	padding: 0 40px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: center
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link {
	display: inline-block;
	width: 140px;
	height: 100%;
	margin: 0 2px;
	text-align: center;
	vertical-align: top;
	outline-color: transparent
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link .wrapper
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link:hover {
	background: rgba(0, 0, 0, .05);
	text-decoration: none
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link:hover .page-number
	{
	color: #333
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link.selected
	{
	background: rgba(0, 0, 0, .15)
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail-link.selected .page-number
	{
	color: #333
}

.io-ox-presenter .presenter-thumbnails .presenter-thumbnail {
	margin: 10px auto 0;
	box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	overflow: hidden
}

.io-ox-presenter .presenter-thumbnails .thumbnail-image {
	width: 100%;
	height: auto
}

.io-ox-presenter .presenter-thumbnails .page-number {
	margin-top: 5px
}