.io-ox-portal .widget.widget-color-custom.color-twitter {
	background-color: #000
}

.io-ox-portal .widget.widget-color-custom.color-twitter .decoration {
	background-color: #01aeeb
}

.io-ox-portal .widget.widget-color-custom.color-twitter:focus .decoration
	{
	background-color: #0188b8
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-portal .widget.widget-color-custom.color-twitter {
		background-color: #01aeeb
	}
	.io-ox-portal .widget.widget-color-custom.color-twitter .decoration {
		background-color: transparent
	}
}

.twitter {
	margin-top: 26px;
	padding: 0
}

.twitter .tweet {
	position: relative;
	min-height: 55px;
	margin: 0 0 26px 65px
}

.twitter .name {
	font-weight: 400;
	color: gray;
	display: inline-block;
	padding-bottom: 3px
}

.twitter .profilePicture {
	position: absolute;
	top: 4px;
	left: -65px;
	max-width: 48px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.io-ox-twitter-title:after {
	content: " ";
	background:
		url(v=7.8.3-11.20170116.064730/apps/plugins/portal/twitter/bird_blue_128.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 50px;
	width: 50px;
	position: absolute;
	top: -10px
}

.io-ox-twitter-action-tweet {
	display: block;
	float: right
}

.io-ox-twitter-reply, .io-ox-twitter-retweet, .io-ox-twitter-favorite {
	display: inline-block;
	float: right;
	margin-left: 1em;
	overflow: hidden;
	padding-left: 16px
}

.io-ox-twitter-reply:before, .io-ox-twitter-retweet:before,
	.io-ox-twitter-favorite:before {
	content: " ";
	background:
		url(v=7.8.3-11.20170116.064730/apps/plugins/portal/twitter/everything-spritev2.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	height: 16px;
	width: 16px;
	margin-left: -20px
}

.io-ox-twitter-reply:before {
	background-position: 0 0
}

.io-ox-twitter-reply:hover:before {
	background-position: -16px 0
}

.io-ox-twitter-favorite:before {
	background-position: -32px 0
}

.io-ox-twitter-favorite:hover:before {
	background-position: -48px 0
}

.io-ox-twitter-favorite.favorited:before {
	background-position: -64px 0
}

.io-ox-twitter-retweet:before {
	background-position: -80px 0
}

.io-ox-twitter-retweet:hover:before {
	background-position: -96px 0
}

.io-ox-twitter-retweet.retweeted:before {
	background-position: -112px 0
}

.io-ox-twitter-delete {
	display: inline-block;
	float: right;
	overflow: hidden;
	margin-left: 1em
}

.io-ox-twitter-delete i {
	padding-right: 5px
}

.io-ox-twitter-delete:hover i {
	color: #666;
	text-decoration: none
}

.io-ox-twitter-follow {
	display: block;
	float: right;
	padding: 0 6px;
	font-size: 11px;
	font-weight: 700
}

.io-ox-twitter-follow div {
	overflow: hidden;
	margin-left: 0;
	padding-left: 12px
}

.io-ox-twitter-follow div:before {
	content: " ";
	background:
		url(v=7.8.3-11.20170116.064730/apps/plugins/portal/twitter/bird_blue_32.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	height: 20px;
	width: 20px;
	position: absolute;
	top: 1;
	margin-left: -20px
}

.io-ox-twitter-retweet-source span, .io-ox-twitter-date,
	.io-ox-twitter-reply, .io-ox-twitter-retweet, .io-ox-twitter-favorite,
	.io-ox-twitter-delete {
	font-size: 90%;
	color: gray;
	font-weight: 300
}

.io-ox-twitter-name a {
	color: #000
}

.io-ox-twitter-tweet-container {
	padding: 10px 0 0 5px;
	display: block
}

.io-ox-twitter-tweet-container .io-ox-twitter-tweet-textarea {
	box-sizing: border-box;
	width: 100%
}

.io-ox-twitter-tweet-container .btn.disabled:hover {
	background-color: #e6e6e6
}

.io-ox-twitter-tweet-button {
	text-align: right
}

.io-ox-twitter-tweet-counter {
	padding: 0 5px;
	display: inline-block;
	width: 40px;
	color: gray;
	text-align: right
}

.io-ox-twitter-tweet-counter.limit-exceeded {
	color: red
}

.io-ox-twitter-hidden {
	display: none
}