/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../../../tk/definitions";

.io-ox-office-main.popup-container.popup-tooltip.attributes-tooltip > .popup-content {
    padding: 0;

    > .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px;
    }

    tr {
        > * { vertical-align: top; }
        > :not(.no-pad) { padding: 1px 5px; }
        > th { background: fade(black, 10%); }
        &:not(:first-child) > * { border-top: 1px solid @tooltip-border-color; }
        > :not(:first-child) { border-left: 1px solid @tooltip-border-color; }
    }

    .color-box {
        display: inline-block;
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        border: 1px solid #aaa;
        text-align: center;
        &.ambiguous { .ambiguous-fill(); }
        > i.fa {
            font-size: 10px;
            color: #c0c0c0;
            vertical-align: top;
        }
    }
}
