.io-ox-halo .widget-title {
	margin: .5em 0 1em;
	font-size: 16pt
}

.io-ox-halo .vgrid-cell:last-child {
	border-bottom: 0 none
}

.io-ox-halo .vgrid-cell.mail {
	padding: 6px 0
}

.io-ox-halo h1 {
	font-size: 24px;
	font-weight: 400
}

.io-ox-halo h2 {
	font-size: 18px
}

.io-ox-halo .ray {
	margin: 0 0 30px
}

.io-ox-halo .io-ox-subheader {
	font-weight: 300;
	font-size: 13pt
}

.io-ox-halo .io-ox-left-column, .io-ox-halo .io-ox-right-column {
	margin: 0;
	padding: 0;
	display: block;
	width: 48%
}

.io-ox-halo .io-ox-left-column {
	float: left;
	padding-right: 2%
}

.io-ox-halo .io-ox-right-column {
	float: right;
	padding-left: 2%
}