.first-start-wizard .btn-primary, .first-start-wizard .wizard-next {
	float: right;
	margin-left: 5px
}

.first-start-wizard .modal-body {
	height: 125px
}

.first-start-wizard.mobile-dialog .btn {
	margin: 2px 0;
	width: 100%
}

.first-start-wizard.mobile-dialog .modal-body {
	height: auto
}