.io-ox-calendar-settings .favorite-view .timezone-abbr {
	display: inline-block;
	width: 5em;
	text-align: left
}

.io-ox-calendar-settings .favorite-view .offset {
	color: #777;
	display: inline-block;
	width: 6em;
	text-align: left
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-calendar-settings .favorite-view .timezone-abbr {
		width: 3.5em
	}
	.io-ox-calendar-settings .favorite-view .offset {
		width: 5em
	}
	.io-ox-calendar-settings .favorite-view button {
		margin-top: 7px
	}
}