.io-ox-settings-main .window-content .rightside .scrollable-pane .io-ox-mailfilter-settings .settings-list-view .settings-list-item:not
	(.disabled ) .list-item-title {
	font-weight: 700
}

.io-ox-mailfilter-edit .warning {
	color: #B94A48;
	border-color: #B94A48
}

.io-ox-mailfilter-edit .action.dropup.open {
	position: relative
}

.io-ox-mailfilter-edit a.dropdown-toggle {
	padding-top: 5px;
	display: inline-block
}

.io-ox-mailfilter-edit a.dropdown-toggle:focus {
	text-decoration: underline
}

.io-ox-mailfilter-edit a.newcondition, .io-ox-mailfilter-edit a.newaction
	{
	margin-top: 10px;
	margin-bottom: 25px;
	display: inline-block
}

.io-ox-mailfilter-edit a.folderselect {
	padding-top: 5px;
	display: inline-block
}

.io-ox-mailfilter-edit legend {
	display: block;
	width: 100%;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 40px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5
}

.io-ox-mailfilter-edit li.filter-settings-view {
	position: relative;
	background-color: #f5f5f5;
	padding: 8px 70px 8px 13px;
	margin: 0 0 7px;
	text-align: left
}

.io-ox-mailfilter-edit li.filter-settings-view .singleline {
	line-height: 30px
}

.io-ox-mailfilter-edit li.filter-settings-view .doubleline {
	line-height: 63px
}

.io-ox-mailfilter-edit li.filter-settings-view .center {
	text-align: center
}

.io-ox-mailfilter-edit li.filter-settings-view .rightalign {
	text-align: right
}

.io-ox-mailfilter-edit li.filter-settings-view .rightalign .flag-dropdown .dropdown-menu
	{
	text-align: left;
	right: 207px;
	top: -272px;
	position: relative
}

.io-ox-mailfilter-edit li.filter-settings-view .rightalign .dropdown-menu
	{
	text-align: left;
	left: auto;
	right: -2px
}

.io-ox-mailfilter-edit li.filter-settings-view .dateinput .input-group {
	display: block
}

.io-ox-mailfilter-edit li.filter-settings-view .dateinput .datepicker-day-field
	{
	width: 100%
}

.io-ox-mailfilter-edit li.filter-settings-view .dropdownlink,
	.io-ox-mailfilter-edit li.filter-settings-view .control-label {
	text-align: right
}

.io-ox-mailfilter-edit li.filter-settings-view .help-block {
	margin: 0
}

.io-ox-mailfilter-edit li.filter-settings-view.warning {
	color: #B94A48
}

.io-ox-mailfilter-edit .flag-dropdown {
	width: 30px;
	height: 24px;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, .2);
	cursor: pointer;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	top: 4px
}

.io-ox-mailfilter-edit .flag-dropdown ul {
	text-align: left;
	font: 14px/20 "Helvetica Neue", Helvetica, Arial, sans-serif;
	right: -2px;
	left: auto;
	width: 200px
}

.io-ox-mailfilter-edit .flag_1 {
	background-color: #c00
}

.io-ox-mailfilter-edit .flag_7 {
	background-color: #f89406
}

.io-ox-mailfilter-edit .flag_10 {
	background-color: #f8e400
}

.io-ox-mailfilter-edit .flag_6 {
	background-color: #92d050
}

.io-ox-mailfilter-edit .flag_3 {
	background-color: #198819
}

.io-ox-mailfilter-edit .flag_9 {
	background-color: #62cffc
}

.io-ox-mailfilter-edit .flag_2 {
	background-color: #017fb3
}

.io-ox-mailfilter-edit .flag_5 {
	background-color: #7e16cf
}

.io-ox-mailfilter-edit .flag_8 {
	background-color: #e01cd9
}

.io-ox-mailfilter-edit .flag_4 {
	background-color: #777
}

.io-ox-mailfilter-edit a[data-action=remove-test],
	.io-ox-mailfilter-edit a[data-action=remove-action] {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	color: #aaa;
	width: 44px;
	cursor: pointer
}

.io-ox-mailfilter-edit a[data-action=remove-test]:hover,
	.io-ox-mailfilter-edit a[data-action=remove-action]:hover {
	background-color: #c00;
	text-decoration: none
}

.io-ox-mailfilter-edit a[data-action=remove-test]:hover i,
	.io-ox-mailfilter-edit a[data-action=remove-action]:hover i {
	color: #fff
}

.io-ox-mailfilter-edit a[data-action=remove-test] i,
	.io-ox-mailfilter-edit a[data-action=remove-action] i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -6px;
	color: #aaa
}

.io-ox-mailfilter-edit .line {
	margin-top: 25px;
	margin-bottom: 20px
}

.io-ox-mailfilter-edit .line .dropdown-toggle {
	padding-top: 0
}