.window-container:not (.io-ox-find-active ) .io-ox-find .twitter-typeahead
	{
	width: 100%
}

.window-container:not (.io-ox-find-active ) .io-ox-find .twitter-typeahead .token-input.tt-hint,
	.window-container:not (.io-ox-find-active ) .io-ox-find .twitter-typeahead>.token-input.tt-input
	{
	min-width: 60px !important
}

.window-container.io-ox-find-active .vgrid-cell.tail {
	display: none
}

.io-ox-find .search-box .twitter-typeahead, .io-ox-search .search-box .twitter-typeahead
	{
	height: 24px
}

.io-ox-find .search-box .twitter-typeahead .tt-dropdown-menu,
	.io-ox-search .search-box .twitter-typeahead .tt-dropdown-menu {
	max-height: 400px
}

.io-ox-find .search-box .search-field.form-control:focus, .io-ox-search .search-box .search-field.form-control:focus
	{
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px
		rgba(102, 175, 233, .6)
}

.io-ox-find .search-box .search-field .token-input.tt-input,
	.io-ox-search .search-box .search-field .token-input.tt-input {
	min-width: 60px !important;
	padding-left: 3px
}

.io-ox-find .search-box .search-field .token-input.tt-input[disabled],
	.io-ox-search .search-box .search-field .token-input.tt-input[disabled]
	{
	background-color: #eee
}

.io-ox-find .autocomplete-item, .io-ox-search .autocomplete-item {
	color: #333;
	padding: 2px 10px
}

.io-ox-find .autocomplete-item i, .io-ox-search .autocomplete-item i {
	font-style: normal;
	color: rgba(0, 0, 0, .5)
}

.io-ox-find .autocomplete-item.indent, .io-ox-search .autocomplete-item.indent
	{
	padding-left: 24px
}

.io-ox-find .autocomplete-item.dropdown-header, .io-ox-search .autocomplete-item.dropdown-header
	{
	padding-top: 9px;
	margin-top: 9px;
	border-top: 1px solid rgba(128, 128, 128, .25);
	max-width: inherit
}

.io-ox-find .autocomplete-item.dropdown-header:first-child,
	.io-ox-search .autocomplete-item.dropdown-header:first-child {
	margin-top: 0;
	border-top: 0
}

.io-ox-find .autocomplete-item.unselectable, .io-ox-search .autocomplete-item.unselectable
	{
	cursor: default;
	color: rgba(128, 128, 128, .71)
}

.io-ox-find .autocomplete-item.contacts .image, .io-ox-search .autocomplete-item.contacts .image,
	.io-ox-find .autocomplete-item.contact .image, .io-ox-search .autocomplete-item.contact .image,
	.io-ox-find .autocomplete-item.participant .image, .io-ox-search .autocomplete-item.participant .image,
	.io-ox-find .autocomplete-item.task_participants .image, .io-ox-search .autocomplete-item.task_participants .image
	{
	margin-right: 14px;
	display: inline-block;
	float: left;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.io-ox-find .autocomplete-item.contacts .name, .io-ox-search .autocomplete-item.contacts .name,
	.io-ox-find .autocomplete-item.contact .name, .io-ox-search .autocomplete-item.contact .name,
	.io-ox-find .autocomplete-item.participant .name, .io-ox-search .autocomplete-item.participant .name,
	.io-ox-find .autocomplete-item.task_participants .name, .io-ox-search .autocomplete-item.task_participants .name,
	.io-ox-find .autocomplete-item.contacts .detail, .io-ox-search .autocomplete-item.contacts .detail,
	.io-ox-find .autocomplete-item.contact .detail, .io-ox-search .autocomplete-item.contact .detail,
	.io-ox-find .autocomplete-item.participant .detail, .io-ox-search .autocomplete-item.participant .detail,
	.io-ox-find .autocomplete-item.task_participants .detail, .io-ox-search .autocomplete-item.task_participants .detail
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-find .autocomplete-item.contacts .detail, .io-ox-search .autocomplete-item.contacts .detail,
	.io-ox-find .autocomplete-item.contact .detail, .io-ox-search .autocomplete-item.contact .detail,
	.io-ox-find .autocomplete-item.participant .detail, .io-ox-search .autocomplete-item.participant .detail,
	.io-ox-find .autocomplete-item.task_participants .detail, .io-ox-search .autocomplete-item.task_participants .detail
	{
	color: rgba(0, 0, 0, .5)
}