.picture-upload-view {
	position: relative;
	display: inline-block;
	padding-left: 15px;
	margin: 10px 30px 0 0;
	float: left
}

.picture-upload-view .picture-uploader {
	cursor: pointer;
	position: relative;
	z-index: 0;
	width: 100px;
	height: 100px;
	display: inline-block;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: content-box
}

.picture-upload-view .picture-uploader.focussed {
	border-color: #3c73aa
}

.picture-upload-view .picture-uploader .add-img-text {
	font-size: 12px;
	line-height: 12px;
	margin-top: 28px;
	height: 100%;
	text-align: center;
	color: #777;
	z-index: 2
}

.picture-upload-view .picture-uploader .close {
	z-index: 3;
	position: absolute;
	top: 4px;
	right: 4px;
	opacity: .6;
	width: 24px;
	height: 24px;
	text-align: center;
	background-color: #fff
}

.picture-upload-view form {
	position: absolute;
	z-index: 1
}

.picture-upload-view input[type=file] {
	position: absolute;
	top: 24px;
	width: 90px;
	height: 90px;
	opacity: 0;
	cursor: pointer
}