/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Kai Ahrens <kai.ahrens@open-xchange.com>
 */

@import "../../../tk/definitions.less";

.io-ox-office-text-dialog-page-settings {
       
    @small-font: 10pt;
    @medium-font: 12pt;
    @link-line-height: 20px;

    & .spin-field{
        .standard-group-design();
    }
    
    overflow-x: hidden;

    .selected {
        background-color: @control-list-selected-color;
    }

    form {
        /*.clearfix();*/
        margin-bottom: 20px;
    }

    .dropdown-container {
        min-height: (2 * @link-line-height + 5px);
    }

    .dropdown-link {
        display: inline-block;

        margin-right: @standard-distance-h;
        font-size: @standard-font-size;
        white-space: nowrap;

        > * {
            line-height: @link-line-height;
        }

        > label {
            margin: 0;
            color: @text-color;
        }

        > .dropdown {
            padding-left: 5px;
        }
    }

    .dropdown-listentry {
        font-size: @standard-font-size;
        padding-top: 0;
        padding-bottom: 0;
    }

    .spin-field {
        height: 29px;
    }
    
    .spin-field-label {
        display: block;
        margin-top: @standard-distance-h;
    }

    .floating {
        float: left;
    }

    input {
        text-align: right;
        width: 70px;
    }

    h4 {
        font-size: 16px;
    }

    hr.ruler35 {
        .floating;
        width: 35%;
        margin: 0px;
        margin-right: 5%;
    }

    hr.ruler250px {
        .floating;
        width: 250px;
        margin: 0px;
        margin-right: 5%;
    }

    .column30 {
        .floating;
        width: 30%;
    }

    .column40 {
        .floating;
        width: 40%;
    }

    .column50 {
        .floating;
        width: 50%;
    }

    .column60 {
        .floating;
        width: 60%;
    }

    .column100 {
        .floating;
        width: 100%;
    }

    table.extents {
        .column40;

        tr,
        td {
            .column100;
        }
    }

    table.margins {
        .column30;

        tr,
        td {
            .column100;
        }
    }

    // presentation-app specific slide-setting rules instead of text-app page-setting rules
    //
    &.slide-settings {

        form {
            height: 160px; // 220px;
        }
        .dropdown-container {
            margin-top: 10px;
        }
        .dropdown-container + h4 {
            margin-top: 20px;
        }
        h4 + hr {
            margin: 0;
        }
        h4 + table,
        hr + table {
            td {
                padding: 0 5px;
            }
        }
    }
    &.mobile,
    &.slide-settings {
        .dropdown-link {
            display: block;
        }
    }

    /*
     *    extra code for small devices
     */
    html.smartphone & {
        height: auto;
    }
}
