.io-ox-portal .widget.widget-color-custom.color-xing {
	background-color: #000
}

.io-ox-portal .widget.widget-color-custom.color-xing .decoration {
	background-color: #126567
}

.io-ox-portal .widget.widget-color-custom.color-xing:focus .decoration {
	background-color: #0a3a3c
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-portal .widget.widget-color-custom.color-xing {
		background-color: #126567
	}
	.io-ox-portal .widget.widget-color-custom.color-xing .decoration {
		background-color: transparent
	}
}

.halo.io-ox-xing {
	clear: both
}

.halo.io-ox-xing .padding {
	margin-top: 1.5em
}

.halo.io-ox-xing .mini-profile, .halo.io-ox-xing .extended-profile {
	display: inline-block;
	vertical-align: top
}

.halo.io-ox-xing .mini-profile, .halo.io-ox-xing .connection {
	width: 64px;
	display: inline-block;
	vertical-align: top;
	text-align: center
}

.halo.io-ox-xing .mini-profile {
	text-align: center;
	margin: 0 14px 28px
}

.halo.io-ox-xing .mini-profile .pic, .halo.io-ox-xing .mini-profile .permalink
	{
	display: block;
	overfow: ellipsis
}

.halo.io-ox-xing .mini-profile .pic {
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.halo.io-ox-xing .extended-profile .extended-profile-block {
	display: inline-block;
	vertical-align: top;
	padding: 28px 0 0 28px
}

.halo.io-ox-xing .extended-profile .extended-profile-block .header {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 200;
	margin-bottom: 14px;
	border-bottom: 0 none
}

.halo.io-ox-xing .shared-contacts {
	padding-top: 28px
}

.halo.io-ox-xing .shared-contacts .mini-profile {
	padding-right: 28px
}

.halo.io-ox-xing .connection {
	color: rgba(0, 0, 0, .25)
}

.content.io-ox-xing .setup-questions {
	text-align: center;
	vertical-align: middle
}

.content.io-ox-xing .setup-action {
	display: block;
	margin-bottom: 13px
}

.content.io-ox-xing.preview .activity {
	display: block;
	margin: 7px 0
}

.content.io-ox-xing.preview .activity .possible-action, .content.io-ox-xing.preview .activity .date
	{
	display: none
}

.io-ox-xing.submitted-data label {
	display: block;
	position: relative
}

.io-ox-xing.submitted-data label input, .io-ox-xing.submitted-data label select
	{
	position: absolute;
	left: 160px
}

.content.io-ox-xing.fullview .activity {
	display: block;
	margin: 26px 0
}

.content.io-ox-xing.fullview .activity .possible-action {
	display: inline-block;
	cursor: pointer;
	margin-right: 13px
}

.content.io-ox-xing.fullview .activity .possible-action .fa {
	margin-right: 3px
}

.content.io-ox-xing.fullview .activity .date {
	font-size: 80%
}

.content.io-ox-xing.fullview .comment .btn {
	display: block
}