/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../../tk/definitions";

/* restrict all definitions to OX Documents applications */
.io-ox-office-main {

/* z-index of the drawing contents rendered above the root nodes */
@drawing-content-z-index: 30;
/* z-index of the contents of selected drawings rendered above the other drawing contents */
@drawing-selected-content-z-index: 31;
/* z-index of the drawing selection rendered above the drawing contents */
@drawing-selection-z-index: 32;
/* z-index of the drawing tracker node shown while moving or resizing a drawing */
@drawing-tracker-z-index: 33;

/* vendor classes for flip transformation */
.flipH() {
    transform:          scaleX(-1);
    -webkit-transform:  scaleX(-1);
    -moz-transform:     scaleX(-1);
    -ms-transform:      scaleX(-1);
}
.flipV() {
    transform:          scaleY(-1);
    -webkit-transform:  scaleY(-1);
    -moz-transform:     scaleY(-1);
    -ms-transform:      scaleY(-1);
}
.flipBoth() {
    transform:          scale(-1);
    -webkit-transform:  scale(-1);
    -moz-transform:     scale(-1);
    -ms-transform:      scale(-1);
}

/* drawing frames in document contents ===================================== */

.slidePaneThumbnail > .slideContent .drawing, // DOCS-56 :: User can see previews in slide sorter :: https://jira.open-xchange.com/browse/DOCS-56
> .app-pane .drawing {
    position: relative;
    cursor: default;
    font-size: 0;

    /* content node for the visual appearance of the drawing */
    > .content {
        .absolute-with-distance(0);
        overflow: visible;
        font-size: 16px;

        &, * { z-index: @drawing-content-z-index; }

        img {
            position: relative;
            /* remove max-width:100% derived from Bootstrap */
            max-width: none;
            vertical-align: initial;
        }

        &.textframecontent {
            position: absolute;

            &.autoresizeheight {
                position: relative;   /* enabling auto grow of content node */
                display: flex;  /* see bug #47742 */
            }

            .textframe.flipH {
                .flipH();
            }
        }

        /* crop drawing contents at border */
        > .cropping-frame {
            .absolute-with-distance(0);
            overflow: hidden;
        }

        /* dedicated node for border styles (not cropped at drawing frame) */
        > .canvasgeometry {
            .absolute-with-distance(0);
        }

        &.chartholder > .chartnode {
            .absolute-with-distance(10px);

            .canvasjs-chart-container,
            canvas {
                width: 100%!important;
                height: 100%!important;
            }
            //!important is important for DevicePixelRatio bigger than 1
        }

        &.placeholder {
            overflow: hidden;
        }

        &.flipV {
            .flipV();
        }
        &.flipH {
            .flipH();
        }
        &.flipV.flipH {
            .flipBoth();
        }
    }

    // fix for Bug 47859
    &.bulletdrawing {
        font-size: 100%;

        // fix for Bug 48023
        pointer-events: none;

        > .content {
            font-size: 100%;
        }
    }

    &.movable {
        cursor: move;
    }

    // for slideTouchMode/ios only!
    &.active-edit.selected {
        outline: 2px dashed #5f97b3!important; // border would move the text a bit due to the boxmodel
        box-shadow: none;
        -webkit-user-select: text; // only on for the selected drawing
        .textframe {
            pointer-events: auto;

        }

        // temp hack, for slideTouchMode/ios only!
        .selection {
            display: none; // hack to prevent flickering selection at double click
        }

    }

    &.selected {
        .drop-shadow();

        & > .content {
            &, * { z-index: @drawing-selected-content-z-index; }

            /* put the drawing canvas behind the drawing content */
            > .canvasgeometry {
                z-index: (@drawing-selected-content-z-index - 1);
            }
        }
    }

    /* selection box for drawing objects */
    > .selection {
        position: static;
        width: 0;
        height: 0;
        overflow: visible;
        font-size: 10px;
        font-size: 1rem;

        /* formatting for the border lines (no hover effects) */
        .border-handle-styles(0.3em; 0; 0; fade(@doc-selection-color, 70%));
        .border-handle-z-index(@drawing-selection-z-index);

        /* formatting for the resizer handles */
        :not(.touch) & { .resizer-handle-styles(0.7em; 0.3em; 0; @doc-selection-color; true; false; true); }
        .touch & { .resizer-handle-styles(1.5em; 0.5em; 0; @doc-selection-color; true; false; true); }
        .resizer-handle-z-index(@drawing-selection-z-index);

        /* tracking node (will be moved around while tracking) */
        > .tracker {
            position: absolute;
            .box-sizing(border-box);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: @drawing-tracker-z-index;
            background-color: fade(white, 20%);
            border: 0.1em solid @doc-selection-color;
            .drop-shadow(0.3em);
        }

        &:not(.tracking-active) > .tracker {
            display: none;
        }

        .rotate-handle {
            position: absolute;
            width: 0.3em;
            height: 2.5em;
            background: fade(@doc-selection-color, 70%);
            left: 50%;
            top: -2.5em;
            margin-left: -0.1em;
            cursor: crosshair;
            &::before {
                content: "";
                background-color: #fff;
                border: 0.2em solid fade(@doc-selection-color, 70%);
                border-radius: 50%;
                width: 1.3em;
                height: 1.3em;
                position: absolute;
                top: -0.5em;
                left: -0.5em;
                cursor: crosshair;
            }
            .touch &::before {
                width: 3.0em;
                height: 3.0em;
                top: -3.0em;
                left: -1.4em;
            }
        }

        .resizers>[data-pos]::before {
            border-width: 0.1em!important;
        }
    }

    &:not(.resizable) > .selection > .resizers {
        display: none;
    }
}
.slidePaneThumbnail > .slideContent { // DOCS-56 :: User can see previews in slide sorter :: https://jira.open-xchange.com/browse/DOCS-56

    .drawing.absolute {
        .placeholder.content {

            height: 100%;
        }
    }
}

/* ColorSetPicker control ================================================== */

&.popup-container.color-set-picker .caption > .color-node {
    display: inline-block;
    margin-top: 3px;

    > span {
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid fade(black, 20%);
        border-radius: 2px;

        + span { margin-left: 2px; }
    }
}

&.popup-container.chart-type-picker .button {
    min-width: 100px; /* bug 36607: needed by FireFox */
    text-align: center;

    > img {
        width: 100px;
        height: 100px;
    }
}

/* ========================================================================= */

} /* end of .io-ox-office-main */
