/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Mario Scheliga <mario.scheliga@open-xchange.com>
 */

.io-ox-settings-main {
    .window-controls label {
        display: inline-block;
        margin-bottom: 0;
    }

    .window-content .leftside {

        .toolbar {
            position: absolute;
            right: 0;
            left: 0;
            font-size: 14px;
            line-height: 44px;
            width: 100%;
            height: 45px;
            padding: 0;
            border: 0 solid #e4e4e4;
            border-top: 1px solid #ddd;
            border-top-width: 1px;
            display: block;
            bottom: 0;
            background-color: #fff;
            z-index: 2;
         }

        .advanced-mode {
            margin: 10px;
            line-height: 20px;
        }
    }

    .window-content .leftside .folder-tree {
        .selected > .folder-node > .folder-label {
            max-width: none;
        }
    }

    .window-content .rightside > .scrollable-pane {
        max-width: 780px;

        .settings-list-view {
            .settings-list-item {
                .flex-wrap(wrap);

                .account-icon {
                    margin-top: 2px;
                    padding-right: 0;
                }

                .account-error-message {
                    width: 100%;
                    text-align: right;
                    color: #FF0000;
                    padding-top: 0;
                    padding-right: 63px;
                    margin-top: -8px;
                }

                .remove-placeholder {
                    width: 24px;
                    margin: 13px 14px;
                }

                @media (max-width: 480px), (max-device-width: 480px) {
                    .remove-placeholder {
                        width: 14px;
                    }
                }
            }
        }

        .io-ox-accounts-settings {

            .widget-settings-view .widget-title {
                font-weight: normal;
            }

            .dropdown-menu {
                right: 15px;
                left: auto;
            }

            .account-error-wrapper {
                    color: #333;
                    flex: 1 100%;
                    padding: 0px 1px 12px 1px;
                    order: 4;
                .account-error-icon {
                    padding: 3px 12px;
                    float: left;
                }
            }

        }

        .widget-list {
            margin: 0;
            list-style-type: none;
        }

        .widget-settings-view {
            background-color: #f5f5f5;
            padding: 13px;
            margin: 0 0 7px 0;
            text-align: right;
            position: relative;

            &.draggable {
                padding-left: 60px;
                padding-right: 40px;
            }

            .drag-handle {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 45px;
                cursor: pointer;

                i {
                    height: 9px;
                    overflow: hidden;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -5px 0 0 -6px;
                    color: #aaa;
                }
                &:hover {
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.05);
                    i { color: #888; }
                }
                &:focus {
                    background-color: @link-color;
                    outline: 0;
                    i { color: #FFF; }
                }
            }

            .widget-controls {
                display: inline-block;
                a[data-action="remove"], a[data-action="delete"] {
                    &:hover {
                        i.fa-trash-o {
                            color: @trash-icon-hover-color;
                            text-decoration: none;
                        }
                    }
                    i.fa-trash-o {
                        color: #aaa;
                    }
                }
            }

            .widget-icon {
                line-height: 20px;
                margin-right: 13px;
                float: left;
            }

            .widget-title {
                font-weight: bold;
                margin-top: 1px;
                margin-right: 2em;
                white-space: nowrap;
                text-align: left;
                max-width: 100%;
                .ellipsis;
            }

            .action {
                padding: 0;
                margin-top: 1px;
                margin-right: 2em;
            }

            .account-error-message {
                color: #FF0000;
                margin-right: 2em;
            }

            a[data-action="toggle"] {
                margin-right: 1.4em;
                min-width: 100px;
                display: inline-block;
                text-align: center;
            }

            a[data-action="remove"], a[data-action="delete"] {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 45px;
                cursor: pointer;

                &:hover {
                    background-color: @trash-icon-hover-background;
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -7px 0 0 -6px;
                    color: #aaa;
                }
            }

            @media (max-width: 480px), (max-device-width: 480px) {
                a[data-action="toggle"] {
                    color: #000000;
                    text-shadow: 0 1px 0 #ffffff;
                    opacity: 0.2;
                    margin-right: 2em;
                    &:hover {
                        opacity: 0.4;
                        text-decoration: none;
                    }
                }

                a[data-toggle="dropdown"]:hover {
                    text-decoration: none;
                }
            }

            &.disabled {
                background-color: #eee;
                .widget-title { font-style: italic; font-weight: normal; color: #888; }
            }
        }

        .io-ox-accounts-settings li.widget-settings-view {
            padding-right: 40px;
        }

        .io-ox-signature-settings li.widget-settings-view {
            padding-right: 40px;
        }
    }
}
.vgrid-cell.settings {
    height: 3.5em;
    padding: 0.75em 13px 0.75em 13px;
}

.vgrid-cell.vgrid-label.settings-label {
    font-size: 9pt;
    font-weight: normal;
    line-height: 1.2em;
    height: 1.2em;
    color: #555;
}

.borderradius .vgrid-cell.settings .shown_as {
    top: 5px;
    bottom: 5px;
    left: 3px;
    border-right: 0 none;
    .border-radius(@border-radius-base);
}

.sectiondelimiter {
    clear: both;
    text-align: right;
    padding: 0;
    padding-bottom: 7px;
    margin: 0;
    margin-top: 8px;
    border-top: 1px solid @inline-link-border-color;
    height: 8px;
}

.settings-detail-pane {

    &.default-content-padding {
        padding: 24px 32px;
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        min-width: 0;
        margin-bottom: 32px;
    }

    label, legend { cursor: default; }

    label.checkbox, label.radio { cursor: pointer; }

    .section { max-width: 800px; }

    h1, h1.pane-headline {
        font-family: @light-font-family;
        font-weight: 200;
        font-size: 26px;
        line-height: 32px;
        margin: 2em 0 1em 0;

        &:first-child {
            margin: 0;
            padding-bottom: 18px;
            line-height: 30px;
        }
        &.no-margin { margin: 0; }
    }

    h2, h2.pane-headline {
        font-size: 20px;
        line-height: 22px;
        margin: 2em 0 1.5em 0;

        &.no-margin { margin: 0; }
    }

    legend.sectiontitle {
        font-weight: 700;
        display: block;
        width: 100%;
        font-size: 14px;
        height: 32px;
        color: #333;
        margin: 0;
        margin-bottom: 8px;

        h2 {
            font-weight: 700;
            font-size: 14px;
            margin: 0;
        }
    }

    .form-group {
        margin-bottom: 8px;

        label {
            margin-bottom: 4px;
        }
    }

    .radio, .checkbox {
        margin: 0;

        label {
            min-height: 24px;
            margin: 0;
            line-height: 22px;
        }

        input { margin-top: 5px; }
    }

    input, select, button {
        margin-top: 4px;
        margin-bottom: 6px;
    }

    .form-horizontal {
        .form-group {
            label {
                margin-top: 4px;
            }
            .checkbox {
                min-height: 0;
                margin: 0;
                padding: 0;
                label {
                    margin: 0;
                    padding-top: 0;
                }
            }
        }
    }

    .form-inline .controls input { width: 70px; }

    .io-ox-accounts-settings {

        .controls {
            padding: 13px;
            height: 30px;
            margin-bottom: 13px;
        }

        .hint {
            margin: 14px 0;
            padding: 14px 14px 0 14px;
            max-width: 500px;
        }
    }

    // singular, no joke, happy debugging it was
    .io-ox-account-settings {

        .folderselect.enabled {
            input[disabled] {
                background-color: inherit;
                cursor: pointer;
            }
        }
    }

    .settings-list {
        margin: 0;
        list-style-type: none;

        li {
            background-color: #f5f5f5;
            padding: 13px;
            margin: 0 0 7px 0;
            text-align: left;

            &.default .list-title { font-weight: bold; }

            .list-title { margin-right: 2em; }

            a {
                cursor: pointer;
                &.action { margin-right: 2em; }
            }
        }
    }

    .error-log {

        section { margin-bottom: 26px; }

        .error-id { color: #555; }

        .url { .ellipsis(); }

        .stack-trace, .url { clear: both; }

        .datetime {
            float: right;
            color: #888;
        }

        .toggle-request-body {
            display: inline-block;
            margin-right: 1em;
        }

        .request-body, .stack-trace {
            color: #555;
            white-space: pre;
            word-break: break-all;
            overflow: hidden;
            padding: 0.5em 0;
        }

        .chart-description, .empty, .url {
            font-style: italic;
            color: #888;
        }

        .empty { padding: 0 13px; }

        .tab-content { min-height: 150px; }
    }
}

.io-ox-dialog-popup {

    input.input-large { width: 360px; }

    .busynotice { text-align: center; }

    .add-mail-account-address,
    .add-mail-account-password {
        display: block;
        max-width: 355px;
    }
}

@media (max-width: 480px), (max-device-width: 480px)  {

    .io-ox-settings-window .vgrid-cell {
        font-size: 15px;
        border-top: 1px solid #eee;
    }

    .settings-detail-pane {

        &.default-content-padding {
            padding: 7px 8px 8px 8px;
        }

        h1:first-child,
        h1.pane-headline:first-child { margin: 0; }

        .form-group { margin-bottom: 0; }

        .btn.btn-primary { margin-bottom: 7px; }

        h1 + .sectiondelimiter {
            border: none;
            margin-top: 0;
        }

        .io-ox-mail-settings {

            .form-horizontal .control-group>label {
                float: none;
                width: 160px;
            }

            .form-inline .controls {
                text-align: left;
                width: auto;

                span {
                    display: inherit;
                    line-height: 29px;
                }

                input {
                    width: 70px;
                    float: left;
                }

                input + span {
                    display: inline-block;
                    padding-left: 5px;
                    float: none;
                }
            }

            legend + .control-group { margin-top: 0; }
        }

        .io-ox-accounts-settings .controls {
            padding-left: 0;

            .btn-group.pull-right { float: none; }
        }

        .io-ox-calendar-settings,
        .io-ox-tasks-settings {
            .form-horizontal .control-group>label {
                float: none;
                width: 160px;
             }
        }

        .form-horizontal {
            .control-label {
                margin-bottom: 0;
                float: none;
                text-align: left;
                width: auto;
            }

            .control-group > label { text-align: left; }

            .controls, .help-inline,
            .control-group > label { margin-left: 5px; }

            .control-group label.control-label {
                float: none;
                width: auto;
            }
        }
    }
}
