.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view {
	padding-right: 40px;
	min-height: 66px
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .list-title
	{
	font-weight: 700;
	word-wrap: break-word;
	max-width: 100%
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content
	{
	line-height: 18px;
	text-align: left
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .url
	{
	clear: both;
	padding-top: 6px
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .url a
	{
	word-break: break-all
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .url a,
	.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .url i
	{
	color: #888
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .url a:hover
	{
	color: #555
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .breadcrumb-view
	{
	padding-top: 4px;
	white-space: pre-wrap
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .breadcrumb
	{
	background-color: transparent
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .breadcrumb li
	{
	line-height: 18px
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .content .fa-spin
	{
	margin-left: .5em
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view .widget-controls .remove
	{
	height: 45px
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view.disabled .list-title
	{
	color: #aaa;
	font-weight: 400
}

.rightside>.scrollable-pane .sub.settings ul li.widget-settings-view.disabled .url i
	{
	color: #ccc;
	font-style: italic
}

.rightside>.scrollable-pane .sub.settings .breadcrumb {
	padding: 0;
	margin: 0
}

.rightside>.scrollable-pane .sub.settings .breadcrumb li {
	padding: 0;
	margin: 0
}

.rightside>.scrollable-pane .sub.settings .remove-filter {
	text-decoration: underline
}