.settings-list-view {
    > li {
        .flex-display(flex);
        margin-bottom: 7px;
        background-color: #f5f5f5;

        & > * {
            .flex(0 0 auto);
            padding: 13px;
        }

        .list-item-title {
            .flex(1);
            .ellipsis();
        }

        .drag-handle {
            width: 45px;
            position: relative;

            i {
                height: 9px;
                overflow: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -5px 0 0 -6px;
                color: #aaa;
            }
        }

        .list-item-controls {
            padding: 0;

            & > * {
                margin: 13px 14px;
                display: inline-block;
            }

            .remove {

                padding: 13px 16px;
                margin: 0;
                margin-left: 10px;

                &:hover {
                    text-decoration: none;
                    background-color: #c00;

                    i { color: #fff; }
                }

                i { color: #aaa; }
            }
        }

        &.default {
            .list-item-title {
                font-weight: bold;
            }
        }

        &.disabled {
            background-color: #eee;

            .list-item-title {
                font-style: italic;
                font-weight: normal;
                color: #888;
            }
        }

        @media (max-width: 480px), (max-device-width: 480px) {
            .list-item-controls {
                .remove {
                    margin-left: 0;
                }
            }
        }

        @media (min-width: 1000px) {
            .list-item-controls {
                & > * {
                    margin: 13px 25px;
                }
            }
        }
    }
}


