/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Julian Bäume <julian.baeume@open-xchange.com>
 */

.services-list-view {
    .service-item {
        padding-left: 8px;
        margin-bottom: 8px;
        line-height: 32px;
        height: 32px;
        background-color: #f5f5f5;

        &:hover {
            background-color: #ddd;
        }
        .service-icon {
            margin-right: 16px;
            width: 16px;
        }
    }
}
