ul.io-ox-portal-birthdays .cake {
	padding-right: 4px;
	display: inline
}

div.io-ox-portal-birthdays h1 {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20pt;
	line-height: 1.15em;
	margin: 0 0 .5em
}

div.io-ox-portal-birthdays .buy-a-gift {
	text-align: right;
	margin: .5em 0
}

div.io-ox-portal-birthdays .birthday {
	min-height: 48px;
	margin-bottom: 13px;
	clear: both;
	cursor: pointer
}

div.io-ox-portal-birthdays .birthday .name {
	font-weight: 700
}

div.io-ox-portal-birthdays .birthday .picture {
	float: left;
	margin-right: 13px;
	display: inline-block;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

div.io-ox-portal-birthdays .birthday .distance {
	color: #888;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-left: .5em
}