.addressbook-popup .modal-header .row {
	margin-top: 8px
}

.addressbook-popup .modal-body.error {
	color: #777;
	background-color: #eee;
	display: flex;
	align-items: center;
	text-align: center
}

.addressbook-popup .list-view {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: auto
}

.addressbook-popup .list-item {
	line-height: 16px;
	padding-top: 11px;
	padding-bottom: 11px
}

.addressbook-popup .list-item:last-child {
	border: 0
}

.addressbook-popup .list-item .fa.fa-checkmark {
	top: 18px
}

.addressbook-popup .focus-indicator .list-item {
	border: 1px solid transparent;
	border-width: 1px 0
}

.addressbook-popup .focus-indicator .list-item:focus {
	background-color: #ddd
}

.addressbook-popup .focus-indicator .list-item:focus .fa.fa-checkmark {
	color: #555
}

.addressbook-popup .focus-indicator .list-item:focus.selected {
	border-color: #a1bfde;
	background-color: #356697
}

.addressbook-popup .focus-indicator .list-item:focus.selected .fa.fa-checkmark
	{
	color: #fff
}

.addressbook-popup .limit {
	color: #777;
	background-color: #eee;
	padding: 8px 8px 8px 48px
}

.addressbook-popup .contact-picture {
	float: left;
	display: inline-block;
	margin-right: 16px;
	background-color: #eee;
	position: relative;
	top: -4px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.addressbook-popup .name, .addressbook-popup .email {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.addressbook-popup .list-item.selected .contact-picture.image {
	opacity: .25;
	-webkit-filter: saturate(0);
	background-color: #eee
}

.addressbook-popup .list-item.selected .contact-picture.initials,
	.addressbook-popup .list-item.selected .contact-picture.distribution-list,
	.addressbook-popup .list-item.selected .contact-picture.label {
	color: #fff;
	background-color: rgba(0, 0, 0, .3)
}

.addressbook-popup .initials, .addressbook-popup .distribution-list,
	.addressbook-popup .label {
	color: rgba(0, 0, 0, .6);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center
}

.addressbook-popup .initials.gray {
	color: #000
}

.addressbook-popup .initials.red {
	background-color: #FFA0A5
}

.addressbook-popup .initials.orange {
	background-color: #FFA77B
}

.addressbook-popup .initials.yellow {
	background-color: #FFD23A
}

.addressbook-popup .initials.green {
	background-color: #BFDE45
}

.addressbook-popup .initials.cyan {
	background-color: #99E4FB
}

.addressbook-popup .initials.blue {
	background-color: #95CEFF
}

.addressbook-popup .initials.purple {
	background-color: #E5B0FF
}

.addressbook-popup .initials.pink {
	background-color: #FFC2DE
}

.addressbook-popup .distribution-list, .addressbook-popup .label {
	font-size: 14px;
	color: #fff;
	background-color: #555
}

.addressbook-popup .list-item .display_name {
	font-weight: 700
}

.addressbook-popup .selection-summary {
	font-size: 13px;
	padding: 0 0 16px;
	text-align: left
}

.addressbook-popup .selection-summary .count {
	color: #777
}

.addressbook-popup .selection-summary .addresses {
	font-weight: 700;
	clear: both;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.addressbook-popup .list-view .message-empty-container .message-empty {
	font-size: 13px;
	font-weight: 400
}