.share-wizard .tokenfield {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.share-wizard .tokenfield .twitter-typeahead .tt-dropdown-menu {
	max-height: 150px
}

.share-wizard .tokenfield.form-control {
	padding-left: 7px
}

.share-wizard textarea {
	margin-top: -16px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.share-wizard .link-group {
	width: 100%
}

.share-wizard .form-group.editgroup {
	margin-bottom: 11px
}

.share-wizard .form-group.expiresgroup .date {
	margin-left: 5px
}

.share-wizard .form-group.expiresgroup .dropdown {
	vertical-align: middle
}

.share-wizard a.sharelink {
	word-break: break-all
}

.share-wizard.invite .passwordgroup {
	display: none
}

.list-view-control:not (.upside-down ).toolbar-top-visible .list-view.myshares-list
	{
	top: 80px
}

.myshares-list-control .secondary-toolbar {
	top: 40px
}

.myshares-list-control [data-ref="io.ox/files/share/back"] {
	display: none
}

.smartphone .myshares-list-control [data-ref="io.ox/files/share/back"] {
	display: block;
	position: absolute;
	left: -12px;
	top: 2px;
	font-size: 15px
}

.smartphone .myshares-list-control [data-ref="io.ox/files/share/back"]:before
	{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f053";
	margin-right: 3px
}

.myshares-list.visible-selection.has-focus .list-item.selected a,
	.myshares-list.visible-selection.has-focus .list-item.selected .type i:not
	(.gray ){
	color: #fff
}

.myshares-list .list-item-content {
	display: table;
	table-layout: fixed;
	width: 100%
}

.myshares-list .list-item-content .displayname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.myshares-list .list-item-content .breadcrumb-view {
	overflow: hidden
}

.myshares-list .list-item-content .breadcrumb-view a {
	color: #333
}

.myshares-list .list-item-content .list-item-column.column-2,
	.myshares-list .list-item-content .list-item-column.column-3 {
	width: 50%;
	padding: 0;
	text-align: left
}

.myshares-list .list-item-content .list-item-column.type {
	width: 20px
}

.share-permissions-dialog .modal-header {
	*zoom: 1
}

.share-permissions-dialog .modal-header .btn {
	float: right
}

.share-permissions-dialog .modal-header .btn.btn-primary {
	margin-left: 13px
}

.share-permissions-dialog .modal-header:before,
	.share-permissions-dialog .modal-header:after {
	display: table;
	content: "";
	line-height: 0
}

.share-permissions-dialog .modal-header:after {
	clear: both
}

.share-permissions-dialog .modal-header .autocomplete-controls {
	width: 402px;
	float: left
}

.share-permissions-dialog .modal-body {
	padding: 16px 0
}

.share-permissions-dialog .modal-footer .cascade {
	display: table;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 0
}

.share-permissions-dialog .modal-footer .share-options {
	text-align: left
}

.share-permissions-dialog .modal-footer .share-options textarea {
	margin-top: -16px
}

.share-permissions-dialog .form-control.tt-input {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.share-permissions-dialog .form-control.message-text {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.share-permissions-dialog .permission {
	margin-bottom: 16px
}

.share-permissions-dialog .permission:last-child {
	margin-bottom: 0
}

.share-permissions-dialog .permission .image {
	height: 40px
}

.share-permissions-dialog .permission .contact-picture {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.share-permissions-dialog .permission .contact-picture.group i {
	font-size: 40px;
	line-height: 40px;
	color: #eee
}

.share-permissions-dialog .permission .role, .share-permissions-dialog .permission .detail-dropdown,
	.share-permissions-dialog .permission .entity-actions {
	height: 40px;
	line-height: 40px
}

.share-permissions-dialog .permission .detail-dropdown,
	.share-permissions-dialog .permission .entity-actions {
	text-align: right
}

.share-permissions-dialog .permission .display_name,
	.share-permissions-dialog .permission .description,
	.share-permissions-dialog .permission .role, .share-permissions-dialog .permission .detail-dropdown
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.share-permissions-dialog .permission .post-description {
	color: #aaa
}

.share-permissions-dialog .permission .display_name {
	font-weight: 700
}

.share-permissions-dialog .permission .display_name .title,
	.share-permissions-dialog .permission .display_name .first_name {
	font-weight: 400
}

.share-permissions-dialog .permission .halo-link:hover {
	cursor: pointer
}

.share-permissions-dialog .permission .halo-link:hover.display_name {
	text-decoration: underline
}

.share-permissions-dialog .permission .readwrite,
	.share-permissions-dialog .permission .readonly {
	margin-right: 45px
}

.share-permissions-dialog .permission .readonly a {
	cursor: default;
	color: #888
}

.share-permissions-dialog .permission .readonly i {
	font-style: normal;
	color: #333
}

.share-permissions-dialog .permission .entity {
	padding-left: 77px;
	position: relative
}

.share-permissions-dialog .permission .entity a {
	white-space: nowrap
}

.share-permissions-dialog .permission .name {
	font-weight: 700;
	margin-right: .5em
}

.share-permissions-dialog .permission .owner {
	margin-right: .5em;
	color: #600
}

.share-permissions-dialog .permission a[data-action=remove] {
	color: #777;
	width: 40px;
	display: inline-block;
	position: relative;
	text-align: center
}

.share-permissions-dialog .permission a[data-action=remove]:hover {
	background-color: #c00
}

.share-permissions-dialog .permission a[data-action=remove]:hover i {
	color: #fff
}

.share-permissions-dialog .permission a[data-action=remove] i {
	color: #777
}

.touch .permissions-dialog .modal-body {
	height: auto;
	min-height: 200px
}