.mediaplayer_container {
	z-index: 10001;
	background-color: rgba(0, 0, 0, .1)
}

.mediaplayer_container:focus {
	outline: 0
}

.mediaplayer_container .mediaplayer_inner {
	left: 50%;
	width: 506px;
	margin-left: -266px;
	padding: 13px;
	-webkit-box-shadow: 0 0 50px 5px #000;
	box-shadow: 0 0 50px 5px #000;
	background-color: #1f1f1f;
	background-image: -moz-linear-gradient(top, #111, #333);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111),
		to(#333));
	background-image: -webkit-linear-gradient(top, #111, #333);
	background-image: -o-linear-gradient(top, #111, #333);
	background-image: linear-gradient(to bottom, #111, #333);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff111111',
		endColorstr='#ff333333', GradientType=0)
}

.mediaplayer_container .mediaplayer_inner:focus {
	outline: 0
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_buttons {
	margin-bottom: 13px;
	text-align: right
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_buttons button {
	margin-left: 13px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_buttons button.minimizemediaplayer:hover
	{
	color: #fff
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_track {
	height: 120px;
	vertical-align: middle;
	width: 100%;
	background: #222
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_track .album {
	text-align: center;
	font-size: 75px;
	color: #333
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_track .album i {
	margin-left: 12px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_track .track {
	color: #fff;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	max-height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 12px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player {
	width: 100%;
	margin-bottom: 13px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-video
	{
	margin-top: 43px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-video video
	{
	width: 100%;
	max-height: 270px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container
	{
	max-height: 270px
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container .mejs-mediaelement
	{
	text-align: center
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container .mejs-controls
	{
	background-color: #333
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total
	{
	background: #2f5984
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded
	{
	background: #568cc3
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total
	{
	background: #2f5984
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist {
	position: absolute;
	left: 13px;
	right: 13px;
	bottom: 13px;
	padding: 0;
	margin: 0;
	overflow-y: auto
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist li {
	list-style: none;
	color: #fff;
	background-color: #444;
	margin-bottom: 1px;
	padding: 13px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist li:hover
	{
	background-color: #555
}

.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist li.active
	{
	color: #fff;
	background-color: #08c
}

.audioplayer .mediaplayer_playlist {
	top: 219px
}

.videoplayer .mediaplayer_playlist {
	top: 340px
}

@
-webkit-keyframes playerColours {
	from {color: #fff
}

to {
	color: #bbb
}

}
@
-moz-keyframes playerColours {
	from {color: #fff
}

to {
	color: #bbb
}

}
#io-ox-topbar .launcher.minimizedmediaplayer i {
	-moz-animation-direction: alternate;
	-moz-animation-duration: 1.25s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: playerColours;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 1.25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: playerColours;
	-webkit-animation-timing-function: ease-in-out
}

@media ( max-width :700px) {
	.mejs-video {
		width: 290px
	}
	.mediaplayer_container .mediaplayer_inner {
		width: 320px;
		margin-left: -173px
	}
	.mediaplayer_container .mediaplayer_inner .mediaplayer_track {
		height: 84px
	}
	.mediaplayer_container .mediaplayer_inner .mediaplayer_track .album {
		font-size: 50px
	}
	.mediaplayer_container .mediaplayer_inner .mediaplayer_track .track {
		font-size: 14px;
		margin-top: -8px
	}
	.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist {
		top: 128px;
		width: 294px
	}
	.mediaplayer_container .mediaplayer_inner .mediaplayer_playlist li:hover
		{
		background-color: #444
	}
}

.mejs-fullscreen .mediaplayer_container .mediaplayer_inner .mediaplayer_player .mejs-video video,
	.mejs-container {
	max-height: 100% !important
}