.window-content-top {
	display: none;
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%
}

.file-list-view.column-layout .list-item, .myshares-list.column-layout .list-item
	{
	line-height: 20px;
	padding: 2px 16px 2px 42px;
	border-bottom: 0
}

.file-list-view.column-layout .list-item:not (.selected ):nth-child(odd),
	.myshares-list.column-layout .list-item:not (.selected ):nth-child(odd)
	{
	background-color: #f5f5f5
}

.file-list-view.column-layout.hide-checkboxes .list-item, .myshares-list.column-layout.hide-checkboxes .list-item
	{
	padding-left: 16px
}

.file-list-view.column-layout .list-item-content, .myshares-list.column-layout .list-item-content
	{
	display: table;
	width: 100%;
	table-layout: fixed
}

.file-list-view .list-item-column, .myshares-list .list-item-column {
	display: table-cell;
	vertical-align: middle;
	padding: 0;
	white-space: nowrap
}

.file-list-view .list-item-column.column-1, .myshares-list .list-item-column.column-1
	{
	width: 30px;
	padding-right: 10px
}

.file-list-view .list-item-column.column-2, .myshares-list .list-item-column.column-2
	{
	width: 70%;
	padding-right: 10px
}

.file-list-view .list-item-column.column-3, .myshares-list .list-item-column.column-3
	{
	width: 120px;
	padding-right: 10px;
	text-align: right
}

.file-list-view .list-item-column.column-4, .myshares-list .list-item-column.column-4
	{
	width: 120px;
	text-align: right
}

.file-list-view .list-item-content.attachment-view .list-item-column.column-2,
	.myshares-list .list-item-content.attachment-view .list-item-column.column-2
	{
	width: 30%;
	padding-right: 10px
}

.file-list-view .list-item-content.attachment-view .list-item-column.column-5,
	.myshares-list .list-item-content.attachment-view .list-item-column.column-5
	{
	width: 20%;
	padding-right: 10px;
	text-align: left
}

.file-list-view.visible-selection.has-focus .list-item.selected i,
	.myshares-list.visible-selection.has-focus .list-item.selected i {
	color: rgba(255, 255, 255, .5)
}

.file-list-view .list-item .list-item-checkmark .fa-checkmark,
	.myshares-list .list-item .list-item-checkmark .fa-checkmark {
	top: 10px
}

.file-list-view.column-layout .list-item .list-item-checkmark .fa-checkmark,
	.myshares-list.column-layout .list-item .list-item-checkmark .fa-checkmark
	{
	top: 3px
}

.file-list-view.column-layout .filename, .myshares-list.column-layout .filename,
	.file-list-view.column-layout .subject, .myshares-list.column-layout .subject,
	.file-list-view.column-layout .from, .myshares-list.column-layout .from
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.file-list-view.column-layout .list-item, .myshares-list.column-layout .list-item
		{
		line-height: 40px
	}
	.file-list-view.column-layout .list-item, .myshares-list.column-layout .list-item,
		.file-list-view.grid-layout .list-item, .myshares-list.grid-layout .list-item,
		.file-list-view.icon-layout .list-item, .myshares-list.icon-layout .list-item
		{
		font-size: 15px
	}
	.file-list-view.column-layout .list-item .list-item-checkmark .fa-checkmark,
		.myshares-list.column-layout .list-item .list-item-checkmark .fa-checkmark
		{
		top: 14px
	}
}

.file-type-icon {
	font-size: 14px;
	width: 16px;
	text-align: center
}

.file-type-icon:before {
	content: '\f016';
	color: #aaa
}

.file-type-image .file-type-icon:before {
	content: '\f03e'
}

.file-type-audio .file-type-icon:before {
	content: '\f028'
}

.file-type-video .file-type-icon:before {
	content: '\f008'
}

.file-type-doc .file-type-icon:before {
	content: '\f15c';
	color: #376CB8
}

.file-type-xls .file-type-icon:before {
	content: '\f0ce';
	color: #26935D
}

.file-type-ppt .file-type-icon:before {
	content: '\f022';
	color: #F4502A
}

.file-type-pdf .file-type-icon:before {
	content: '\f15c';
	color: #C01E07
}

.file-type-zip .file-type-icon:before {
	content: '\f187';
	color: #FF940A
}

.file-type-txt .file-type-icon:before {
	content: '\f0f6'
}

.file-type-guard .file-type-icon:before {
	content: '\f023'
}

.file-type-folder .file-type-icon:before {
	content: '\f07b';
	color: #777
}

.file-list-view.visible-selection.has-focus .list-item.selected .file-type-icon:before,
	.myshares-list.visible-selection.has-focus .list-item.selected .file-type-icon:before
	{
	color: #fff
}

.file-list-view.grid-layout, .myshares-list.grid-layout {
	padding: 16px 0 0 16px
}

.file-list-view.grid-layout>li.list-item, .myshares-list.grid-layout>li.list-item
	{
	padding: 0;
	display: inline-block;
	border: solid #fff;
	border-width: 0 16px 16px 0;
	overflow: hidden;
	float: left
}

.file-list-view.grid-layout.grid-1>li, .myshares-list.grid-layout.grid-1>li
	{
	width: 100%
}

.file-list-view.grid-layout.grid-2>li, .myshares-list.grid-layout.grid-2>li
	{
	width: 50%
}

.file-list-view.grid-layout.grid-3>li, .myshares-list.grid-layout.grid-3>li
	{
	width: 33.33333333%
}

.file-list-view.grid-layout.grid-4>li, .myshares-list.grid-layout.grid-4>li
	{
	width: 25%
}

.file-list-view.grid-layout.grid-5>li, .myshares-list.grid-layout.grid-5>li
	{
	width: 20%
}

.file-list-view.grid-layout.grid-6>li, .myshares-list.grid-layout.grid-6>li
	{
	width: 16.66666667%
}

.file-list-view.grid-layout.grid-7>li, .myshares-list.grid-layout.grid-7>li
	{
	width: 14.28571429%
}

.file-list-view.grid-layout.grid-8>li, .myshares-list.grid-layout.grid-8>li
	{
	width: 12.5%
}

.file-list-view.grid-layout.grid-9>li, .myshares-list.grid-layout.grid-9>li
	{
	width: 11.11111111%
}

.file-list-view.grid-layout.grid-10>li, .myshares-list.grid-layout.grid-10>li
	{
	width: 10%
}

.file-list-view.grid-layout.grid-11>li, .myshares-list.grid-layout.grid-11>li
	{
	width: 9.09090909%
}

.file-list-view.grid-layout.grid-12>li, .myshares-list.grid-layout.grid-12>li
	{
	width: 8.33333333%
}

.file-list-view.icon-layout .list-item-checkmark, .myshares-list.icon-layout .list-item-checkmark
	{
	top: 60px
}

.file-list-view.icon-layout .list-item-content, .myshares-list.icon-layout .list-item-content
	{
	width: 100%;
	height: 152px
}

.file-list-view.icon-layout .icon-thumbnail, .myshares-list.icon-layout .icon-thumbnail
	{
	height: 96px;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-origin: border-box
}

.file-list-view.icon-layout .icon-thumbnail.default-icon, .myshares-list.icon-layout .icon-thumbnail.default-icon
	{
	display: table;
	width: 101%
}

.file-list-view.icon-layout .icon-thumbnail.default-icon .folder-name,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .folder-name {
	display: none
}

.file-list-view.icon-layout .icon-thumbnail.default-icon .file-icon,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .file-icon,
	.file-list-view.icon-layout .icon-thumbnail.default-icon .folder-icon,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .folder-icon {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.file-list-view.icon-layout .icon-thumbnail.default-icon .file-icon i.fa,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .file-icon i.fa,
	.file-list-view.icon-layout .icon-thumbnail.default-icon .folder-icon i.fa,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .folder-icon i.fa
	{
	font-size: 42px;
	width: auto
}

.file-list-view.icon-layout .icon-thumbnail.default-icon .folder-icon i.fa:before,
	.myshares-list.icon-layout .icon-thumbnail.default-icon .folder-icon i.fa:before
	{
	color: #ccc
}

.file-list-view.icon-layout .filename, .myshares-list.icon-layout .filename
	{
	line-height: 16px;
	height: 32px;
	overflow: hidden;
	margin: 12px 0;
	text-align: left;
	padding: 0 4px 0 32px;
	word-break: break-word
}

.file-list-view.icon-layout .busy-indicator, .myshares-list.icon-layout .busy-indicator
	{
	padding-top: 40px;
	height: 96px;
	border-bottom: 0;
	float: left
}

.file-list-view.icon-layout .list-item-checkmark, .myshares-list.icon-layout .list-item-checkmark
	{
	top: auto;
	bottom: 7px;
	left: -8px;
	height: 48px;
	width: 40px
}

.file-list-view.icon-layout.hide-checkboxes .filename, .myshares-list.icon-layout.hide-checkboxes .filename
	{
	text-align: center;
	padding: 0 8px
}

.file-list-view.tile-layout>li.list-item, .myshares-list.tile-layout>li.list-item
	{
	border-width: 0 16px 16px 0
}

.file-list-view.tile-layout .list-item-content, .myshares-list.tile-layout .list-item-content
	{
	width: 100%;
	height: 128px
}

.file-list-view.tile-layout .icon-thumbnail, .myshares-list.tile-layout .icon-thumbnail
	{
	height: 128px;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-origin: border-box;
	display: table;
	width: 100%
}

.file-list-view.tile-layout .icon-thumbnail .folder-name, .myshares-list.tile-layout .icon-thumbnail .folder-name,
	.file-list-view.tile-layout .icon-thumbnail .file-icon, .myshares-list.tile-layout .icon-thumbnail .file-icon
	{
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.file-list-view.tile-layout .icon-thumbnail .folder-name, .myshares-list.tile-layout .icon-thumbnail .folder-name
	{
	color: #333
}

.file-list-view.tile-layout .icon-thumbnail .file-icon i.fa,
	.myshares-list.tile-layout .icon-thumbnail .file-icon i.fa {
	font-size: 42px;
	width: auto
}

.file-list-view.tile-layout .file-type-folder .folder-icon,
	.myshares-list.tile-layout .file-type-folder .folder-icon {
	display: none
}

.file-list-view.tile-layout .busy-indicator, .myshares-list.tile-layout .busy-indicator
	{
	padding-top: 40px;
	height: 128px;
	border-bottom: 0;
	float: left
}

.file-list-view.tile-layout .list-item-checkmark, .myshares-list.tile-layout .list-item-checkmark
	{
	top: 90px;
	height: 40px;
	right: 0;
	left: auto
}

.file-list-view.tile-layout .list-item-checkmark .fa-checkmark,
	.myshares-list.tile-layout .list-item-checkmark .fa-checkmark {
	color: #fff;
	text-shadow: 0 0 3px #000
}

.file-list-view.tile-layout .list-item-checkmark .fa-checkmark:before,
	.myshares-list.tile-layout .list-item-checkmark .fa-checkmark:before {
	content: '\f0c8'
}

.file-list-view.tile-layout .file-type-folder .list-item-checkmark .fa-checkmark,
	.myshares-list.tile-layout .file-type-folder .list-item-checkmark .fa-checkmark
	{
	color: #ccc;
	text-shadow: none
}

.file-list-view.tile-layout li.selected .list-item-checkmark .fa-checkmark,
	.myshares-list.tile-layout li.selected .list-item-checkmark .fa-checkmark
	{
	color: #fff
}

.file-list-view.icon-layout .selected .icon-thumbnail, .myshares-list.icon-layout .selected .icon-thumbnail
	{
	opacity: .7
}

.file-list-view.icon-layout.has-focus .selected .icon-thumbnail,
	.myshares-list.icon-layout.has-focus .selected .icon-thumbnail {
	background-color: #284d71
}

.file-list-view.icon-layout.has-focus .selected .icon-thumbnail .folder-icon i.fa:before,
	.myshares-list.icon-layout.has-focus .selected .icon-thumbnail .folder-icon i.fa:before
	{
	color: rgba(0, 0, 0, .5)
}

.file-list-view.tile-layout .selected:not (.file-type-folder ) .icon-thumbnail,
	.myshares-list.tile-layout .selected:not (.file-type-folder ) .icon-thumbnail
	{
	border: 4px solid #ddd;
	box-shadow: 0 0 1px 2px #fff inset
}

.file-list-view.tile-layout .selected.file-type-folder .icon-thumbnail,
	.myshares-list.tile-layout .selected.file-type-folder .icon-thumbnail {
	background-color: #ddd
}

.file-list-view.tile-layout.has-focus .selected .icon-thumbnail,
	.myshares-list.tile-layout.has-focus .selected .icon-thumbnail {
	border-color: #3c73aa
}

.file-list-view.tile-layout.has-focus .selected.file-type-folder .icon-thumbnail,
	.myshares-list.tile-layout.has-focus .selected.file-type-folder .icon-thumbnail
	{
	background-color: #3c73aa
}

.file-list-view.tile-layout.has-focus .selected.file-type-folder .icon-thumbnail .folder-name,
	.myshares-list.tile-layout.has-focus .selected.file-type-folder .icon-thumbnail .folder-name
	{
	color: #fff
}

.file-list-view .locked, .myshares-list .locked {
	color: #c00
}

.file-list-view.has-focus .selected .locked, .myshares-list.has-focus .selected .locked
	{
	color: #fff
}

.file-list-view.icon-layout .file-type-image .icon-thumbnail,
	.myshares-list.icon-layout .file-type-image .icon-thumbnail,
	.file-list-view.tile-layout .file-type-image .icon-thumbnail,
	.myshares-list.tile-layout .file-type-image .icon-thumbnail {
	background-position: center center
}

.margin-bottom {
	bottom: 68px
}

.upload-wrapper {
	border-top: #ddd 1px solid;
	background-color: #fff;
	margin: 0;
	padding: 10px 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	line-height: 1.42857143
}

.upload-wrapper .upload-title {
	margin-bottom: 8px
}

.upload-wrapper .upload-title .file-name, .upload-wrapper .upload-title .estimated-time
	{
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.upload-wrapper .upload-title .estimated-time {
	font-style: italic
}

.upload-wrapper .upload-details, .upload-wrapper .upload-cancel {
	float: right;
	margin-left: 10px
}

.upload-wrapper .progress {
	margin: 0
}

.has-publications {
	width: 27px;
	height: 17px;
	float: left;
	padding-top: 7px;
	margin-right: .5em
}

.mobile-detail-view-wrap {
	margin: 10px 10px 55px
}

.dndinfo {
	margin-top: 10px
}

.vgrid-cell.file {
	display: table-row;
	padding-top: 3px;
	padding-bottom: 3px
}

.vgrid-cell.file .vgrid-cell-checkbox {
	padding-top: 9px
}

.vgrid-cell.file .name {
	display: table-cell;
	vertical-align: middle;
	white-space: normal;
	height: 3em;
	line-height: 1em;
	word-break: break-word
}

ul.breadcrumb li.prefix {
	white-space: nowrap
}

.smartphone .toolbar .folder-up {
	margin-left: 14px
}

.smartphone .file-list-view .list-item-column.column-2 {
	width: 100%;
	padding-right: 0
}

.smartphone #window-content-top #inline-actions-ms {
	margin: 0 30px
}

.smartphone #window-content-top #inline-actions-ms .summary {
	font-size: 12pt
}

.smartphone .margin-bottom {
	bottom: 116px
}

.smartphone .upload-wrapper {
	margin-bottom: 45px
}

.smartphone .upload-wrapper .upload-title {
	overflow: hidden;
	text-overflow: ellipsis
}

.smartphone .upload-wrapper .estimated-time {
	display: none
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup {
	top: 40px;
	margin-top: 0;
	width: auto;
	overflow-y: auto;
	bottom: 40px;
	height: 100%;
	max-height: 100%
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-body {
	max-height: auto
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-body .row textarea.col-lg-12
	{
	max-height: 100px
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-body .fileupload .uneditable-input
	{
	width: 130px
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-footer
	{
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	padding: 0
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-footer .row [class*=col-]
	{
	margin-left: 0;
	float: left
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-footer .row .btn
	{
	border: 0;
	border-radius: 0;
	margin: 0;
	height: 40px;
	width: 100%;
	padding: 0;
	line-height: 40px
}

.smartphone body>.io-ox-dialog-wrapper .io-ox-dialog-popup .modal-footer .row>div
	{
	padding: 0
}

.guidance .files-sizes .breadcrumb {
	margin: 0;
	padding: 0;
	background-color: transparent;
	display: inline
}

.io-ox-files-main .io-ox-dialog-popup .modal-body {
	overflow-x: hidden
}

.file-item .filename {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500
}

.file-item .date {
	font-weight: 300;
	display: inline-block;
	margin-left: .5em;
	float: right;
	opacity: .5
}

html.high-contrast .file-item .date {
	opacity: 1
}

.file-item .locked {
	float: right;
	color: #c00
}

.file-item .size {
	color: #777
}

.io-ox-files-main .leftside {
	width: auto;
	right: 0
}

.io-ox-files-main .has-rightside .leftside {
	right: 320px
}

.io-ox-files-main .rightside {
	width: 320px;
	right: 0;
	left: auto
}

.io-ox-files-main .viewer-sidebar {
	padding: 0;
	background-color: #f5f5f5;
	font-size: 13px
}

.io-ox-files-main .viewer-sidebar .viewer-sidebar-pane {
	height: 100%
}

.io-ox-files-main .viewer-sidebar .viewer-sidebar-pane .viewer-uploadnewversion label
	{
	color: #707070
}

.io-ox-files-main .viewer-sidebar .viewer-sidebar-pane.thumbnail-pane {
	display: none
}

.io-ox-files-main .viewer-sidebar .wrapper {
	padding: 0 16px
}

.io-ox-files-main .viewer-sidebar .sidebar-panel-body {
	padding: 12px 0 5px
}

.io-ox-files-main .viewer-sidebar .sidebar-panel .sidebar-panel-heading
	{
	border-bottom: 0
}

.io-ox-files-main .viewer-sidebar .sidebar-panel-thumbnail {
	padding: 8px 0;
	height: 176px
}

.io-ox-files-main .viewer-sidebar .sidebar-panel-thumbnail .icon-thumbnail
	{
	margin: 0 auto;
	width: 100%;
	height: 160px;
	background-color: #eee;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: border-box
}

.filestorage-conflict-container {
	padding-top: 16px;
	max-height: 250px;
	overflow-y: auto
}

.filestorage-conflict-warning {
	padding-top: 8px
}

.select-storage-account-dialog .modal-body {
	padding: 16px 16px 0
}

.select-storage-account-dialog .modal-body .add-acc-label {
	color: #555;
	margin: 0
}

.select-storage-account-dialog .modal-body .storage-account-item {
	display: inline-block;
	padding: 0;
	line-height: 28px;
	margin: 0 16px 16px 0
}

.select-storage-account-dialog .modal-body .storage-account-item:last-child
	{
	margin-right: 0
}

.select-storage-account-dialog .modal-body .storage-account-item:focus,
	.select-storage-account-dialog .modal-body .storage-account-item:active
	{
	background-color: #fff
}

.select-storage-account-dialog .modal-body .storage-account-item:hover {
	background-color: #f5f5f5
}

.select-storage-account-dialog .modal-body .storage-account-item .icon {
	margin: 15px 20px 0;
	text-align: center;
	width: 64px;
	height: 64px;
	background-size: cover
}

.select-storage-account-dialog .modal-body .storage-account-item.logo-google .icon
	{
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/googledrive_logo128.png)
}

.select-storage-account-dialog .modal-body .storage-account-item.logo-boxcom .icon
	{
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/box_logo128.png)
}

.select-storage-account-dialog .modal-body .storage-account-item.logo-onedrive .icon
	{
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/onedrive_logo128.png)
}

.select-storage-account-dialog .modal-body .storage-account-item.logo-dropbox .icon
	{
	background-image:
		url(v=7.8.3-11.20170116.064730/apps/themes/default/dropbox_logo128.png)
}