.io-ox-editor .title {
	font-weight: 700
}

.io-ox-editor form, .io-ox-editor .body, .io-ox-editor .body>div {
	height: 100%
}

.io-ox-editor .body {
	padding-bottom: 55px
}

.io-ox-editor textarea.form-control {
	font-family: monospace;
	line-height: 1.3333em;
	color: #333;
	padding: 13px;
	height: 100%
}

.io-ox-editor .alert {
	overflow: hidden;
	margin: 0
}

@media ( max-width :767px) {
	.io-ox-editor .body {
		padding-bottom: 100px
	}
}