.permissions-dialog .modal-header {
	*zoom: 1
}

.permissions-dialog .modal-header .btn {
	float: right
}

.permissions-dialog .modal-header .btn.btn-primary {
	margin-left: 13px
}

.permissions-dialog .modal-header:before, .permissions-dialog .modal-header:after
	{
	display: table;
	content: "";
	line-height: 0
}

.permissions-dialog .modal-header:after {
	clear: both
}

.permissions-dialog .modal-header .autocomplete-controls {
	width: 402px;
	float: left
}

.permissions-dialog .modal-footer .cascade {
	display: table;
	position: relative;
	float: left;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: 10px
}

.permissions-dialog .permission {
	margin-bottom: 8px
}

.permissions-dialog .permission .contact-picture {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.permissions-dialog .permission .contact-picture.group i {
	font-size: 48px;
	line-height: 48px;
	color: #eee
}

.permissions-dialog .permission .readwrite, .permissions-dialog .permission .readonly
	{
	margin-right: 45px
}

.permissions-dialog .permission .readonly a {
	cursor: default;
	color: #888
}

.permissions-dialog .permission .readonly i {
	font-style: normal;
	color: #333
}

.permissions-dialog .permission .entity {
	padding-left: 77px;
	position: relative
}

.permissions-dialog .permission .entity a {
	white-space: nowrap
}

.permissions-dialog .permission .name {
	font-weight: 700;
	margin-right: .5em
}

.permissions-dialog .permission .owner {
	margin-right: .5em;
	color: #600
}

.permissions-dialog .permission a[data-action=remove] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 45px;
	cursor: pointer
}

.permissions-dialog .permission a[data-action=remove]:hover {
	background-color: #c00
}

.permissions-dialog .permission a[data-action=remove]:hover i {
	color: #fff
}

.permissions-dialog .permission a[data-action=remove] i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -6px;
	color: #aaa
}

.touch .permissions-dialog .modal-body {
	height: auto;
	min-height: 200px
}