/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Edy Haryono <edy.haryono@open-xchange.com>
 */

@import "../tk/definitions";

/* color definitions */
@color-white: #FFF;
@color-grey-dark: #333;
@color-grey: #555;
@color-grey-light: #999;
@color-grey-lighter: #EEE;
@color-oxtext-blue: #376CB8;
@color-oxspreadsheet-green: #2FB145;
@color-oxpresentation-red: #ED4D21;
@color-headline: @color-grey-light;
@color-body-text : @color-grey-dark;
/* toolbar */
@color-toolbar-link-hover: #2A6496;
@color-toolbar-link-bg: @color-grey-lighter;
@color-toolbar-border: #DDD;
/* recent documents */
@color-recents-bg: #FAFAFA;
@color-recents-date: #AAA;
@color-recents-hover: #DDD;
/* templates */
@color-templates-preview-border: #CCC;
@color-templates-preview-hover: #DDD;
@color-templates-focus: #DDD;

/* sizes */
@size-toolbar-height: 45px;
@size-recents-sidebar-width: 360px;
@size-template-width: 150px;
@size-template-height: 200px;
@size-template-presentation-width: 200px;
@size-template-presentation-height: 140px;
@preview-box-width: 120px;
@preview-box-height: 160px;

/* additional formating for context menus - they are attached to the DOM outside the 'office portal namespace' */
.portal-context-menu {

    .popup-content {
        .section-container, .group {

            .header-label {
                padding-left: 13px !important;
                padding-top: 5px !important;
                padding-bottom: 0px !important;
                color: @color-grey-light;
                font-size: 12px;
                line-height: 21px;
            }

            .button {
                font-size: 14px;
                height: 29px!important;
                line-height: 28px!important;
            }
        }
    }
}

/* office portal namespace */
.io-ox-office-portal-main {

    .window-body {
        -webkit-overflow-scrolling: touch; //momentum-based scrolling off in portal otherwise

        .office-portal-toolbar {

            height: @size-toolbar-height;
            border-bottom: 1px solid @color-toolbar-border;
            background-color: #ffffff;

            /*important for small devices*/
            white-space: nowrap;

            a {
                display: inline-block;
                padding: 12px 20px;

                /*important for small devices*/
                text-overflow: ellipsis;
                max-width: 50%;
                overflow: hidden;

                &:hover {
                    color: @color-toolbar-link-hover;
                    text-decoration: none;
                }

                &:focus, &:active {
                    color: @color-toolbar-link-hover;
                    text-decoration: none;
                    background-color: @color-toolbar-link-bg;
                    outline: 0;
                }
            }
        }
    }

    .window-content {

        overflow: hidden;
        top: 45px;
        .user-select(none);

        @media (max-width: 1024px) {
            overflow: auto;
        }

        h2 {
            color: @color-headline;
            margin: 20px 15px;
        }

        @media (max-width: 1024px) {
            h2 {
                margin: 15px;
                font-size: 22px;
            }
        }

        /* original bootstrap tooltips in portal*/
       div.tooltip-inner {
            padding: 5px 10px;
            line-height: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* fix for a gap between arrow and bootstrap tooltip on IE & Edge */
        .tooltip.top .tooltip-arrow {
           border-width: 6px 5px 0;
        }

        .office-portal-recents {
            .absolute-with-distance(0);
            overflow: none;
            border-right:1px solid @color-grey-lighter;
            width: @size-recents-sidebar-width;
            background-color: @color-recents-bg;
            padding-top: 10px;

            @media (max-width: 768px) {
                position:relative;
                width:100%;
                background-color: @color-white;
            }

            /* original bootstrap tooltip for extended file info in the recent list */
            div.tooltip-inner {
                text-align: left;
                white-space: nowrap;
                line-height: 1.5em;

                .tooltip-filepath {
                    font-size: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .breadcrumb-divider {
                        margin: 0 4px;
                        width: 4px;
                        color: white;
                        text-align: center;
                        -webkit-font-smoothing: subpixel-antialiased;
                    }
                }
            }

            .office-portal-recents-list {
                position: relative;

                .document-link {
                    padding: 7px 0;
                    margin: 0;
                    display: block;
                    cursor: pointer;
                    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */

                    .document-name {
                        padding-right: 0;
                    }

                    .document-name .document-icon {
                        margin-right: 10px;
                        float: left;
                        text-align: center;
                        font-size: 28px;
                        margin-top: 2px;

                        &.text::before { color: @color-oxtext-blue; }
                        &.spreadsheet::before { color: @color-oxspreadsheet-green; }
                        &.presentation::before { color: @color-oxpresentation-red; }
                    }

                    .document-name:hover {
                        text-decoration: none;
                    }

                    .document-name .document-filename {
                        color: @color-body-text;
                        .ellipsis();
                        font-weight: bold;
                        padding-right: 10px;
                        font-size: 13px;
                    }

                    .document-name .document-path {
                        color: @color-grey-light;
                        .ellipsis();
                        font-weight: normal;
                        padding-right: 10px;
                        font-size: 10px;

                        .divider {
                            margin: 0 3px;
                            width: 3px;
                            text-align: center;
                            font-family: FontAwesome;
                         }
                    }

                    .document-date {
                        color: @color-recents-date;
                        text-align: right;
                        padding-left: 0;
                        font-size: 13px;
                    }
                }

                .document-link:focus, .permanent-hover {
                    background-color: @color-recents-hover !important;
                    outline: none;
                }

                .document-link:hover {
                    background-color: @color-recents-hover;
                    outline: none;
                    // turn hover off on ios and android, since the user gets permanent hover on touched elements
                    html.android &, html.ios & {
                        background-color: rgba(0, 0, 0, 0);
                    }
                }
            }
        }

        .office-portal-templates {
            .absolute-with-distance(0; 0; 0; @size-recents-sidebar-width);
            overflow: auto;
            padding: 10px 0 0 40px;

            @media (max-width: 768px) {
                position: relative;
                width: 100%;
                left: 0;
                padding: 10px 0 0 0;
                background-color: #ffffff;
            }

            .template-type-wrapper {
                margin-bottom: 20px;

                .template-item {
                    display: inline-block;
                    width: @size-template-width;
                    height: @size-template-height;
                    margin: 0 10px 10px 0;
                    text-align: center;
                    vertical-align: top;
                    cursor: pointer;
                    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */

                    /* different .template-item layout in portal presentation */
                    &.presentation {
                        width: @size-template-presentation-width;
                        height: @size-template-presentation-height;
                    }

                    .permanent-hover {
                        box-shadow: 0 0 0 3px @color-templates-preview-hover !important;
                    }

                    /* document name shown below the preview icon/image */
                    .template-name {
                        font-size: 13px;
                        text-align: center;
                        margin: 10px 0;
                        color: @color-grey-dark;
                        .ellipsis();
                    }

                    /* standard settings for the template preview box */
                    > .preview-box {
                        text-align: center;
                        margin: 0 auto;

                        .fa {
                            color: gray;
                            font-size: 150%;
                        }

                        .fa-plus {
                            color: rgb(60, 115, 170);
                            font-size: 200%;
                        }
                    }

                    /* template preview box in text/spreadsheet portal */
                    &:not(.presentation) > .preview-box {
                        width: @preview-box-width;
                        height: @preview-box-height;
                        border: 1px solid @color-templates-preview-border;
                        box-shadow: 0 1px 3px fade(black, 10%);
                        line-height: 160px;
                        overflow: hidden;
                        background-color: @color-white;

                        img {
                            vertical-align: top;
                        }

                        &.new-blank {
                            background-color: @color-white;
                        }

                        &:hover {
                            box-shadow: 0 0 0 3px @color-templates-preview-hover;
                            /* turn hover off on ios and android, since the user gets permanent hover on touched elements */
                            html.android &, html.ios & {
                                box-shadow: 0 1px 3px fade(black, 10%);
                            }
                        }
                    }

                    /* template preview box in presentation portal (prefer landscape orientation) */
                    &.presentation > .preview-box {
                        width: 100%; /* width should adapt to the inner IMG width*/
                        height: 102px;
                        line-height: 100px;

                        img {
                            border: 1px solid @color-templates-preview-border;
                            box-shadow: 0 1px 3px fade(black, 10%);
                            vertical-align: middle;
                        }

                        img:hover {
                            box-shadow: 0 0 0 3px @color-templates-preview-hover;
                            /* turn hover off on ios and android, since the user gets permanent hover on touched elements */
                            html.android &, html.ios & {
                                box-shadow: 0 1px 3px fade(black, 10%);
                            }
                        }

                        /* we have a hover on the img in the presentation portal, therefore the blank template needs to have a hover too */
                        &.new-blank:hover {
                            box-shadow: 0 0 0 3px @color-templates-preview-hover;
                            /* turn hover off on ios and android, since the user gets permanent hover on touched elements */
                            html.android &, html.ios & {
                                box-shadow: 0 1px 3px fade(black, 10%);
                            }
                        }

                        .fa-plus {
                            padding-top: 38px; /* to vertical center the icon */
                        }

                        &.new-blank {
                            background-color: @color-white;
                            width: 180px;
                            height: 102px;
                            border: 1px solid @color-templates-preview-border;
                            box-shadow: 0 1px 3px fade(black, 10%);
                        }
                    }
                }

                .template-item:hover {
                    text-decoration: none;
                }

                .template-item:focus {
                    background-color: @color-templates-focus;
                    text-decoration: none;
                    outline: none;
                    /* added to align focus&hover visualy */
                    box-shadow: 0 0 0 3px @color-templates-preview-hover;
                }
            }
        }

        .office-portal-notification {
            padding:10px 20px;
            color:@color-body-text;
        }
    }
}
