/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 * @author David Bauer <david.bauer@open-xchange.com>
 */

// app

.window-content-top {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

// file list view

.file-list-view, .myshares-list {

    //
    // Column layout
    //

    &.column-layout .list-item {
        line-height: 20px;
        padding: 2px 16px 2px 42px;
        border-bottom: 0;
        &:not(.selected):nth-child(odd) { background-color: #f5f5f5; }
    }

    &.column-layout.hide-checkboxes .list-item { padding-left: 16px; }

    &.column-layout .list-item-content {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .list-item-column {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        white-space: nowrap;
        &.column-1 { width: 30px; padding-right: 10px; }
        &.column-2 { width: 70%; padding-right: 10px; }
        &.column-3 { width: 120px; padding-right: 10px; text-align: right; }
        &.column-4 { width: 120px; text-align: right; }
    }

    .list-item-content.attachment-view {
        .list-item-column {
            &.column-2 { width: 30%; padding-right: 10px; }
            &.column-5 { width: 20%; padding-right: 10px; text-align: left; }
        }
    }

    &.visible-selection.has-focus .list-item.selected i { color: rgba(255, 255, 255, 0.50); }

    .list-item .list-item-checkmark .fa-checkmark { top: 10px; }

    &.column-layout {
        .list-item .list-item-checkmark .fa-checkmark { top: 3px; }

        .filename,.subject, .from { .ellipsis(); }
    }
    @media all and (max-width: 480px), all and (max-device-width: 480px) {
        &.column-layout .list-item { line-height: 40px; }
        &.column-layout, &.grid-layout, &.icon-layout {
            .list-item { font-size: 15px; }
        }

        &.column-layout .list-item .list-item-checkmark .fa-checkmark {
            top: 14px;
        }
    }
}

.file-type-icon {
    font-size: 14px;
    width: 16px;
    text-align: center;

    &:before { content: '\f016'; color: #aaa; } // default: fa-file-o

    .file-type-image  &:before { content: '\f03e'; } // fa-image
    .file-type-audio  &:before { content: '\f028'; } // fa-volume-up
    .file-type-video  &:before { content: '\f008'; } // fa-film
    .file-type-doc    &:before { content: '\f15c'; color: #376CB8; } // fa-file-text
    .file-type-xls    &:before { content: '\f0ce'; color: #26935D; } // fa-table
    .file-type-ppt    &:before { content: '\f022'; color: #F4502A; } // fa-list-alt
    .file-type-pdf    &:before { content: '\f15c'; color: #C01E07; } // fa-file
    .file-type-zip    &:before { content: '\f187'; color: #FF940A; } // fa-archive
    .file-type-txt    &:before { content: '\f0f6'; } // fa-file-text-o
    .file-type-guard  &:before { content: '\f023'; } // fa-lock
    .file-type-folder &:before { content: '\f07b'; color: #777; } // fa-folder
}

.file-list-view, .myshares-list {

    &.visible-selection.has-focus .list-item.selected .file-type-icon:before { color: white; }

    //
    // Grid layout
    //

    &.grid-layout {

        padding: @default-padding 0 0 @default-padding;

        & > li.list-item {
            padding: 0;
            display: inline-block;
            border: solid white;
            border-width: 0 @default-padding @default-padding 0;
            overflow: hidden;
            float: left;
        }

        &.grid-1  > li { width: 100% /  1; }
        &.grid-2  > li { width: 100% /  2; }
        &.grid-3  > li { width: 100% /  3; }
        &.grid-4  > li { width: 100% /  4; }
        &.grid-5  > li { width: 100% /  5; }
        &.grid-6  > li { width: 100% /  6; }
        &.grid-7  > li { width: 100% /  7; }
        &.grid-8  > li { width: 100% /  8; }
        &.grid-9  > li { width: 100% /  9; }
        &.grid-10 > li { width: 100% / 10; }
        &.grid-11 > li { width: 100% / 11; }
        &.grid-12 > li { width: 100% / 12; }
    }

    .thumbnail(@height) {
        height: @height;
        background-color: #eee;
        background-size: cover;
        background-repeat: no-repeat;
        // top is necessary for documents; images override this to "center center"
        background-position: top center;
        background-origin: border-box;
    }

    .busy-indicator(@height, @float: none) {
        .busy-indicator {
            padding-top: 40px;
            height: @height;
            border-bottom: 0;
            float: @float;
        }
    }

    &.icon-layout {

        // width is > 120px, so assuming a 4/3 format, we're around 90px
        // since it's not equal but more than 120px we add a bit (just looks better on average)
        @thumbnail_width: 120px;
        @thumbnail_height: 96px;
        @filename_rows: 2;
        @filename_line_height: 16px;
        @filename_height: @filename_rows * @filename_line_height;
        @filename_margin: 12px;
        @height: @thumbnail_height + 2 * @filename_margin + @filename_height;

        .list-item-checkmark { top: 60px; }

        .list-item-content {
            width: 100%;
            height: @height;
        }

        .icon-thumbnail {
            .thumbnail(@thumbnail_height);
        }

        .icon-thumbnail.default-icon {
            display: table;
            width: 101%; // yep, 101, fixes layout glitch in chrome

            .folder-name { display: none; }

            .file-icon, .folder-icon {
                display: table-cell;
                text-align: center;
                vertical-align: middle;

                i.fa {
                    font-size: 42px;
                    width: auto;
                }
            }

            .folder-icon i.fa:before { color: #ccc; }
        }

        .filename {
            line-height: @filename_line_height;
            height: @filename_height;
            overflow: hidden;
            margin: @filename_margin 0;
            text-align: left;
            padding: 0 4px 0 32px;
            word-break: break-word;
        }

        .busy-indicator(@thumbnail_height, left);

        //
        // Checkbox handling
        //

        .list-item-checkmark {
            top: auto;
            bottom: 7px;
            left: -8px;
            height: 48px;
            width: 40px;
        }

        &.hide-checkboxes .filename {
            text-align: center;
            padding: 0 8px;
        }
    }

    &.tile-layout {

        & > li.list-item { border-width: 0 @default-padding @default-padding 0; }

        // width is > 160px, so assuming a 4/3 format, we're around 120px (see above)
        @thumbnail_height: 128px;

        .list-item-content {
            width: 100%;
            height: @thumbnail_height;
        }

        .icon-thumbnail {
            .thumbnail(@thumbnail_height);
            display: table;
            width: 100%;

            .folder-name, .file-icon {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            .folder-name { color: #333; }

            .file-icon i.fa {
                font-size: 42px;
                width: auto;
            }
        }

        .file-type-folder .folder-icon { display: none; }

        .busy-indicator(@thumbnail_height, left);

        //
        // Checkbox handling
        //

        .list-item-checkmark {
            top: 90px;
            height: 40px;
            right: 0;
            left: auto;

            .fa-checkmark {
                color: #fff;
                text-shadow: 0 0 3px #000;
                &:before { content: '\f0c8'; } // empty square
            }
        }

        .file-type-folder .list-item-checkmark .fa-checkmark {
            color: #ccc;
            text-shadow: none;
        }

        li.selected .list-item-checkmark .fa-checkmark { color: #fff; }
    }

    //
    // Selection handling
    //

    &.icon-layout {

        .selected .icon-thumbnail { opacity: 0.70; }

        &.has-focus .selected .icon-thumbnail {
            background-color: darken(@selected-background, 15%);

            .folder-icon i.fa:before { color: rgba(0, 0, 0, 0.50); }
        }
    }

    &.tile-layout {

        .selected:not(.file-type-folder) .icon-thumbnail {
            border: 4px solid #ddd;
            box-shadow: 0 0 1px 2px white inset;
        }

        .selected.file-type-folder .icon-thumbnail { background-color: #ddd; }

        &.has-focus {
            .selected .icon-thumbnail { border-color: @selected-background; }

            .selected.file-type-folder .icon-thumbnail {
                background-color: @selected-background;

                .folder-name { color: white; }
            }
        }
    }

    // file lock
    .locked { color: rgb(204, 0, 0); }

    &.has-focus .selected .locked { color: #fff; }

    // adjust thumbnail position for images
    &.icon-layout,
    &.tile-layout {
        .file-type-image .icon-thumbnail { background-position: center center; }
    }
}

.margin-bottom { bottom: 68px; }

.upload-wrapper {
    border-top: rgb(221, 221, 221) 1px solid;
    background-color: white;
    margin: 0;
    padding: 10px 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    line-height: 1.42857143;

    .upload-title {
        margin-bottom: 8px;

        .file-name,
        .estimated-time {
            white-space: nowrap;
            font-weight: 300;
            .ellipsis();
        }

        .estimated-time {
            font-style: italic;
        }
    }

    .upload-details,
    .upload-cancel {
        float: right;
        margin-left: 10px;
    }

    .progress { margin: 0; }
}

.has-publications {
    width: 27px;
    height: 17px;
    float: left;
    padding-top: 7px;
    margin-right: 0.5em;
}

.mobile-detail-view-wrap {
    margin: 10px 10px 55px 10px;
}

.dndinfo { margin-top: 10px; }

.vgrid-cell.file {
    display: table-row;
    padding-top: 3px;
    padding-bottom: 3px;

    .vgrid-cell-checkbox { padding-top: 9px; }

    .name {
        display: table-cell;
        vertical-align: middle;
        white-space: normal;
        height: 3em;
        line-height: 1em;
        word-break: break-word;
    }
}

ul.breadcrumb li.prefix { white-space: nowrap; }

.smartphone {
    .toolbar .folder-up {
         margin-left: 14px;
    }

    .file-list-view .list-item-column.column-2 { width: 100%; padding-right: 0; }

    #window-content-top #inline-actions-ms {
        margin: 0 30px 0 30px;

        .summary { font-size: 12pt; }
    }

    .margin-bottom { bottom: 116px; }

    .upload-wrapper {
        margin-bottom: 45px;

        .upload-title {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .estimated-time { display: none; }
    }

    body > .io-ox-dialog-wrapper .io-ox-dialog-popup {
        top: 40px;
        margin-top: 0;
        width: auto;
        overflow-y: auto;
        bottom: 40px;
        height: 100%;
        max-height: 100%;

        .modal-body {
            max-height: auto;

            .row textarea.col-lg-12 { max-height: 100px; }
            .fileupload .uneditable-input { width: 130px; }
        }
        .modal-footer {
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            padding: 0;

            .row {
                [class*="col-"] {
                    margin-left: 0;
                    float: left;
                }

                .btn {
                    border: 0;
                    border-radius: 0;
                    margin: 0;
                    height: 40px;
                    width: 100%;
                    padding: 0;
                    line-height: 40px;
                }

                & > div { padding: 0; }
            }
        }
    }
}

.guidance {
    .files-sizes{
        .breadcrumb{
            margin: 0;
            padding: 0;
            background-color: transparent;
            display: inline;
        }
    }
}

.io-ox-files-main .io-ox-dialog-popup .modal-body { overflow-x: hidden; }

//io.ox/files/listview, io.ox/files/common-extensions
.file-item {

    .filename {
        .ellipsis();
        .fontWeight(500);
    }

    .date {
        .fontWeight(300);
        display: inline-block;
        margin-left: 0.5em;
        float: right;
        opacity: 0.50;

        html.high-contrast & { opacity: 1; }
    }

    .locked {
        float: right;
        color: rgb(204, 0, 0);
    }

    .size { color: rgb(119, 119, 119); }
}

.io-ox-files-main {

    .leftside {
        width: auto;
        right: 0;
    }

    .has-rightside .leftside { right: 320px; }

    .rightside {
        width: 320px;
        right: 0;
        left: auto;
    }

    .viewer-sidebar {
        padding: 0;
        background-color: #f5f5f5;
        font-size: 13px;

        .viewer-sidebar-pane {
            height: 100%;

            .viewer-uploadnewversion label { color: #707070; }

            &.thumbnail-pane { display: none; }
        }

        .wrapper { padding: 0px 16px; }

        .sidebar-panel-body { padding: 12px 0 5px 0; }

        .sidebar-panel .sidebar-panel-heading { border-bottom: none; }

        .sidebar-panel-thumbnail {

            padding: 8px 0;
            height: 176px;

            .icon-thumbnail {
                margin: 0 auto;
                width: 100%;
                height: 160px;
                background-color: #eee;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-origin: border-box;
            }
        }
    }
}
// filestorage conflicts dialog
.filestorage-conflict-container {
    padding-top: 16px;
    max-height: 250px;
    overflow-y: auto;
}

.filestorage-conflict-warning { padding-top: 8px; }

// add storage account dialog
.select-storage-account-dialog .modal-body {
    padding: 16px 16px 0 16px;

    .add-acc-label {
        color: #555;
        margin: 0;
    }

    .storage-account-item {

        display: inline-block;
        padding: 0;
        line-height: 28px;
        margin: 0 16px 16px 0;

        &:last-child { margin-right: 0; }

        &:focus, &:active { background-color: white; }

        &:hover { background-color: #f5f5f5; }

        .icon {
            margin: 15px 20px 0;
            text-align: center;
            width: 64px;
            height: 64px;
            background-size: cover;
        }

        &.logo-google   .icon { background-image: url(apps/themes/default/googledrive_logo128.png); }
        &.logo-boxcom   .icon { background-image: url(apps/themes/default/box_logo128.png);         }
        &.logo-onedrive .icon { background-image: url(apps/themes/default/onedrive_logo128.png);    }
        &.logo-dropbox  .icon { background-image: url(apps/themes/default/dropbox_logo128.png);     }
    }
}
