.star-rating {
	margin: 0 0 8px;
	outline: 0
}

.star-rating .star {
	font-size: 24px;
	line-height: 32px;
	cursor: pointer;
	color: #ccc;
	margin-right: 4px
}

.star-rating .checked {
	color: #fdd835
}

.star-rating input[type=radio]:focus+.star {
	text-shadow: 0 0 4px #000
}

.star-rating label {
	vertical-align: middle
}

.star-rating caption {
	display: inline-block;
	margin-left: 16px;
	color: #000;
	font-size: 14px;
	font-weight: 700
}

.feedback-note {
	width: 100%;
	padding: 8px;
	margin: 0 0 16px
}

.feedback-button {
	color: #fff;
	background-color: #3c73aa;
	z-index: 50;
	font-size: 13px;
	line-height: 32px;
	padding: 0 16px;
	text-align: center;
	position: absolute;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	border: 0
}

html.high-contrast .feedback-button {
	background-color: #767676
}

.rightside-button {
	left: 100%;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
	bottom: 32px
}

.leftside-button {
	right: 100;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
	bottom: 56px
}