.print-view-custom-colors .colorLabel-1 {
	background-color: #cee7ff
}

.print-view-custom-colors .colorLabel-2 {
	background-color: #96bbe8
}

.print-view-custom-colors .colorLabel-3 {
	background-color: #c4afe3
}

.print-view-custom-colors .colorLabel-4 {
	background-color: #f0d8f0
}

.print-view-custom-colors .colorLabel-5 {
	background-color: #f2d1d2
}

.print-view-custom-colors .colorLabel-6 {
	background-color: #ffd1a3
}

.print-view-custom-colors .colorLabel-7 {
	background-color: #f7ebb6
}

.print-view-custom-colors .colorLabel-8 {
	background-color: #d4dea7
}

.print-view-custom-colors .colorLabel-9 {
	background-color: #99af6e
}

.print-view-custom-colors .colorLabel-10 {
	background-color: #666
}