.week-view .toolbar, .month-view .toolbar {
	height: 35px;
	padding-top: 13px
}

@media ( max-width :480px) and (orientation:portrait) , ( max-height
	:480px) and (orientation:landscape) {
	.week-view .toolbar, .month-view .toolbar {
		display: none
	}
}

.week-view .toolbar .info, .month-view .toolbar .info {
	text-align: left;
	max-width: 30%;
	position: absolute;
	left: 80px;
	line-height: 24px;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 300
}

.week-view .toolbar .info .cw, .month-view .toolbar .info .cw {
	font-size: 14px;
	color: #767676
}

.week-view .controls-container, .month-view .controls-container {
	display: inline-block;
	padding-top: 3px;
	width: 80px;
	text-align: center
}

.week-view .controls-container a, .month-view .controls-container a {
	padding: 9px
}

.week-view .footer-container, .month-view .footer-container {
	height: 34px;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch
}

.week-view .footer-container .footer, .month-view .footer-container .footer
	{
	position: absolute;
	line-height: normal;
	right: 0;
	left: 80px;
	white-space: nowrap;
	padding-top: 13px
}

.week-view .footer-container .footer .weekday, .month-view .footer-container .footer .weekday
	{
	display: inline-block;
	font-size: 13px;
	line-height: 14px;
	text-align: center;
	padding: 1px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.week-view .footer-container .footer .weekday.today, .month-view .footer-container .footer .weekday.today
	{
	font-weight: 700;
	background-color: #cf3239;
	color: #fff
}

.dark-colors .week-view .appointment .appointment-content, .dark-colors .month-view .appointment .appointment-content
	{
	border-left: 0
}

.dark-colors .week-view .appointment .title, .dark-colors .month-view .appointment .title
	{
	color: #fff
}

.dark-colors .week-view .appointment .location, .dark-colors .month-view .appointment .location
	{
	color: rgba(255, 255, 255, .6)
}

.dark-colors .week-view .appointment.reserved, .dark-colors .month-view .appointment.reserved
	{
	background-color: #3774a8;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.dark-colors .week-view .appointment.reserved.hover, .dark-colors .month-view .appointment.reserved.hover
	{
	background-color: #2a5982
}

.dark-colors .week-view .appointment.absent, .dark-colors .month-view .appointment.absent
	{
	background-color: #913f3f;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.dark-colors .week-view .appointment.absent.hover, .dark-colors .month-view .appointment.absent.hover
	{
	background-color: #6d3030
}

.dark-colors .week-view .appointment.temporary, .dark-colors .month-view .appointment.temporary
	{
	background-color: #fb0;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.dark-colors .week-view .appointment.temporary.hover, .dark-colors .month-view .appointment.temporary.hover
	{
	background-color: #cc9600
}

.dark-colors .week-view .appointment.temporary .title, .dark-colors .month-view .appointment.temporary .title
	{
	color: #321900
}

.dark-colors .week-view .appointment.free, .dark-colors .month-view .appointment.free
	{
	background-color: #198819;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.dark-colors .week-view .appointment.free.hover, .dark-colors .month-view .appointment.free.hover
	{
	background-color: #115d11
}

.dark-colors .week-view .appointment.private, .dark-colors .month-view .appointment.private
	{
	background-color: #555;
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.dark-colors .week-view .appointment.private.hover, .dark-colors .month-view .appointment.private.hover
	{
	background-color: #3b3b3b
}

.dark-colors .week-view .appointment.border, .dark-colors .month-view .appointment.border
	{
	border-left: 1px solid rgba(0, 0, 0, .2)
}

.dark-colors .week-view .appointment.declined, .dark-colors .month-view .appointment.declined
	{
	background-color: #e8e8e8
}

.dark-colors .week-view .appointment.unconfirmed, .dark-colors .month-view .appointment.unconfirmed
	{
	background-color: #f0f0f0
}

.dark-colors .week-view .appointment.unconfirmed:not (.hover ) .title,
	.dark-colors .month-view .appointment.unconfirmed:not (.hover ) .title
	{
	color: rgba(0, 0, 0, .7)
}

.dark-colors .week-view .appointment.unconfirmed:not (.hover ) .location,
	.dark-colors .month-view .appointment.unconfirmed:not (.hover ) .location
	{
	color: rgba(0, 0, 0, .5)
}

.dark-colors .week-view .appointment.io-ox-busy:before, .dark-colors .month-view .appointment.io-ox-busy:before
	{
	color: #fff;
	opacity: .3
}

.week-view .appointment, .month-view .appointment {
	cursor: pointer
}

.week-view .appointment.io-ox-busy:before, .month-view .appointment.io-ox-busy:before
	{
	color: inherit;
	opacity: .5
}

.week-view .appointment .title, .month-view .appointment .title {
	font-weight: 700
}

.week-view .appointment.opac, .month-view .appointment.opac {
	opacity: .5;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s
}

.week-view .appointment.disabled, .month-view .appointment.disabled {
	cursor: default
}

.week-view .appointment.reserved, .month-view .appointment.reserved {
	border-color: #4d8ec5;
	color: #316795;
	background-color: #d0eaff;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.reserved.hover:not (.disabled ), .month-view .appointment.reserved.hover:not
	(.disabled ){
	background-color: #84c8ff
}

html.high-contrast .week-view .appointment.reserved .location, html.high-contrast .month-view .appointment.reserved .location,
	html.high-contrast .week-view .appointment.reserved .title, html.high-contrast .month-view .appointment.reserved .title
	{
	color: #000
}

.week-view .appointment.temporary, .month-view .appointment.temporary {
	border-color: #b38300;
	color: #805e00;
	background-color: #ffdd80;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.temporary.hover:not (.disabled ), .month-view .appointment.temporary.hover:not
	(.disabled ){
	background-color: #ffc933;
	color: #664b00
}

html.high-contrast .week-view .appointment.temporary .location, html.high-contrast .month-view .appointment.temporary .location,
	html.high-contrast .week-view .appointment.temporary .title, html.high-contrast .month-view .appointment.temporary .title
	{
	color: #000
}

.week-view .appointment.absent, .month-view .appointment.absent {
	border-color: #b35050;
	color: #913f3f;
	background-color: #f1dede;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.absent.hover:not (.disabled ), .month-view .appointment.absent.hover:not
	(.disabled ){
	background-color: #daa9a9;
	color: #5c2828
}

html.high-contrast .week-view .appointment.absent .location, html.high-contrast .month-view .appointment.absent .location,
	html.high-contrast .week-view .appointment.absent .title, html.high-contrast .month-view .appointment.absent .title
	{
	color: #000
}

.week-view .appointment.free, .month-view .appointment.free {
	border-color: #749848;
	color: #3f5327;
	background-color: #d8e4c8;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.free.hover:not (.disabled ), .month-view .appointment.free.hover:not
	(.disabled ){
	background-color: #b3cc94
}

html.high-contrast .week-view .appointment.free .location, html.high-contrast .month-view .appointment.free .location,
	html.high-contrast .week-view .appointment.free .title, html.high-contrast .month-view .appointment.free .title
	{
	color: #000
}

.week-view .appointment.private, .month-view .appointment.private {
	border-color: #3b3b3b;
	color: #fff;
	background-color: #555;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.private.hover:not (.disabled ), .month-view .appointment.private.hover:not
	(.disabled ){
	background-color: #2f2f2f;
	color: #fff
}

html.high-contrast .week-view .appointment.private .location, html.high-contrast .month-view .appointment.private .location,
	html.high-contrast .week-view .appointment.private .title, html.high-contrast .month-view .appointment.private .title
	{
	color: #000
}

.week-view .appointment.unconfirmed, .month-view .appointment.unconfirmed
	{
	color: #555;
	background-color: #f0f0f0;
	border-left-color: rgba(0, 0, 0, .2)
}

.week-view .appointment.unconfirmed.hover:not (.disabled ), .month-view .appointment.unconfirmed.hover:not
	(.disabled ){
	background-color: #cacaca
}

.week-view .appointment.declined, .month-view .appointment.declined {
	background-color: #e8e8e8;
	border-left-color: rgba(0, 0, 0, .1)
}

.week-view .appointment.declined.hover:not (.disabled ), .month-view .appointment.declined.hover:not
	(.disabled ){
	background-color: #c2c2c2
}

.week-view .appointment.declined .appointment-content *, .month-view .appointment.declined .appointment-content *
	{
	color: #6b6b6b;
	text-decoration: line-through
}

.week-view .appointment:focus, .month-view .appointment:focus {
	outline: 0;
	box-shadow: 0 0 20px 1px #08C
}

.custom-colors .week-view .appointment.color-label-1, .custom-colors .month-view .appointment.color-label-1
	{
	color: #2a4b6c;
	background-color: #cee7ff;
	border-left-color: #2a4b6c
}

.custom-colors .week-view .appointment.color-label-1.private,
	.custom-colors .month-view .appointment.color-label-1.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-1.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-1.hover:not (.disabled
	){
	background-color: #9bceff
}

.custom-colors .week-view .appointment.color-label-1.free,
	.custom-colors .month-view .appointment.color-label-1.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#def 25px, #def 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px, #def
		25px, #def 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#def 25px, #def 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #def
		25px, #def 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-1.temporary,
	.custom-colors .month-view .appointment.color-label-1.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#def 8px, #def 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px, #def
		8px, #def 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#def 8px, #def 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #def 8px
		, #def 16px)
}

.custom-colors .week-view .appointment.color-label-1.absent,
	.custom-colors .month-view .appointment.color-label-1.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-1.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-1.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-2, .custom-colors .month-view .appointment.color-label-2
	{
	color: #0b1624;
	background-color: #96bbe8;
	border-left-color: #0b1624
}

.custom-colors .week-view .appointment.color-label-2.private,
	.custom-colors .month-view .appointment.color-label-2.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-2.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-2.hover:not (.disabled
	){
	background-color: #6ca0df
}

.custom-colors .week-view .appointment.color-label-2.free,
	.custom-colors .month-view .appointment.color-label-2.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a3c3eb 25px, #a3c3eb 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #a3c3eb
		25px, #a3c3eb 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-2.temporary,
	.custom-colors .month-view .appointment.color-label-2.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a3c3eb 8px, #a3c3eb 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #a3c3eb
		8px, #a3c3eb 16px)
}

.custom-colors .week-view .appointment.color-label-2.absent,
	.custom-colors .month-view .appointment.color-label-2.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-2.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-2.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-3, .custom-colors .month-view .appointment.color-label-3
	{
	color: #3f0e84;
	background-color: #c4afe3;
	border-left-color: #3f0e84
}

.custom-colors .week-view .appointment.color-label-3.private,
	.custom-colors .month-view .appointment.color-label-3.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-3.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-3.hover:not (.disabled
	){
	background-color: #a889d6
}

.custom-colors .week-view .appointment.color-label-3.free,
	.custom-colors .month-view .appointment.color-label-3.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ccbae7 25px, #ccbae7 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #ccbae7
		25px, #ccbae7 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-3.temporary,
	.custom-colors .month-view .appointment.color-label-3.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ccbae7 8px, #ccbae7 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #ccbae7
		8px, #ccbae7 16px)
}

.custom-colors .week-view .appointment.color-label-3.absent,
	.custom-colors .month-view .appointment.color-label-3.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-3.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-3.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-4, .custom-colors .month-view .appointment.color-label-4
	{
	color: #8a1c8c;
	background-color: #f0d8f0;
	border-left-color: #8a1c8c
}

.custom-colors .week-view .appointment.color-label-4.private,
	.custom-colors .month-view .appointment.color-label-4.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-4.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-4.hover:not (.disabled
	){
	background-color: #e2b3e2
}

.custom-colors .week-view .appointment.color-label-4.free,
	.custom-colors .month-view .appointment.color-label-4.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f4e3f4 25px, #f4e3f4 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f4e3f4
		25px, #f4e3f4 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-4.temporary,
	.custom-colors .month-view .appointment.color-label-4.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f4e3f4 8px, #f4e3f4 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f4e3f4
		8px, #f4e3f4 16px)
}

.custom-colors .week-view .appointment.color-label-4.absent,
	.custom-colors .month-view .appointment.color-label-4.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-4.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-4.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-5, .custom-colors .month-view .appointment.color-label-5
	{
	color: #a83336;
	background-color: #f2d1d2;
	border-left-color: #a83336
}

.custom-colors .week-view .appointment.color-label-5.private,
	.custom-colors .month-view .appointment.color-label-5.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-5.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-5.hover:not (.disabled
	){
	background-color: #e7a9ab
}

.custom-colors .week-view .appointment.color-label-5.free,
	.custom-colors .month-view .appointment.color-label-5.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f5ddde 25px, #f5ddde 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f5ddde
		25px, #f5ddde 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-5.temporary,
	.custom-colors .month-view .appointment.color-label-5.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f5ddde 8px, #f5ddde 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f5ddde
		8px, #f5ddde 16px)
}

.custom-colors .week-view .appointment.color-label-5.absent,
	.custom-colors .month-view .appointment.color-label-5.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-5.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-5.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-6, .custom-colors .month-view .appointment.color-label-6
	{
	color: #622906;
	background-color: #ffd1a3;
	border-left-color: #622906
}

.custom-colors .week-view .appointment.color-label-6.private,
	.custom-colors .month-view .appointment.color-label-6.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-6.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-6.hover:not (.disabled
	){
	background-color: #ffb870
}

.custom-colors .week-view .appointment.color-label-6.free,
	.custom-colors .month-view .appointment.color-label-6.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#ffd9b2 25px, #ffd9b2 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #ffd9b2
		25px, #ffd9b2 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-6.temporary,
	.custom-colors .month-view .appointment.color-label-6.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#ffd9b2 8px, #ffd9b2 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #ffd9b2
		8px, #ffd9b2 16px)
}

.custom-colors .week-view .appointment.color-label-6.absent,
	.custom-colors .month-view .appointment.color-label-6.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-6.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-6.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-7, .custom-colors .month-view .appointment.color-label-7
	{
	color: #5c4209;
	background-color: #f7ebb6;
	border-left-color: #5c4209
}

.custom-colors .week-view .appointment.color-label-7.private,
	.custom-colors .month-view .appointment.color-label-7.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-7.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-7.hover:not (.disabled
	){
	background-color: #f2de88
}

.custom-colors .week-view .appointment.color-label-7.free,
	.custom-colors .month-view .appointment.color-label-7.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#f9efc4 25px, #f9efc4 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #f9efc4
		25px, #f9efc4 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-7.temporary,
	.custom-colors .month-view .appointment.color-label-7.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#f9efc4 8px, #f9efc4 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #f9efc4
		8px, #f9efc4 16px)
}

.custom-colors .week-view .appointment.color-label-7.absent,
	.custom-colors .month-view .appointment.color-label-7.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-7.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-7.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-8, .custom-colors .month-view .appointment.color-label-8
	{
	color: #526107;
	background-color: #d4dea7;
	border-left-color: #526107
}

.custom-colors .week-view .appointment.color-label-8.private,
	.custom-colors .month-view .appointment.color-label-8.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-8.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-8.hover:not (.disabled
	){
	background-color: #c2d082
}

.custom-colors .week-view .appointment.color-label-8.free,
	.custom-colors .month-view .appointment.color-label-8.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#d9e2b2 25px, #d9e2b2 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #d9e2b2
		25px, #d9e2b2 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-8.temporary,
	.custom-colors .month-view .appointment.color-label-8.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#d9e2b2 8px, #d9e2b2 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #d9e2b2
		8px, #d9e2b2 16px)
}

.custom-colors .week-view .appointment.color-label-8.absent,
	.custom-colors .month-view .appointment.color-label-8.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-8.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-8.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-9, .custom-colors .month-view .appointment.color-label-9
	{
	color: #28350f;
	background-color: #99af6e;
	border-left-color: #28350f
}

.custom-colors .week-view .appointment.color-label-9.private,
	.custom-colors .month-view .appointment.color-label-9.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-9.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-9.hover:not (.disabled
	){
	background-color: #809753
}

.custom-colors .week-view .appointment.color-label-9.free,
	.custom-colors .month-view .appointment.color-label-9.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#a0b478 25px, #a0b478 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #a0b478
		25px, #a0b478 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-9.temporary,
	.custom-colors .month-view .appointment.color-label-9.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#a0b478 8px, #a0b478 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #a0b478
		8px, #a0b478 16px)
}

.custom-colors .week-view .appointment.color-label-9.absent,
	.custom-colors .month-view .appointment.color-label-9.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-9.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-9.absent.private.hover
	{
	color: #fff
}

.custom-colors .week-view .appointment.color-label-10, .custom-colors .month-view .appointment.color-label-10
	{
	color: #fff;
	background-color: #666;
	border-left-color: #fff
}

.custom-colors .week-view .appointment.color-label-10.private,
	.custom-colors .month-view .appointment.color-label-10.private {
	border-left-color: #222
}

.custom-colors .week-view .appointment.color-label-10.hover:not (.disabled
	), .custom-colors .month-view .appointment.color-label-10.hover:not (.disabled
	){
	background-color: #4d4d4d
}

.custom-colors .week-view .appointment.color-label-10.free,
	.custom-colors .month-view .appointment.color-label-10.free {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px,
		#6e6e6e 25px, #6e6e6e 50px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #6e6e6e
		25px, #6e6e6e 50px);
	opacity: .7
}

.custom-colors .week-view .appointment.color-label-10.temporary,
	.custom-colors .month-view .appointment.color-label-10.temporary {
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px,
		#6e6e6e 8px, #6e6e6e 16px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, #6e6e6e
		8px, #6e6e6e 16px)
}

.custom-colors .week-view .appointment.color-label-10.absent,
	.custom-colors .month-view .appointment.color-label-10.absent {
	color: #333;
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.custom-colors .week-view .appointment.color-label-10.absent.private.hover,
	.custom-colors .month-view .appointment.color-label-10.absent.private.hover
	{
	color: #fff
}

@media ( min-width :1281px) {
	.week-view .toolbar .info, .month-view .toolbar .info {
		left: 100px
	}
	.week-view .controls-container, .month-view .controls-container {
		width: 100px
	}
	.week-view .footer-container .footer, .month-view .footer-container .footer
		{
		left: 100px
	}
}

.custom-colors .folder-tree .folder-node .folder-label {
	position: relative
}

.custom-colors .folder-tree .folder-node .folder-label.color-label:before
	{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: -25px;
	top: 3px;
	border: 1px solid rgba(0, 0, 0, .2);
	background-clip: border-box
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.custom-colors .folder-tree .folder-node .folder-label.color-label {
		margin-left: 25px
	}
	.custom-colors .folder-tree .folder-node .folder-label.color-label:before
		{
		top: 12px
	}
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-1:before
	{
	background-color: #9bceff
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-2:before
	{
	background-color: #6ca0df
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-3:before
	{
	background-color: #a889d6
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-4:before
	{
	background-color: #e2b3e2
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-5:before
	{
	background-color: #e7a9ab
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-6:before
	{
	background-color: #ffb870
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-7:before
	{
	background-color: #f2de88
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-8:before
	{
	background-color: #c2d082
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-9:before
	{
	background-color: #809753
}

.custom-colors .folder-tree .folder-node .folder-label.color-label-10:before
	{
	background-color: #4d4d4d
}

.vgrid-cell.selected.calendar .location {
	color: #626262
}

.vgrid-cell.calendar .title {
	font-weight: 700
}

.vgrid-cell.calendar .private {
	color: #555;
	float: right;
	display: inline-block
}

.vgrid-cell.calendar .private-flag {
	color: #AAA;
	float: left;
	font-size: 13pt;
	margin-right: 2px
}

.vgrid-cell.calendar .location {
	color: #767676
}

html.high-contrast .vgrid-cell.calendar .location {
	color: #000
}

.vgrid-cell.calendar .shown_as.label {
	float: right;
	border: 1px solid rgba(0, 0, 0, .4)
}

.vgrid-cell.calendar.declined .title, .vgrid-cell.calendar.declined .location
	{
	text-decoration: line-through
}

.vgrid-cell.calendar .time {
	color: #555;
	float: right;
	display: inline-block
}

.vgrid-cell.calendar .date {
	color: #555
}

.vgrid-cell.vgrid-label.calendar-label {
	text-align: left;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: #3c73aa;
	padding-top: 14px;
	padding-bottom: 7px;
	background-image: none;
	background-color: #fff;
	border-top: 0 none;
	border-bottom: 0 none
}

.vgrid-cell .shown_as.reserved {
	background-color: #3774a8
}

.vgrid-cell .shown_as.temporary {
	background-color: #fb0
}

.vgrid-cell .shown_as.absent {
	background-color: #913f3f
}

.vgrid-cell .shown_as.free {
	background-color: #8eb360
}

.additional-info .vgrid-cell.calendar {
	padding: 7px 0
}

.additional-info .vgrid-cell.calendar:last-child {
	border: 0
}

.additional-info .buttons {
	display: inline-block;
	width: 100%;
	margin: 10px 0
}

.additional-info .buttons .col-md-12 {
	position: relative
}

.additional-info .conflicts .person-link.accepted {
	color: #5C7F31
}

.additional-info .conflicts .person-link.declined {
	text-decoration: line-through;
	color: #913F3F
}

.additional-info .conflicts .person-link.tentative {
	color: #c80
}

.calendar-detail {
	font-weight: 300
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.calendar-detail {
		margin: 8px 10px 55px
	}
}

.calendar-detail .io-ox-inline-links:first-child {
	margin-top: 0
}

.calendar-detail .io-ox-inline-links:empty {
	display: none
}

.calendar-detail h1.subject {
	display: inline-block;
	line-height: 1.2em;
	margin: 0;
	width: 100%;
	word-wrap: break-word
}

.calendar-detail h1.subject:empty {
	display: none
}

.calendar-detail .date-time-recurrence, .calendar-detail .location {
	font-weight: 400;
	margin: 1.25em 0
}

.calendar-detail .date-time {
	font-weight: 400
}

html.high-contrast .calendar-detail .date-time {
	color: #000
}

.calendar-detail .time {
	font-weight: 700;
	white-space: nowrap
}

.calendar-detail .time .label-default {
	margin-left: 7px;
	position: relative;
	top: -1px;
	background-color: #767676
}

html.high-contrast .calendar-detail .time .label-default {
	color: #fff;
	background-color: #000
}

.calendar-detail .date {
	white-space: nowrap
}

.calendar-detail .recurrence {
	color: #666;
	font-weight: 300
}

.calendar-detail .location {
	font-weight: 700
}

.calendar-detail .private-flag {
	font-size: 18pt;
	margin-right: 11px;
	color: #aaa
}

.calendar-detail .note {
	max-width: 550px;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 2em 0 1em;
	cursor: text
}

.calendar-detail .attachment-list .dropdown.attachment-link {
	display: inline-block
}

.calendar-detail .details {
	font-size: .9em
}

.calendar-detail .details dt {
	font-weight: 300;
	color: #666;
	text-align: left
}

.calendar-detail .details .shown_as.reserved {
	color: #3774a8
}

.calendar-detail .details .shown_as.temporary {
	color: #fb0
}

.calendar-detail .details .shown_as.absent {
	color: #913f3f
}

.calendar-detail .details .shown_as.free {
	color: #8eb360
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.calendar-detail .io-ox-inline-links:first-child {
		margin: 0;
		padding: 15px 0
	}
	.calendar-detail .io-ox-inline-links:first-child span.io-ox-action-link.dropdown
		{
		float: right
	}
	.calendar-detail .io-ox-inline-links.embedded {
		text-align: left
	}
	.calendar-detail .private-flag {
		line-height: 20px
	}
	.calendar-detail h1.subject {
		line-height: 24px;
		padding-top: 5px;
		margin-bottom: 3px
	}
	.calendar-detail .date-time, .calendar-detail .recurrence {
		padding-top: 6px;
		margin-bottom: 2px;
		line-height: 24px
	}
	.calendar-detail .date-time {
		padding-top: 14px
	}
	.calendar-detail .recurrence {
		margin-bottom: 10px
	}
	.calendar-detail .date-time-recurrence {
		margin: 0
	}
	.calendar-detail .location {
		line-height: 32px;
		padding-top: 18px;
		margin: 0 0 6px
	}
	.calendar-detail .note {
		line-height: 24px;
		padding-top: 22px;
		margin: 0 0 2px
	}
	.calendar-detail .attachments .io-ox-label {
		margin-bottom: 3px
	}
	.calendar-detail .attachments .attachment-list {
		line-height: 16px;
		padding-top: 2px;
		margin-bottom: 6px
	}
	.calendar-detail .participants-view {
		padding-top: 8px
	}
	.calendar-detail .details legend {
		padding-top: 9px;
		margin-bottom: 1px
	}
	.calendar-detail .details dl {
		margin-bottom: 24px
	}
	.calendar-detail .details dl dt, .calendar-detail .details dl dd {
		display: inline-block;
		line-height: 16px;
		padding-top: 3px;
		margin-bottom: 5px
	}
	.calendar-detail .details dl dt {
		min-width: 30%
	}
	.calendar-detail .details dl dd {
		min-width: 41%
	}
}

.csscolumns .calendar-detail .participant {
	margin: 0 0 1px;
	float: none
}

.popover.timezones {
	width: auto;
	min-width: 236px;
	width: 280px
}

.popover.timezones .popover-content ul .time {
	float: right
}

.popover.timezones .popover-content ul .label {
	float: right;
	margin-left: 5px
}

.itip-section.io-ox-busy {
	min-height: 60px
}

.itip-actions {
	text-align: right;
	margin: 16px 0 0;
	white-space: nowrap;
	display: inline-block
}

.itip-actions .btn {
	margin-left: 8px
}

.itip-item {
	padding: 16px;
	min-height: 72px;
	background-color: #F5F5F5
}

.itip-item+.itip-item {
	border-top: 1px solid #aaa
}

.itip-annotations, .itip-changes, .itip-conflicts {
	margin: 16px 0
}

.itip-controls {
	text-align: right;
	margin-top: 16px;
	min-height: 32px
}

.itip-controls:empty {
	min-height: initial
}

.itip-reminder {
	text-align: left;
	display: inline-block
}

.itip-details {
	margin: 16px 0
}

.itip-details .confirmation-status.accepted {
	color: #198819
}

.itip-details .confirmation-status.declined {
	color: #c00
}

.itip-details .confirmation-status.tentative {
	color: #f89406
}

.itip-conflicts .vgrid-cell {
	padding: 10px 0;
	background-color: transparent;
	border-bottom: 1px solid #ccc
}

.itip-conflicts .vgrid-cell:first-child {
	border-top: 1px solid #ccc
}

.itip-conflicts .vgrid-cell:last-child {
	border-bottom: 1px solid #ccc
}

.itip-conflicts .date {
	margin-right: 16px
}

.show-all-checkbox {
	padding-right: 16px
}

.show-all-checkbox label {
	font-weight: 300;
	color: #767676;
	margin: 20px 0
}

.calendar-item .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700
}

.calendar-item .interval {
	color: #555;
	float: right;
	font-weight: 300
}

.calendar-item .day {
	color: #888;
	font-weight: 300
}

.calendar-item .location {
	color: #888;
	font-weight: 300;
	float: right
}

.calendar-item .label {
	margin-left: 5px
}

li .custom-colors {
	max-width: 160px;
	display: inline-block;
	padding: 3px 20px;
	clear: both
}

li .custom-colors .color-label-1 {
	background-color: #cee7ff
}

li .custom-colors .color-label-1 .fa {
	color: #000
}

li .custom-colors .color-label-2 {
	background-color: #96bbe8
}

li .custom-colors .color-label-2 .fa {
	color: #000
}

li .custom-colors .color-label-3 {
	background-color: #c4afe3
}

li .custom-colors .color-label-3 .fa {
	color: #000
}

li .custom-colors .color-label-4 {
	background-color: #f0d8f0
}

li .custom-colors .color-label-4 .fa {
	color: #000
}

li .custom-colors .color-label-5 {
	background-color: #f2d1d2
}

li .custom-colors .color-label-5 .fa {
	color: #000
}

li .custom-colors .color-label-6 {
	background-color: #ffd1a3
}

li .custom-colors .color-label-6 .fa {
	color: #000
}

li .custom-colors .color-label-7 {
	background-color: #f7ebb6
}

li .custom-colors .color-label-7 .fa {
	color: #000
}

li .custom-colors .color-label-8 {
	background-color: #d4dea7
}

li .custom-colors .color-label-8 .fa {
	color: #000
}

li .custom-colors .color-label-9 {
	background-color: #99af6e
}

li .custom-colors .color-label-9 .fa {
	color: #000
}

li .custom-colors .color-label-10 {
	background-color: #666
}

li .custom-colors .color-label-10 .fa {
	color: #fff
}

li .custom-colors .color-label {
	width: 20px;
	height: 20px;
	margin: 2px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer
}

li .custom-colors .color-label .fa {
	display: none;
	width: 14px
}

li .custom-colors .color-label.active .fa {
	display: inline-block
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	li .custom-colors {
		max-width: 320px
	}
	li .custom-colors .color-label {
		width: 40px;
		height: 40px;
		margin: 4px;
		font-size: 28px
	}
	li .custom-colors .color-label .fa {
		width: 34px
	}
}

.expandable .expandable-content {
	display: none
}

.expandable.open .expandable-content {
	display: block
}

.expandable .expandable-toggle {
	color: inherit
}

.expandable .expandable-indicator:before {
	color: #aaa;
	content: "\f0da"
}

.expandable.open .expandable-indicator:before {
	content: "\f0d7"
}