.dateinput input {
	text-align: center
}

.dateinput .time-field {
	width: 100px;
	border-left: 0
}

.dateinput .typeahead.calendaredit {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 85px
}

.dateinput .typeahead.calendaredit a {
	text-align: right;
	padding: 3px 15px 3px 3px
}

.dateinput.dateonly .datepicker-day-field {
	border-radius: 3px
}

.dateinput .datepicker-day-field {
	width: 120px
}

.dateinput .timezone {
	width: auto;
	font-size: 12px
}

.dateinput .timezone.btn {
	cursor: pointer;
	height: 30px
}

.dateinput .timezone:hover, .dateinput .timezone:active, .dateinput .timezone:focus
	{
	color: #555;
	text-decoration: none
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.dateinput .input-group {
		display: block
	}
	.dateinput .datepicker-day-field {
		padding: 4px 6px;
		width: 100%;
		border-radius: 3px
	}
}