.settings-list-view>li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
	margin-bottom: 7px;
	background-color: #f5f5f5
}

.settings-list-view>li>* {
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 13px
}

.settings-list-view>li .list-item-title {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.settings-list-view>li .drag-handle {
	width: 45px;
	position: relative
}

.settings-list-view>li .drag-handle i {
	height: 9px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -6px;
	color: #aaa
}

.settings-list-view>li .list-item-controls {
	padding: 0
}

.settings-list-view>li .list-item-controls>* {
	margin: 13px 14px;
	display: inline-block
}

.settings-list-view>li .list-item-controls .remove {
	padding: 13px 16px;
	margin: 0;
	margin-left: 10px
}

.settings-list-view>li .list-item-controls .remove:hover {
	text-decoration: none;
	background-color: #c00
}

.settings-list-view>li .list-item-controls .remove:hover i {
	color: #fff
}

.settings-list-view>li .list-item-controls .remove i {
	color: #aaa
}

.settings-list-view>li.default .list-item-title {
	font-weight: 700
}

.settings-list-view>li.disabled {
	background-color: #eee
}

.settings-list-view>li.disabled .list-item-title {
	font-style: italic;
	font-weight: 400;
	color: #888
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.settings-list-view>li .list-item-controls .remove {
		margin-left: 0
	}
}

@media ( min-width :1000px) {
	.settings-list-view>li .list-item-controls>* {
		margin: 13px 25px
	}
}