/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Christoph Hellweg <christoph.hellweg@open-xchange.com>
 */

@weekview-time-widthSmall: @weekview-time-width - 13;

.week-view {

    * { -webkit-tap-highlight-color: rgba(0,0,0,0); }

    .week {
        width: 100%;
        min-height: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        border-right: 1px solid @weekview-border;
        overflow: hidden;
        .transition(background-color 0.2s);
        .backface-visibility(hidden);
    }

    .toolbar {
        .info {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .footer-container {
        .footer {
            .overflow-y(scroll);
            .overflow-x(hidden);
        }
    }

    .week-view-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        // top: was @calendar-toolbar-height + @calendar-toolbar-top-padding;
        // but that doesn't make sense, result is close however
        top: 67px;

        // see Bug 33927 - Mini calendar doesn't block hover of underlying appointment
        z-index: 1;

        .time-label-bar {
            position: absolute;
            width: @weekview-time-width;
            display: table;
            text-align: right;

            div {
                display: table-cell;
                vertical-align: bottom;
                padding-right: 7px;
                width: 80px;
            }

            .timezone-abbr {
                display: inline-block;
                width: 3em;
            }

            .offset {
                color: #777;
                display: inline-block;
                width: 3.5em;
            }
        }

        .fulltime-container {
            height: @weekview-footer-height;
            .overflow-y(scroll);
            .overflow-x(hidden);
            border-bottom: 1px solid @weekview-border;
            margin-left: @weekview-time-width;
            right: 0;

            .fulltime {
                position: relative;
                height: 100%;

                .note {
                    position: absolute;
                    background: none;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 200;
                    color: #767676;
                    text-align: right;
                    .ellipsis();
                    .user-select(none);
                    padding: 0 10px;
                }

                .day { border: none; }
            }
        }

        .scrollpane {
            .overflow-y(scroll);
            .overflow-x(hidden);
            position: absolute;
            top: @weekview-footer-height;
            left: 0;
            right: 0;
            bottom: 0;
            outline: 0;

            .week-container-label {
                width: @weekview-time-width;
                float: left;

                .time {
                    position: relative;
                    height: 48px;
                    margin-left: 1em;
                    border-bottom: 1px solid @weekview-border;
                    color: #777;

                    &.working-time-border { border-bottom: 1px solid @weekview-working-time-border; }

                    &.in {
                        font-weight: bold;
                        color: #333;
                    }

                    .number {
                        font-size: 12px;
                        position: absolute;
                        top: 4px;
                        right: 10px;
                    }

                }

                &.secondary-timezone .time.in {
                    font-weight: normal;
                    color: #777;
                }
            }

            .week-container {
                margin-left: @weekview-time-width;

                .timeline {
                    position: absolute;
                    height: 0;
                    width: 100%;
                    border-bottom: 3px solid @calendar-today;
                    z-index: 10;
                    .user-select(none);
                }

                .appointment-content {
                    line-height: 16px;
                    padding: 4px 7px;
                }

                .dark-colors & .appointment-content {
                    padding: 4px 10px;
                }
            }

        }

        .more-appointments-container {
            left: @weekview-time-width;
            right: 12px; //assume scrollbars are around 12px width. It's not browser independent, but a good guess. Needed to center indicators
            bottom: 0px;
            // 0px xor 21px, needs to be "calculated" on in code
            //top: 0px;
            width: auto;
            height: auto;
            position: absolute;
            pointer-events: none;

            .more-appointments {
                position: absolute;
                text-align: center;
                opacity: 0.5;

                &.earlier {
                    top: 0px;
                }
                &.later {
                    bottom: 0px;
                }
            }
        }

        .day {
            position: relative;
            height: 100%;
            float: left;
            background-color: rgba(0, 0, 0, 0.01);
            border-left: 1px solid @weekview-border;
            .user-select(none);

            .timeslot {
                -webkit-touch-callout: none !important;
                border-bottom: 1px solid @weekview-border;
                height: 24px;

                &:nth-child(2n+1) {
                    border-color: lighten(@weekview-border, 10%);

                    &.out { border-color: transparent; }
                }

                &:last-child, .time:last-child { border: none; }

                &.working-time-border { border-bottom: 1px solid @weekview-working-time-border; }
            }

            &.today .timeslot { background-color: @calendar-today-background; }

        }

    }

    // Hide days in dayview
    .dayview {

        .toolbar { padding-bottom: @calendar-toolbar-top-padding; }

        .week-view-container { top: 67px; }

        .footer-container { display: none; }

    }

    .appointment {
        position: absolute;
        background-color: @appointment-reserved;
        opacity: 1;
        .transition(~"opacity 0.2s, background-color 0.2s, color 0.2s");
        .backface-visibility(hidden);
        // see Bug 32753 - Not possible to reduce an appointment to 30 minutes using drag&drop
        box-sizing: content-box;

        &.no-wrap {
            .appointment-content {
                * {
                    display: inline;
                    text-overflow: clip;
                }

                .location { margin-left: 5px; }
            }
        }

        &.modify { cursor: pointer; }

        &.border {
            @border: 1px solid rgba(0, 0, 0, 0.2);
            border-top: @border;
            border-right: @border;
            border-bottom: @border;
        }

        &.current, &.hover {
            z-index: 999 !important;
            .transition(background-color 0.2s);
        }

        &.lasso {
            border: 1px solid #08c;
            background-color: @weekview-appointment-lasso;
            opacity: 0.4;
            width: 100%;
            cursor: default;
        }

        .private-flag {
            float: left;
            font-size: 15px;
            margin-right: 3px;
        }

        .appointment-content {
            height: 100%;
            font-size: 12px;
            padding: 0 7px;
            border-left: 2px solid;
            border-color: inherit;
            .ellipsis();

            * { .ellipsis(); }
        }

    }

    // Resize bars
    .ui-resizable-handle {
        position: absolute;
        font-size: 0.1px;
        display: block;
    }

    .ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
        display: none;
    }

    .ui-resizable-n {
        cursor: n-resize;
        height: 7px;
        width: 100%;
        top: -3px;
        left: 0;
    }

    .ui-resizable-s {
        cursor: s-resize;
        height: 7px;
        width: 100%;
        bottom: -3px;
        left: 0;
    }

    .ui-resizable-e {
        cursor: e-resize;
        width: 7px;
        right: 0;
        top: 0;
        height: 100%;
    }

    .ui-resizable-w {
        cursor: w-resize;
        width: 7px;
        left: 0;
        top: 0;
        height: 100%;
    }

    @media (min-width: 1281px) {
        @adjusted-width: @weekview-time-width * 1.25;

        .week-view-container {

            .time-label-bar,
            .scrollpane .week-container-label { width: @adjusted-width; }

            .scrollpane.secondary .week-container-label{ width: @weekview-time-width; }

            .fulltime-container,
            .scrollpane .week-container  { margin-left: @adjusted-width; }

            .more-appointments-container { left: @adjusted-width; }
        }
    }

    // Big Screen
    @media all and (min-height: 1200px) {
        .week-view-container .scrollpane .week-container .appointment-content { line-height: 20px; }
    }

    // Mobile
    @media (max-width: 480px) and (orientation: portrait), (max-height: 480px) and (orientation: landscape) {

        .info { cursor: auto; }

        .week-view-container {

            .fulltime-container { margin-left: @weekview-time-widthSmall; }
            .more-appointments-container { left: @weekview-time-widthSmall; right: 0; }

            .scrollpane {

                .week-container-label {
                    width: @weekview-time-widthSmall;

                    .time { margin-left: 0.3em; }
                }

                .week-container { margin-left: @weekview-time-widthSmall; }
            }
        }

        .dayview .week-view-container { top: 0; }
    }
}
