.edit-contact {
	padding: 16px 0 0
}

.edit-contact h1.name {
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.edit-contact h2.job {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 14px;
	color: #777;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.edit-contact div.field.rare:not (.has-content ), .edit-contact.compact div.field
	{
	display: none
}

.edit-contact div.field.always, .edit-contact.compact div.field.has-content
	{
	display: block
}

.edit-contact .block {
	margin-bottom: 28px
}

.edit-contact .block .attachment-list {
	margin-left: 15px
}

.edit-contact .block legend.group {
	color: #3c73aa
}

.edit-contact textarea {
	height: 221px
}

.edit-contact .native-date-picker div:first-child {
	padding-right: 0
}

.edit-contact .native-date-picker div:last-child {
	padding-left: 0
}

.edit-contact .inline-error {
	display: none
}

.edit-contact .field.error label, .edit-contact .field.error input,
	.edit-contact .field.error .inline-error {
	color: #B94A48
}

.edit-contact .field.error input {
	border-color: #B94A48
}

.edit-contact .field.error input:focus {
	-webkit-box-shadow: 0 0 6px #d59392;
	box-shadow: 0 0 6px #d59392
}

.edit-contact .field.error .inline-error {
	margin-bottom: 14px;
	display: block
}

.edit-contact .attachment-list .attachment {
	position: relative;
	margin-bottom: 7px;
	padding: 7px 50px;
	background-color: #F5F5F5;
	width: 330px;
	float: left;
	margin-right: 0
}

.edit-contact .attachment-list .attachment:nth-child(odd) {
	margin-right: 60px
}

.edit-contact .attachment-list .attachment i.fa-paperclip {
	position: absolute;
	font-size: 24px;
	color: rgba(0, 0, 0, .2);
	top: 15px;
	left: 15px
}

.edit-contact .attachment-list .attachment .filesize {
	font-size: 13px;
	color: #aaa
}

.edit-contact .attachment-list .attachment .remove {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 2em;
	font-size: 18px;
	background-color: #f0f0f0;
	border-left: 1px solid #fff;
	color: #bbb;
	cursor: pointer
}

.edit-contact .attachment-list .attachment .remove:hover {
	background-color: #a00;
	color: #fff;
	text-decoration: none
}

.edit-contact .attachment-list .attachment .remove i.fa-trash-o {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -.5em;
	text-align: center
}

.edit-contact .attachment-list .attachment .row-1, .edit-contact .attachment-list .attachment .row-2
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}