.week-view * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.week-view .week {
	width: 100%;
	min-height: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	border-right: 1px solid #ccc;
	overflow: hidden;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.touch .week-view .week {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.touch .week-view .week {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.week-view .toolbar .info {
	cursor: pointer;
	text-decoration: none
}

.week-view .footer-container .footer {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.week-view .week-view-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 67px;
	z-index: 1
}

.week-view .week-view-container .time-label-bar {
	position: absolute;
	width: 80px;
	display: table;
	text-align: right
}

.week-view .week-view-container .time-label-bar div {
	display: table-cell;
	vertical-align: bottom;
	padding-right: 7px;
	width: 80px
}

.week-view .week-view-container .time-label-bar .timezone-abbr {
	display: inline-block;
	width: 3em
}

.week-view .week-view-container .time-label-bar .offset {
	color: #777;
	display: inline-block;
	width: 3.5em
}

.week-view .week-view-container .fulltime-container {
	height: 34px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border-bottom: 1px solid #ccc;
	margin-left: 80px;
	right: 0
}

.week-view .week-view-container .fulltime-container .fulltime {
	position: relative;
	height: 100%
}

.week-view .week-view-container .fulltime-container .fulltime .note {
	position: absolute;
	background: 0 0;
	width: 100%;
	font-size: 12px;
	font-weight: 200;
	color: #767676;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0 10px
}

.week-view .week-view-container .fulltime-container .fulltime .day {
	border: 0
}

.week-view .week-view-container .scrollpane {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	top: 34px;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 0
}

.week-view .week-view-container .scrollpane .week-container-label {
	width: 80px;
	float: left
}

.week-view .week-view-container .scrollpane .week-container-label .time
	{
	position: relative;
	height: 48px;
	margin-left: 1em;
	border-bottom: 1px solid #ccc;
	color: #777
}

.week-view .week-view-container .scrollpane .week-container-label .time.working-time-border
	{
	border-bottom: 1px solid #333
}

.week-view .week-view-container .scrollpane .week-container-label .time.in
	{
	font-weight: 700;
	color: #333
}

.week-view .week-view-container .scrollpane .week-container-label .time .number
	{
	font-size: 12px;
	position: absolute;
	top: 4px;
	right: 10px
}

.week-view .week-view-container .scrollpane .week-container-label.secondary-timezone .time.in
	{
	font-weight: 400;
	color: #777
}

.week-view .week-view-container .scrollpane .week-container {
	margin-left: 80px
}

.week-view .week-view-container .scrollpane .week-container .timeline {
	position: absolute;
	height: 0;
	width: 100%;
	border-bottom: 3px solid #cf3239;
	z-index: 10;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.week-view .week-view-container .scrollpane .week-container .appointment-content
	{
	line-height: 16px;
	padding: 4px 7px
}

.dark-colors .week-view .week-view-container .scrollpane .week-container .appointment-content
	{
	padding: 4px 10px
}

.week-view .week-view-container .more-appointments-container {
	left: 80px;
	right: 12px;
	bottom: 0;
	width: auto;
	height: auto;
	position: absolute;
	pointer-events: none
}

.week-view .week-view-container .more-appointments-container .more-appointments
	{
	position: absolute;
	text-align: center;
	opacity: .5
}

.week-view .week-view-container .more-appointments-container .more-appointments.earlier
	{
	top: 0
}

.week-view .week-view-container .more-appointments-container .more-appointments.later
	{
	bottom: 0
}

.week-view .week-view-container .day {
	position: relative;
	height: 100%;
	float: left;
	background-color: rgba(0, 0, 0, .01);
	border-left: 1px solid #ccc;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.week-view .week-view-container .day .timeslot {
	-webkit-touch-callout: none !important;
	border-bottom: 1px solid #ccc;
	height: 24px
}

.week-view .week-view-container .day .timeslot:nth-child(2n+1) {
	border-color: #e6e6e6
}

.week-view .week-view-container .day .timeslot:nth-child(2n+1).out {
	border-color: transparent
}

.week-view .week-view-container .day .timeslot:last-child, .week-view .week-view-container .day .timeslot .time:last-child
	{
	border: 0
}

.week-view .week-view-container .day .timeslot.working-time-border {
	border-bottom: 1px solid #333
}

.week-view .week-view-container .day.today .timeslot {
	background-color: #f5f5f5
}

.week-view .dayview .toolbar {
	padding-bottom: 13px
}

.week-view .dayview .week-view-container {
	top: 67px
}

.week-view .dayview .footer-container {
	display: none
}

.week-view .appointment {
	position: absolute;
	background-color: #3774a8;
	opacity: 1;
	-webkit-transition: opacity .2s, background-color .2s, color .2s;
	-o-transition: opacity .2s, background-color .2s, color .2s;
	transition: opacity .2s, background-color .2s, color .2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: content-box
}

.touch .week-view .appointment {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.touch .week-view .appointment {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.week-view .appointment.no-wrap .appointment-content * {
	display: inline;
	text-overflow: clip
}

.week-view .appointment.no-wrap .appointment-content .location {
	margin-left: 5px
}

.week-view .appointment.modify {
	cursor: pointer
}

.week-view .appointment.border {
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.week-view .appointment.current, .week-view .appointment.hover {
	z-index: 999 !important;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s
}

.week-view .appointment.lasso {
	border: 1px solid #08c;
	background-color: #d0eaff;
	opacity: .4;
	width: 100%;
	cursor: default
}

.week-view .appointment .private-flag {
	float: left;
	font-size: 15px;
	margin-right: 3px
}

.week-view .appointment .appointment-content {
	height: 100%;
	font-size: 12px;
	padding: 0 7px;
	border-left: 2px solid;
	border-color: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.week-view .appointment .appointment-content * {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.week-view .ui-resizable-handle {
	position: absolute;
	font-size: .1px;
	display: block
}

.week-view .ui-resizable-disabled .ui-resizable-handle, .week-view .ui-resizable-autohide .ui-resizable-handle
	{
	display: none
}

.week-view .ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -3px;
	left: 0
}

.week-view .ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -3px;
	left: 0
}

.week-view .ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: 0;
	top: 0;
	height: 100%
}

.week-view .ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: 0;
	top: 0;
	height: 100%
}

@media ( min-width :1281px) {
	.week-view .week-view-container .time-label-bar, .week-view .week-view-container .scrollpane .week-container-label
		{
		width: 100px
	}
	.week-view .week-view-container .scrollpane.secondary .week-container-label
		{
		width: 80px
	}
	.week-view .week-view-container .fulltime-container, .week-view .week-view-container .scrollpane .week-container
		{
		margin-left: 100px
	}
	.week-view .week-view-container .more-appointments-container {
		left: 100px
	}
}

@media all and (min-height:1200px) {
	.week-view .week-view-container .scrollpane .week-container .appointment-content
		{
		line-height: 20px
	}
}

@media ( max-width :480px) and (orientation:portrait) , ( max-height
	:480px) and (orientation:landscape) {
	.week-view .info {
		cursor: auto
	}
	.week-view .week-view-container .fulltime-container {
		margin-left: 67px
	}
	.week-view .week-view-container .more-appointments-container {
		left: 67px;
		right: 0
	}
	.week-view .week-view-container .scrollpane .week-container-label {
		width: 67px
	}
	.week-view .week-view-container .scrollpane .week-container-label .time
		{
		margin-left: .3em
	}
	.week-view .week-view-container .scrollpane .week-container {
		margin-left: 67px
	}
	.week-view .dayview .week-view-container {
		top: 0
	}
}