.scheduling-distribution-name-label {
	width: 100%
}

.io-ox-calendar-scheduling-window {
	cursor: default
}

.io-ox-calendar-scheduling-window .window-content {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%
}

.io-ox-calendar-scheduling-window .scheduling-app-header {
	display: flex;
	display: -webkit-flex;
	flex-grow: 0;
	padding: 8px 16px;
	min-height: 56px
}

.io-ox-calendar-scheduling-window .scheduling-app-header .app-title {
	margin-top: 8px;
	margin-bottom: 8px
}

.io-ox-calendar-scheduling-window .scheduling-app-footer {
	border-top: #ccc solid 1px;
	padding: 8px 16px
}

.io-ox-calendar-scheduling-window .freetime-participants-view-body {
	margin-left: 16px
}

.io-ox-calendar-scheduling-window .scheduling-app-body {
	display: flex;
	display: -webkit-flex;
	height: 100%
}

.io-ox-calendar-scheduling-window .freetime-time-view-header.row1 {
	padding-top: 8px
}

.io-ox-calendar-scheduling-window .scheduling-app-close {
	padding: 0 0 2px 32px;
	color: #666
}

.freetime-popup {
	padding: 16px;
	overflow-x: hidden
}

.freetime-popup .modal-content .modal-header,
	.io-ox-calendar-scheduling-window .modal-content .modal-header {
	min-height: 56px
}

.freetime-popup .modal-content .modal-header,
	.io-ox-calendar-scheduling-window .modal-content .modal-header,
	.freetime-popup .scheduling-app-header,
	.io-ox-calendar-scheduling-window .scheduling-app-header {
	display: flex;
	display: -webkit-flex
}

.freetime-popup .modal-content .modal-header .modal-title,
	.io-ox-calendar-scheduling-window .modal-content .modal-header .modal-title,
	.freetime-popup .scheduling-app-header .modal-title,
	.io-ox-calendar-scheduling-window .scheduling-app-header .modal-title,
	.freetime-popup .modal-content .modal-header .app-title,
	.io-ox-calendar-scheduling-window .modal-content .modal-header .app-title,
	.freetime-popup .scheduling-app-header .app-title,
	.io-ox-calendar-scheduling-window .scheduling-app-header .app-title {
	min-width: 255px;
	max-width: 255px
}

@media all and (max-width:850px) {
	.freetime-popup .modal-content .modal-header .modal-title,
		.io-ox-calendar-scheduling-window .modal-content .modal-header .modal-title,
		.freetime-popup .scheduling-app-header .modal-title,
		.io-ox-calendar-scheduling-window .scheduling-app-header .modal-title,
		.freetime-popup .modal-content .modal-header .app-title,
		.io-ox-calendar-scheduling-window .modal-content .modal-header .app-title,
		.freetime-popup .scheduling-app-header .app-title,
		.io-ox-calendar-scheduling-window .scheduling-app-header .app-title {
		min-width: 185px;
		max-width: 185px
	}
}

.freetime-popup .modal-content .modal-body,
	.io-ox-calendar-scheduling-window .modal-content .modal-body {
	display: flex;
	display: -webkit-flex;
	padding: 0 0 0 16px
}

.freetime-popup .info, .io-ox-calendar-scheduling-window .info {
	left: auto;
	text-align: left;
	max-width: 30%;
	position: absolute;
	margin-left: 16px;
	line-height: 18px;
	font-size: 16px;
	color: #333;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 300
}

.freetime-popup .info .cw, .io-ox-calendar-scheduling-window .info .cw {
	font-size: 14px;
	color: #767676;
	margin-left: 8px
}

.freetime-popup .header-row2, .io-ox-calendar-scheduling-window .header-row2
	{
	display: flex;
	display: -webkit-flex
}

.freetime-popup .freetime-participants-view-header.row2,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header.row2
	{
	min-width: 255px;
	max-width: 255px;
	border-bottom: 1px solid #ccc
}

@media all and (max-width:850px) {
	.freetime-popup .freetime-participants-view-header.row2,
		.io-ox-calendar-scheduling-window .freetime-participants-view-header.row2
		{
		min-width: 185px;
		max-width: 185px
	}
}

.freetime-popup .freetime-participants-view-header.row2 .tt-dropdown-menu,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header.row2 .tt-dropdown-menu
	{
	width: 350px;
	z-index: 10000 !important
}

.freetime-popup .freetime-participants-view-header .add-participants-wrapper,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header .add-participants-wrapper
	{
	padding-left: 16px;
	margin-top: 11px
}

.freetime-popup .freetime-participants-view-header .add-participants-wrapper .add-participant,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header .add-participants-wrapper .add-participant
	{
	height: 32px
}

.freetime-popup .freetime-participants-view-header .add-participants-wrapper .tt-suggestion,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header .add-participants-wrapper .tt-suggestion
	{
	padding: 3px;
	font-size: 13px
}

.freetime-popup .freetime-participants-view-header .add-participants-wrapper .tt-suggestion .participant-image,
	.io-ox-calendar-scheduling-window .freetime-participants-view-header .add-participants-wrapper .tt-suggestion .participant-image
	{
	margin-top: 8px;
	width: 38px;
	height: 38px
}

.freetime-popup .freetime-time-view-header,
	.io-ox-calendar-scheduling-window .freetime-time-view-header {
	flex: 1;
	-webkit-flex: 1
}

.freetime-popup .freetime-time-view-header.row1,
	.io-ox-calendar-scheduling-window .freetime-time-view-header.row1 {
	margin-top: 1px
}

.freetime-popup .freetime-time-view-header .controls-container,
	.io-ox-calendar-scheduling-window .freetime-time-view-header .controls-container
	{
	display: inline-block;
	width: auto
}

.freetime-popup .freetime-time-view-header .controls-container a,
	.io-ox-calendar-scheduling-window .freetime-time-view-header .controls-container a
	{
	padding: 9px
}

.freetime-popup .dropdown-menu, .io-ox-calendar-scheduling-window .dropdown-menu
	{
	z-index: 10000
}

.freetime-view-header {
	min-height: 56px
}

.freetime-view-header .header-row2 {
	position: relative;
	height: 56px
}

.freetime-view-header .freetime-participants-view-header.row2 {
	min-width: 271px;
	max-width: 271px
}

@media all and (max-width:850px) {
	.freetime-view-header .freetime-participants-view-header.row2 {
		min-width: 201px;
		max-width: 201px
	}
}

.freetime-view-header .freetime-time-view-header {
	flex: 1;
	-webkit-flex: 1
}

.freetime-view-header .freetime-time-view-header.row2 {
	border-left: 1px solid #ddd;
	overflow: hidden
}

.freetime-view-header .freetime-time-view-header .freetime-timeline {
	display: flex;
	display: -webkit-flex;
	font-size: 13px
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day
	{
	border-bottom: 1px solid #ccc;
	flex-shrink: 0
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day.today .daylabel-container
	{
	border-left-color: #cf3239
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day.today .daylabel-container .day-label-wrapper:first-child .day-label
	{
	background: #cf3239;
	color: #fff
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day.today .day-start
	{
	border-left-color: #cf3239
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .daylabel-container
	{
	display: flex;
	display: -webkit-flex;
	height: 24px;
	border-left: 1px solid #888
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper
	{
	font-weight: 700;
	display: inline;
	min-width: 25%
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper .day-label
	{
	padding: 2px 8px 4px;
	display: inline-block
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper.weekend
	{
	color: #cf3239
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .daylabel-container.first
	{
	border-left: 0
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .timeline-day .day-hours
	{
	display: flex;
	display: -webkit-flex;
	height: 31px
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .freetime-hour
	{
	flex: 1;
	-webkit-flex: 1;
	line-height: 21px;
	margin-top: 9px;
	padding-left: 8px;
	cursor: pointer;
	border-left: #ccc solid 1px
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .freetime-hour.hover
	{
	text-decoration: underline
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .freetime-hour.day-start
	{
	border-left: #888 solid 1px;
	margin-top: 0;
	padding-top: 9px
}

.freetime-view-header .freetime-time-view-header .freetime-timeline .freetime-hour.first
	{
	border-left: 0
}

.freetime-view-header.zoomlevel-100 .freetime-timeline .timeline-day .daylabel-container .level-2
	{
	display: none
}

.freetime-view-header.zoomlevel-100 .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper
	{
	min-width: 50%
}

.freetime-view-header.zoomlevel-100.only-workinghours .freetime-timeline .timeline-day .daylabel-container .level-1
	{
	display: none
}

.freetime-view-header.zoomlevel-100 .freetime-hour {
	min-width: 60px
}

.freetime-view-header.zoomlevel-200.only-workinghours .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper
	{
	min-width: 50%
}

.freetime-view-header.zoomlevel-200.only-workinghours .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper.level-2
	{
	display: none
}

.freetime-view-header.zoomlevel-200 .freetime-hour {
	min-width: 120px
}

.freetime-view-header.zoomlevel-400 .freetime-hour {
	min-width: 240px
}

.freetime-view-header.zoomlevel-1000 .freetime-hour {
	min-width: 600px
}

.freetime-view-body {
	display: flex;
	display: -webkit-flex;
	overflow-x: hidden
}

.freetime-view-body .freetime-participants-view-body {
	width: 255px;
	font-size: 13px;
	overflow-y: hidden;
	min-height: auto
}

@media all and (max-width:850px) {
	.freetime-view-body .freetime-participants-view-body {
		width: 185px
	}
}

.freetime-view-body .freetime-participants-view-body .participantsrow {
	padding-left: 0;
	margin-bottom: 0;
	padding-right: 1px
}

.freetime-view-body .freetime-participants-view-body .participantsrow .participant-image
	{
	margin-top: 2px;
	width: 32px;
	height: 32px
}

.freetime-view-body .freetime-participants-view-body .participantsrow .participant-name
	{
	padding-top: 8px;
	font-weight: 400
}

.freetime-view-body .freetime-participants-view-body .participantsrow .participant-name .family-name
	{
	font-weight: 700
}

.freetime-view-body .freetime-participants-view-body .participantsrow .participant-wrapper
	{
	padding-left: 0;
	min-height: 38px;
	margin: 1px 0
}

.freetime-view-body .freetime-participants-view-body .participantsrow .remove:not
	(:hover ){
	background-color: #fff
}

.freetime-view-body.compact .participantsrow .participant-wrapper {
	min-height: 22px
}

.freetime-view-body.compact .participantsrow .participant-image {
	margin-top: 2px;
	width: 16px;
	height: 16px
}

.freetime-view-body.compact .participantsrow .participant-name {
	padding-top: 0
}

.freetime-view-body.zoomlevel-100 .appointment.under-one-hour .title,
	.freetime-view-body.zoomlevel-100 .appointment .location {
	display: none
}

.freetime-view-body.zoomlevel-100 .freetime-table-cell {
	width: 60px
}

.freetime-view-body.zoomlevel-200 .freetime-table-cell {
	width: 120px
}

.freetime-view-body.zoomlevel-400 .freetime-table-cell {
	width: 240px
}

.freetime-view-body.zoomlevel-1000 .freetime-table-cell {
	width: 600px
}

.freetime-view-body .freetime-time-view-body {
	flex: 1;
	-webkit-flex: 1;
	position: relative;
	overflow-y: auto;
	border-left: 1px solid #ddd
}

.freetime-view-body .freetime-time-view-body.io-ox-busy {
	position: initial
}

.freetime-view-body .freetime-time-view-body .striped {
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 25px,
		rgba(255, 255, 255, .15) 25px, rgba(255, 255, 255, .15) 50px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 25px,
		rgba(255, 255, 255, .15) 25px, rgba(255, 255, 255, .15) 50px);
	background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255
		, 255, 255, .15) 25px, rgba(255, 255, 255, .15) 50px);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255
		, 255, 255, .15) 25px, rgba(255, 255, 255, .15) 50px);
	background-repeat: repeat;
	background-size: 141px 141px
}

.freetime-view-body .freetime-time-view-body .freetime-table {
	position: relative;
	min-height: 1px
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table
	{
	display: flex;
	display: -webkit-flex;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table .freetime-table-cell
	{
	height: 100%;
	border-left: #ccc solid 1px
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table .freetime-table-cell.non-working-hour
	{
	background-color: #efefef
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table .freetime-table-cell.day-start
	{
	border-left: #888 solid 1px
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table .freetime-table-cell.first
	{
	border-left: 0
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-time-table .freetime-table-cell.today
	{
	border-left-color: #cf3239
}

.freetime-view-body .freetime-time-view-body .freetime-table .freetime-lasso
	{
	pointer-events: none;
	background-color: rgba(54, 155, 255, .2);
	bottom: 0;
	top: 0;
	position: absolute;
	border: 1px solid #63b7ff;
	border-width: 0 1px;
	z-index: 9000
}

.freetime-view-body .freetime-time-view-body .appointments {
	position: relative;
	font-size: 12px
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table
	{
	height: 40px;
	position: relative
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table:not
	(:last-child ){
	border-bottom: #eee solid 1px
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment
	{
	height: 100%;
	position: absolute;
	overflow: hidden;
	border-left: 1px solid rgba(0, 0, 0, .2);
	birder-bottom: 1px solid rgba(255, 255, 255, .5);
	padding: 8px;
	display: none
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment .title
	{
	line-height: 24px;
	font-weight: 400;
	overflow: hidden;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment .appointment-time
	{
	opacity: .6;
	margin-left: 4px
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.has-detailview:hover
	{
	cursor: pointer
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.has-location
	{
	padding: 4px 8px
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.has-location .title
	{
	line-height: 16px
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.has-location .location
	{
	opacity: .6;
	line-height: 16px;
	font-weight: 400;
	overflow: hidden;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.free
	{
	background-color: rgba(58, 107, 23, .5)
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.absent
	{
	background-color: #eee;
	border-left-color: #333;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb
		1px, #bbb 8px);
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px,
		#bbb 1px, #bbb 8px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbb 1px
		, #bbb 8px)
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.absent .title,
	.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.absent .location
	{
	color: #333
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.temporary
	{
	background-color: #fb0
}

.freetime-view-body .freetime-time-view-body .appointments .appointment-table .appointment.reserved
	{
	background-color: #3774a8
}

.freetime-view-body .freetime-time-view-body.showFree .appointments .free
	{
	display: block
}

.freetime-view-body .freetime-time-view-body.showTemporary .appointments .temporary
	{
	display: block
}

.freetime-view-body .freetime-time-view-body.showReserved .appointments .reserved
	{
	display: block
}

.freetime-view-body .freetime-time-view-body.showAbsent .appointments .absent
	{
	display: block
}

.freetime-view-body.compact .appointments .appointment-table {
	height: 24px
}

.freetime-view-body.compact .appointments .appointment-table .appointment
	{
	padding: 4px 8px
}

.freetime-view-body.compact .appointments .appointment-table .appointment .title
	{
	line-height: 16px
}

.freetime-view-body.compact .appointments .appointment-table .appointment .location
	{
	display: none
}