.contact-grid-container.abs {
	left: 45px
}

.contact-grid-container .vgrid-cell.contact {
	height: 60px
}

.contact-grid-container .vgrid-cell.contact .private_flag {
	float: left;
	color: #AAA;
	font-size: 17px;
	margin-right: 3px
}

.contact-grid-container .vgrid-cell.contact .fullname {
	font-weight: 400
}

.contact-grid-container .vgrid-cell.contact .fullname .last_name {
	font-weight: 700
}

.contact-grid-container .vgrid-cell.vgrid-label {
	text-align: left;
	font-weight: 300;
	font-size: 21px;
	color: #3c73aa;
	padding-top: 14px;
	padding-bottom: 7px;
	background-image: none;
	background-color: #fff;
	border-top: 0 none;
	border-bottom: 0 none
}

.contact-grid-index {
	width: 45px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.contact-grid-index .thumb-index {
	font-size: 11px;
	line-height: 20px;
	padding: 0 5px;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	margin: 0
}

.contact-grid-index .thumb-index:hover {
	color: #fff;
	background-color: #3c73aa
}

.contact-grid-index .thumb-index.thumb-index-disabled,
	.contact-grid-index .thumb-index.thumb-index-disabled:hover {
	color: #949494;
	font-weight: 400;
	cursor: default
}

html.high-contrast .contact-grid-index .thumb-index.thumb-index-disabled,
	html.high-contrast .contact-grid-index .thumb-index.thumb-index-disabled:hover
	{
	color: #767676
}

.contact-detail-edit {
	width: 100%
}

.contact-detail {
	width: 100%
}

.contact-detail .io-ox-inline-links:first-child {
	margin: 0 0 20px
}

.contact-detail .contact-header {
	margin-bottom: 26px;
	min-height: 80px
}

.contact-detail .contact-header .picture {
	float: left;
	display: inline-block;
	margin-top: 5px;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.contact-detail .contact-header .picture+div {
	display: table;
	padding-left: 20px
}

.contact-detail .contact-header .private-flag {
	color: #767676;
	font-size: 32px;
	line-height: 32px;
	margin-right: 10px;
	float: left
}

.contact-detail .contact-header h1 {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 24px;
	line-height: 28px;
	margin: 0
}

.contact-detail .contact-header h1.header-name {
	word-break: break-all;
	display: inline-block
}

.contact-detail .contact-header h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 200
}

.contact-detail .contact-header h2.header-company {
	margin: 14px 0
}

.contact-detail .contact-header h2.header-job {
	color: #767676;
	margin: 0 0 14px;
	word-break: break-all
}

.contact-detail .contact-header h1:empty+h2.header-company {
	margin-top: 0
}

.contact-detail .attachments-container {
	min-height: 3em;
	font-weight: 300
}

.contact-detail .attachments-container .dropdown {
	display: inline-block;
	position: static;
	margin-right: 1em
}

.contact-detail .attachments-container .dropdown.open {
	position: relative
}

.contact-detail .attachment-item {
	color: #333;
	word-break: break-all
}

.contact-detail .comment, .contact-detail .description {
	font-weight: 300;
	max-width: 720px;
	margin-bottom: 26px;
	clear: both
}

.contact-detail .block {
	display: inline-block;
	float: left;
	width: 560px;
	margin: 0 16px 32px 0
}

.contact-detail .block legend {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 14px;
	border-bottom: 0 none
}

.contact-detail .block dl {
	margin-bottom: 0
}

.contact-detail .block dl dt {
	width: 192px;
	text-align: left;
	color: #767676;
	font-weight: 300
}

html.high-contrast .contact-detail .block dl dt {
	color: #767676
}

.contact-detail .block dl dd {
	margin-left: 200px;
	word-break: break-all
}

.contact-detail .maps-service address {
	color: #333;
	white-space: pre
}

.contact-detail .member {
	height: 48px;
	clear: both;
	margin-bottom: 1em
}

.contact-detail .member-picture {
	float: left;
	margin-right: 14px;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.contact-detail .member-name {
	font-weight: 700;
	padding-top: 4px
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-contacts-window .vgrid-cell.contact, .io-ox-halo .vgrid-cell.contact
		{
		font-size: 16px;
		padding: 8px 16px
	}
	.io-ox-contacts-window .vgrid-cell.contact .fullname, .io-ox-halo .vgrid-cell.contact .fullname
		{
		font-weight: 500
	}
	.io-ox-contacts-window .vgrid-cell.contact .fullname .last_name,
		.io-ox-halo .vgrid-cell.contact .fullname .last_name {
		font-weight: 500
	}
	.io-ox-contacts-window .editable .vgrid-cell.contact, .io-ox-halo .editable .vgrid-cell.contact
		{
		padding-left: 48px
	}
	.io-ox-contacts-window .vgrid-cell.vgrid-label, .io-ox-halo .vgrid-cell.vgrid-label
		{
		padding-top: 16px;
		padding-left: 16px
	}
	.io-ox-contacts-window .vgrid.top-toolbar .vgrid-scrollpane, .io-ox-halo .vgrid.top-toolbar .vgrid-scrollpane
		{
		top: 0;
		bottom: 40px
	}
	.io-ox-contacts-window .contact-detail .contact-header, .io-ox-halo .contact-detail .contact-header
		{
		margin-bottom: 16px
	}
	.io-ox-contacts-window .contact-detail .contact-header h1, .io-ox-halo .contact-detail .contact-header h1
		{
		font-weight: 700
	}
	.io-ox-contacts-window .contact-detail .contact-header h1, .io-ox-halo .contact-detail .contact-header h1,
		.io-ox-contacts-window .contact-detail .contact-header h2, .io-ox-halo .contact-detail .contact-header h2
		{
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: initial
	}
	.io-ox-contacts-window .contact-detail .contact-header h2, .io-ox-halo .contact-detail .contact-header h2
		{
		padding-top: 8px
	}
	.io-ox-contacts-window .contact-detail .comment, .io-ox-halo .contact-detail .comment
		{
		margin-bottom: 16px;
		line-height: 20px
	}
	.io-ox-contacts-window .contact-detail .participant-wrapper, .io-ox-halo .contact-detail .participant-wrapper
		{
		margin: 12px 8px
	}
	.io-ox-contacts-window .contact-detail .member-list, .io-ox-halo .contact-detail .member-list,
		.io-ox-contacts-window .contact-detail .breadcrumb-view, .io-ox-halo .contact-detail .breadcrumb-view
		{
		padding: 0
	}
	.io-ox-contacts-window .contact-detail .io-ox-inline-links:first-child,
		.io-ox-halo .contact-detail .io-ox-inline-links:first-child {
		margin: 0;
		padding: 15px 0
	}
	.io-ox-contacts-window .contact-detail .io-ox-inline-links:first-child span.io-ox-action-link.dropdown,
		.io-ox-halo .contact-detail .io-ox-inline-links:first-child span.io-ox-action-link.dropdown
		{
		float: right
	}
	.io-ox-contacts-window .contact-detail .block, .io-ox-halo .contact-detail .block
		{
		width: 100%;
		margin: 8px 16px 16px 0;
		line-height: 24px
	}
	.io-ox-contacts-window .contact-detail .block legend, .io-ox-halo .contact-detail .block legend
		{
		padding-top: 0;
		border-bottom: 1px solid #ccc;
		padding-bottom: 8px;
		margin-bottom: 8px
	}
	.io-ox-contacts-window .contact-detail .block .dl-horizontal dt,
		.io-ox-halo .contact-detail .block .dl-horizontal dt,
		.io-ox-contacts-window .contact-detail .block .dl-horizontal dd,
		.io-ox-halo .contact-detail .block .dl-horizontal dd {
		margin-left: 0
	}
	.io-ox-contacts-window .contact-detail .block .dl-horizontal dd,
		.io-ox-halo .contact-detail .block .dl-horizontal dd {
		margin-bottom: 16px
	}
	.io-ox-contacts-window .io-ox-pagecontroller.page.default-content-padding,
		.io-ox-halo .io-ox-pagecontroller.page.default-content-padding {
		padding: 0
	}
	.io-ox-contacts-window .io-ox-pagecontroller.page.default-content-padding .scrollable-pane,
		.io-ox-halo .io-ox-pagecontroller.page.default-content-padding .scrollable-pane
		{
		padding: 16px 16px 0
	}
	.contact-grid-container.abs {
		left: 0;
		right: 45px
	}
	.contact-grid-index {
		left: auto;
		right: 0;
		width: 45px;
		padding: 10px 0
	}
	.contact-grid-index .thumb-index {
		font-size: 11px;
		line-height: 12px;
		padding: 0 5px;
		margin: 0 1px
	}
}

.contact-item .fullname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	color: #333
}

.contact-item .bright {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #888;
	font-weight: 300
}