/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Francisco Laguna <francisco.laguna@open-xchange.com>
 * @author Tobias Prinz <tobias.prinz@open-xchange.com>
 */

// special color scheme if widget has no account yet
.io-ox-portal {

    @color: #01AEEB;

    .widget.widget-color-custom.color-twitter {
        background-color: @black;

        .decoration { background-color: @color; }

        &:focus .decoration { background-color: darken(@color, 10%); }
    }

    @media all and (max-width: 480px), all and (max-device-width: 480px) {
        .widget.widget-color-custom.color-twitter {
            background-color: @color;

            .decoration { background-color: transparent; }
        }
    }
}

.twitter {
    margin-top: 26px;
    padding: 0;

    .tweet {
        position: relative;
        min-height: 55px;
        margin: 0 0 26px 65px;
    }

    .name {
        font-weight: normal;
        color: gray;
        display: inline-block;
        padding-bottom: 3px;
    }

    .profilePicture {
        position: absolute;
        top: 4px;
        left: -65px;
        max-width: 48px;
        .border-radius(@border-radius-base);
    }
}

.io-ox-twitter-title:after {
    content: " ";
    background: url('apps/plugins/portal/twitter/bird_blue_128.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -10px;
}

.io-ox-twitter-action-tweet {
    display: block;
    float: right;
}

.io-ox-twitter-reply, .io-ox-twitter-retweet, .io-ox-twitter-favorite {
    display: inline-block;
    float: right;
    margin-left: 1em;
    overflow: hidden;
    padding-left: 16px;

    &:before {
        content: " ";
        background: url('apps/plugins/portal/twitter/everything-spritev2.png');
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        height: 16px;
        width: 16px;
        margin-left: -20px;
    }
}

.io-ox-twitter-reply:before              { background-position: 0 0;      }
.io-ox-twitter-reply:hover:before        { background-position: -16px 0;  }
.io-ox-twitter-favorite:before           { background-position: -32px 0;  }
.io-ox-twitter-favorite:hover:before     { background-position: -48px 0;  }
.io-ox-twitter-favorite.favorited:before { background-position: -64px 0;  }
.io-ox-twitter-retweet:before            { background-position: -80px 0;  }
.io-ox-twitter-retweet:hover:before      { background-position: -96px 0;  }
.io-ox-twitter-retweet.retweeted:before  { background-position: -112px 0; }

.io-ox-twitter-delete {
    display: inline-block;
    float: right;
    overflow: hidden;
    margin-left: 1em;

    i { padding-right: 5px; }

    &:hover i {
        color: #666666;
        text-decoration: none;
    }
}

.io-ox-twitter-follow {
    display: block;
    float: right;
    padding: 0 6px;
    font-size: 11px;
    font-weight: bold;

    div {
        overflow: hidden;
        margin-left: 0;
        padding-left: 12px;

        &:before {
            content: " ";
            background: url('apps/plugins/portal/twitter/bird_blue_32.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            height: 20px;
            width: 20px;
            position: absolute;
            top: 1;
            margin-left: -20px;
        }
    }
}

.io-ox-twitter-retweet-source span, .io-ox-twitter-date, .io-ox-twitter-reply, .io-ox-twitter-retweet, .io-ox-twitter-favorite, .io-ox-twitter-delete {
    font-size: 90%;
    color: gray;
    font-weight: 300;
}

.io-ox-twitter-name a { color: black; }

.io-ox-twitter-tweet-container {
    padding: 10px 0 0 5px;
    display: block;

    .io-ox-twitter-tweet-textarea {
        box-sizing: border-box;
        width: 100%;
    }

    .btn.disabled:hover { background-color: #e6e6e6; }
}

.io-ox-twitter-tweet-button { text-align: right; }

.io-ox-twitter-tweet-counter {
    padding: 0 5px;
    display: inline-block;
    width: 40px;
    color: gray;
    text-align: right;
}

.io-ox-twitter-tweet-counter.limit-exceeded { color: red; }

.io-ox-twitter-hidden { display: none; }
