.io-ox-mail-compose {
	padding-top: 16px
}

.io-ox-mail-compose>.mail-compose-fields>.row {
	margin-bottom: 10px
}

.io-ox-mail-compose>.mail-compose-fields>.row.sender .dropdown {
	padding-top: 8px
}

.io-ox-mail-compose>.mail-compose-fields>.row div.dropdown {
	display: inline-block;
	margin-bottom: 5px
}

.io-ox-mail-compose>.mail-compose-fields>.row div.dropdown.signatures {
	margin-right: 15px
}

.io-ox-mail-compose>.mail-compose-fields>.row .shareAttachments div.dropdown
	{
	margin-bottom: 0
}

.io-ox-mail-compose>.mail-compose-fields>.row.subject input {
	font-weight: 700
}

.io-ox-mail-compose>.mail-compose-fields>.row.attachments .inplace-dropzone
	{
	margin: 0 15px
}

.io-ox-mail-compose>.mail-compose-fields>.row.attachments .io-ox-core-tk-attachment-list
	{
	clear: both
}

.io-ox-mail-compose>.mail-compose-fields>.row .token-input::-webkit-input-placeholder,
	.io-ox-mail-compose>.mail-compose-fields>.row.subject input::-webkit-input-placeholder
	{
	color: transparent
}

.io-ox-mail-compose>.mail-compose-fields>.row .token-input:-moz-placeholder,
	.io-ox-mail-compose>.mail-compose-fields>.row.subject input:-moz-placeholder
	{
	color: transparent
}

.io-ox-mail-compose>.mail-compose-fields>.row .token-input::-moz-placeholder,
	.io-ox-mail-compose>.mail-compose-fields>.row.subject input::-moz-placeholder
	{
	color: transparent
}

.io-ox-mail-compose>.mail-compose-fields>.row .token-input:-ms-input-placeholder,
	.io-ox-mail-compose>.mail-compose-fields>.row.subject input:-ms-input-placeholder
	{
	color: transparent
}

.io-ox-mail-compose>.mail-compose-fields>.row .maillabel a {
	color: #767676;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	display: inline-block;
	padding-top: 6px
}

.io-ox-mail-compose .sender .name {
	color: #333
}

.io-ox-mail-compose .sender .address {
	color: #3c73aa
}

.io-ox-mail-compose .header {
	margin-bottom: 5px
}

.io-ox-mail-compose .header h1 {
	margin: 0;
	font-size: 20px
}

.io-ox-mail-compose .header .btn {
	margin-left: 10px
}

.io-ox-mail-compose .recipient-actions {
	position: absolute;
	top: 7px;
	right: 16px
}

.io-ox-mail-compose .recipient-actions a {
	margin-right: 4px;
	padding: 2px;
	color: #666;
	text-decoration: none
}

@media ( max-width :767px) {
	.io-ox-mail-compose .recipient-actions {
		right: 10px
	}
}

.io-ox-mail-compose .has-picker .recipient-actions {
	right: 44px
}

.io-ox-mail-compose .open-addressbook-popup {
	position: absolute;
	top: 5px;
	right: 24px;
	padding: 2px;
	color: #666;
	text-decoration: none
}

.io-ox-mail-compose .contenteditable-editor {
	position: relative;
	z-index: 3
}

.io-ox-mail-compose .editable-toolbar {
	position: relative;
	height: 100%
}

.io-ox-mail-compose .editable-toolbar.fixed {
	position: fixed;
	min-height: 34px;
	z-index: 1;
	border-bottom: 1px solid #ccc;
	opacity: .9
}

.io-ox-mail-compose .editable-toolbar input.file-input:hover {
	cursor: pointer
}

.io-ox-mail-compose .editable-toolbar .mce-panel.mce-container:not (.mce-floatpanel
	):not (.mce-edit-area ){
	background-color: #fff
}

.io-ox-mail-compose .editable-toolbar .mce-panel.mce-edit-area {
	border: 1px solid #fff !important
}

.io-ox-mail-compose textarea.editable, .io-ox-mail-compose .mce-content-body.editable
	{
	background: #fff;
	border: 1px solid #ccc;
	padding: 13px
}

.io-ox-mail-compose .mce-content-body.editable {
	overflow-x: auto
}

.io-ox-mail-compose .mce-content-body.editable.mce-edit-focus {
	outline: 0
}

.io-ox-mail-compose .mce-content-body.editable.mce-edit-focus:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.io-ox-mail-compose .mce-content-body.editable.simple-mail img {
	max-width: 100%;
	height: auto !important
}

.io-ox-mail-compose .mce-content-body.editable img.aspect-ratio {
	height: auto !important
}

.io-ox-mail-compose .mce-content-body.editable a {
	color: #00a0cd;
	text-decoration: none
}

.io-ox-mail-compose .mce-content-body.editable a:hover {
	text-decoration: underline
}

.io-ox-mail-compose .mce-content-body.editable table {
	border: 0 none;
	line-height: normal
}

.io-ox-mail-compose .mce-content-body.editable table td,
	.io-ox-mail-compose .mce-content-body.editable table th {
	padding: 8px
}

.io-ox-mail-compose .mce-content-body.editable div {
	word-wrap: break-word
}

.io-ox-mail-compose .mce-content-body.editable blockquote {
	font-size: 14px;
	border-left: 1px solid #08C;
	padding: 7px 0 7px 19px;
	margin: 1em 0;
	opacity: .5
}

.io-ox-mail-compose .mce-content-body.editable blockquote blockquote {
	opacity: 1
}

.io-ox-mail-compose .plain-text {
	width: 100%;
	border: 1px solid #ccc;
	padding: 18px 21px;
	-webkit-font-feature-settings: "liga" 0;
	font-feature-settings: "liga" 0;
	text-rendering: optimizeLegibility
}

.io-ox-mail-compose .plain-text.monospace {
	font-family: monospace
}

.io-ox-mail-compose .tokenfield.form-control {
	padding-right: 40px
}

.io-ox-mail-compose .hidden-file-picker {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	overflow: hidden
}

.io-ox-mail-compose .hidden-file-picker:hover, .io-ox-mail-compose .hidden-file-picker:focus
	{
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5
}

.io-ox-mail-compose .hidden-file-picker input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
	outline: 0
}

.io-ox-mail-compose .shareAttachments>ul {
	margin-left: 16px
}

.io-ox-mail-compose .shareAttachments>div {
	margin-right: 16px
}

.io-ox-mail-compose .shareAttachments .input-group {
	width: 25%;
	display: inline-table;
	top: 10px
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links {
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links li {
	padding-top: 3px
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links a {
	text-decoration: underline
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links a[data-action=shareAttachmentseDisable]
	{
	text-decoration: none;
	font-weight: 700
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links .fa-check,
	.io-ox-mail-compose .shareAttachments .io-ox-inline-links a[data-action=shareAttachmentseDisable]
	{
	color: #FF6E00
}

.io-ox-mail-compose .shareAttachments .io-ox-inline-links .fa-check {
	margin-right: 5px
}

.io-ox-mail-compose .shareAttachments .dropdownlink, .io-ox-mail-compose .shareAttachments .checkbox
	{
	display: inline;
	position: relative
}

.io-ox-mail-compose .shareAttachments .dropdownlink a:hover,
	.io-ox-mail-compose .shareAttachments .checkbox a:hover {
	text-decoration: none
}

.io-ox-mail-compose .shareAttachments .dropdownlink a i.fa-caret-down,
	.io-ox-mail-compose .shareAttachments .checkbox a i.fa-caret-down {
	color: inherit;
	display: inline-block;
	margin-left: 5px
}

.io-ox-mail-compose .show-share-attachments .toggle-mode {
	padding-top: 16px
}

.io-ox-mail-compose .mail-attachment-list header .toggle-details {
	padding-top: 3px
}

.smartphone .io-ox-mail-compose {
	padding-top: 8px;
	padding: 0;
	margin: 0
}

.smartphone .io-ox-mail-compose textarea {
	padding: 8px 16px;
	border: 0
}

.smartphone .io-ox-mail-compose textarea:focus {
	outline: 0
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row {
	font-size: 16px;
	margin: 0
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row label {
	font-size: 16px;
	font-weight: 400;
	color: #aaa
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.sender {
	display: none
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=to],
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=cc],
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=bcc]
	{
	padding-top: 2px;
	padding-bottom: 2px
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=to] .col-xs-11,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=cc] .col-xs-11,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=bcc] .col-xs-11
	{
	width: 90%;
	margin-right: -5px
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=to] input::-webkit-input-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=cc] input::-webkit-input-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=bcc] input::-webkit-input-placeholder
	{
	color: #fff
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=subject] .col-xs-12
	{
	padding-left: 7px
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row[data-extension-id=composetoolbar]
	{
	padding-top: 8px;
	padding-bottom: 4px
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .maillabel.col-xs-1
	{
	width: 10%
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject {
	padding-bottom: 6px;
	padding-top: 3px
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject input
	{
	padding-left: 8px;
	font-size: 16px;
	font-weight: 300
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row:not (.attachments
	){
	border-bottom: 1px solid #ccc
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .token-input::-webkit-input-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject input::-webkit-input-placeholder
	{
	color: #aaa;
	font-weight: 400
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .token-input:-moz-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject input:-moz-placeholder
	{
	color: #aaa;
	font-weight: 400
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .token-input::-moz-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject input::-moz-placeholder
	{
	color: #aaa;
	font-weight: 400
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .token-input:-ms-input-placeholder,
	.smartphone .io-ox-mail-compose>.mail-compose-fields>.row.subject input:-ms-input-placeholder
	{
	color: #aaa;
	font-weight: 400
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .twitter-typeahead
	{
	display: block !important
}

.smartphone .io-ox-mail-compose>.mail-compose-fields>.row .form-control
	{
	padding-top: 7px;
	border: 0;
	border-radius: 0;
	box-shadow: none
}

.smartphone .io-ox-mail-compose .tokenfield.form-control.to {
	padding-right: 20px
}

.smartphone .io-ox-mail-compose .recipient-actions a {
	outline: 0
}

.smartphone .io-ox-mail-compose textarea.editable, .smartphone .io-ox-mail-compose .mce-content-body.editable
	{
	border-top: 0;
	padding: 8px 16px;
	margin-top: 0
}

.smartphone .io-ox-mail-compose .mail-attachment-list {
	margin-left: -15px;
	margin-right: -15px;
	padding: 8px 15px 9px;
	border-bottom: 1px solid #ccc
}

.smartphone .io-ox-mail-compose .mail-attachment-list.open {
	border-bottom: 1px solid #ccc
}

.smartphone .io-ox-mail-compose .mail-attachment-list.empty {
	border-bottom: 0
}

.smartphone .io-ox-mail-compose .hidden-file-picker {
	font-size: 15px;
	line-height: initial;
	color: #3c73aa;
	padding: 0;
	padding-top: 1px
}

.smartphone .io-ox-mail-compose .hidden-file-picker:focus, .smartphone .io-ox-mail-compose .hidden-file-picker:hover
	{
	color: #3c73aa;
	background-color: transparent
}

.smartphone .io-ox-mail-compose textarea.editable, .smartphone .io-ox-mail-compose .mce-content-body.editable
	{
	border: 0;
	outline: 0
}

.smartphone .io-ox-mail-compose textarea.editable.mce-edit-focus:focus,
	.smartphone .io-ox-mail-compose .mce-content-body.editable.mce-edit-focus:focus
	{
	box-shadow: none
}

.smartphone .io-ox-mail-compose-window.header-top .window-header .btn[data-action=save],
	.smartphone .editable-toolbar {
	display: none
}