.settings-detail-pane .downloads-settings-pane section {
	margin: 0 0 28px
}

.settings-detail-pane .downloads-settings-pane h2 {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 7px
}

.settings-detail-pane .downloads-settings-pane p {
	margin: 0 0 7px
}

.settings-detail-pane .downloads-settings-pane .shop-link-container {
	margin-bottom: 1em
}

.settings-detail-pane .downloads-settings-pane .oxdrive i {
	margin-right: 5px
}