.io-ox-office-text-dialog-page-settings {
	overflow-x: hidden
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.hidden )+.group
	{
	margin-left: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field div.label,
	.io-ox-office-text-dialog-page-settings .spin-field .button,
	.io-ox-office-text-dialog-page-settings .spin-field .input-wrapper {
	padding: 0 7px;
	border: 1px solid transparent
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) div.label,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) .button,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) .input-wrapper
	{
	height: 35px
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) div.label,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) .button
	{
	line-height: 33px
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ) i[class^=docs-]
	{
	position: relative;
	top: 7px;
	vertical-align: top
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ).spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 35px
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ).spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 18px;
	line-height: 16px
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.text-field ).spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field {
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field div.label,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field .button,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field .input-wrapper
	{
	height: 29px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field div.label,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field .button
	{
	line-height: 27px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field i[class^=docs-]
	{
	position: relative;
	top: 4px;
	vertical-align: top
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 29px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 15px;
	line-height: 13px
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-text-dialog-page-settings .spin-field,
	.io-ox-office-text-dialog-page-settings .spin-field>:first-child,
	.io-ox-office-text-dialog-page-settings .spin-field>.button.option-button
	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field,
	.io-ox-office-text-dialog-page-settings .spin-field>:last-child,
	.io-ox-office-text-dialog-page-settings .spin-field>.button.option-button
	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field.spin-field>.spin-wrapper>.button:first-child
	{
	border-top-right-radius: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field.spin-field>.spin-wrapper>.button:last-child
	{
	border-bottom-right-radius: 3px
}

.io-ox-office-text-dialog-page-settings .spin-field.focused {
	z-index: 1
}

.io-ox-office-text-dialog-page-settings .spin-field div.label,
	.io-ox-office-text-dialog-page-settings .spin-field .button,
	.io-ox-office-text-dialog-page-settings .spin-field input {
	color: #333
}

.io-ox-office-text-dialog-page-settings .spin-field.link-style div.label,
	.io-ox-office-text-dialog-page-settings .spin-field.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-text-dialog-page-settings .spin-field.link-style div.label i[class^=docs-],
	.io-ox-office-text-dialog-page-settings .spin-field.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-text-dialog-page-settings .spin-field.link-style div.label i[class^=docs-].retina,
	.io-ox-office-text-dialog-page-settings .spin-field.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-text-dialog-page-settings .spin-field .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-text-dialog-page-settings .spin-field .button.caret-button
	{
	min-width: 23px
}

.io-ox-office-text-dialog-page-settings .spin-field .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-text-dialog-page-settings .spin-field .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 7px;
	pointer-events: none
}

.io-ox-office-text-dialog-page-settings .spin-field .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-text-dialog-page-settings .spin-field i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-text-dialog-page-settings .spin-field i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-text-dialog-page-settings .spin-field .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 7px
}

.io-ox-office-text-dialog-page-settings .spin-field .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-text-dialog-page-settings .spin-field .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-text-dialog-page-settings .spin-field .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-text-dialog-page-settings .spin-field.disabled div.label>*,
	.io-ox-office-text-dialog-page-settings .spin-field.disabled .button>*,
	.io-ox-office-text-dialog-page-settings .spin-field div.label.disabled>*,
	.io-ox-office-text-dialog-page-settings .spin-field .button.disabled>*,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.disabled ) .button:not
	(.disabled ).selected, .io-ox-office-text-dialog-page-settings .spin-field.dropdown-open .button
	{
	background-color: #e0e0e0
}

.io-ox-office-text-dialog-page-settings .spin-field.disabled .button.selected,
	.io-ox-office-text-dialog-page-settings .spin-field .button.disabled.selected
	{
	background-color: rgba(224, 224, 224, .6)
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ) .button.selected,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ).dropdown-open .button
	{
	color: #333
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ) .button.selected i[class^=docs-],
	.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ).dropdown-open .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.link-style ).dropdown-open .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-text-dialog-page-settings .spin-field .button:not (.selected
	).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-text-dialog-page-settings .spin-field :focus {
	z-index: 2
}

html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #d3d3d3
}

html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-text-dialog-page-settings .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #c7c7c7
}

.io-ox-office-text-dialog-page-settings .spin-field.link-style:not (.disabled
	) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.disabled ) .button:not
	(.disabled ):hover>.caret-node>i,
	.io-ox-office-text-dialog-page-settings .spin-field:not (.disabled ) .button:not
	(.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field:not (.disabled
	) .input-wrapper, .io-ox-office-text-dialog-page-settings .spin-field.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field:not (.disabled
	) .input-wrapper>input, .io-ox-office-text-dialog-page-settings .spin-field.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field:not (.disabled
	) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field:not (.disabled
	) .input-wrapper .clear-button:hover,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field:not (.disabled
	) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-text-dialog-page-settings .spin-field.combo-field>.button.caret-button,
	.io-ox-office-text-dialog-page-settings .spin-field.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-text-dialog-page-settings .spin-field:not (.disabled ) .button:not
	(.disabled ):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-text-dialog-page-settings .spin-field.disabled .button:focus:not
	(:active ), .io-ox-office-text-dialog-page-settings .spin-field .button.disabled:focus:not
	(:active ){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-text-dialog-page-settings .spin-field.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-text-dialog-page-settings .spin-field.text-field.focused.disabled .input-wrapper,
	.io-ox-office-text-dialog-page-settings .spin-field.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-text-dialog-page-settings .selected {
	background-color: #8eb3d7
}

.io-ox-office-text-dialog-page-settings form {
	margin-bottom: 20px
}

.io-ox-office-text-dialog-page-settings .dropdown-container {
	min-height: 45px
}

.io-ox-office-text-dialog-page-settings .dropdown-link {
	display: inline-block;
	margin-right: 13px;
	font-size: 13px;
	white-space: nowrap
}

.io-ox-office-text-dialog-page-settings .dropdown-link>* {
	line-height: 20px
}

.io-ox-office-text-dialog-page-settings .dropdown-link>label {
	margin: 0;
	color: #333
}

.io-ox-office-text-dialog-page-settings .dropdown-link>.dropdown {
	padding-left: 5px
}

.io-ox-office-text-dialog-page-settings .dropdown-listentry {
	font-size: 13px;
	padding-top: 0;
	padding-bottom: 0
}

.io-ox-office-text-dialog-page-settings .spin-field {
	height: 29px
}

.io-ox-office-text-dialog-page-settings .spin-field-label {
	display: block;
	margin-top: 13px
}

.io-ox-office-text-dialog-page-settings .floating {
	float: left
}

.io-ox-office-text-dialog-page-settings input {
	text-align: right;
	width: 70px
}

.io-ox-office-text-dialog-page-settings h4 {
	font-size: 16px
}

.io-ox-office-text-dialog-page-settings hr.ruler35 {
	float: left;
	width: 35%;
	margin: 0;
	margin-right: 5%
}

.io-ox-office-text-dialog-page-settings hr.ruler250px {
	float: left;
	width: 250px;
	margin: 0;
	margin-right: 5%
}

.io-ox-office-text-dialog-page-settings .column30 {
	float: left;
	width: 30%
}

.io-ox-office-text-dialog-page-settings .column40 {
	float: left;
	width: 40%
}

.io-ox-office-text-dialog-page-settings .column50 {
	float: left;
	width: 50%
}

.io-ox-office-text-dialog-page-settings .column60 {
	float: left;
	width: 60%
}

.io-ox-office-text-dialog-page-settings .column100 {
	float: left;
	width: 100%
}

.io-ox-office-text-dialog-page-settings table.extents {
	float: left;
	width: 40%
}

.io-ox-office-text-dialog-page-settings table.extents tr,
	.io-ox-office-text-dialog-page-settings table.extents td {
	float: left;
	width: 100%
}

.io-ox-office-text-dialog-page-settings table.margins {
	float: left;
	width: 30%
}

.io-ox-office-text-dialog-page-settings table.margins tr,
	.io-ox-office-text-dialog-page-settings table.margins td {
	float: left;
	width: 100%
}

.io-ox-office-text-dialog-page-settings.slide-settings form {
	height: 160px
}

.io-ox-office-text-dialog-page-settings.slide-settings .dropdown-container
	{
	margin-top: 10px
}

.io-ox-office-text-dialog-page-settings.slide-settings .dropdown-container+h4
	{
	margin-top: 20px
}

.io-ox-office-text-dialog-page-settings.slide-settings h4+hr {
	margin: 0
}

.io-ox-office-text-dialog-page-settings.slide-settings h4+table td,
	.io-ox-office-text-dialog-page-settings.slide-settings hr+table td {
	padding: 0 5px
}

.io-ox-office-text-dialog-page-settings.mobile .dropdown-link,
	.io-ox-office-text-dialog-page-settings.slide-settings .dropdown-link {
	display: block
}

html.smartphone .io-ox-office-text-dialog-page-settings {
	height: auto
}