/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../../tk/definitions";

/* restrict all definitions to editor applications */
.io-ox-office-main.io-ox-office-edit-main {

/* ========================================================================= */
/* view panes                                                                */
/* ========================================================================= */

/* the top-level view pane */
> .view-pane.top-pane {
    background-color: @topbar-background;

    /* height of the tool bar controls */
    @control-height: 40px;

    /* add background overlay that replicates the "selected" color of the application launcher */
    &::before {
        content: "" !important;
        display: block !important;
        .absolute-with-distance(0);
        background-color: @topbar-launcher-background-active;
    }

    > .float-wrapper.leading > .area-container {
        padding-right: @standard-distance-h;
    }

    > .float-wrapper.trailing > .area-container {
        padding-left: @standard-distance-h;
    }

    /* position and control design of the tool bars */
    .view-component.toolbar {

        /* border line between control groups */
        > .group-container.separator {
            border-left: 1px solid fade(white, 10%);
        }

        /* control design: border-less, dark background, white selection */
        .group {
            .generic-group-design-mixin(
                @control-distance: 0;
                @control-height: @control-height;
                @control-padding: 12px;
                @border-radius: 0;
                @control-text-color: white;
                @control-hover-fade: -25%;
                @selected-fill-color: @shaded-pane-fill-color;
                @selected-text-color: @text-color;
                @selected-hover-fade: -10%;
                @focus-effect-color: lighten(@standard-focus-color, 10%);
                @glow-effect-inside: true;
            );

            /* no specific mouse pointer over selected tab button */
            &.tab-group .button.option-button.selected {
                cursor: default;
                &:hover, &:active {
                    background-color: @shaded-pane-fill-color !important;
                }
            }
        }
    }

    /* reduce the space between controls at small resolutions */
    &.small-distance .view-component.toolbar .group:not(.text-field) .button {
        padding: 0 7px;
    }
}

/* ========================================================================= */

/* the tool pane containing the edit tool bars, and the 'View' drop-down menu */
> .view-pane.edit-pane {

    /* top-right area for status label overlay */
    > .status-area {
        position: absolute;
        top: 0;
        right: 0;
        overflow: visible;
        .status-label { .drop-shadow(); }
    }

    /* the edit tool bars */
    > .float-wrapper.center {

        /* width of the scroll buttons */
        @scroll-button-width: 40px;

        > .scroll-button {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            width: @scroll-button-width;
            background-color: @shaded-pane-fill-color;
            .focus-outline(none);
            text-align: center;

            &.left { left: 0; border-right: @standard-border; }
            &.right { right: 0; border-left: @standard-border; }

            > i {
                position: absolute;
                top: 40%;
                top: calc(50% - 7px);
                left: 0;
                right: 0;
                opacity: 0.4;
            }

            &:not(.disabled) {
                cursor: pointer;
                &:hover {
                    background-color: #f8f8f8;
                    > i { opacity: 0.4; }
                }
                &:active {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

/* ========================================================================= */

> .view-pane .window-search {
    background-color: @shaded-pane-fill-color;
    border-bottom: @standard-border;
}

/* ========================================================================= */
/* document contents                                                         */
/* ========================================================================= */

.slidePaneThumbnail > .slideContent, // DOCS-56 :: User can see previews in slide sorter :: https://jira.open-xchange.com/browse/DOCS-56
> .app-pane {
    border-top: 2px solid @standard-border-color;

    .inline-popup.spell-replacement{
        line-height: 150%;
        text-align: left;

        &.touch {
            line-height: 200%;
            font-size: 16px;
        }
    }

    /* placeholders ======================================================== */

    /* replacement layout for unsupported content */
    .placeholder {
        .box-sizing(border-box);
        padding: 3px 6px;
        border: 1px solid #ccc;
        border-radius: 0;
        background: fade(white, 80%);
        box-shadow: 0 0 12px -2px #ccc inset;
        line-height: normal;
        text-align: left;
        font-size: 13px;

        i {
            min-width: 0;
        }

        > .background-icon {
            color: #e5e5e5;
            text-align: center;
            > i { vertical-align: middle; }
        }

        > p {
            position: relative;
            margin: 0;
            font-weight: bold;
            color: lighten(@text-color, 20%);

            ~ p {
                font-weight: normal;
                margin-top: 4px;
                font-size: 85%;
                color: @text-color;
            }
        }
    }

    /* clipboard =========================================================== */

    .clipboard {
        /* move clipboard out of browser window, otherwise iPad draws selection on top of invisible clipboard node */
        position: fixed;
        top: 110%;
        line-height: normal;
        /* empty clipboard node must have minimum size to be focusable on Firefox */
        min-width: 1px;
        min-height: 1px;
    }

} /* end of > .app-pane */

/* ========================================================================= */
/* debug                                                                     */
/* ========================================================================= */

&.debug-highlight {

    [data-focus-role] {
        @debug-border-color: #ccc;

        box-shadow: 0 0 0 1px @debug-border-color;
        .focus-outline(none);

        &:focus, &.focused {
            .focus-effects(@border-as-shadow: true);
        }

        &:before {
            content: attr(data-focus-role);
            position: absolute;
            top: -6px;
            height: 11px;
            left: 6px;
            z-index: 1;
            padding: 0 6px 2px;
            background-color: @debug-border-color;
            border-radius: 7px;
            font-size: 10px;
            line-height: 100%;
            font-weight: bold;
            font-style: italic;
            color: white;
            .user-select(none);
        }

        &:focus:before, &.focused:before {
            content: attr(data-focus-role) " focused";
            background-color: @standard-focus-color;
        }
    }

    > .app-pane {

        > .app-hidden-root {
            top: 6px;
            height: 0;
            left: 6px;
            right: 6px;
            overflow: visible;
            z-index: 5;
        }

        .clipboard {
            position: absolute;
            bottom: auto;
            height: auto;
            left: 0;
            right: 0;
            min-height: 30px;
            max-height: 200px;
            padding: 12px 6px 6px;
            background-color: fade(white, 50%);
        }
    }
}

> .view-pane.operations-pane {
    border-top: 5px solid @standard-border-color;
    border-bottom: @standard-border;

    > .resizer { top: -5px; }

    > .debug-table {
        position: absolute;
        top: 0;
        bottom: 0;

        &.ops {
            left: 0;
            width: 70%;
        }

        &.info {
            right: 0;
            width: 30%;
        }

        > div {
            .absolute-with-distance(1px);
            overflow: auto;
            background: white;
            .focus-outline(1px solid @standard-focus-color);
        }

        table {
            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            font-size: 9pt;
            line-height: normal;
            white-space: nowrap;
            .user-select(text);

            > tbody > tr {

                &.external { background: #f2f2ff; }

                &.removed { background: orange !important; }

                &.error > td {
                    font-weight: bold;
                    color: red;
                }
            }

            th, td {
                border: @standard-border;
                padding: 1px 2px;
            }

            th, td:first-child {
                background-color: @shaded-pane-fill-color;
                color: #666;
            }

            th {
                text-align: left;
                font-weight: bold;
            }

            td:first-child {
                text-align: right;
            }

            tr:hover > td {
                background-color: fade(@shaded-pane-fill-color, 50%);
            }
        }

        [data-attributes-tooltip] {
            color: blue;
            cursor: pointer;
            &:hover { text-decoration: underline; }
        }
    }
}

> .view-pane.clipboard-pane {
    padding: 1px;
    border-top: 5px solid @standard-border-color;
    border-bottom: @standard-border;
    > .resizer { top: -5px; }

    > .clip-container {
        width: 100%;
        height: 100%;
        overflow: auto;
        border: @standard-border;
        font-size: 9pt;
        line-height: normal;
        white-space: nowrap;
        .user-select(text);
    }
}

} /* end of .io-ox-office-main.io-ox-office-edit-main */

/* ========================================================================= */
/* control groups                                                            */
/* ========================================================================= */

/* no restriction to .io-ox-office-edit-main, needed in view panes and pop-up menus */
.io-ox-office-main {

/* a text field for the document file name */
.group.text-field.file-name {

    input {
        .light-heading-font(120%);
        opacity: 1 !important; /* also when disabled */
    }

    /* the overlay shown while committing the value */
    .busy-overlay {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 17px;
        right: 7px;
    }
}

/* color preview box below the button caption */
.group .button > .color-preview-box {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    height: 5px;
    background: none;
    border: 1px solid fade(black, 10%);
    max-width: 30px;
}

/* border line style box in button captions */
.group .button > .caption > img.border-style-box {
    display: inline-block;
    margin-right: 5px;
}

.group.app-status-label div.label {
    opacity: 0.6;

    /* class, to hide the text at small resolutions */
    &.hideLabel{
        .caption{
            > span{
                display: none;
            }
        }
    }

    .caption {

        > i {
            position: absolute;
            left: 0;
            top: 12px;
        }

        > span {
            display: inline-block;
            margin-left: 13px;
            line-height: normal;
            font-size: 90%;
            white-space: normal;
            vertical-align: middle;
        }
    }
}

} /* end of .io-ox-office-main */

/* ========================================================================= */
/* pop-up nodes                                                              */
/* ========================================================================= */

/* TODO: pop-ups should have a specific application selector (.io-ox-office-edit-main) */
.io-ox-office-main.popup-container.popup-menu {

    /* generic styling ===================================================== */

    .button.mini-caption > .caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        line-height: normal;
        white-space: normal;
        font-size: 9px;
        font-weight: bold;
        color: fade(@text-color, 70%);
    }

    /* vertical list design in shrunken tool bars ========================== */

    &.vertical-list {

        &.drop-down{
            .drop-down{
                display: inline-block;
            }
        }

        & > .popup-content > .view-component{
            padding: 0;

            .group-container{
                clear: both;
                float: left;
                width: 100%;

                &:not(.hidden)~.group-container{
                    margin-left: 0px;
                }
                &:not(.hidden)~.group-container.separator{
                    padding-left: 0px;
                    padding-top: 5px;
                    margin-top: 5px;
                    border-top: 1px solid #e0e0e0;

                    &.noVerticalSeparator{
                        border-top: none;
                        padding-top: 0px;
                        margin-top: 0px;
                    }
                }

                .group{
                    padding: 0;
                    float: left;
                    clear: both;
                    width: 100%;

                    &:not(.combo-field):not(.dropdown-group)>*{
                        float: left;
                        clear: both;
                    }

                    &.dropdown-group{
                        .display-flex();

                        .button{
                            .flex-grow(1);

                            &~.caret-button{
                                .flex-grow(0);
                                min-width: 35px;
                                width: auto;
                                padding: 0px;
                            }
                        }
                    }

                    &.combo-field{
                        .display-flex();

                        .input-wrapper{
                            .flex-grow(1);
                        }
                        .button{
                            .flex-grow(0);
                            // min-width: 35px;
                            // width: auto;
                            width: 35px;
                            padding: 0px;

                            .caret-node{
                                width: 35px;
                            }
                        }
                    }

                    &.text-field.dropdown-group.combo-field{
                        margin-left: (@standard-distance-h - 4);
                        width: (100% - @standard-distance-h);
                    }

                    > *{
                        padding: 0 @standard-distance-h;
                    }

                    .button{
                        .display-flex();

                        &.caret-button{
                            padding-right: 0px;

                            .caption{
                                .flex-grow(1);
                                padding: 0;
                            }
                            .caret-node{
                                .flex-grow(0);
                                min-width: 35px;
                                position: relative;
                                right: auto;
                                text-align: center;
                            }
                        }

                        >.color-preview-box{
                            width: 35px;
                            max-width: 35px;
                        }
                    }
                }
            }
        }
    }

    /* ColorPicker control ================================================= */

    &.list-menu[data-design].color-picker {

        /* size of the color button boxes */
        @color-button-size: 24px;
        /* size of the color button boxes for mobile */
        @color-button-large-size: 41px;

        .section-container .button {
            height: auto;
            padding: 1px;
            line-height: 0;
            .clearfix();

            /* inner container in buttons with displayed color */
            > .color-button {
                width: @color-button-size;
                height: @color-button-size;
                float: left;
                border: 1px solid fade(black, 20%);
                border-radius: 2px;

                html.smartphone & {
                    width: @color-button-large-size;
                    height: @color-button-large-size;
                }
            }

            /* show caption contents next to color box */
            > .caption {
                line-height: @color-button-size;
                > :first-child {
                    margin-left: @caption-spacing;
                }

                html.smartphone & {
                    line-height: @color-button-large-size;
                }
            }
        }

        /* color slider embedded in the drop-down menu of a color picker */
        .group.color-slider-container {
            height: 65px;
            position: relative;
            margin-top: 20px;

            .color-slider {
                width: 280px;
                height: 60px;
                margin-left: 12px;
            }

            .color-slider-field {
                width: 28px;
                height: 45px;
                float: left;
                pointer-events: none;
            }

            .color-slider-handle {
                opacity: 0.7;
                width: 48px;
                height: 65px;
                position: absolute;
                top: -10px;
                border: 10px solid black;

                &.transition {
                    transition: left 0.3s;
                }
            }
        }
    }

    /* LanguagePicker control ============================================== */

    &.list-menu[data-design].language-picker .section-container .button > .caption i {
        /* bug 28219: left-align unchecked/checked icons to align the boxes correctly */
        text-align: left;
    }

    /* TableSizePicker control ============================================= */

    &.table-size-picker {
        .user-select(none);

        .button {
            display: inline-block;
            position: relative;
            float: none;
            width: auto;
            height: auto;
            margin: 0;
            padding: 3px;
            background: none;
            border: none;
            vertical-align: top;
            font-size: 1px;
            line-height: 1px;

            > .caption { display: none; }
        }
    }

    /* user badge ========================================================== */

    .view-component > .group.user-badge {
        display: table;
        padding: 5px 10px;
        width: 100%;

        > * {
            display: table-cell;
            vertical-align: middle;
        }

        + .group.user-badge {
            border-top: @standard-border;
        }

        > .user-name {
            line-height: 1.5em;
            text-align: left;
            padding-left: 10px;
            .user-name {
                display: block;
                width: 150px;
                padding-right: 5px;
                color: #333;
                .ellipsis();
                cursor: pointer;
            }
        }

        > .user-status {
            position: relative;
            width: 32px;
            padding: 3px;
            text-align: center;

            > div {
                width: 26px;
                height: 26px;
                border: 1px solid transparent;
                line-height: 24px;
                i {
                    font-size: 16px;
                    opacity: 0.7;
                }
            }

            .define-scheme-color-rules(badge-color-styles; @i; @color) {
                &.user-@{i} > div {
                    background-color: fade(@color, 10%);
                    border-color: fade(@color, 30%);
                }
            }
            .generate-scheme-color-rules(badge-color-styles);
        }
    }

} /* end of .io-ox-office-main.popup-container.popup-menu */

/* ========================================================================= */
/* additional behavior for glyph languages                                   */
/* ========================================================================= */

html[lang=zh], html[lang=ja], html[lang=ko] {
    .io-ox-office-main.popup-container.popup-menu.chart-type-picker {
        .button.mini-caption > .caption {

            /* We need bigger font, because the normal 8px are to small! */
            font-size: 13px;
            min-height: 13px;

            > span {
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
