.io-ox-office-main i[class^=docs-] {
	width: 18px;
	height: 18px;
	background-size: 720px 108px
}

.io-ox-office-main i[class^=docs-].docs-caret.down {
	background-position: 0 0
}

.io-ox-office-main i[class^=docs-].docs-caret.up {
	background-position: -18px 0
}

.io-ox-office-main i[class^=docs-].docs-border {
	background-position: -36px 0
}

.io-ox-office-main i[class^=docs-].docs-border-t {
	background-position: -54px 0
}

.io-ox-office-main i[class^=docs-].docs-border-b {
	background-position: -72px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tb {
	background-position: -90px 0
}

.io-ox-office-main i[class^=docs-].docs-border-h {
	background-position: -108px 0
}

.io-ox-office-main i[class^=docs-].docs-border-th {
	background-position: -126px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bh {
	background-position: -144px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbh {
	background-position: -162px 0
}

.io-ox-office-main i[class^=docs-].docs-border-l {
	background-position: -180px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tl {
	background-position: -198px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bl {
	background-position: -216px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbl {
	background-position: -234px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hl {
	background-position: -252px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thl {
	background-position: -270px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhl {
	background-position: -288px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhl {
	background-position: -306px 0
}

.io-ox-office-main i[class^=docs-].docs-border-r {
	background-position: -324px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tr {
	background-position: -342px 0
}

.io-ox-office-main i[class^=docs-].docs-border-br {
	background-position: -360px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbr {
	background-position: -378px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hr {
	background-position: -396px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thr {
	background-position: -414px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhr {
	background-position: -432px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhr {
	background-position: -450px 0
}

.io-ox-office-main i[class^=docs-].docs-border-lr {
	background-position: -468px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tlr {
	background-position: -486px 0
}

.io-ox-office-main i[class^=docs-].docs-border-blr {
	background-position: -504px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tblr {
	background-position: -522px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hlr {
	background-position: -540px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thlr {
	background-position: -558px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhlr {
	background-position: -576px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlr {
	background-position: -594px 0
}

.io-ox-office-main i[class^=docs-].docs-border-v {
	background-position: -612px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tv {
	background-position: -630px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bv {
	background-position: -648px 0
}

.io-ox-office-main i[class^=docs-].docs-border-tbv {
	background-position: -666px 0
}

.io-ox-office-main i[class^=docs-].docs-border-hv {
	background-position: -684px 0
}

.io-ox-office-main i[class^=docs-].docs-border-thv {
	background-position: -702px 0
}

.io-ox-office-main i[class^=docs-].docs-border-bhv {
	background-position: 0 -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhv {
	background-position: -18px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-lv {
	background-position: -36px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tlv {
	background-position: -54px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-blv {
	background-position: -72px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tblv {
	background-position: -90px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hlv {
	background-position: -108px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thlv {
	background-position: -126px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhlv {
	background-position: -144px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlv {
	background-position: -162px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-rv {
	background-position: -180px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-trv {
	background-position: -198px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-brv {
	background-position: -216px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbrv {
	background-position: -234px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hrv {
	background-position: -252px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thrv {
	background-position: -270px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhrv {
	background-position: -288px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhrv {
	background-position: -306px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-lrv {
	background-position: -324px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tlrv {
	background-position: -342px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-blrv {
	background-position: -360px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tblrv {
	background-position: -378px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-hlrv {
	background-position: -396px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-thlrv {
	background-position: -414px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-bhlrv {
	background-position: -432px -18px
}

.io-ox-office-main i[class^=docs-].docs-border-tbhlrv {
	background-position: -450px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-bottom {
	background-position: -468px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-center {
	background-position: -486px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-left {
	background-position: -504px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-middle {
	background-position: -522px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-h-align-right {
	background-position: -540px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-v-align-top {
	background-position: -558px -18px
}

.io-ox-office-main i[class^=docs-].docs-arrange-to-back {
	background-position: -576px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-line-color {
	background-position: -594px -18px
}

.io-ox-office-main i[class^=docs-].docs-drawing-line-color {
	background-position: -612px -18px
}

.io-ox-office-main i[class^=docs-].docs-paragraph-fill-color {
	background-position: -630px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-objects-h {
	background-position: -648px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-slide-h {
	background-position: -666px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-objects-v {
	background-position: -684px -18px
}

.io-ox-office-main i[class^=docs-].docs-distribute-slide-v {
	background-position: -702px -18px
}

.io-ox-office-main i[class^=docs-].docs-filter {
	background-position: 0 -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-flip-v {
	background-position: -18px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-flip-h {
	background-position: -36px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-to-front {
	background-position: -54px -36px
}

.io-ox-office-main i[class^=docs-].docs-line-style {
	background-position: -72px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-anchor {
	background-position: -90px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-page {
	background-position: -108px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-page-margin {
	background-position: -126px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-paragraph {
	background-position: -144px -36px
}

.io-ox-office-main i[class^=docs-].docs-position-on-text {
	background-position: -162px -36px
}

.io-ox-office-main i[class^=docs-].docs-z-order {
	background-position: -180px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-rotate-left {
	background-position: -198px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-rotate-right {
	background-position: -216px -36px
}

.io-ox-office-main i[class^=docs-].docs-drawing-shape {
	background-position: -234px -36px
}

.io-ox-office-main i[class^=docs-].docs-insert-textframe {
	background-position: -252px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-backward {
	background-position: -270px -36px
}

.io-ox-office-main i[class^=docs-].docs-arrange-forward {
	background-position: -288px -36px
}

.io-ox-office-main i[class^=docs-].docs-table-resize-row {
	background-position: -306px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-justify {
	background-position: -324px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-auto {
	background-position: -342px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-center {
	background-position: -360px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-left {
	background-position: -378px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-h-align-right {
	background-position: -396px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-style {
	background-position: -414px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-justify {
	background-position: -432px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-bottom {
	background-position: -450px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-middle {
	background-position: -468px -36px
}

.io-ox-office-main i[class^=docs-].docs-cell-v-align-top {
	background-position: -486px -36px
}

.io-ox-office-main i[class^=docs-].docs-table-resize-column {
	background-position: -504px -36px
}

.io-ox-office-main i[class^=docs-].docs-dec-places-decrease {
	background-position: -522px -36px
}

.io-ox-office-main i[class^=docs-].docs-dec-places-increase {
	background-position: -540px -36px
}

.io-ox-office-main i[class^=docs-].docs-functions {
	background-position: -558px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-on {
	background-position: -576px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-horizontal {
	background-position: -594px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-vertical {
	background-position: -612px -36px
}

.io-ox-office-main i[class^=docs-].docs-percent {
	background-position: -630px -36px
}

.io-ox-office-main i[class^=docs-].docs-format-painter {
	background-position: -648px -36px
}

.io-ox-office-main i[class^=docs-].docs-auto-sum {
	background-position: -666px -36px
}

.io-ox-office-main i[class^=docs-].docs-merged-cells-off {
	background-position: -684px -36px
}

.io-ox-office-main i[class^=docs-].docs-color {
	background-position: -702px -36px
}

.io-ox-office-main i[class^=docs-].docs-font-fill-color {
	background-position: 0 -54px
}

.io-ox-office-main i[class^=docs-].docs-para-fill-color {
	background-position: -18px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-fill-color,
	.io-ox-office-main i[class^=docs-].docs-cell-line-color {
	background-position: -36px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-color {
	background-position: -54px -54px
}

.io-ox-office-main i[class^=docs-].docs-previous-page {
	background-position: -72px -54px
}

.io-ox-office-main i[class^=docs-].docs-first-page {
	background-position: -90px -54px
}

.io-ox-office-main i[class^=docs-].docs-last-page {
	background-position: -108px -54px
}

.io-ox-office-main i[class^=docs-].docs-hide-sidepane {
	background-position: -126px -54px
}

.io-ox-office-main i[class^=docs-].docs-next-page {
	background-position: -144px -54px
}

.io-ox-office-main i[class^=docs-].docs-show-sidepane {
	background-position: -162px -54px
}

.io-ox-office-main i[class^=docs-].docs-hyperlink {
	background-position: -180px -54px
}

.io-ox-office-main i[class^=docs-].docs-image-insert {
	background-position: -198px -54px
}

.io-ox-office-main i[class^=docs-].docs-drawing-remove {
	background-position: -216px -54px
}

.io-ox-office-main i[class^=docs-].docs-redo {
	background-position: -234px -54px
}

.io-ox-office-main i[class^=docs-].docs-undo {
	background-position: -252px -54px
}

.io-ox-office-main i[class^=docs-].docs-zoom-in {
	background-position: -270px -54px
}

.io-ox-office-main i[class^=docs-].docs-zoom-out {
	background-position: -288px -54px
}

.io-ox-office-main i[class^=docs-].docs-reset-formatting {
	background-position: -306px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-style {
	background-position: -324px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-add {
	background-position: -342px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-show {
	background-position: -360px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-next {
	background-position: -378px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-back {
	background-position: -396px -54px
}

.io-ox-office-main i[class^=docs-].docs-comment-remove {
	background-position: -414px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert-column {
	background-position: -432px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert-row {
	background-position: -450px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-insert {
	background-position: -468px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-delete-column {
	background-position: -486px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-delete-row {
	background-position: -504px -54px
}

.io-ox-office-main i[class^=docs-].docs-table-split {
	background-position: -522px -54px
}

.io-ox-office-main i[class^=docs-].docs-header-footer {
	background-position: -540px -54px
}

.io-ox-office-main i[class^=docs-].docs-page-layout {
	background-position: -558px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold {
	background-position: -576px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-da,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-de,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-hu,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-nb,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-nn,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-sv {
	background-position: -594px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-fr,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-it {
	background-position: -612px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-bold.lc-pt {
	background-position: -630px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-lv {
	background-position: -648px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-bold.lc-ru {
	background-position: -666px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-dbl-underline {
	background-position: -684px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-italic {
	background-position: -702px -54px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-da,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-de,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-nb,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-nn,
	.io-ox-office-main i[class^=docs-].docs-font-italic.lc-sv {
	background-position: 0 -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-it {
	background-position: -18px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-hu {
	background-position: -36px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-sl {
	background-position: -54px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-lv {
	background-position: -72px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-italic.lc-ru {
	background-position: -90px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-strikeout {
	background-position: -108px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-subscript {
	background-position: -126px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-superscript {
	background-position: -144px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-format {
	background-position: -162px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline {
	background-position: -180px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-ca,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-es,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-fr,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-it,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-pt {
	background-position: -198px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-hu {
	background-position: -216px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-lv,
	.io-ox-office-main i[class^=docs-].docs-font-underline.lc-sl {
	background-position: -234px -72px
}

.io-ox-office-main i[class^=docs-].docs-font-underline.lc-ru {
	background-position: -252px -72px
}

.io-ox-office-main i[class^=docs-].docs-lists {
	background-position: -270px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-numbered {
	background-position: -288px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-bullet {
	background-position: -306px -72px
}

.io-ox-office-main i[class^=docs-].docs-field {
	background-position: -324px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-dec-level {
	background-position: -342px -72px
}

.io-ox-office-main i[class^=docs-].docs-list-inc-level {
	background-position: -360px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-justify {
	background-position: -378px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-center {
	background-position: -396px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-left {
	background-position: -414px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-align-right {
	background-position: -432px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-linebreak {
	background-position: -450px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-pagebreak,
	.io-ox-office-main i[class^=docs-].docs-page-break {
	background-position: -468px -72px
}

.io-ox-office-main i[class^=docs-].docs-pilcrow {
	background-position: -486px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-200 {
	background-position: -504px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-150 {
	background-position: -522px -72px
}

.io-ox-office-main i[class^=docs-].docs-para-line-spacing-100,
	.io-ox-office-main i[class^=docs-].docs-para-line-spacing-115 {
	background-position: -540px -72px
}

.io-ox-office-main i[class^=docs-].docs-online-spelling {
	background-position: -558px -72px
}

.io-ox-office-main i[class^=docs-].docs-dict-available {
	background-position: -576px -72px
}

.io-ox-office-main i[class^=docs-].docs-insert-tab {
	background-position: -594px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-both {
	background-position: -612px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-inline {
	background-position: -630px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-right-left {
	background-position: -648px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-none {
	background-position: -666px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-left-right {
	background-position: -684px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-left {
	background-position: -702px -72px
}

.io-ox-office-main i[class^=docs-].docs-drawing-center-right {
	background-position: 0 -90px
}

.io-ox-office-main i[class^=docs-].docs-drawing-left-none {
	background-position: -18px -90px
}

.io-ox-office-main i[class^=docs-].docs-drawing-right-none {
	background-position: -36px -90px
}

.io-ox-office-main i[class^=docs-].docs-slide-background {
	background-position: -54px -90px
}

.io-ox-office-main i[class^=docs-].docs-slide-master {
	background-position: -72px -90px
}