.free-busy-controls {
	top: auto;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding: 0 13px;
	height: 30px
}

.free-busy-controls .hint {
	line-height: 30px;
	position: relative;
	cursor: help
}

.free-busy-controls .popover {
	left: 13px !important;
	max-width: 380px
}

.free-busy-controls .popover .arrow {
	left: 45px
}

.window-content .free-busy-view {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.window-content .free-busy-view h1 {
	position: absolute;
	top: 13px;
	left: 13px;
	margin: 0;
	line-height: 38px;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 200
}

.window-content .free-busy-view .autocomplete-controls {
	top: 70px;
	width: 315px;
	height: 30px;
	left: 13px;
	line-height: 30px
}

.window-content .free-busy-view .autocomplete-controls .tt-suggestion {
	padding: 3px 10px
}

.window-content .free-busy-view .participants-view-scrollpane {
	top: 120px;
	bottom: 30px;
	padding: 0 13px 13px;
	width: 340px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.window-content .free-busy-view .week-view {
	top: 10px;
	left: 340px;
	bottom: 30px;
	z-index: 10
}

.window-content .free-busy-view .close-control {
	position: absolute;
	top: 20px;
	right: 13px;
	z-index: 20
}

.window-content .free-busy-view .close-control i {
	margin-left: .5em;
	text-decoration: none;
	color: #000
}

.window-content .free-busy-view .view-dropdown {
	padding-top: 5px
}

.window-content .free-busy-view .view-dropdown .dropdown-menu {
	top: auto;
	bottom: 110%
}

.window-content .free-busy-view .participants-view:after {
	content: '\00a0'
}

.window-content .free-busy-view .participant-wrapper .remove {
	right: 11px
}

.window-content .free-busy-view .with-participant-color {
	padding-right: 20px;
	margin-bottom: 1px
}

.window-content .free-busy-view .with-participant-color.removable {
	padding-right: 50px
}

.window-content .free-busy-view .participant-color {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10px;
	background-color: #ccc;
	opacity: .7
}

.window-content .free-busy-view .modal-footer .btn.add-button {
	min-width: 3em
}

.window-content .free-busy-view .appointment {
	opacity: .7;
	cursor: pointer
}

.window-content .free-busy-view .appointment.disabled {
	cursor: default
}

.window-content .free-busy-view .appointment.hover:not (.disabled ){
	opacity: 1
}

.window-content .free-busy-view .appointment-content {
	cursor: inherit;
	color: #fff
}

.window-content .free-busy-view .appointment.fulltime {
	opacity: .35;
	z-index: 0 !important
}

.window-content .free-busy-view .appointment.striped {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255,
		255, .15)), color-stop(.25, transparent), color-stop(.5, transparent),
		color-stop(.5, rgba(255, 255, 255, .15)),
		color-stop(.75, rgba(255, 255, 255, .15)),
		color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	opacity: .6
}

.window-content .free-busy-view .color-index-0 {
	background-color: #333
}

.window-content .free-busy-view .color-index-1 {
	background-color: #04aef4
}

.window-content .free-busy-view .color-index-2 {
	background-color: #92d050
}

.window-content .free-busy-view .color-index-3 {
	background-color: #F7DC16
}

.window-content .free-busy-view .color-index-4 {
	background-color: #CA2929
}

.window-content .free-busy-view .color-index-5 {
	background-color: #f89406
}

.window-content .free-busy-view .color-index-6 {
	background-color: #015b80
}

.window-content .free-busy-view .color-index-7 {
	background-color: #FF3AB8
}

.window-content .free-busy-view .color-index-8 {
	background-color: #378137
}

.window-content .free-busy-view .color-index-9 {
	background-color: #590F8A
}

.window-content .free-busy-view .color-index-3 .appointment-content {
	color: #333
}