.view-upload-wrapper .upload-entry {
	clear: both
}

.view-upload-wrapper .upload-entry .file-name {
	overflow: hidden;
	text-overflow: ellipsis
}

.view-upload-wrapper .upload-entry .file-size {
	color: #aaa;
	float: left
}

.view-upload-wrapper .upload-entry .remove-icon {
	margin-left: 5px;
	float: right
}

.view-upload-wrapper .upload-entry .remove-icon .fa-times {
	color: red;
	cursor: pointer
}

.view-upload-wrapper .upload-entry .remove-icon .fa-times:hover {
	color: #c00000
}

.view-upload-wrapper .upload-entry .remove-icon .fa-check {
	color: green
}

.view-upload-wrapper .upload-entry .progress {
	clear: both;
	height: 8px
}