.rightside .scrollable-pane.io-ox-app-settings {
	line-height: 16px
}

.rightside .scrollable-pane.io-ox-app-settings .hint {
	margin: 20px 0
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li.widget-settings-view
	{
	padding: 16px;
	margin-bottom: 8px
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li img {
	float: left;
	width: 64px;
	height: 64px
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li .remove
	{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 45px;
	cursor: pointer;
	max-height: 45px
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable
	{
	text-align: left;
	margin-left: 80px;
	margin-right: 45px;
	margin-bottom: -16px
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable div,
	.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable .widget-title
	{
	margin-top: 3px;
	padding-bottom: 5px
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable .permissions,
	.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable .date
	{
	color: #777
}

.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable .permissions span,
	.rightside .scrollable-pane.io-ox-app-settings .settings-list li .selectable .date span
	{
	font-weight: 700;
	margin-right: .4em
}