/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Richard Petersen <richard.petersen@open-xchange.com>
 */

.mce-content-body {
    pre {
        padding: 0;
        margin: 0;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        background-color: inherit;
        border: none;
        border-radius: 0;
        font-family: inherit;
    }
}

.mce-window {
    // fix for tinymce link dialog
    .mce-formitem .mce-widget {
        width: auto!important;;
        position: relative!important;
    }

    // fix for tinymce alerts
    .mce-container-body.mce-window-body.mce-abs-layout label.mce-widget.mce-label.mce-autoscroll.mce-abs-layout-item.mce-first.mce-last {
        white-space: pre-wrap;
        position: relative;
    }

    .mce-btn {
        display: inline-block;
        margin-bottom: 0; // For input.btn
        font-weight: @btn-font-weight;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: 1px solid transparent;
        white-space: nowrap;
        .user-select(none);
        min-width: 80px;
        margin-right: 8px;
        height: 32px;
        .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);

        &:not(.mce-open) {
            .border-radius(@border-radius-base);
            .user-select(none);
        }

        &.mce-primary { .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border); }
    }
}

.mce-flow-layout-item { margin:0; }

.mce-container-body.mce-stack-layout .mce-toolbar-grp {
    padding-bottom:0;
    border:0;

    .mce-btn.mce-active, .mce-btn.mce-active:hover { background-color: #e6e6e6; }
}

.mce-toolbar .mce-btn-group, .mce-btn-group:not(:first-child) {
    border: 0;

    .mce-btn {
        border:0;
        background:transparent;
        padding-bottom:2px;
        padding-top:1px;

        &:focus { background-color: #ddd; outline: 1px solid blue; }
        &:hover { background-color: #ddd; }
    }
}

.mce-panel {

    &.mce-container:not(.mce-floatpanel):not(.mce-edit-area) { border-width:0 !important; }

    &.mce-edit-area { border:1px solid #ccc !important; }
}

.mce-btn button { background:transparent; }

/* Dialogue overrides */
.mce-close { display:none; }

.mce-window-head .mce-title {
    font-size: 18px;
    font-weight: 500;
}

.mce-floatpanel.mce-window {
    .box-shadow(0 5px 25px -5px #000);
    .border-radius(@border-radius-base);
}

.mce-colorbutton:hover .mce-open {
    border-left-color: transparent;
    border-right-color: transparent;
}
.mce-window-head, .mce-foot { border-color: #e5e5e5; }

/* emoji plugin */
.mce-container *:not(.emoji, .mce-i-backcolor) { background:transparent; }

.mce-container *:not(.emoji) .mce-menu-item:hover,
.mce-container *:not(.emoji) .mce-menu-item.mce-selected,
.mce-container *:not(.emoji) .mce-menu-item:focus { background-color: #0081c2; }

.mce-grid.mce-colorbutton-grid td.mce-grid-cell div { line-height: 11px; }
