/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Christoph Hellweg <christoph.hellweg@open-xchange.com>
 */

// Bootstrap Tokenfield overrides

@tokenfield-menu-width: 320px;

.tokenfield {

    &.form-control {
        padding: 3px 3px 0 3px;
        height: auto;
    }

    .token {
        margin: 0 5px 3px 0;
        border-radius: @border-radius-small;

        &.ui-sortable-helper { background-color: @white; }

        .contact-image {
            display: inline-block;
            margin: 2px;
            .picture(16px, 16px);
        }

        &.placeholder {
            background-color: transparent;
            border: none;
        }
    }

    // background color if dropable widget is active
    &.drophover {
        background-color: #eee;

        .token-input {
            // temporary override style attribute
            width: 0 !important;
            background-color: #eee;
        }

    }

    .twitter-typeahead {

        & > .token-input.tt-input,
        & > .token-input.tt-hint {
            height: 22px;
            border: 0;
            padding: 0 5px;
        }

        & > .token-input.tt-hint,
        & > .token-input.tt-input { min-width: @tokenfield-menu-width !important; }

        .tt-dropdown-menu {
            width: @tokenfield-menu-width;
            min-width: @tokenfield-menu-width;
        }
    }
}

.smartphone {
    .tokenfield .twitter-typeahead {
        & > .token-input.tt-hint,
        & > .token-input.tt-input { min-width: inherit !important; }
        .tt-dropdown-menu {
            border-radius: 0;
            border: 1px solid #fff;
            border-top-color: #ccc;
        }
    }
}
