i[class^=docs-] {
	display: inline-block;
	margin: 0;
	background-origin: content-box;
	vertical-align: middle
}

i[class^=docs-].docs-empty.small-icon {
	width: 12px
}

i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-presentation-dialog-insert-date {
	min-height: 200px
}

.io-ox-office-presentation-dialog-insert-date .control {
	display: inline-block;
	width: 100%;
	vertical-align: top
}

.io-ox-office-presentation-dialog-insert-date .control label {
	display: block
}

.io-ox-office-presentation-dialog-insert-date .control select {
	overflow: auto;
	width: 100%
}

.io-ox-office-presentation-dialog-insert-date .control select option {
	padding: 0 10px
}

.io-ox-office-presentation-dialog-insert-date .auto-update-field {
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
	color: #333
}

.io-ox-office-presentation-dialog-insert-date .auto-update-field:hover,
	.io-ox-office-presentation-dialog-insert-date .auto-update-field:focus
	{
	text-decoration: none;
	color: #333
}

.io-ox-office-presentation-dialog-insert-date .auto-update-field .check-mark
	{
	margin-right: 5px;
	width: 12px;
	display: inline-block
}

.io-ox-office-presentation-dialog-insert-footer {
	margin: 4px
}

.io-ox-office-presentation-dialog-insert-footer a {
	color: #333;
	cursor: pointer;
	display: inline-block
}

.io-ox-office-presentation-dialog-insert-footer a:hover,
	.io-ox-office-presentation-dialog-insert-footer a:focus {
	color: #333;
	text-decoration: none
}

.io-ox-office-presentation-dialog-insert-footer a .check-mark {
	margin-right: 5px;
	width: 12px;
	display: inline-block
}

.io-ox-office-presentation-dialog-insert-footer input {
	width: 100%
}

.io-ox-office-presentation-dialog-insert-footer .date-container {
	padding: 5px 5px 5px 34px
}

.io-ox-office-presentation-dialog-insert-footer .date-container .automatic-radio,
	.io-ox-office-presentation-dialog-insert-footer .date-container .fixed-radio
	{
	margin-left: -17px
}

.io-ox-office-presentation-dialog-insert-footer .date-container .select-box
	{
	padding: 2px
}

.io-ox-office-presentation-dialog-insert-footer .date-container .select-box select
	{
	padding: 2px
}

.io-ox-office-presentation-dialog-insert-footer .date-container .select-box select.disabled
	{
	background: #EBEBE4;
	opacity: .7
}

.io-ox-office-presentation-dialog-insert-footer .footertxt-container {
	padding: 5px 5px 5px 17px
}

.io-ox-office-presentation-dialog-insert-footer .footertxt-container a {
	margin-left: -17px
}

.io-ox-office-presentation-dialog-insert-footer .disabled {
	pointer-events: none;
	color: #b0b0b0
}

.io-ox-office-presentation-dialog-slide-background a {
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 1px 2px
}

.io-ox-office-presentation-dialog-slide-background a:hover,
	.io-ox-office-presentation-dialog-slide-background a:focus {
	color: #333;
	text-decoration: none
}

.io-ox-office-presentation-dialog-slide-background a .check-mark {
	margin-right: 5px;
	width: 12px;
	display: inline-block
}

.io-ox-office-presentation-dialog-slide-background .control-area {
	margin-left: 4px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container
	{
	display: block;
	margin-bottom: 20px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .hide-bg-btn,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .hide-bg-btn
	{
	display: inline-block
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .dradio,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .dradio
	{
	display: inline-block;
	width: 60%;
	margin-bottom: 25px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area
	{
	display: inline-block;
	vertical-align: middle
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area .dropdown-group,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area .dropdown-group
	{
	position: relative
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area .caret-node,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area .caret-node
	{
	position: absolute;
	z-index: 3;
	left: 23px;
	top: 0;
	height: 15px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area .color-preview-box,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area .color-preview-box
	{
	width: 32px;
	max-width: 32px;
	height: 5px;
	border: 1px solid rgba(0, 0, 0, .1)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area .docs-cell-fill-color,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area .docs-cell-fill-color
	{
	background-position: -18px -54px;
	position: relative;
	top: 0;
	vertical-align: top;
	display: inline-block;
	margin: 0;
	background-origin: content-box;
	width: 18px;
	height: 18px;
	background-size: 720px 108px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .color-area:hover .caret-node,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .color-area:hover .caret-node
	{
	color: #aaa
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .image-area,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .image-area
	{
	display: inline-block;
	border: 1px solid #b0b0b0;
	border-radius: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .image-area a,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .image-area a
	{
	padding: 2px 5px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .image-area a .caption,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .image-area a .caption
	{
	padding-right: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .image-area:hover .caret-node,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .image-area:hover .caret-node
	{
	color: #aaa
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .transparency-label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .transparency-label
	{
	color: #333;
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	width: 60%
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container
	{
	display: inline-block;
	margin-left: -5px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container .bg-color-slider,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container .bg-color-slider
	{
	width: 100px;
	height: 30px;
	margin: 0 5px;
	position: relative
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container .bg-color-slider .slider-rail,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container .bg-color-slider .slider-rail
	{
	background: #b0b0b0;
	height: 2px;
	position: absolute;
	top: 14px;
	left: 0;
	width: 100%
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container .bg-color-slider .rail-overlay,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container .bg-color-slider .rail-overlay
	{
	z-index: 1;
	background: #333;
	width: 0
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container .bg-color-slider .slider-pointer,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container .bg-color-slider .slider-pointer
	{
	position: absolute;
	width: 6px;
	height: 14px;
	top: 5px;
	left: 0;
	margin-left: -4px;
	cursor: pointer;
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #333;
	border-top: 5px solid transparent
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .slider-container .bg-color-slider .slider-pointer:hover,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .slider-container .bg-color-slider .slider-pointer:hover
	{
	color: #b0b0b0
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field
	{
	display: inline-block;
	margin-left: 60%;
	height: 29px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.hidden )+.group, .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.hidden )+.group {
	margin-left: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .input-wrapper
	{
	padding: 0 7px;
	border: 1px solid transparent
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) .input-wrapper {
	height: 35px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) .button {
	line-height: 33px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ) i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 7px;
	vertical-align: top
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 35px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper>.button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 18px;
	line-height: 16px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field .input-wrapper
	{
	height: 29px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field .button
	{
	line-height: 27px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field i[class^=docs-]
	{
	position: relative;
	top: 4px;
	vertical-align: top
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 29px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper>.button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 15px;
	line-height: 13px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper>.button.spin-down,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field>:first-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field>:first-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field>.button.option-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field>.button.option-button
	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field>:last-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field>:last-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field>.button.option-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field>.button.option-button
	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.spin-field>.spin-wrapper>.button:first-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.spin-field>.spin-wrapper>.button:first-child
	{
	border-top-right-radius: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.spin-field>.spin-wrapper>.button:last-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.spin-field>.spin-wrapper>.button:last-child
	{
	border-bottom-right-radius: 3px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.focused,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.focused
	{
	z-index: 1
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field input,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field input
	{
	color: #333
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style div.label,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style div.label i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style div.label i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style .button i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style div.label i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style div.label i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style .button i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button>.caret-node>i,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.caret-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.caret-button
	{
	min-width: 23px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.caret-button>.caption,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.caret-button>.caret-node,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 7px;
	pointer-events: none
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.hideLabel>.caption>span,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button>.check-mark,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 7px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button>.check-mark i,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button>.check-mark+.caption,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button>.check-mark+.caption>:first-child,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.disabled div.label>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.disabled div.label>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.disabled .button>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.disabled .button>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field div.label.disabled>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field div.label.disabled>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.disabled>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.disabled>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.disabled .input-wrapper>*,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ).selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ).selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.dropdown-open .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.dropdown-open .button
	{
	background-color: #e0e0e0
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.disabled .button.selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.disabled .button.selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.disabled.selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.disabled.selected
	{
	background-color: rgba(224, 224, 224, .6)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ) .button.selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ) .button.selected,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ) .button.selected i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ) .button.selected i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button i[class^=docs-],
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button:not
	(.selected ).ambiguous::after,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field :focus,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover, html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active, html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ), html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover, html:not (.touch
	) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #d3d3d3
}

html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:active, html:not
	(.touch ) .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #c7c7c7
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.link-style:not
	(.disabled ) .button:not (.disabled ):hover,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper>input,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper>input,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button:active,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.combo-field>.button.caret-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.combo-field>.button.caret-button,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.spin-field>.spin-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ),
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.disabled .button:focus:not
	(:active ), .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.disabled .button:focus:not
	(:active ), .io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .button.disabled:focus:not
	(:active ), .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .button.disabled:focus:not
	(:active ){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ), .io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ) .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ) .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ) .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused.disabled,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused.disabled .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused.disabled .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field.text-field.focused.disabled .button,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .input-wrapper,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .input-wrapper
	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	cursor: text
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .transparency-area .spin-field .input-wrapper input,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .transparency-area .spin-field .input-wrapper input
	{
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	text-align: center
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .select-box,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .select-box
	{
	padding: 2px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .select-box select,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .select-box select
	{
	padding: 2px
}

.io-ox-office-presentation-dialog-slide-background .control-area .modify-container .select-box select.disabled,
	.io-ox-office-presentation-dialog-slide-background .control-area .hidebg-container .select-box select.disabled
	{
	background: #EBEBE4;
	opacity: .7
}

.io-ox-office-presentation-dialog-slide-background .control-area .reset-background-btn
	{
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	min-width: 5em;
	display: inline-block
}

.io-ox-office-presentation-dialog-slide-background .control-area .reset-background-btn:hover
	{
	background-color: #e6e6e6;
	border-color: #adadad
}

.io-ox-office-presentation-dialog-slide-background .disabled,
	.io-ox-office-presentation-dialog-slide-background .disabled .color-preview-box
	{
	pointer-events: none;
	opacity: .4
}

.truncate-footer-btn {
	max-width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}