/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 * @author Ingo Schmidt-Rosbiegal <ingo.schmidt-rosbiegal@open-xchange.com>
 */

@import "../../tk/definitions";

/* GUI additions for drop-down menu elements =============================== */

.io-ox-office-main.popup-container.popup-menu {

    /* TableStylePicker control -------------------------------------------- */

    &.style-picker.family-table .section-container .button {
        width: 120px !important;
        height: 72px !important;
        padding: 0 4px;
        text-align: center;

        > table {
            @import "../../text/view/style.less";
            border-collapse: collapse;
            .drop-shadow(3px);
            margin-top: 2px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;

            td {
                border: 1px solid #fcc;
            }

            div.p {
                // no margins in micro tables allowed
                margin: 0 !important;
            }
        }

        &.mini-caption > .caption {
            height: 24px;
        }
    }

}
