.io-ox-office-main>.view-pane {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #f8f8f8;
	line-height: 0
}

.io-ox-office-main>.view-pane.hidden {
	display: none !important
}

.io-ox-office-main>.view-pane.hidden-contents>* {
	visibility: hidden
}

.io-ox-office-main>.view-pane.hidden-contents .always-visible {
	visibility: visible
}

.io-ox-office-main>.view-pane.right {
	text-align: right
}

.io-ox-office-main>.view-pane>.resizer {
	position: absolute;
	z-index: 10
}

.io-ox-office-main>.view-pane>.resizer:focus, .io-ox-office-main>.view-pane>.resizer:active
	{
	outline: 0
}

.io-ox-office-main>.view-pane[data-pos=top]>.resizer, .io-ox-office-main>.view-pane[data-pos=bottom]>.resizer
	{
	left: 0;
	right: 0;
	height: 12px;
	cursor: row-resize
}

.io-ox-office-main>.view-pane[data-pos=left]>.resizer,
	.io-ox-office-main>.view-pane[data-pos=right]>.resizer {
	top: 0;
	bottom: 0;
	width: 12px;
	cursor: col-resize
}

.io-ox-office-main>.view-pane[data-pos=top]>.resizer {
	bottom: 0
}

.io-ox-office-main>.view-pane[data-pos=bottom]>.resizer {
	top: 0
}

.io-ox-office-main>.view-pane[data-pos=left]>.resizer {
	right: 0
}

.io-ox-office-main>.view-pane[data-pos=right]>.resizer {
	left: 0
}

.io-ox-office-main>.view-pane .drop-down {
	display: none
}

.io-ox-office-main>.view-pane.tool-pane>.float-wrapper {
	position: relative;
	overflow: hidden
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top],
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom] {
	white-space: nowrap
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top]:before,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]:before,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=top]:after,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]:after {
	content: " ";
	display: table
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top]:after,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]:after {
	clear: both
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top]>.float-wrapper,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]>.float-wrapper
	{
	display: inline-block;
	float: left;
	direction: ltr
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top]>.float-wrapper.trailing,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]>.float-wrapper.trailing
	{
	float: right;
	direction: rtl
}

.io-ox-office-main>.view-pane.tool-pane[data-pos=top]>.float-wrapper>.area-container,
	.io-ox-office-main>.view-pane.tool-pane[data-pos=bottom]>.float-wrapper>.area-container
	{
	display: inline-block;
	direction: ltr
}

.io-ox-office-main>.view-pane.tool-pane.flat-pane.standard-design>.leading,
	.io-ox-office-main>.view-pane.tool-pane.flat-pane.standard-design>.trailing
	{
	width: 41px !important
}

.io-ox-office-main>.view-pane.tool-pane.flat-pane.standard-design>.leading .view-component.toolbar
	{
	padding: 0 0 0 7px !important
}

.io-ox-office-main>.view-pane.tool-pane.flat-pane.standard-design>.trailing .view-component.toolbar
	{
	padding: 0 7px 0 0 !important
}

.io-ox-office-main>.app-pane {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 0
}

.io-ox-office-main>.app-pane>.app-content-root {
	background: #f8f8f8;
	font-size: 16px
}

.io-ox-office-main>.app-pane>.app-content-root:focus, .io-ox-office-main>.app-pane>.app-content-root:active
	{
	outline: 0
}

.io-ox-office-main>.app-pane>.app-content-root.scrolling {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center
}

.io-ox-office-main>.app-pane>.app-content-root.scrolling>.app-content {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto
}

.io-ox-office-main .view-component {
	position: relative;
	padding: 0
}

.io-ox-office-main .view-component.hidden {
	display: none !important
}

.io-ox-office-main .view-component.toolbar {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	vertical-align: top
}

.io-ox-office-main .view-component.toolbar .group-container {
	display: inline-block;
	vertical-align: top
}

.io-ox-office-main .view-component.toolbar .group-container.hidden {
	display: none
}

.io-ox-office-main .view-component.toolbar .group-container>.group {
	vertical-align: top
}

.io-ox-office-main .view-component.toolbar .group-container:not (.hidden
	)~.group-container {
	margin-left: 13px
}

.io-ox-office-main .view-component.toolbar .group-container:not (.hidden
	)~.group-container.separator {
	padding-left: 13px
}

.io-ox-office-main .small-distance .view-component.toolbar .group-container:not
	(.hidden )~.group-container {
	margin-left: 8px
}

.io-ox-office-main .small-distance .view-component.toolbar .group-container:not
	(.hidden )~.group-container.separator {
	padding-left: 8px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design[data-pos=top] {
	border-bottom: 1px solid #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design[data-pos=bottom]
	{
	border-top: 1px solid #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design[data-pos=left] {
	border-right: 1px solid #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design[data-pos=right]
	{
	border-left: 1px solid #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar
	{
	margin: 3px 0;
	padding: 0 13px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar.noSeparator
	{
	padding-left: 0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar>.group-container.separator,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar:not
	(.hidden )~.toolbar:not (.noSeparator ){
	border-left: 1px solid #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.hidden )+.group {
	margin-left: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group div.label,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .input-wrapper
	{
	padding: 0 7px;
	border: 1px solid transparent
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) div.label, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) .button, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) .input-wrapper {
	height: 35px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) div.label, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) .button {
	line-height: 33px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 7px;
	vertical-align: top
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 35px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 18px;
	line-height: 16px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field div.label,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field .button,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field .input-wrapper
	{
	height: 29px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field div.label,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field .button
	{
	line-height: 27px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field i[class^=docs-]
	{
	position: relative;
	top: 4px;
	vertical-align: top
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 29px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 15px;
	line-height: 13px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group>:first-child,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group>.button.option-button
	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group>:last-child,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group>.button.option-button
	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.spin-field>.spin-wrapper>.button:first-child
	{
	border-top-right-radius: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.spin-field>.spin-wrapper>.button:last-child
	{
	border-bottom-right-radius: 3px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.focused
	{
	z-index: 1
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group div.label,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group input
	{
	color: #333
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style div.label,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style div.label i[class^=docs-],
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style div.label i[class^=docs-].retina,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.caret-button
	{
	min-width: 23px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 7px;
	pointer-events: none
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 7px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.disabled div.label>*,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.disabled .button>*,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group div.label.disabled>*,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.disabled>*,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ).selected, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.dropdown-open .button
	{
	background-color: #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.disabled .button.selected,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.disabled.selected
	{
	background-color: rgba(224, 224, 224, .6)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ) .button.selected, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ) .button.selected i[class^=docs-], .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #d3d3d3
}

html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #c7c7c7
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper>input, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.combo-field>.button.caret-button,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.disabled .button:focus:not
	(:active ), .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group .button.disabled:focus:not
	(:active ){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused.disabled .input-wrapper,
	.io-ox-office-main>.view-pane.tool-pane.standard-design .view-component.toolbar .group.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-main>.view-pane.tool-pane.standard-design.small-distance .view-component.toolbar
	{
	padding: 0 7px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design.small-distance .group-container:not
	(.hidden )~.group-container {
	margin-left: 7px
}

.io-ox-office-main>.view-pane.tool-pane.standard-design.small-distance .group-container:not
	(.hidden )~.group-container.separator {
	padding-left: 7px
}

.io-ox-office-main .view-pane.inline {
	white-space: nowrap;
	text-align: left
}

.io-ox-office-main .view-pane.inline.right {
	text-align: right
}

.io-ox-office-main .view-pane.inline>.view-component {
	display: inline-block;
	white-space: nowrap
}

.io-ox-office-main .view-pane.inline>.view-component>.group {
	white-space: nowrap
}

.io-ox-office-main .app-pane .inline-popup {
	position: absolute;
	z-index: 100;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	font-family: sans-serif;
	font-size: 13px;
	line-height: normal;
	text-align: center
}

.io-ox-office-main .app-pane .inline-popup a {
	word-wrap: break-word;
	color: #327BBA
}

.io-ox-office-main .app-pane .inline-popup a:hover {
	color: #1A5486;
	text-decoration: underline;
	cursor: pointer
}

.io-ox-office-main .app-pane .inline-popup a.touch {
	line-height: 150%;
	font-size: 16px
}

.io-ox-office-main .group.user-picture .photo-container {
	display: inline-block;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%
}

.io-ox-office-main .group.status-label {
	border-radius: 3px !important
}

.io-ox-office-main .group.status-label>div.label {
	height: 21px !important;
	padding: 0 8px !important;
	line-height: 19px !important;
	border: 1px solid rgba(0, 0, 0, .2) !important;
	border-radius: 3px !important;
	box-shadow: 5px 10px 10px -10px #fff inset !important;
	font-size: 11px !important;
	font-weight: 700 !important
}

.io-ox-office-main .group.status-label[data-type=info]>div.label {
	background-color: #ccc !important;
	color: #555 !important
}

.io-ox-office-main .group.status-label[data-type=success]>div.label {
	background-color: #aea !important;
	color: #575 !important
}

.io-ox-office-main .group.status-label[data-type=warning]>div.label {
	background-color: #ee9 !important;
	color: #774 !important
}

.io-ox-office-main .group.status-label[data-type=error]>div.label {
	background-color: #eaa !important;
	color: #755 !important
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>* {
	display: block
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component
	{
	padding: 5px 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component:focus,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component:active
	{
	outline: 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group div.label,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .input-wrapper
	{
	padding: 0 13px;
	border: 1px solid transparent
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) .button, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) .input-wrapper {
	height: 33px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) div.label, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) .button {
	line-height: 31px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ) i[class^=docs-] {
	position: relative;
	top: 6px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ).spin-field>.spin-wrapper {
	display: inline-block;
	height: 33px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ).spin-field>.spin-wrapper>.button {
	display: block;
	height: 17px;
	line-height: 15px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.text-field ).spin-field>.spin-wrapper>.button.spin-down {
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field
	{
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field .button,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field .input-wrapper
	{
	height: 27px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field div.label,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field .button
	{
	line-height: 25px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field i[class^=docs-]
	{
	position: relative;
	top: 3px;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 27px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 14px;
	line-height: 12px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.focused
	{
	z-index: 1
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group div.label,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group input
	{
	color: #333
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style div.label,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style .button
	{
	color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style div.label i[class^=docs-],
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style div.label i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button>.caret-node>i
	{
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.caret-button
	{
	min-width: 35px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.caret-button>.caption
	{
	padding-right: 15px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.caret-button>.caret-node
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 13px;
	pointer-events: none
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.hideLabel>.caption>span
	{
	display: none
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button>.check-mark
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button>.check-mark i
	{
	text-align: left
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button>.check-mark+.caption
	{
	padding-left: 18px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.disabled div.label>*,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.disabled .button>*,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group div.label.disabled>*,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.disabled>*,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.disabled ) .button:not (.disabled ).selected, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.dropdown-open .button
	{
	background-color: #8eb3d7
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.disabled .button.selected,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.disabled.selected
	{
	background-color: rgba(142, 179, 215, .6)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ) .button.selected, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ).dropdown-open .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ) .button.selected i[class^=docs-], .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ).dropdown-open .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ).dropdown-open .button i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button:not
	(.selected ).ambiguous::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group :focus
	{
	z-index: 2
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ):not (.dropdown-open ) .button:not (.disabled
	):not (.selected ):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ).dropdown-group:not (.text-field ):not (.disabled
	):hover .button:not (:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:hover,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:hover {
	background-color: #7ba6d1
}

html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ) .button:not (.disabled ).selected:active,
	html:not (.touch ) .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.link-style ):not (.disabled ).dropdown-open .button:active {
	background-color: #6999ca
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.link-style:not
	(.disabled ) .button:not (.disabled ):hover {
	color: #284d71
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.disabled ) .button:not (.disabled ):hover>.caret-node>i,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.disabled ) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .button {
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .input-wrapper>input, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .button {
	color: #333
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .input-wrapper .clear-button {
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:hover, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field:not
	(.disabled ) .input-wrapper .clear-button:active {
	opacity: 1
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.combo-field>.button.caret-button,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.spin-field>.spin-wrapper
	{
	margin-left: -1px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group:not
	(.disabled ) .button:not (.disabled ):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.disabled .button:focus:not
	(:active ), .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group .button.disabled:focus:not
	(:active ){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused:not
	(.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused:not
	(.disabled ) .input-wrapper, .io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused:not
	(.disabled ) .button {
	border-color: #3c73aa
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused.disabled
	{
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused.disabled .input-wrapper,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field
	{
	border-radius: 3px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component .group.text-field .input-wrapper
	{
	border-radius: 3px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group
	{
	display: block
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group:not
	(.dropdown-group ) .button:not (.inline ){
	display: block
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.dropdown-group
	{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.dropdown-group .button
	{
	-ms-flex: 1 1 auto;
	-webkit-flex-grow: 1 1 auto;
	flex-grow: 1 1 auto;
	flex: 1 1 auto
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.dropdown-group.check-box .button.caret-button
	{
	-ms-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	flex: 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.compund-split-group .button.caret-button
	{
	width: 35px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.compund-split-group .caption
	{
	padding-right: 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.text-field
	{
	margin: 5px 13px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.group.text-field>.input-wrapper
	{
	display: block
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.inline-container
	{
	white-space: nowrap
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.inline-container>.group
	{
	display: inline-block;
	vertical-align: top
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.inline-container>.group.text-field:not
	(:first-child ){
	margin-left: 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.inline-container>.group.text-field:not
	(:last-child ){
	margin-right: 0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.separator-line
	{
	height: 1px;
	margin: 5px 0;
	background-color: #e0e0e0
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.separator-line:first-child
	{
	display: none
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.view-component>.header-label
	{
	padding: 5px 13px
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.header-section
	{
	position: relative;
	height: 36px;
	overflow: hidden;
	background-color: #2f5984;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 36px;
	cursor: default
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.header-section>.title-label
	{
	display: block;
	margin-right: 40px;
	padding: 0 13px;
	color: #fff;
	overflow: hidden;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.header-section>a.closer
	{
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	padding: 0;
	text-align: center;
	color: rgba(255, 255, 255, .8);
	cursor: pointer
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.header-section>a.closer:hover,
	.io-ox-office-main.popup-container.popup-menu>.popup-content>.header-section>a.closer:active
	{
	background-color: rgba(0, 0, 0, .2);
	color: #fff
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.footer-section
	{
	padding: 10px 13px;
	border-top: 1px solid #e0e0e0;
	text-align: right
}

.io-ox-office-main.popup-container.popup-menu>.popup-content>.footer-section>button+button
	{
	margin-left: 13px
}

.io-ox-office-main.popup-container.layer-menu {
	z-index: 899;
	touch-action: none
}

.io-ox-office-main.debug-highlight .view-pane {
	box-shadow: 0 0 0 1px rgba(136, 255, 136, .6) inset, 0 0 8px 2px
		rgba(136, 255, 136, .4) inset
}

.io-ox-office-main.debug-highlight .view-component {
	box-shadow: 0 0 0 1px rgba(255, 136, 136, .6) inset, 0 0 8px 2px
		rgba(255, 136, 136, .4) inset
}

.io-ox-office-main.debug-highlight .group-container {
	box-shadow: 0 0 0 1px rgba(136, 136, 255, .6), 0 0 8px 2px
		rgba(136, 136, 255, .4)
}

.io-ox-office-blocker {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.io-ox-office-blocker:focus, .io-ox-office-blocker:active {
	outline: 0
}

.io-ox-office-blocker .header {
	top: 0
}

.io-ox-office-blocker .header>div, .io-ox-office-blocker .footer>div {
	margin: 13px 0;
	padding: 0 10px
}

.io-ox-office-blocker .header>div.filename, .io-ox-office-blocker .footer>div.filename
	{
	padding-left: 30px;
	text-align: left
}

.io-ox-office-blocker .header>div>button, .io-ox-office-blocker .footer>div>button
	{
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.io-ox-office-blocker .header>div>.alert, .io-ox-office-blocker .footer>div>.alert
	{
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 7px 14px rgba(0, 0, 0, .2);
	cursor: default
}

.io-ox-office-blocker .header>div>.alert>div, .io-ox-office-blocker .footer>div>.alert>div
	{
	margin: 8px 13px
}

.io-ox-office-blocker .header>div>.alert>div.title,
	.io-ox-office-blocker .footer>div>.alert>div.title {
	font-weight: 700
}

.io-ox-office-alert .message .small-text {
	overflow: hidden;
	font-size: 9px;
	color: gray
}

html.high-contrast .io-ox-office-alert .message .small-text {
	color: #D7D7D7;
	font-size: 10px
}

.io-ox-office-dialog .dialog-group {
	display: block
}

.io-ox-office-dialog .dialog-group div.label, .io-ox-office-dialog .dialog-group .button,
	.io-ox-office-dialog .dialog-group .input-wrapper {
	padding: 0 13px;
	border: 1px solid transparent
}

.io-ox-office-dialog .dialog-group:not (.text-field ) div.label,
	.io-ox-office-dialog .dialog-group:not (.text-field ) .button,
	.io-ox-office-dialog .dialog-group:not (.text-field ) .input-wrapper {
	height: 33px
}

.io-ox-office-dialog .dialog-group:not (.text-field ) div.label,
	.io-ox-office-dialog .dialog-group:not (.text-field ) .button {
	line-height: 31px
}

.io-ox-office-dialog .dialog-group:not (.text-field ) i[class^=docs-] {
	position: relative;
	top: 6px;
	vertical-align: top
}

.io-ox-office-dialog .dialog-group:not (.text-field ).spin-field>.spin-wrapper
	{
	display: inline-block;
	height: 33px
}

.io-ox-office-dialog .dialog-group:not (.text-field ).spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 17px;
	line-height: 15px
}

.io-ox-office-dialog .dialog-group:not (.text-field ).spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-dialog .dialog-group.text-field {
	margin-top: 3px;
	margin-bottom: 3px
}

.io-ox-office-dialog .dialog-group.text-field div.label,
	.io-ox-office-dialog .dialog-group.text-field .button,
	.io-ox-office-dialog .dialog-group.text-field .input-wrapper {
	height: 27px
}

.io-ox-office-dialog .dialog-group.text-field div.label,
	.io-ox-office-dialog .dialog-group.text-field .button {
	line-height: 25px
}

.io-ox-office-dialog .dialog-group.text-field i[class^=docs-] {
	position: relative;
	top: 3px;
	vertical-align: top
}

.io-ox-office-dialog .dialog-group.text-field.spin-field>.spin-wrapper {
	display: inline-block;
	height: 27px
}

.io-ox-office-dialog .dialog-group.text-field.spin-field>.spin-wrapper>.button
	{
	display: block;
	height: 14px;
	line-height: 12px
}

.io-ox-office-dialog .dialog-group.text-field.spin-field>.spin-wrapper>.button.spin-down
	{
	margin-top: -1px
}

.io-ox-office-dialog .dialog-group.focused {
	z-index: 1
}

.io-ox-office-dialog .dialog-group div.label, .io-ox-office-dialog .dialog-group .button,
	.io-ox-office-dialog .dialog-group input {
	color: #333
}

.io-ox-office-dialog .dialog-group.link-style div.label,
	.io-ox-office-dialog .dialog-group.link-style .button {
	color: #3c73aa
}

.io-ox-office-dialog .dialog-group.link-style div.label i[class^=docs-],
	.io-ox-office-dialog .dialog-group.link-style .button i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-blue.png)
}

.io-ox-office-dialog .dialog-group.link-style div.label i[class^=docs-].retina,
	.io-ox-office-dialog .dialog-group.link-style .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-blue.png)
}

.io-ox-office-dialog .dialog-group .button>.caret-node>i {
	width: 9px;
	font-size: 13px;
	opacity: .4
}

.io-ox-office-dialog .dialog-group .button.caret-button {
	min-width: 35px
}

.io-ox-office-dialog .dialog-group .button.caret-button>.caption {
	padding-right: 15px
}

.io-ox-office-dialog .dialog-group .button.caret-button>.caret-node {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 13px;
	pointer-events: none
}

.io-ox-office-dialog .dialog-group .button.hideLabel>.caption>span {
	display: none
}

.io-ox-office-dialog .dialog-group i[class^=docs-] {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-dialog .dialog-group i[class^=docs-].retina {
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-dialog .dialog-group .button>.check-mark {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px
}

.io-ox-office-dialog .dialog-group .button>.check-mark i {
	text-align: left
}

.io-ox-office-dialog .dialog-group .button>.check-mark+.caption {
	padding-left: 18px
}

.io-ox-office-dialog .dialog-group .button>.check-mark+.caption>:first-child
	{
	margin-left: 6px
}

.io-ox-office-dialog .dialog-group.disabled div.label>*,
	.io-ox-office-dialog .dialog-group.disabled .button>*,
	.io-ox-office-dialog .dialog-group div.label.disabled>*,
	.io-ox-office-dialog .dialog-group .button.disabled>*,
	.io-ox-office-dialog .dialog-group.text-field.disabled .input-wrapper>*
	{
	opacity: .4
}

.io-ox-office-dialog .dialog-group:not (.disabled ) .button:not (.disabled
	).selected, .io-ox-office-dialog .dialog-group.dropdown-open .button {
	background-color: #8eb3d7
}

.io-ox-office-dialog .dialog-group.disabled .button.selected,
	.io-ox-office-dialog .dialog-group .button.disabled.selected {
	background-color: rgba(142, 179, 215, .6)
}

.io-ox-office-dialog .dialog-group:not (.link-style ) .button.selected,
	.io-ox-office-dialog .dialog-group:not (.link-style ).dropdown-open .button
	{
	color: #333
}

.io-ox-office-dialog .dialog-group:not (.link-style ) .button.selected i[class^=docs-],
	.io-ox-office-dialog .dialog-group:not (.link-style ).dropdown-open .button i[class^=docs-]
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-desktop-black.png)
}

.io-ox-office-dialog .dialog-group:not (.link-style ) .button.selected i[class^=docs-].retina,
	.io-ox-office-dialog .dialog-group:not (.link-style ).dropdown-open .button i[class^=docs-].retina
	{
	background-image:
		url(v=7.8.3-5.20161125.194345/apps/io.ox/office/tk/icons/docs-icons-retina-black.png)
}

.io-ox-office-dialog .dialog-group .button:not (.selected ).ambiguous::after
	{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAK3RFWHRDcmVhdGlvbiBUaW1lAERpIDE0IEphbiAyMDE0IDIxOjQ2OjUyICswMTAw9OL4PQAAAAd0SU1FB94BDhQvMWGyuocAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAEZ0FNQQAAsY8L/GEFAAAAPElEQVR42mNgIAAYQURaWpokkFID4luzZs16jqyABUqDJB2gbKwKbqHRxANGbILIbmLBoRHuJlwK4G4CAPIbDHnTEBvvAAAAAElFTkSuQmCC);
	background-size: 4px 4px
}

.io-ox-office-dialog .dialog-group :focus {
	z-index: 2
}

html:not (.touch ) .io-ox-office-dialog .dialog-group:not (.link-style ):not
	(.disabled ):not (.dropdown-open ) .button:not (.disabled ):not (.selected
	):hover {
	background-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-dialog .dialog-group:not (.link-style ):not
	(.disabled ):not (.dropdown-open ) .button:not (.disabled ):not (.selected
	):active {
	background-color: rgba(0, 0, 0, .1)
}

html:not (.touch ) .io-ox-office-dialog .dialog-group:not (.link-style ):not
	(.disabled ).dropdown-group:not (.text-field ):not (.disabled ):hover .button:not
	(:hover ){
	border-color: rgba(0, 0, 0, .05)
}

html:not (.touch ) .io-ox-office-dialog .dialog-group:not (.link-style ):not
	(.disabled ) .button:not (.disabled ).selected:hover, html:not (.touch
	) .io-ox-office-dialog .dialog-group:not (.link-style ):not (.disabled
	).dropdown-open .button:hover {
	background-color: #7ba6d1
}

html:not (.touch ) .io-ox-office-dialog .dialog-group:not (.link-style ):not
	(.disabled ) .button:not (.disabled ).selected:active, html:not (.touch
	) .io-ox-office-dialog .dialog-group:not (.link-style ):not (.disabled
	).dropdown-open .button:active {
	background-color: #6999ca
}

.io-ox-office-dialog .dialog-group.link-style:not (.disabled ) .button:not
	(.disabled ):hover {
	color: #284d71
}

.io-ox-office-dialog .dialog-group:not (.disabled ) .button:not (.disabled
	):hover>.caret-node>i, .io-ox-office-dialog .dialog-group:not (.disabled
	) .button:not (.disabled ):active>.caret-node>i {
	opacity: 1
}

.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .input-wrapper,
	.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .button
	{
	background-color: #fff;
	border-color: #e0e0e0
}

.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .input-wrapper>input,
	.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .button
	{
	color: #333
}

.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .input-wrapper .clear-button
	{
	position: relative;
	left: -8px;
	top: 7px;
	z-index: 100;
	cursor: pointer;
	opacity: .4
}

.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .input-wrapper .clear-button:hover,
	.io-ox-office-dialog .dialog-group.text-field:not (.disabled ) .input-wrapper .clear-button:active
	{
	opacity: 1
}

.io-ox-office-dialog .dialog-group.combo-field>.button.caret-button,
	.io-ox-office-dialog .dialog-group.spin-field>.spin-wrapper {
	margin-left: -1px
}

.io-ox-office-dialog .dialog-group:not (.disabled ) .button:not (.disabled
	):focus:not (:active ){
	border-color: #3c73aa;
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-dialog .dialog-group.disabled .button:focus:not (:active ),
	.io-ox-office-dialog .dialog-group .button.disabled:focus:not (:active
	){
	border-color: rgba(60, 115, 170, .75);
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-dialog .dialog-group.text-field.focused:not (.disabled ){
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .6)
}

.io-ox-office-dialog .dialog-group.text-field.focused:not (.disabled ) .input-wrapper,
	.io-ox-office-dialog .dialog-group.text-field.focused:not (.disabled ) .button
	{
	border-color: #3c73aa
}

.io-ox-office-dialog .dialog-group.text-field.focused.disabled {
	box-shadow: 0 0 8px 2px rgba(60, 115, 170, .45)
}

.io-ox-office-dialog .dialog-group.text-field.focused.disabled .input-wrapper,
	.io-ox-office-dialog .dialog-group.text-field.focused.disabled .button
	{
	border-color: rgba(60, 115, 170, .75)
}

.io-ox-office-dialog .dialog-group.text-field {
	border-radius: 3px
}

.io-ox-office-dialog .dialog-group.text-field .input-wrapper {
	border-radius: 3px
}

.io-ox-office-dialog .dialog-group .button {
	display: block;
	position: relative;
	text-decoration: none;
	overflow: ellipsis
}

.io-ox-office-dialog .dialog-group .button.select-all {
	font-style: italic
}