.mail-attachment-list.empty {
	display: none
}

.mail-attachment-list .toggle-details {
	color: #333;
	display: inline-block
}

.mail-attachment-list .toggle-details>i.toggle-caret {
	width: 7px
}

.mail-attachment-list .toggle-details>i.fa-paperclip {
	color: #333;
	padding: 0 .5em
}

.mail-attachment-list .toggle-details>.toggle-caret:before {
	content: '\f0da'
}

.mail-attachment-list.open .toggle-details>.toggle-caret:before {
	content: '\f0d7'
}

.mail-attachment-list .toggle-mode {
	font-size: 14px;
	padding: 0;
	display: none
}

.mail-attachment-list .toggle-mode>i {
	color: #aaa
}

.mail-attachment-list.open .toggle-mode {
	display: inline-block
}

.mail-attachment-list .toggle-mode>i:before {
	content: '\f009'
}

.mail-attachment-list.show-preview .toggle-mode>i:before {
	content: '\f0ca'
}

.mail-attachment-list.touch ul.inline-items.preview {
	margin: 0;
	overflow-x: auto;
	overflow-y: none
}

.mail-attachment-list.touch .scroll-left, .mail-attachment-list.touch .scroll-right
	{
	display: none
}

.mail-attachment-list .list-container, .mail-attachment-list .preview-container
	{
	margin-top: 10px;
	position: relative;
	display: none
}

.mail-attachment-list.open .list-container {
	display: block
}

.mail-attachment-list.open.show-preview .list-container {
	display: none
}

.mail-attachment-list.open.show-preview .preview-container {
	display: block
}

.mail-attachment-list.open.show-preview ul.inline-items li.item {
	display: inline-block
}

.mail-attachment-list .scroll-left, .mail-attachment-list .scroll-right
	{
	position: absolute;
	top: 0;
	width: 20px;
	height: 120px;
	z-index: 2;
	background-color: #888;
	border: 0;
	outline: 0
}

.mail-attachment-list .scroll-left i.fa, .mail-attachment-list .scroll-right i.fa
	{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: -7px;
	color: #fff
}

.mail-attachment-list .scroll-left[disabled], .mail-attachment-list .scroll-right[disabled]
	{
	background-color: #eee
}

.mail-attachment-list .scroll-left[disabled] i.fa, .mail-attachment-list .scroll-right[disabled] i.fa
	{
	color: #ccc
}

.mail-attachment-list .scroll-left {
	left: 0
}

.mail-attachment-list .scroll-right {
	right: 0
}

.mail-attachment-list ul.inline-items {
	padding: 0;
	margin: 0
}

.mail-attachment-list ul.inline-items li.item {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0 14px 0 0;
	line-height: 20px
}

@media ( max-width :480px) {
	.mail-attachment-list ul.inline-items li.item {
		display: block
	}
}

.mail-attachment-list ul.inline-items li.item .file {
	background-color: inherit;
	padding: 0
}

.mail-attachment-list ul.inline-items li.item .file a {
	color: #333
}

.mail-attachment-list ul.inline-items li.item .file a:hover {
	text-decoration: underline
}

.mail-attachment-list ul.inline-items li.item .filesize {
	color: #888
}

.mail-attachment-list ul.inline-items li.item .remove {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 2em;
	line-height: 1em;
	cursor: pointer;
	display: none
}

.mail-attachment-list ul.inline-items li.item .remove .fa {
	color: #aaa;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -.5em;
	text-align: center
}

.mail-attachment-list ul.inline-items li.item .remove:hover .fa {
	color: #3c73aa
}

.mail-attachment-list ul.inline-items>li.item {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 1px 5px;
	margin: 0 5px 2px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.mail-attachment-list ul.inline-items>li.item .progress {
	background-color: rgba(255, 0, 0, .3);
	height: 3px;
	position: absolute;
	top: 0;
	width: 0
}

@media ( max-width :480px) {
	.mail-attachment-list ul.inline-items>li.item {
		padding: 8px;
		margin: 0 0 5px;
		line-height: 24px
	}
	.mail-attachment-list ul.inline-items>li.item:before,
		.mail-attachment-list ul.inline-items>li.item:after {
		content: " ";
		display: table
	}
	.mail-attachment-list ul.inline-items>li.item:after {
		clear: both
	}
	.mail-attachment-list ul.inline-items>li.item span.file {
		width: 210px;
		float: left
	}
	.mail-attachment-list ul.inline-items>li.item span.filesize {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		white-space: nowrap;
		display: inline-block;
		right: 8px
	}
}

.mail-attachment-list.editable ul.inline-items>li.item .remove {
	display: inline-block
}

.mail-attachment-list.editable ul.inline-items>li.item span.filesize {
	padding-right: 24px
}

@media ( max-width :480px) {
	.mail-attachment-list.editable ul.inline-items>li.item span.filesize {
		right: 32px;
		padding-right: 0
	}
}

.mail-attachment-list.show-preview ul.inline-items>li.item span.file {
	width: 100%
}

.mail-attachment-list ul.inline-items.preview {
	height: 120px;
	margin: 0 21px;
	white-space: nowrap;
	overflow: hidden
}

.mail-attachment-list ul.inline-items.preview li.item {
	position: relative;
	width: 120px;
	height: 120px;
	padding: 0;
	margin: 0 1px 0 0;
	border: 0;
	cursor: pointer;
	background-color: #f5f5f5;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}

.mail-attachment-list ul.inline-items.preview li.item .file {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 20px;
	padding: 5px 7px;
	margin: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mail-attachment-list ul.inline-items.preview li.item .file a {
	color: #fff
}

.mail-attachment-list ul.inline-items.preview li.item .filesize,
	.mail-attachment-list ul.inline-items.preview li.item .file,
	.mail-attachment-list ul.inline-items.preview li.item .control {
	display: none
}

.mail-attachment-list ul.inline-items.preview li.item:hover .file {
	display: block
}

.mail-attachment-list ul.inline-items.preview li.item .fallback {
	color: #888;
	background-color: #ddd;
	font-size: 15px;
	font-weight: 400;
	line-height: 120px;
	text-align: center;
	text-transform: uppercase
}

.mail-attachment-list ul.inline-items.preview li.item .remove {
	z-index: 1;
	bottom: 0;
	width: 30px;
	height: 30px;
	right: 0;
	top: auto
}

.mail-attachment-list ul.inline-items.preview li.item .remove .fa {
	font-size: 14px;
	top: 50%
}

.mail-attachment-list ul.inline-items.preview li.item .remove:hover .fa
	{
	color: #fff
}

.mail-attachment-list.editable ul.inline-items.preview>li.item .file {
	padding-right: 30px
}

.mail-attachment-list.editable ul.inline-items.preview>li.item:hover .control
	{
	display: block
}

.dropdown-overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .01)
}

.dropdown-overlay .dropdown-menu {
	position: absolute;
	display: block
}