    <div class="top-bar" id="top-bar-placeholder">
        <div class="container">
            <div class="title">
               <!-- <strong>OX</strong> Guard-->
            </div>
			<div class="logo">
                <img src="images/logo.png" width="163" height="33" alt="Encrypted Suite" />
            </div>
        </div>
    </div>