/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

.progress-bar {
    &.bar-weak   { background-color: @red;         }
    &.bar-good   { background-color: @orange;      }
    &.bar-strong { background-color: @green-light; }
    &.bar-legendary {
        background-color: #f80;
        background-image: -webkit-radial-gradient(#fd0, #f80) !important;
    }
}

.password-change-label,
.password-hint-container { margin-top: 8px; }
