.io-ox-settings-main .window-controls label {
	display: inline-block;
	margin-bottom: 0
}

.io-ox-settings-main .window-content .leftside .toolbar {
	position: absolute;
	right: 0;
	left: 0;
	font-size: 14px;
	line-height: 44px;
	width: 100%;
	height: 45px;
	padding: 0;
	border: 0 solid #e4e4e4;
	border-top: 1px solid #ddd;
	border-top-width: 1px;
	display: block;
	bottom: 0;
	background-color: #fff;
	z-index: 2
}

.io-ox-settings-main .window-content .leftside .advanced-mode {
	margin: 10px;
	line-height: 20px
}

.io-ox-settings-main .window-content .leftside .folder-tree .selected>.folder-node>.folder-label
	{
	max-width: none
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane {
	max-width: 780px
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .settings-list-view .settings-list-item
	{
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .settings-list-view .settings-list-item .account-icon
	{
	margin-top: 2px;
	padding-right: 0
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .settings-list-view .settings-list-item .account-error-message
	{
	width: 100%;
	text-align: right;
	color: red;
	padding-top: 0;
	padding-right: 63px;
	margin-top: -8px
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .settings-list-view .settings-list-item .remove-placeholder
	{
	width: 24px;
	margin: 13px 14px
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .settings-list-view .settings-list-item .remove-placeholder
		{
		width: 14px
	}
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-accounts-settings .widget-settings-view .widget-title
	{
	font-weight: 400
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-accounts-settings .dropdown-menu
	{
	right: 15px;
	left: auto
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-accounts-settings .account-error-wrapper
	{
	color: #333;
	flex: 1 100%;
	padding: 0 1px 12px;
	order: 4
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-accounts-settings .account-error-wrapper .account-error-icon
	{
	padding: 3px 12px;
	float: left
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-list
	{
	margin: 0;
	list-style-type: none
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view
	{
	background-color: #f5f5f5;
	padding: 13px;
	margin: 0 0 7px;
	text-align: right;
	position: relative
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view.draggable
	{
	padding-left: 60px;
	padding-right: 40px
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle
	{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 45px;
	cursor: pointer
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle i
	{
	height: 9px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -6px;
	color: #aaa
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle:hover
	{
	text-decoration: none;
	background-color: rgba(0, 0, 0, .05)
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle:hover i
	{
	color: #888
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle:focus
	{
	background-color: #3c73aa;
	outline: 0
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .drag-handle:focus i
	{
	color: #FFF
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-controls
	{
	display: inline-block
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-controls a[data-action=remove]:hover i.fa-trash-o,
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-controls a[data-action=delete]:hover i.fa-trash-o
	{
	color: #fff;
	text-decoration: none
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-controls a[data-action=remove] i.fa-trash-o,
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-controls a[data-action=delete] i.fa-trash-o
	{
	color: #aaa
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-icon
	{
	line-height: 20px;
	margin-right: 13px;
	float: left
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .widget-title
	{
	font-weight: 700;
	margin-top: 1px;
	margin-right: 2em;
	text-align: left;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .action
	{
	padding: 0;
	margin-top: 1px;
	margin-right: 2em
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view .account-error-message
	{
	color: red;
	margin-right: 2em
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=toggle]
	{
	margin-right: 1.4em;
	min-width: 100px;
	display: inline-block;
	text-align: center
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=remove],
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=delete]
	{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 45px;
	cursor: pointer
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=remove]:hover,
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=delete]:hover
	{
	background-color: #c00
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=remove] i,
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=delete] i
	{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -6px;
	color: #aaa
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=toggle]
		{
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .2;
		margin-right: 2em
	}
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-action=toggle]:hover
		{
		opacity: .4;
		text-decoration: none
	}
	.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view a[data-toggle=dropdown]:hover
		{
		text-decoration: none
	}
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view.disabled
	{
	background-color: #eee
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .widget-settings-view.disabled .widget-title
	{
	font-style: italic;
	font-weight: 400;
	color: #888
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-accounts-settings li.widget-settings-view
	{
	padding-right: 40px
}

.io-ox-settings-main .window-content .rightside>.scrollable-pane .io-ox-signature-settings li.widget-settings-view
	{
	padding-right: 40px
}

.vgrid-cell.settings {
	height: 3.5em;
	padding: .75em 13px
}

.vgrid-cell.vgrid-label.settings-label {
	font-size: 9pt;
	font-weight: 400;
	line-height: 1.2em;
	height: 1.2em;
	color: #555
}

.borderradius .vgrid-cell.settings .shown_as {
	top: 5px;
	bottom: 5px;
	left: 3px;
	border-right: 0 none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.sectiondelimiter {
	clear: both;
	text-align: right;
	padding: 0;
	padding-bottom: 7px;
	margin: 0;
	margin-top: 8px;
	border-top: 1px solid #eee;
	height: 8px
}

.settings-detail-pane.default-content-padding {
	padding: 24px 32px
}

.settings-detail-pane fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
	margin-bottom: 32px
}

.settings-detail-pane label, .settings-detail-pane legend {
	cursor: default
}

.settings-detail-pane label.checkbox, .settings-detail-pane label.radio
	{
	cursor: pointer
}

.settings-detail-pane .section {
	max-width: 800px
}

.settings-detail-pane h1, .settings-detail-pane h1.pane-headline {
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 26px;
	line-height: 32px;
	margin: 2em 0 1em
}

.settings-detail-pane h1:first-child, .settings-detail-pane h1.pane-headline:first-child
	{
	margin: 0;
	padding-bottom: 18px;
	line-height: 30px
}

.settings-detail-pane h1.no-margin, .settings-detail-pane h1.pane-headline.no-margin
	{
	margin: 0
}

.settings-detail-pane h2, .settings-detail-pane h2.pane-headline {
	font-size: 20px;
	line-height: 22px;
	margin: 2em 0 1.5em
}

.settings-detail-pane h2.no-margin, .settings-detail-pane h2.pane-headline.no-margin
	{
	margin: 0
}

.settings-detail-pane legend.sectiontitle {
	font-weight: 700;
	display: block;
	width: 100%;
	font-size: 14px;
	height: 32px;
	color: #333;
	margin: 0;
	margin-bottom: 8px
}

.settings-detail-pane legend.sectiontitle h2 {
	font-weight: 700;
	font-size: 14px;
	margin: 0
}

.settings-detail-pane .form-group {
	margin-bottom: 8px
}

.settings-detail-pane .form-group label {
	margin-bottom: 4px
}

.settings-detail-pane .radio, .settings-detail-pane .checkbox {
	margin: 0
}

.settings-detail-pane .radio label, .settings-detail-pane .checkbox label
	{
	min-height: 24px;
	margin: 0;
	line-height: 22px
}

.settings-detail-pane .radio input, .settings-detail-pane .checkbox input
	{
	margin-top: 5px
}

.settings-detail-pane input, .settings-detail-pane select,
	.settings-detail-pane button {
	margin-top: 4px;
	margin-bottom: 6px
}

.settings-detail-pane .form-horizontal .form-group label {
	margin-top: 4px
}

.settings-detail-pane .form-horizontal .form-group .checkbox {
	min-height: 0;
	margin: 0;
	padding: 0
}

.settings-detail-pane .form-horizontal .form-group .checkbox label {
	margin: 0;
	padding-top: 0
}

.settings-detail-pane .form-inline .controls input {
	width: 70px
}

.settings-detail-pane .io-ox-accounts-settings .controls {
	padding: 13px;
	height: 30px;
	margin-bottom: 13px
}

.settings-detail-pane .io-ox-accounts-settings .hint {
	margin: 14px 0;
	padding: 14px 14px 0;
	max-width: 500px
}

.settings-detail-pane .io-ox-account-settings .folderselect.enabled input[disabled]
	{
	background-color: inherit;
	cursor: pointer
}

.settings-detail-pane .settings-list {
	margin: 0;
	list-style-type: none
}

.settings-detail-pane .settings-list li {
	background-color: #f5f5f5;
	padding: 13px;
	margin: 0 0 7px;
	text-align: left
}

.settings-detail-pane .settings-list li.default .list-title {
	font-weight: 700
}

.settings-detail-pane .settings-list li .list-title {
	margin-right: 2em
}

.settings-detail-pane .settings-list li a {
	cursor: pointer
}

.settings-detail-pane .settings-list li a.action {
	margin-right: 2em
}

.settings-detail-pane .error-log section {
	margin-bottom: 26px
}

.settings-detail-pane .error-log .error-id {
	color: #555
}

.settings-detail-pane .error-log .url {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.settings-detail-pane .error-log .stack-trace, .settings-detail-pane .error-log .url
	{
	clear: both
}

.settings-detail-pane .error-log .datetime {
	float: right;
	color: #888
}

.settings-detail-pane .error-log .toggle-request-body {
	display: inline-block;
	margin-right: 1em
}

.settings-detail-pane .error-log .request-body, .settings-detail-pane .error-log .stack-trace
	{
	color: #555;
	white-space: pre;
	word-break: break-all;
	overflow: hidden;
	padding: .5em 0
}

.settings-detail-pane .error-log .chart-description,
	.settings-detail-pane .error-log .empty, .settings-detail-pane .error-log .url
	{
	font-style: italic;
	color: #888
}

.settings-detail-pane .error-log .empty {
	padding: 0 13px
}

.settings-detail-pane .error-log .tab-content {
	min-height: 150px
}

.io-ox-dialog-popup input.input-large {
	width: 360px
}

.io-ox-dialog-popup .busynotice {
	text-align: center
}

.io-ox-dialog-popup .add-mail-account-address, .io-ox-dialog-popup .add-mail-account-password
	{
	display: block;
	max-width: 355px
}

@media ( max-width :480px) , ( max-device-width :480px) {
	.io-ox-settings-window .vgrid-cell {
		font-size: 15px;
		border-top: 1px solid #eee
	}
	.settings-detail-pane.default-content-padding {
		padding: 7px 8px 8px
	}
	.settings-detail-pane h1:first-child, .settings-detail-pane h1.pane-headline:first-child
		{
		margin: 0
	}
	.settings-detail-pane .form-group {
		margin-bottom: 0
	}
	.settings-detail-pane .btn.btn-primary {
		margin-bottom: 7px
	}
	.settings-detail-pane h1+.sectiondelimiter {
		border: 0;
		margin-top: 0
	}
	.settings-detail-pane .io-ox-mail-settings .form-horizontal .control-group>label
		{
		float: none;
		width: 160px
	}
	.settings-detail-pane .io-ox-mail-settings .form-inline .controls {
		text-align: left;
		width: auto
	}
	.settings-detail-pane .io-ox-mail-settings .form-inline .controls span {
		display: inherit;
		line-height: 29px
	}
	.settings-detail-pane .io-ox-mail-settings .form-inline .controls input
		{
		width: 70px;
		float: left
	}
	.settings-detail-pane .io-ox-mail-settings .form-inline .controls input+span
		{
		display: inline-block;
		padding-left: 5px;
		float: none
	}
	.settings-detail-pane .io-ox-mail-settings legend+.control-group {
		margin-top: 0
	}
	.settings-detail-pane .io-ox-accounts-settings .controls {
		padding-left: 0
	}
	.settings-detail-pane .io-ox-accounts-settings .controls .btn-group.pull-right
		{
		float: none
	}
	.settings-detail-pane .io-ox-calendar-settings .form-horizontal .control-group>label,
		.settings-detail-pane .io-ox-tasks-settings .form-horizontal .control-group>label
		{
		float: none;
		width: 160px
	}
	.settings-detail-pane .form-horizontal .control-label {
		margin-bottom: 0;
		float: none;
		text-align: left;
		width: auto
	}
	.settings-detail-pane .form-horizontal .control-group>label {
		text-align: left
	}
	.settings-detail-pane .form-horizontal .controls, .settings-detail-pane .form-horizontal .help-inline,
		.settings-detail-pane .form-horizontal .control-group>label {
		margin-left: 5px
	}
	.settings-detail-pane .form-horizontal .control-group label.control-label
		{
		float: none;
		width: auto
	}
}