/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.week-view, .month-view {

    .toolbar {
        /* Mobile */
        @media (max-width:  480px) and (orientation: portrait),
               (max-height: 480px) and (orientation: landscape) { display: none; }

        height: @calendar-toolbar-height;
        padding-top: @calendar-toolbar-top-padding;

        .info {
            text-align: left;
            max-width: 30%;
            position: absolute;
            left: @weekview-time-width;
            line-height: 24px;
            font-size: 20px;
            color: #333;
            text-decoration: none;

            .ellipsis();
            .fontWeight(300);

            .cw {
                font-size: 14px;
                color: @hc-gray;
            }
        }
    }

    .controls-container {
        display: inline-block;
        padding-top: 3px;
        width: @weekview-time-width;
        text-align: center;

        a { padding: 9px; }
    }

    .footer-container {
        height: @weekview-footer-height;
        left: 0;
        right: 0;
        width: 100%;
        .overflow(hidden);

        .footer {
            position: absolute;
            line-height: normal;
            right: 0;
            left: @weekview-time-width;
            white-space: nowrap;
            padding-top: 13px;

            .weekday {
                display: inline-block;
                font-size: 13px;
                line-height: 14px;
                text-align: center;
                padding: 1px 0;
                .ellipsis();

                &.today {
                    font-weight: bold;
                    background-color: @calendar-today;
                    color: #fff;
                }
            }
        }
    }

    // dark colors (define first)
    .dark-colors & .appointment {

        .appointment-content { border-left: 0; }
        .title { color: white; }
        .location { color: rgba(255, 255, 255, 0.60); }

        .background(@color) {
            background-color: @color;
            border-bottom: 1px solid rgba(255, 255, 255, 0.50);
            &.hover { background-color: darken(@color, 10%); }
        }

        &.reserved  { .background(@appointment-reserved); }
        &.absent    { .background(@appointment-absent);   }
        &.temporary {
            .background(@appointment-temporary);
            //white text would fail contrast requirements
            .title { color: #321900; }
        }
        &.free    { .background(@appointment-free-dark); }
        &.private { .background(@appointment-private);   }

        &.border { border-left: 1px solid rgba(0, 0, 0, 0.2); }

        &.declined    { background-color: @appointment-declined;    }
        &.unconfirmed { background-color: @appointment-unconfirmed; }

        &.unconfirmed:not(.hover) {
            .title { color: rgba(0, 0, 0, 0.7); }
            .location { color: rgba(0, 0, 0, 0.5); }
        }

        &.io-ox-busy:before { color: white; opacity: 0.30; }
    }

    .appointment {
        cursor: pointer;

        &.io-ox-busy:before {
            color: inherit;
            opacity: 0.50;
        }

        .title { font-weight: bold; }

        &.opac {
            opacity: 0.5;
            .transition(opacity 0.2s);
        }

        &.disabled { cursor: default; }

        .common() {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            html.high-contrast & .location,
            html.high-contrast & .title { color: @black; }
        }

        &.reserved {
            @r: #D0EAFF;

            border-color: lighten(@appointment-reserved, 10%);
            color: darken(@appointment-reserved, 5%);
            background-color: @r;

            &.hover:not(.disabled) {
                background-color: darken(@r, @appointment-hover-pct);
            }

            .common();
        }

        &.temporary {
            @t: lighten(@appointment-temporary, 25%);

            border-color: darken(@appointment-temporary, 15%);
            color: darken(@appointment-temporary, 25%);
            background-color: @t;

            &.hover:not(.disabled) {
                background-color: darken(@t, @appointment-hover-pct);
                color: darken(darken(@appointment-temporary, 15%), @appointment-hover-pct);
            }

            .common();
       }

        &.absent {
            @a: lighten(@appointment-absent, 50%);

            border-color: lighten(@appointment-absent, 10%);
            color: darken(@appointment-absent, 0%);
            background-color: @a;

            &.hover:not(.disabled) {
                background-color: darken(@a, @appointment-hover-pct);
                color: darken(@appointment-absent, @appointment-hover-pct);
            }

            .common();
        }

        &.free {
            @f: lighten(@appointment-free, 30%);

            border-color: darken(@appointment-free, 10%);
            color: darken(@appointment-free, 30%);
            background-color: @f;

            &.hover:not(.disabled) { background-color: darken(@f, @appointment-hover-pct); }

            .common();
        }

        &.private {
            border-color: darken(@appointment-private, 10%);
            color: @white;
            background-color: @appointment-private;

            &.hover:not(.disabled) {
                background-color: darken(@appointment-private, @appointment-hover-pct);
                color: @white;
            }

            .common();
        }

        &.unconfirmed {
            color: @appointment-unconfirmed-font;
            background-color: @appointment-unconfirmed;
            border-left-color: rgba(0, 0, 0, 0.2);

            &.hover:not(.disabled) { background-color: darken(@appointment-unconfirmed, @appointment-hover-pct); }
        }

        &.declined {
            background-color: @appointment-declined;
            border-left-color: rgba(0, 0, 0, 0.1);

            &.hover:not(.disabled) { background-color: darken(@appointment-declined, @appointment-hover-pct); }
        }

        &.declined .appointment-content * {
            color: @appointment-declined-font;
            text-decoration: line-through;
        }

        &:focus {
            outline: 0;
            box-shadow: 0 0 20px 1px #08C;
        }
    }

    .custom-colors & .appointment {

        .generate-color-label(@counter) when (@counter > 0) {

            .generate-color-label((@counter - 1));

            &.color-label-@{counter} {

                @color: ~"color-label-fg-@{counter}";
                @background: ~"color-label-bg-@{counter}";
                @background-light: lighten(@@background, @custom-color-pattern-pct);

                color: @@color;
                background-color: @@background;
                border-left-color: @@color;

                &.private { border-left-color: #222; }

                &.hover:not(.disabled) {
                    background-color: darken(@@background, @custom-color-hover-pct);
                }

                &.free {
                    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 25px, @background-light 25px, @background-light 50px);
                    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 25px, @background-light 25px, @background-light 50px);
                    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 25px, @background-light 25px, @background-light 50px);
                    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, @background-light 25px, @background-light 50px);
                    opacity: 0.70;
                }

                &.temporary {
                    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px, @background-light 8px, @background-light 16px);
                    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 8px, @background-light 8px, @background-light 16px);
                    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 8px, @background-light 8px, @background-light 16px);
                    background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, @background-light 8px, @background-light 16px);
                }

                &.absent {
                    color: #333;
                    background-color: #eee;
                    border-left-color: #333;
                    @background-absent: #bbb;
                    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px, @background-absent 1px, @background-absent 8px);
                    background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, @background-absent 1px, @background-absent 8px);
                    background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px, @background-absent 1px, @background-absent 8px);
                    background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, @background-absent 1px, @background-absent 8px);

                    &.private {
                        &.hover {
                            //in combination with private this get's to hard to read otherwise
                            color: @white;
                        }
                    }
                }
            }
        }

        .generate-color-label(10);
    }

    @media (min-width: 1281px) {
        @adjusted-width: @weekview-time-width * 1.25;

        .toolbar .info { left: @adjusted-width; }

        .controls-container { width: @adjusted-width; }

        .footer-container .footer { left: @adjusted-width; }
    }
}

.custom-colors .folder-tree .folder-node .folder-label {

    position: relative;

    &.color-label {
        &:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: -25px;
            top: 3px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-clip: border-box;
        }
    }

    @media all and (max-width: 480px), all and (max-device-width: 480px) {
        &.color-label {
            margin-left: 25px;

            &:before { top: 12px; }
        }
    }

    .generate-color-label(@counter) when (@counter > 0) {
        .generate-color-label((@counter - 1));

        &.color-label-@{counter}:before {
            @color-label-counter: ~"color-label-bg-@{counter}";
            background-color: darken(@@color-label-counter, 10%);
        }
    }

    .generate-color-label(10);
}

// Grid , only used in conflicts. Listview styles are located under list/style.less
.vgrid-cell {

    &.selected.calendar {
        .location { color: #626262; }
    }

    &.calendar {

        .title {
            font-weight: bold;
        }

        .private {
            color: #555;
            float: right;
            display: inline-block;
        }

        .private-flag {
            color: #AAA;
            float: left;
            font-size: 13pt;
            margin-right: 2px;
        }

        .location {
            color: #767676;

            html.high-contrast & { color: @black; }
        }

        .shown_as.label {
            float: right;
            border: 1px solid rgba(0, 0, 0, 0.4);
        }

        &.declined {

            .title, .location {
                text-decoration: line-through;
            }

        }

        .time {
            color: #555;
            float: right;
            display: inline-block;
        }

        .date {
            color: #555;
        }

    }

    &.vgrid-label.calendar-label {
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: @link-color;
        padding-top: 14px;
        padding-bottom: 7px;
        background-image: none;
        background-color: #fff;
        border-top: 0 none;
        border-bottom: 0 none;
    }

    .shown_as {
        &.reserved  { background-color: @appointment-reserved;  }
        &.temporary { background-color: @appointment-temporary; }
        &.absent    { background-color: @appointment-absent;    }
        &.free      { background-color: @appointment-free;      }
    }
}

// Conflicts
.additional-info {

    .vgrid-cell.calendar {
        padding: 7px 0;

        &:last-child { border: none; }
    }

    .buttons {
        display: inline-block;
        width: 100%;
        margin: 10px 0;

        .col-md-12 { position: relative; }
    }

    .conflicts .person-link {

        &.accepted { color: #5C7F31; }

        &.declined {
            text-decoration: line-through;
            color: #913F3F;
        }

        &.tentative { color: #c80; }
    }
}

// Detail view
.calendar-detail {
    font-weight: 300;

    @media (max-width: 480px), (max-device-width: 480px) {
        margin: 8px 10px 55px 10px;
    }

    .io-ox-inline-links:first-child { margin-top: 0; }
    .io-ox-inline-links:empty { display: none; }

    h1.subject {
        display: inline-block;
        line-height: 1.2em;
        margin: 0;
        width: 100%;
        word-wrap: break-word;
        &:empty { display: none; }
    }

    .date-time-recurrence, .location {
        font-weight: normal;
        margin: 1.25em 0;
    }

    .date-time {
        font-weight: normal;
        html.high-contrast & {
            color: @black;
        }
    }

    .time {
        font-weight: bold;
        white-space: nowrap;

        .label-default {
            margin-left: 7px;
            position: relative;
            top: -1px;
            background-color: #767676;

            html.high-contrast & {
                color: white;
                background-color: @black;
            }
        }
    }

    .date { white-space: nowrap; }

    .recurrence {
        color: #666;
        font-weight: 300;
    }

    .location { font-weight: bold; }

    .private-flag {
        font-size: 18pt;
        margin-right: 11px;
        color: #aaa;
    }

    .note {
        max-width: 550px;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 2em 0 1em 0;
        cursor: text;
    }

    .attachment-list .dropdown.attachment-link { display: inline-block; }

    .details {
        font-size: 0.9em;

        dt {
            font-weight: 300;
            color: #666;
            text-align: left;
        }

        .shown_as {
            &.reserved  { color: @appointment-reserved; }
            &.temporary { color: @appointment-temporary; }
            &.absent    { color: @appointment-absent; }
            &.free      { color: @appointment-free; }
        }
    }

    @media all and (max-width: 480px), all and (max-device-width: 480px) {

        .io-ox-inline-links:first-child {
            margin: 0;
            padding: 15px 0;

            span.io-ox-action-link.dropdown { float: right; }
        }

        .io-ox-inline-links.embedded { text-align: left; }

        .private-flag { line-height: 20px; }

        h1.subject {
            line-height: 24px;
            padding-top: 5px;
            margin-bottom: 3px;
        }

        .date-time, .recurrence {
            padding-top: 6px;
            margin-bottom: 2px;
            line-height: 24px;
        }

        .date-time { padding-top: 14px; }

        .recurrence { margin-bottom: 10px; }

        .date-time-recurrence { margin: 0; }

        .location {
            line-height: 32px;
            padding-top: 18px;
            margin: 0 0 6px 0;
        }

        .note {
            line-height: 24px;
            padding-top: 22px;
            margin: 0 0 2px 0;
        }

        .attachments {
            .io-ox-label { margin-bottom: 3px; }

            .attachment-list {
                line-height: 16px;
                padding-top: 2px;
                margin-bottom: 6px;
            }
        }

        .participants-view { padding-top: 8px; }

        .details {
            legend {
                padding-top: 9px;
                margin-bottom: 1px;
            }

            dl {
                margin-bottom: 24px;

                dt, dd {
                    display: inline-block;
                    line-height: 16px;
                    padding-top: 3px;
                    margin-bottom: 5px;
                }

                dt { min-width: 30%; }

                dd { min-width: 41%; }
            }
        }
    }

}

.csscolumns .calendar-detail .participant {
    margin: 0 0 1px 0;
    float: none;
}

// Timezone popups
.popover {

    &.timezones {
        width: auto;
        min-width: 236px;
        width: 280px;

        .popover-content ul {

            .time { float: right; }

            .label {
                float: right;
                margin-left: 5px;
            }
        }
    }
}

// Invitations
.itip-section.io-ox-busy { min-height: 60px; }

.itip-actions {
    text-align: right;
    margin: 16px 0 0 0;
    white-space: nowrap;
    display: inline-block;

    .btn { margin-left: 8px; }
}

.itip-item {
    padding: 16px;
    min-height: 72px;
    // same color as .well
    background-color: #F5F5F5;
}

.itip-item + .itip-item { border-top: 1px solid #aaa; }

.itip-annotations, .itip-changes, .itip-conflicts { margin: 16px 0; }

.itip-controls {
    text-align: right;
    margin-top: 16px;
    min-height: 32px;

    &:empty { min-height: initial; }
}

.itip-reminder {
    text-align: left;
    display: inline-block;
}

.itip-details {
    margin: 16px 0;

    .confirmation-status {
        &.accepted { color: @green; }
        &.declined { color: @red; }
        &.tentative { color: @orange; }
    }
}

.itip-conflicts {
    .vgrid-cell {
        padding: 10px 0;
        background-color: transparent;
        border-bottom: 1px solid #ccc;
        &:first-child { border-top: 1px solid #ccc; }
        &:last-child { border-bottom: 1px solid #ccc; }
    }

    .date { margin-right: 16px; }
}

.show-all-checkbox {
    padding-right: 16px;

    label {
        font-weight: 300;
        color: @hc-gray;
        margin: 20px 0;
    }

}

// io.ox/calendar/listview, io.ox/calendar/common-extensions
.calendar-item {

    .title {
        .ellipsis();
        font-weight: bold;
    }

    .interval {
        color: rgb(85, 85, 85);
        float: right;
        font-weight: 300;
    }

    .day {
        color: rgb(136, 136, 136);
        font-weight: 300;
    }

    .location {
        color: rgb(136, 136, 136);
        font-weight: 300;
        float: right;
    }

    .label { margin-left: 5px; }
}

li {
    .custom-colors {
        max-width: 160px;
        display: inline-block;
        padding: 3px 20px;
        clear: both;

        .generate-color-label(@counter) when (@counter > 0) {
            .generate-color-label((@counter - 1));

            @color-label-bg-mod: ~"color-label-bg-@{counter}";
            @color-label-contrast: contrast(@@color-label-bg-mod);

            .color-label-@{counter} {
                background-color: ~"@{color-label-bg-@{counter}}";

                .fa { color: @color-label-contrast; }
            }
        }

        .generate-color-label(10);

        .color-label {
            width: 20px;
            height: 20px;
            margin: 2px;
            text-align: center;
            border-radius: @border-radius-small;
            cursor: pointer;

            .fa {
                display: none;
                width: 14px;
            }

            &.active .fa { display: inline-block; }
        }
    }
}

@media all and (max-width: 480px), all and (max-device-width: 480px) {
    li {
        .custom-colors {
            max-width: 320px;

            .color-label {
                width: 40px;
                height: 40px;
                margin: 4px;
                font-size: 28px;

                .fa { width: 34px; }
            }
        }
    }
}
//
// Expandable section
//

.expandable {

    .expandable-content { display: none; }

    &.open .expandable-content { display: block; }

    .expandable-toggle { color: inherit; }

    .expandable-indicator:before {
        color: #aaa;
        content: "\f0da"; // fa-caret-right
    }

    &.open .expandable-indicator:before {
        content: "\f0d7"; // fa-caret-down
    }
}
