/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Tobias Prinz <tobias.prinz@open-xchange.com>
 */

// special color scheme if widget has no account yet
.io-ox-portal {
    @color: #126567;

    .widget.widget-color-custom.color-xing {
        background-color: @black;
        .decoration { background-color: @color; }
        &:focus {
            .decoration { background-color: darken(@color, 10%); }
        }
    }

    @media all and (max-width: 480px), all and (max-device-width: 480px) {
        .widget.widget-color-custom.color-xing {
            background-color: @color;
            .decoration { background-color: transparent; }
        }
    }
}
.halo.io-ox-xing {
    clear: both;

    //matches the widget title padding
    .padding { margin-top: 1.5em; }

    .mini-profile, .extended-profile {
        display: inline-block;
        vertical-align: top;
    }

    .mini-profile, .connection {
        width: 64px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }

    .mini-profile {
        text-align: center;
        margin: 0 14px 28px 14px;

        .pic, .permalink {
            display: block;
            overfow: ellipsis;
        }
        .pic { .picture(64px, 64px); }
    }

    .extended-profile {

        .extended-profile-block {
            display: inline-block;
            vertical-align: top;
            padding: 28px 0 0 28px;

            .header {
                /* from .contact-detail .block legend which should become a mixin */
                font-family: @light-font-family;
                font-size: 16px;
                line-height: 20px;
                font-weight: 200;
                margin-bottom: 14px;
                border-bottom: 0 none;
            }
        }
    }

    .shared-contacts {
        padding-top: 28px;

        .mini-profile { padding-right: 28px; }
    }

    .connection { color: rgba(0,0,0,0.25); }
}

.content.io-ox-xing {

    .setup-questions {
        text-align: center;
        vertical-align: middle;
    }

    .setup-action {
        display: block;
        margin-bottom: 13px;
    }
}
/* This is the preview pane */
.content.io-ox-xing.preview {

    .activity {
        display: block;
        margin: 7px 0;

        .possible-action, .date {
            display: none;
        }
    }

}

/* The registration popup */
.io-ox-xing.submitted-data {
    label {
        display: block;
        position: relative;

        input, select {
            position: absolute;
            left: 160px;
        }
    }

}
/* The side pop-up */
.content.io-ox-xing.fullview {

    .activity {
        display: block;
        margin: 26px 0;

        .possible-action {
            display: inline-block;
            cursor: pointer;
            margin-right: 13px;

            .fa { margin-right: 3px; }
        }

        .date { font-size: 80%; }
    }

    .comment .btn { display: block; }
}
