/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Matthias Biggeleben <matthias.biggeleben@open-xchange.com>
 */

.mail-detail-content {

    cursor: auto;
    // for large images (see bug #22756 and #25033)
    display: block;
    // helper for absolutely positioned elements
    overflow: hidden;

    * {
        // see Bug 25737 - [L3] HTML mail with pasted text from MS Word not displayed correctly (cut off at upper edge)
        line-height: normal;
        box-sizing: content-box;
    }

    // TODO: remove / temp. fix for bootstrap
    [class*="span"] {
        float: none;
        margin-left: 0;
    }

    // reset bootstrap stuff

    small {
        color: inherit;
        font-size: initial;
    }

    code { font-family: inherit; }

    th {
        padding: @table-cell-padding;
        text-align: center;
    }

    // special case, see bug 37082
    th[align="left"] { text-align: left; }
}

.touch .mail-detail .mail-detail-content.plain-text { font-size: @font-size-touch; }

.smartphone {
    .mail-detail-content {
        padding: 0;
        font-size: 16px;
        overflow: auto;

        * { line-height: 1.42857142em; } // ~20px at 14px

        ul, ol {
            padding-left: 10px;
            margin-left: 16px;
        }
    }

    .io-ox-pagecontroller.page .mail-detail .mail-detail-content { margin: 0; }
}
