/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Miroslav Dzunic <miroslav.dzunic@open-xchange.com>
 */

@import "../../../tk/definitions.less";

i[class^="docs-"] {
    display: inline-block;
    margin: 0;
    background-origin: content-box;
    vertical-align: middle;

    &.docs-empty.small-icon { width: 12px; }
}

.docs-icons(black);

.io-ox-office-presentation-dialog-insert-date {
    min-height: 200px;

    .control {
        display: inline-block;
        width: 100%;
        vertical-align: top;

        label {
            display: block;
        }

        select {
            overflow: auto;
            width: 100%;
            option {
                padding: 0px 10px;
            }
        }
    }

    .auto-update-field {
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        color: #333;
        &:hover, &:focus {
            text-decoration: none;
            color: #333;
        }

        .check-mark {
            margin-right: 5px;
            width: 12px;
            display: inline-block;
        }
    }
}

.io-ox-office-presentation-dialog-insert-footer {
    margin: 4px;

    & a {
        color: #333;
        cursor: pointer;
        display: inline-block;

        &:hover, &:focus {
            color: #333;
            text-decoration: none;
        }

        .check-mark {
            margin-right: 5px;
            width: 12px;
            display: inline-block;
        }
    }

    & input {
        width: 100%;
    }

    .date-container {
        padding: 5px 5px 5px 34px;

        & .automatic-radio, .fixed-radio {
            margin-left: -17px;
        }
        .select-box {
            padding: 2px;

            & select {
                padding: 2px;
            }

            & select.disabled {
                background: #EBEBE4;
                opacity: 0.7;
            }
        }
    }

    .footertxt-container {
        padding: 5px 5px 5px 17px;
        & a {
            margin-left: -17px;
        }
    }

    .disabled {
        pointer-events: none;
        color: #b0b0b0;
    }
}

.io-ox-office-presentation-dialog-slide-background {
    & a {
        color: #333;
        cursor: pointer;
        display: inline-block;
        padding: 1px 2px;

        &:hover, &:focus {
            color: #333;
            text-decoration: none;
        }

        .check-mark {
            margin-right: 5px;
            width: 12px;
            display: inline-block;
        }
    }

    .control-area {
        margin-left: 4px;

        .modify-container, .hidebg-container {
            display: block;
            margin-bottom: 20px;

            .hide-bg-btn {
                display: inline-block;
            }

            .dradio {
                display: inline-block;
                width: 60%;
                margin-bottom: 25px;
            }

            .color-area {
                display: inline-block;
                vertical-align: middle;
                .dropdown-group {
                    position: relative;
                }
                .caret-node {
                    position: absolute;
                    z-index: 3;
                    left: 23px;
                    top: 0px;
                    height: 15px;
                }
                .color-preview-box {
                    width: 32px;
                    max-width: 32px;
                    height: 5px;
                    border: 1px solid rgba(0,0,0,.1);
                }
                .docs-cell-fill-color {
                    background-position: -18px -54px;
                    position: relative;
                    top: 0px;
                    vertical-align: top;
                    display: inline-block;
                    margin: 0;
                    background-origin: content-box;
                    width: 18px;
                    height: 18px;
                    background-size: 720px 108px;
                }

                &:hover {
                    .caret-node {
                        color: #aaa;
                    }
                }
            }

            .image-area {
                display: inline-block;
                border: 1px solid #b0b0b0;
                border-radius: 3px;

                a {
                    padding: 2px 5px;

                    .caption {
                        padding-right: 3px;
                    }
                }

                &:hover {
                    .caret-node {
                        color: #aaa;
                    }
                }
            }

            .transparency-area {
                .transparency-label {
                    color: #333;
                    display: inline-block;
                    margin-bottom: 20px;
                    vertical-align: top;
                    width: 60%;
                }

                .slider-container {
                    display: inline-block;
                    margin-left: -5px;

                    .bg-color-slider {
                        width: 100px;
                        height: 30px;
                        margin: 0 5px;
                        position: relative;

                        .slider-rail {
                            background: #b0b0b0;
                            height: 2px;
                            position: absolute;
                            top: 14px;
                            left: 0px;
                            width: 100%;
                        }

                        .rail-overlay {
                            z-index: 1;
                            background: #333;
                            width: 0%;
                        }

                        .slider-pointer {
                            position: absolute;
                            width: 6px;
                            height: 14px;
                            top: 5px;
                            left: 0%;
                            margin-left: -4px;
                            cursor: pointer;
                            display: block;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 10px solid #333;
                            border-top: 5px solid transparent;
                            &:hover {
                                color: #b0b0b0;
                            }
                        }
                    }
                }

                .spin-field {
                    .standard-group-design();
                    display: inline-block;
                    margin-left: 60%;
                    height: 29px;

                    .input-wrapper {
                        .box-sizing(border-box);
                        display: inline-block;
                        vertical-align: top;
                        cursor: text;
                        & input {
                            width: 100%;
                            height: 100%;
                            border: 0;
                            outline: none;
                            text-align: center; 
                        }
                    }
                }

            }

            .select-box {
                padding: 2px;

                & select {
                    padding: 2px;
                }

                & select.disabled {
                    background: #EBEBE4;
                    opacity: 0.7;
                }
            }
        }

        .reset-background-btn {
            color: #333333;
            background-color: #ffffff;
            border-color: #cccccc;
            min-width: 5em;
            display: inline-block;

            &:hover {
                background-color: #e6e6e6;
                border-color: #adadad;
            }
        }
    }

    .disabled, .disabled .color-preview-box {
        pointer-events: none;
        opacity: 0.4;
    }
}

.truncate-footer-btn {
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
