.wizard-step .mixin-unstyled-list {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.wizard-step .mixin-expanded .content {
	display: block
}

.wizard-step .mixin-expanded .fa-chevron-right {
	display: none
}

.wizard-step .mixin-expanded .fa-chevron-down {
	display: inline-block
}

.wizard-step[data-mode=simple] fieldset.action {
	display: none
}

.wizard-step[data-mode=simple] fieldset.action:nth-child(1) {
	display: block
}

.wizard-step[data-mode=simple] .wizard-content .actions .toggle-link[data-value=to-advanced]
	{
	display: block
}

.wizard-step[data-mode=simple] .wizard-content .actions .toggle-link[data-value=to-simple]
	{
	display: none
}

.wizard-step[data-type=scenario] {
	min-height: 400px
}

.wizard-step[data-type=scenario] .title {
	min-height: 32px
}

.wizard-step .wizard-content .teaser {
	margin: 0
}

.wizard-step .wizard-content .options {
	list-style-type: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: flex;
	align-items: stretch
}

.wizard-step .wizard-content .options .option {
	margin: 0 16px 0 0;
	display: inline-flex;
	white-space: normal
}

.wizard-step .wizard-content .options .option .premium-container {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.wizard-step .wizard-content .options .option .premium {
	position: absolute;
	font-weight: 700;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 4px 16px;
	background: #3c73aa;
	border-radius: 12px;
	color: #fff;
	opacity: .8;
	width: 90%
}

.wizard-step .wizard-content .options .option .premium .fa {
	padding-right: 4px
}

.wizard-step .wizard-content .options .option .link {
	max-height: 200px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: inline-block;
	outline: 0;
	text-decoration: none;
	color: #000
}

.wizard-step .wizard-content .options .option .link.disabled {
	color: #ccc;
	cursor: default
}

.wizard-step .wizard-content .options .option .link:hover {
	border-color: rgba(0, 0, 0, .5)
}

.wizard-step .wizard-content .options .option .link:hover.disabled {
	border-color: rgba(0, 0, 0, .1)
}

.wizard-step .wizard-content .options .option .link.box {
	position: relative;
	display: inline-block;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) ease-out;
	-moz-transition: all .6s cubic-bezier(.165, .84, .44, 1) ease-out;
	-o-transition: all .6s cubic-bezier(.165, .84, .44, 1) ease-out;
	transition: all .6s cubic-bezier(.165, .84, .44, 1) ease-out
}

.wizard-step .wizard-content .options .option .link.box:hover,
	.wizard-step .wizard-content .options .option .link.box:focus {
	z-index: 1000
}

.box-shadow (rgba(0, 0,0,.3 ) 0 8px 8px 0) .wizard-step .wizard-content .options .option .link.box:hover.disabled,
	.box-shadow (rgba(0, 0,0,.3 ) 0 8px 8px 0) .wizard-step .wizard-content .options .option .link.box:focus.disabled
	{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.wizard-step .wizard-content .options .option .link .icon-list {
	margin: 8px 16px 0;
	display: flex;
	justify-content: space-around;
	align-items: center
}

.wizard-step .wizard-content .options .option .link .icon-list .icon {
	width: 48px;
	font-size: 48px;
	text-align: center;
	margin: 8px;
	text-decoration: none
}

.wizard-step .wizard-content .options .option .link .title {
	text-align: center;
	line-height: 16px;
	margin-bottom: 8px;
	padding: 0 8px;
	text-decoration: none
}

.wizard-step .wizard-content .options .option.centered .link.box {
	display: flex
}

.wizard-step .wizard-content .options .option.centered .icon-list {
	margin: 0
}

.wizard-step .wizard-content .options .option.selected>.link:not (.disabled
	){
	border: 1px #3c73aa solid
}

.wizard-step .wizard-content .descriptions {
	list-style-type: none;
	padding: 0;
	margin: 0
}

.wizard-step .wizard-content .teaser, .wizard-step .wizard-content .descriptions>.description
	{
	width: 100%;
	padding: 16px 0
}

.wizard-step .wizard-content .actions .toggle-link {
	margin-top: 12px;
	display: inline-block;
	outline: 0
}

.wizard-step .wizard-content .actions .toggle-link[data-value=to-advanced]
	{
	display: none
}

.wizard-step .wizard-content .actions .toggle-link[data-value=to-simple]
	{
	display: block
}

.wizard-step .wizard-content .actions .action {
	margin-bottom: 0;
	margin-top: 4px
}

.wizard-step .wizard-content .actions .action .button-clicked {
	font-size: 18px;
	color: #79bb32;
	padding-left: 8px
}

.wizard-step .wizard-content .actions .action .btn.disabled {
	pointer-events: none
}

.wizard-step .wizard-content .actions .action .store {
	cursor: pointer
}

.wizard-step .wizard-content .actions .action .store .store-icon {
	height: 60px
}

.wizard-step .wizard-content .actions .action .section-title {
	font-size: 14px;
	height: 32px;
	color: #333;
	cursor: pointer;
	margin-bottom: 5px;
	outline: 0
}

.wizard-step .wizard-content .actions .action .section-title .fa {
	font-size: 12px;
	padding-right: 8px
}

.wizard-step .wizard-content .actions .action .section-title .fa-chevron-right
	{
	display: inline-block
}

.wizard-step .wizard-content .actions .action .section-title .fa-chevron-down
	{
	display: none
}

.wizard-step .wizard-content .actions .action button.section-title {
	padding-left: 0;
	border: 0;
	background: 0 0;
	border-bottom: 1px #ddd solid;
	width: 100%;
	text-align: left;
	font-weight: 700
}

.wizard-step .wizard-content .actions .action[data-action=sms] .content .interaction .field
	{
	width: 30%;
	min-width: 120px
}

.wizard-step .wizard-content .actions .action .content {
	padding: 2px 0;
	display: none
}

.wizard-step .wizard-content .actions .action .content .description {
	margin-bottom: 5px
}

.wizard-step .wizard-content .actions .action .content .interaction label,
	.wizard-step .wizard-content .actions .action .content .interaction input,
	.wizard-step .wizard-content .actions .action .content .interaction select
	{
	margin-right: 8px
}

.wizard-step .wizard-content .actions .action .content .interaction .field
	{
	min-width: 350px;
	width: 50%
}

.wizard-step .wizard-content .actions .action .content .interaction .select
	{
	width: 30%
}

.wizard-step .wizard-content .actions .action .content .interaction .row
	{
	margin-right: -10px;
	padding: 0 0 0 15px
}

.wizard-step .wizard-content .actions .action .content .interaction .form-inline>*
	{
	padding-right: 8px
}

.wizard-step .wizard-content .actions .action .content .data .row {
	padding-bottom: 5px
}

.wizard-step .wizard-content .actions .action .content .data .row label
	{
	padding-top: 0
}

.wizard-step .wizard-content .actions .action .content .control-label {
	margin-top: 4px;
	margin-bottom: 4px
}

.wizard-step .wizard-content .actions .action .content .control-label .display-label
	{
	text-align: right
}

.wizard-step .wizard-content .actions .action.expanded .content {
	display: block
}

.wizard-step .wizard-content .actions .action.expanded .fa-chevron-right
	{
	display: none
}

.wizard-step .wizard-content .actions .action.expanded .fa-chevron-down
	{
	display: inline-block
}

.wizard-step .wizard-content .actions .single-action .action .content {
	display: block
}

.wizard-step .wizard-content .actions .single-action .action .fa-chevron-right
	{
	display: none
}

.wizard-step .wizard-content .actions .single-action .action .fa-chevron-down
	{
	display: inline-block
}

.wizard-step .wizard-content .actions .single-action .action .section-title
	{
	cursor: default
}

.wizard-step .wizard-content .actions .single-action .action .section-title .fa-chevron-right,
	.wizard-step .wizard-content .actions .single-action .action .section-title .fa-chevron-down
	{
	display: none
}