.autocomplete-search {
	height: auto;
	min-height: 100px;
	min-width: 300px;
	max-height: 600px
}

.autocomplete-search .scrollable-pane {
	padding: 5px 0
}

.autocomplete-search .scrollable-pane:after {
	content: ''
}

.autocomplete-search .autocomplete-item {
	color: #333;
	padding: 2px 10px
}

.autocomplete-search .autocomplete-item i {
	font-style: normal;
	color: rgba(0, 0, 0, .5)
}

.autocomplete-search .autocomplete-item.indent {
	padding-left: 24px
}

.autocomplete-search .autocomplete-item.dropdown-header {
	padding-top: 9px;
	margin-top: 9px;
	border-top: 1px solid rgba(128, 128, 128, .25);
	max-width: inherit
}

.autocomplete-search .autocomplete-item.dropdown-header:first-child {
	margin-top: 0;
	border-top: 0
}

.autocomplete-search .autocomplete-item.unselectable {
	cursor: default;
	color: rgba(128, 128, 128, .71)
}

.autocomplete-search .autocomplete-item .name {
	word-break: break-all
}

.autocomplete-search .autocomplete-item .name i {
	word-break: break-word
}

.autocomplete-search .autocomplete-item.contacts .image,
	.autocomplete-search .autocomplete-item.contact .image,
	.autocomplete-search .autocomplete-item.participant .image,
	.autocomplete-search .autocomplete-item.task_participants .image {
	margin-right: 14px;
	display: inline-block;
	float: left;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.autocomplete-search .autocomplete-item.contacts .name,
	.autocomplete-search .autocomplete-item.contact .name,
	.autocomplete-search .autocomplete-item.participant .name,
	.autocomplete-search .autocomplete-item.task_participants .name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.autocomplete-search .autocomplete-item.contacts .detail,
	.autocomplete-search .autocomplete-item.contact .detail,
	.autocomplete-search .autocomplete-item.participant .detail,
	.autocomplete-search .autocomplete-item.task_participants .detail {
	color: rgba(0, 0, 0, .5);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.autocomplete-search.mobile-dropdown {
	width: auto;
	max-width: 500px;
	margin-left: 0;
	margin-bottom: 4px
}

.autocomplete-search.mobile-dropdown.bottom-placement {
	border-bottom: 2px solid #fff
}

.autocomplete-search.mobile-dropdown .dropdown-menu-inline {
	background-color: rgba(128, 128, 128, .11);
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box
}

.autocomplete-search.mobile-dropdown .dropdown-menu-inline:after {
	content: ''
}

.autocomplete-search.mobile-dropdown .autocomplete-item {
	color: #333;
	margin: 2px;
	padding: 5px 0 5px 10px
}

.autocomplete-search.mobile-dropdown .autocomplete-item.indent {
	padding-left: 14px
}

.autocomplete-search.mobile-dropdown .autocomplete-item i {
	font-style: normal;
	color: rgba(0, 0, 0, .5)
}

.autocomplete-search.mobile-dropdown .autocomplete-item.group {
	font-size: 18px;
	border: 0
}

.autocomplete-search.mobile-dropdown .autocomplete-item.unselectable {
	padding-bottom: 0;
	color: rgba(128, 128, 128, .71)
}

@media all and (max-width:768px) , all and (max-device-width:768px) {
	#io-ox-search-topbar.launcher {
		display: none
	}
	#io-ox-search-topbar-icon.launcher {
		display: inline-block
	}
	.io-ox-search.window-content {
		padding-top: 8px
	}
	.io-ox-search.window-content .facet {
		width: 100%
	}
	.io-ox-search.window-content .facet .facet-container {
		text-align: left;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis
	}
	.io-ox-search.window-content .facet .facet-container .remove {
		position: relative;
		padding-left: 10px
	}
	.row.query {
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
		margin-bottom: 7px
	}
	.row.query .recipient-actions {
		position: relative;
		top: 0;
		right: 0;
		margin-top: 3px
	}
	.row.query .recipient-actions a {
		margin-right: 3px;
		padding: 2px;
		color: #666;
		text-decoration: none
	}
	.row.query[data-extension-id=to], .row.query[data-extension-id=cc], .row.query[data-extension-id=bcc] .col-xs-11
		{
		width: 90%;
		margin-right: -5px
	}
	.row.query .maillabel {
		padding-top: 3px
	}
	.row.query .maillabel.col-xs-1 {
		width: 10%
	}
	.row.query .token-input::-webkit-input-placeholder {
		color: #aaa;
		font-weight: 400
	}
	.row.query .token-input:-moz-placeholder {
		color: #aaa;
		font-weight: 400
	}
	.row.query .token-input::-moz-placeholder {
		color: #aaa;
		font-weight: 400
	}
	.row.query .token-input:-ms-input-placeholder {
		color: #aaa;
		font-weight: 400
	}
	.row.query .tokenfield.search-field.form-control {
		border: 0;
		border-radius: 0;
		box-shadow: none
	}
	.row.query .tokenfield.search-field.form-control .token {
		width: 100%;
		text-align: center
	}
	.row.query .tokenfield.search-field.form-control .token .token-label {
		padding-right: 4px
	}
	.row.query .tokenfield.search-field.form-control .token a {
		display: none
	}
	.row.query .tokenfield.form-control.to {
		padding-right: 20px
	}
	.row.query .recipient-actions a {
		outline: 0
	}
	.row.query .input-group-btn {
		vertical-align: top
	}
	.row.result .calendar-item .location {
		float: none
	}
}

@media all and (max-width:768px) and (max-width:767px) , all and
	(max-device-width:768px) and (max-width:767px) {
	.row.query .recipient-actions {
		padding-right: 10px
	}
}

.io-ox-search-window {
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.io-ox-search-window .window-head {
	display: none
}

.io-ox-search-window .window-body {
	left: 0
}

.io-ox-search-window .window-content {
	overflow: auto
}

.io-ox-search.empty .btn-search {
	display: block
}

.io-ox-search.empty .btn-clear {
	display: none
}

.io-ox-search:not (.empty ) .btn-search {
	display: none
}

.io-ox-search:not (.empty ) .btn-clear {
	display: block
}

.io-ox-search.window-content .row {
	max-width: 500px
}

.io-ox-search.window-content ul, .io-ox-search.window-content ol {
	margin-bottom: 0
}

.io-ox-search.window-content .applications {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 6px
}

.io-ox-search.window-content .applications .caret {
	margin-left: 6px
}

.io-ox-search.window-content .applications .application {
	display: inline-block;
	margin-bottom: 8px
}

.io-ox-search.window-content .applications .application .btn-group button
	{
	border-radius: 0
}

.io-ox-search.window-content .facets {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px
}

.io-ox-search.window-content .info {
	clear: both;
	font-style: italic;
	margin: 0 15px 14px 0;
	max-width: 470px;
	background-color: #f4f8fa;
	border-color: #5bc0de;
	padding: 6px 10px;
	border-left: 3px solid #428bca
}

.search-facets {
	margin-bottom: 6px
}

.search-facets li.facet {
	margin-right: 8px;
	margin-bottom: 8px;
	max-width: 470px
}

.search-facets li.facet .facet-container {
	background-color: #E6E6E6;
	border: transparent;
	text-align: left;
	-webkit-box-shadow: none;
	box-shadow: none;
	max-height: 28px;
	max-width: 470px;
	border-radius: 0
}

.search-facets li.facet .facet-container .toggle-options {
	float: right;
	margin-left: 6px;
	font-size: 16px
}

.search-facets li.facet .facet-container .remove {
	margin-left: 10px;
	float: right
}

.search-facets li.facet .facet-container .facet-label {
	font-weight: initial;
	overflow: hidden;
	display: inline;
	text-overflow: ellipsis;
	padding-top: 0;
	margin-bottom: 0;
	color: rgba(0, 0, 0, .5)
}

.search-facets li.facet .facet-container .facet-label>span {
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.search-facets li.facet .facet-container .facet-label .type {
	color: rgba(0, 0, 0, .5)
}

.search-facets li.facet .facet-container .facet-label .type:after {
	content: ':\00a0'
}

.search-facets li.facet .facet-container .facet-label .name:after {
	content: '\00a0'
}

html.high-contrast .search-facets li.facet .facet-container {
	color: #333
}

.search-facets .dropdown-menu {
	margin-top: 0
}

.search-facets i.action {
	opacity: .8
}

.search-facets i.action:hover, .search-facets i.action:focus {
	opacity: .4
}

.search-container {
	top: 45px;
	padding: 10px;
	overflow-x: visible;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.search-container .search-facets {
	padding-left: 0
}

.search-container .search-facets li.facet {
	width: 100%;
	margin: 0 0 7px
}

.search-container .search-facets li.facet .facet-container {
	width: 100%;
	max-height: none;
	padding: 10px 13px
}

.search-container .search-facets li.facet .facet-container .facet-label
	{
	font-weight: 700;
	display: block;
	text-align: left
}

.search-container .search-facets li.facet .facet-container .facet-label i,
	.search-container .search-facets li.facet .facet-container .facet-label .type
	{
	font-weight: 400;
	font-style: normal;
	color: rgba(0, 0, 0, .555)
}

.search-container .search-facets .timefacet .facet-container .type {
	padding-bottom: 4px;
	color: rgba(0, 0, 0, .5)
}

.search-container .search-facets .timefacet .facet-container .input-daterange .input
	{
	height: 24px;
	min-width: 90px
}

.search-container .search-facets .timefacet .facet-container .input-daterange .input-group-addon
	{
	height: 24px;
	padding: 0 8px
}

.search-container a[data-action=close], .search-container a[data-action=toggle-adv]
	{
	margin-bottom: 8px;
	margin-top: 12px;
	margin-left: 12px;
	display: block
}

.search-container .facet-dropdown {
	width: 100%;
	max-width: 300px;
	right: 0;
	left: auto
}