.month-view * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.month-view .footer-container {
	position: absolute;
	top: 7px;
	margin-left: 80px;
	width: auto
}

.month-view .footer-container .footer {
	left: 0
}

.month-view .footer-container .footer .weekday {
	width: 14.28571429%;
	text-align: center
}

.month-view .controls-container {
	padding-top: 16px
}

.month-view .scrollpane {
	outline: 0;
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.touch .month-view .scrollpane {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.touch .month-view .scrollpane {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.month-view .scrollpane .week {
	height: 16.66666667%;
	padding-left: 80px
}

.month-view .scrollpane .week .week-info {
	position: absolute;
	left: 0;
	width: 70px;
	height: 16.66666667%;
	padding: 13px 13px 13px 1px;
	font-size: 11px;
	line-height: 1em;
	text-align: right;
	color: #767676;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.month-view .scrollpane .week .week-info.no-border {
	border: 0
}

.month-view .scrollpane .week .week-info .cw {
	position: absolute;
	right: 13px;
	top: 5px;
	z-index: 1
}

.month-view .scrollpane .week .day-filler {
	position: relative;
	display: inline-block;
	width: 14.28571429%;
	height: 100%;
	background-color: #fff
}

.month-view .scrollpane .week .day-filler.bordertop {
	border-top: 1px solid #ddd
}

.month-view .scrollpane .week .day-filler.borderright {
	border-right: 1px solid #ddd
}

.month-view .scrollpane .week .day {
	position: relative;
	display: inline-block;
	width: 14.28571429%;
	height: 100%;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #fff
}

.month-view .scrollpane .week .day.bordertop {
	border-top: 1px solid #ddd
}

.month-view .scrollpane .week .day.borderbottom {
	border-bottom: 1px solid #ddd
}

.month-view .scrollpane .week .day.borderleft {
	border-left: 1px solid #ddd
}

.month-view .scrollpane .week .day.borderright {
	border-right: 1px solid #ddd
}

.month-view .scrollpane .week .day.first {
	border-left: 0
}

.month-view .scrollpane .week .day.forceleftborder {
	border-left: 1px solid #ddd
}

.month-view .scrollpane .week .day .number {
	position: absolute;
	color: #767676;
	text-align: right;
	right: 0;
	top: 0;
	padding: 5px 7px;
	z-index: 1;
	font-size: 11px;
	line-height: 1em;
	background-color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default
}

html.high-contrast .month-view .scrollpane .week .day .number {
	color: #000
}

.month-view .scrollpane .week .day.today .number {
	color: #fff;
	font-weight: 700;
	background-color: #cf3239
}

.month-view .scrollpane .week .day.weekend:not (.today ) .number {
	color: #a00
}

.month-view .scrollpane .week .day .list {
	top: 25px;
	margin: 2px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 0
}

.month-view .scrollpane .month-name {
	text-align: center;
	font-size: 25px;
	min-height: 40px;
	color: #777
}

@media ( min-height :850px) {
	.month-view .scrollpane .month-name {
		font-size: 35px
	}
}

.month-view .scrollpane .month-name div {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.month-view .appointment {
	line-height: 14px;
	margin-bottom: 1px;
	white-space: nowrap;
	cursor: pointer;
	background-color: #3774a8;
	opacity: .85;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.touch .month-view .appointment {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.touch .month-view .appointment {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden
}

.month-view .appointment .appointment-content {
	height: 100%;
	width: 100%;
	font-size: 12px;
	padding: 2px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.month-view .appointment .appointment-content>* {
	padding-left: 5px;
	display: inline
}

.month-view .appointment .private-flag {
	float: left;
	font-size: 15px
}

@media ( min-width :1281px) {
	.month-view .footer-container {
		margin-left: 100px
	}
	.month-view .scrollpane .week {
		padding-left: 100px
	}
	.month-view .scrollpane .week .week-info {
		width: 90px
	}
}

@media ( max-width :480px) and (orientation:portrait) , ( max-height
	:480px) and (orientation:landscape) {
	.month-view .toolbar .info {
		top: 10px;
		left: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 45%
	}
	.month-view .footer-container {
		top: 0;
		margin-left: 0
	}
	.month-view .footer-container .footer {
		left: 0
	}
	.month-view .footer-container .footer .weekday {
		width: 14.28571429%;
		font-size: 15px
	}
	.month-view .scrollpane {
		-webkit-user-select: none;
		top: 33px
	}
	.month-view .scrollpane .week {
		height: 16.66666667%;
		min-height: 40px;
		border-bottom: 1px solid #ccc;
		padding-left: 0
	}
	.month-view .scrollpane .week.no-border {
		border: 0
	}
	.month-view .scrollpane .week .day {
		width: 14.28571429%;
		border-width: 0;
		-webkit-user-select: auto
	}
	.month-view .scrollpane .week .day:active {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
		background-color: #ccc
	}
	.month-view .scrollpane .week .day .number {
		top: auto;
		bottom: auto;
		left: 0;
		text-align: center;
		color: rgba(1, 1, 1, .6);
		font-size: 20px;
		font-weight: 200;
		background-color: transparent
	}
	.month-view .scrollpane .week .day.today, .month-view .scrollpane .week .day.today .number
		{
		font-weight: 700;
		color: #cf3239;
		background-color: transparent
	}
	.month-view .scrollpane .week .day .list {
		top: 50%;
		font-size: 12px;
		text-align: center;
		color: #777;
		-webkit-transition: color .2s linear;
		-o-transition: color .2s linear;
		transition: color .2s linear
	}
	.month-view .scrollpane .week .day-filler {
		width: 14.28571429%;
		border: 0
	}
	.month-view .scrollpane .week .day-filler.bordertop {
		border: 0
	}
	.month-view .scrollpane .month-name {
		margin-left: 0;
		border: 0;
		font-size: 26px;
		font-weight: 300
	}
}