.resource-administration {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px
}

.resource-administration .classic-toolbar-container {
	position: absolute;
	top: 35px;
	width: 100%
}

.resource-administration .classic-toolbar {
	border: 0;
	padding: 0
}

.resource-administration .classic-toolbar>li>a {
	padding: 10px 18px
}

.settings-detail-pane .resource-administration h1 {
	font-size: 22px;
	font-family: "Helvetica Neue", OpenSans, Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
	padding-left: 18px
}

.settings-detail-pane .resource-administration h2 {
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 1em
}

.resource-administration .below-toolbar {
	top: 90px
}

.resource-administration .list-view {
	border: 1px solid #ddd
}

.resource-administration .detail-pane {
	padding: 10px 30px 20px
}

.administration-resource-editor {
	height: 350px
}

.administration-resource-editor input[name=display_name] {
	font-weight: 700
}

.administration-resource-editor label {
	font-size: 13px;
	color: #777
}