.preview-plaintext {
	font-family: monospace;
	font-size: 13px;
	white-space: pre-wrap;
	cursor: auto;
	word-break: break-all;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}