.rightside.classic-toolbar-visible .thread-view-control {
	top: 40px
}

.window-container.mail-categories-visible .rightside.classic-toolbar-visible .thread-view-control
	{
	top: 80px
}

.preview-right .leftside {
	width: 320px
}

.preview-right .rightside {
	left: 320px
}

@media ( max-width :900px) {
	.preview-right .leftside {
		width: 240px
	}
	.preview-right .rightside {
		left: 240px
	}
}

.preview-bottom .leftside {
	right: 0;
	bottom: auto;
	left: 0;
	width: auto !important;
	height: 45%;
	border-bottom: 1px solid #ccc;
	z-index: 2;
	overflow: visible
}

.preview-bottom .rightside {
	top: 45%;
	right: 0;
	left: 0 !important;
	z-index: 2;
	overflow: visible
}

.preview-bottom .thread-view-control {
	overflow: auto
}

.preview-bottom .list-view-control .resizebar {
	display: none
}

.preview-bottom .list-view-control .resizebar.vertical {
	background: 0 0;
	width: 100%;
	height: 5px;
	position: absolute;
	z-index: 10000;
	cursor: s-resize;
	cursor: ns-resize;
	cursor: row-resize;
	top: auto;
	right: auto;
	bottom: 0;
	display: block
}

.preview-bottom .inplace-reply {
	margin: 14px
}

.preview-none .leftside, .preview-none .rightside {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.preview-none .leftside {
	width: auto !important;
	z-index: 1
}

.preview-none .rightside {
	left: 0 !important;
	width: auto;
	display: none;
	z-index: 2
}

.preview-none .rightside.preview-visible {
	display: block
}

.list-item.small {
	padding-top: 7px;
	padding-bottom: 7px
}

.list-item.small .list-item-checkmark .fa.fa-checkmark {
	top: 8px
}

.list-item.small .list-item-content, .thread-view .list-item.small {
	display: table;
	width: 100%;
	table-layout: fixed
}

.mail-item .list-item {
	padding-top: 8px;
	padding-bottom: 6px
}

.mail-item .list-item-column {
	display: table-cell;
	vertical-align: middle;
	padding: 0
}

.mail-item .list-item-column.column-1 {
	width: 24px;
	text-align: center
}

.mail-item .list-item-column.column-2 {
	width: 24px;
	text-align: center
}

.mail-item .list-item-column.column-3 {
	width: 24px;
	text-align: center
}

.mail-item .list-item-column.column-4 {
	width: 35%;
	padding-right: 10px
}

.mail-item .list-item-column.column-5 {
	width: 55%;
	padding-right: 10px
}

.mail-item .list-item-column.column-6 {
	width: 140px;
	text-align: right
}

.mail-item.list-view .list-item.small .priority {
	float: none
}

.mail-item.list-view .list-item.small .from span.person {
	font-weight: 400
}

.mail-item.list-view .list-item.small .drag-title {
	opacity: 1
}

.mail-item.list-view .list-item.small .date {
	display: block;
	float: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mail-item.list-view .list-item.small.unread .from span.person,
	.mail-item.list-view .list-item.small.unread .subject, .mail-item.list-view .list-item.small.unread .date
	{
	font-weight: 700
}

.mail-item.list-view .list-item.unread .date {
	opacity: 1;
	font-weight: 700
}

html.high-contrast .mail-item.list-view .list-item.unread .subject {
	color: #3774a8
}

.smartphone .list-view.mail-item .list-item {
	border-right: 1px solid rgba(0, 0, 0, .15);
	margin-right: -1px
}

.smartphone .list-view.mail-item .list-item.unread.selected .subject {
	color: #000
}

.smartphone .list-view.mail-item .list-item.complete>.list-item:last-child
	{
	margin-bottom: 40px;
	border-bottom: 0
}

.smartphone .list-view.mail-item .list-item .list-item-content {
	font-size: 16px;
	line-height: 26px
}

.smartphone .list-view .list-item {
	background-color: #fff
}

.smartphone .list-view .list-item:hover {
	background-color: #eee
}

.smartphone .list-view.complete>.list-item:last-child {
	margin-bottom: 40px;
	border-bottom: 0
}

.smartphone .thread-view .from {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.smartphone .thread-view .list-view .list-item:hover {
	background-color: #fff
}

.swipe-option-cell {
	position: absolute;
	width: 100%;
	right: 0;
	z-index: -5
}

.swipe-option-cell .swipe-button {
	height: 100%;
	width: 95px;
	color: #fff;
	line-height: 63px;
	font-size: 30px;
	text-align: center;
	float: right
}

.swipe-option-cell .swipe-button.delete {
	background: #FF4105
}

.swipe-option-cell .swipe-button.more {
	background: #ffa908
}

.list-view.thread-view .list-item.small {
	padding: 7px 14px 7px 48px
}

.mail-detail {
	color: #000;
	background-color: #fff;
	position: relative;
	overflow-y: visible;
	clear: both;
	width: 100%
}

.mail-detail section.body {
	margin: 0;
	padding: 16px;
	background-color: #fff;
	display: none;
	width: 100%;
	cursor: default
}

.mail-detail section.body.loading {
	min-height: 80px
}

.mail-detail section.attachments, .mail-detail section.notifications {
	display: none
}

.mail-detail.expanded section.attachments, .mail-detail.expanded section.notifications
	{
	display: block
}

.mail-detail.expanded section.body {
	display: table
}

.mail-detail.expanded section.attachments:empty {
	display: none
}

.mail-detail.no-padding h1.subject, .mail-detail.no-padding section.body,
	.mail-detail.no-padding section.notifications, .mail-detail.no-padding section.attachments
	{
	padding-left: 0;
	padding-right: 0
}

.mail-detail .flag-picker .dropdown-menu {
	font: 14px/20 "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 110%
}

.mail-detail .contact-picture {
	display: inline-block
}

html.high-contrast .mail-detail .contact-picture {
	display: none
}

.mail-detail .from {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mail-detail .from span.person {
	color: inherit;
	font-weight: 700
}

.mail-detail .from.list {
	display: block
}

.mail-detail .from .person-link.person-sender {
	color: #333
}

.mail-detail .from .person-link.person-from {
	font-weight: 700;
	color: #000
}

.mail-detail.io-ox-busy {
	min-height: 200px;
	display: block
}

.mail-detail .io-ox-center {
	height: 200px
}

.mail-detail .recipient-actions {
	display: inline-block
}

.mail-detail .recipient-actions a.all-link {
	text-decoration: none
}

.mail-detail .recipient-actions i.fa-group {
	color: #aaa
}

.mail-detail .date {
	display: block;
	float: right
}

.mail-detail .subject {
	font-size: 20px;
	line-height: 24px;
	padding: 12px 16px 4px;
	margin: 0;
	font-weight: 300
}

.mail-detail .subject.empty {
	font-style: italic;
	color: #aaa
}

.mail-detail .subject .icon-unread {
	display: none
}

.mail-detail.unread .subject .icon-unread {
	color: #3c73aa;
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 0
}

html.high-contrast .mail-detail.unread .subject .icon-unread {
	color: #3774a8
}

.mail-detail .thread-size {
	color: #aaa;
	float: right;
	display: inline-block;
	margin-left: .5em
}

.mail-detail .external-images, .mail-detail .disposition-notification {
	display: table;
	width: 100%
}

.mail-detail .external-images .btn, .mail-detail .disposition-notification .btn
	{
	float: left;
	margin-right: 16px
}

.mail-detail .external-images .comment, .mail-detail .disposition-notification .comment
	{
	display: table
}

.mail-detail .external-images .close, .mail-detail .disposition-notification .close
	{
	position: relative;
	right: -10px
}

.mail-detail .priority {
	float: right;
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	margin-left: 7px
}

.mail-detail .priority .high {
	color: #ff4700
}

.mail-detail .priority .low {
	color: #0af
}

.mail-detail .contact-picture {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

.mail-detail.no-padding .contact-picture {
	left: 0
}

.mail-detail .io-ox-label {
	font-size: 12px;
	font-weight: 700;
	white-space: nowrap
}

html.high-contrast .mail-detail .io-ox-label {
	color: #767676
}

.mail-detail .recipients .person-link {
	color: #333
}

@media ( max-width :900px) {
	.mail-detail .recipients .person-link {
		white-space: normal
	}
}

.mail-detail .detail-view-header {
	position: relative;
	line-height: 16px;
	padding: 19px 16px 11px 96px;
	min-height: 64px
}

.mail-detail .detail-view-header .fa-paperclip.has-attachments {
	display: none;
	position: absolute;
	top: 8px;
	right: 0;
	font-size: 24px;
	width: 12px;
	overflow: hidden;
	color: #888
}

.mail-detail .detail-view-row {
	position: relative
}

.mail-detail .detail-view-row .date {
	float: right;
	margin-left: 16px;
	margin-right: 27px
}

.mail-detail .detail-view-row .recipients {
	float: left
}

.mail-detail .detail-view-row .priority {
	font-size: 14px
}

.mail-detail .detail-view-row .flag-picker {
	float: none;
	position: absolute;
	top: 0;
	right: 1px;
	width: 12px;
	text-align: right
}

.mail-detail .detail-view-row .flag-picker a {
	color: #333
}

.mail-detail .detail-view-row .actions {
	font-size: 13px;
	margin: 8px 0 0
}

.mail-detail .detail-view-row .actions>li {
	display: inline-block
}

.mail-detail .detail-view-row .actions .fa-bars {
	font-size: 14px
}

.mail-detail:not (.expanded ) .fa-paperclip.has-attachments {
	display: inline-block;
	top: 38px;
	right: 14px;
	font-size: 15px
}

.mail-detail:not (.expanded ) .detail-view-row.row-4, .mail-detail:not (.expanded
	) .inplace-reply {
	display: none
}

.mail-detail:not (.expanded ) .unread-toggle, .mail-detail:not (.expanded
	) .flag-picker>a, .mail-detail:not (.expanded ) .recipients,
	.mail-detail:not (.expanded ) .row-3 {
	opacity: .6
}

.mail-detail:not (.expanded ).unread .unread-toggle {
	opacity: 1
}

.mail-detail:not (.expanded ) .recipients {
	max-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

html.high-contrast .mail-detail:not (.expanded ) .recipients {
	opacity: 1
}

.mail-detail.expanded .detail-view-header {
	border-bottom: 1px solid #eee
}

.mail-detail .notifications {
	cursor: default
}

.mail-detail .notification-item {
	padding: 16px;
	border-bottom: 1px solid #ddd
}

.mail-detail .notification-item+.notification-item {
	border-top: 0
}

.mail-detail .alert, .mail-detail .well {
	margin: 0;
	border: 0;
	padding: 16px 40px 16px 16px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.mail-detail .alert+.alert {
	margin-top: 1px
}

.mail-detail .well+.well {
	border-top: 1px solid #ddd
}

.mail-detail article {
	padding: 19px;
	border: 1px solid #fff;
	display: table;
	background-color: #fff
}

.mail-detail article.text-html.horizontal-scrolling {
	max-width: 100%;
	overflow-x: auto;
	margin-right: -10000px
}

.mail-item .contact-picture {
	float: left;
	margin: 0 16px 0 0;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%
}

html.high-contrast .mail-item .contact-picture {
	display: none
}

.mail-item .selected .contact-picture {
	opacity: .25;
	-webkit-filter: saturate(0)
}

.mail-item .from {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 20px
}

.mail-item .from span.person {
	color: inherit;
	font-weight: 500
}

.mail-item .unread .from span.person {
	font-weight: 700
}

.mail-item .date, .mail-item .size {
	font-weight: 300;
	display: inline-block;
	margin-left: 8px;
	float: right
}

.mail-item.visible-selection.has-focus .selected .list-item-content .drag-title,
	.mail-item.visible-selection.has-focus .selected .date {
	opacity: 1
}

.mail-item .date {
	opacity: .75
}

html.high-contrast .mail-item .date {
	opacity: 1
}

.mail-item .actions {
	font-size: 14px
}

.mail-item .actions a {
	padding-left: 16px
}

.mail-item .list-item-content {
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mail-item .list-item-content i {
	font-size: 14px;
	display: inline-block;
	float: left;
	line-height: 20px;
	margin-right: 8px
}

.mail-item .list-item-content i.seen-unseen-indicator:before {
	content: "\f003";
	color: rgba(0, 0, 0, .5)
}

.mail-item .list-item-content i.icon-answered {
	color: #aaa
}

.mail-item .list-item-content i.icon-forwarded {
	color: #888
}

.mail-item .list-item-content .subject {
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis
}

.mail-item .list-item-content .drag-title {
	opacity: .75
}

.mail-item .list-item-content i.flag {
	font-size: 18px;
	padding: 0;
	margin: 0 0 0 8px;
	float: right
}

.mail-item .list-item-content .breadcrumb-view {
	margin: 0
}

.mail-item .list-item-content .breadcrumb-view i {
	float: none;
	line-height: 14px
}

.mail-item .unread i.seen-unseen-indicator:before {
	content: "\f0e0";
	color: #3c73aa
}

.mail-item.visible-selection.has-focus .list-item.selected i.seen-unseen-indicator:before
	{
	color: rgba(255, 255, 255, .5)
}

.mail-item .fa-paperclip.has-attachments, .mail-item .fa-cloud-download.is-shared-attachement,
	.mail-item i.fa.signed, .mail-item i.fa.encrypted {
	font-size: 16px;
	margin: 0 0 0 8px;
	float: right
}

.mail-item .list-item.deleted {
	text-decoration: line-through;
	color: rgba(0, 0, 0, .2)
}

.mail-item.visible-selection.has-focus .list-item.selected i {
	opacity: .9
}

.mail-item.visible-selection.has-focus .list-item.selected i:not (.flag
	):not (.has-attachments ){
	color: rgba(255, 255, 255, .5)
}

.mail-item.visible-selection.has-focus .list-item.selected .fa-paperclip.has-attachments
	{
	opacity: 1
}

.mail-item.visible-selection.has-focus .list-item.selected.deleted {
	color: rgba(255, 255, 255, .5)
}

.mail-item .priority {
	float: right
}

.mail-item .priority i.fa {
	margin: 0 0 0 8px
}

.mail-item .priority .high {
	color: #ff4700
}

.mail-item .priority .low {
	color: #0af
}

.mail-item .account-name, .mail-item .original-folder, .mail-item .thread-size
	{
	font-size: 12px;
	color: #767676;
	line-height: 14px;
	padding: 0 4px;
	margin: 2px 0 0 8px;
	display: inline-block;
	float: right;
	overflow: visible;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .15);
	font-weight: 400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.mail-item .original-folder {
	max-width: 50%
}

.mail-item .original-folder .breadcrumb-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%
}

.mail-item .thread-size {
	min-width: 24px
}

html.high-contrast .mail-item .thread-size {
	color: #767676
}

.mail-item .selected .thread-size, .mail-item .selected .account-name,
	.mail-item .selected .original-folder, .mail-item .selected .original-folder .breadcrumb-link
	{
	color: #555
}

.mail-item.visible-selection.has-focus .selected .thread-size,
	.mail-item.visible-selection.has-focus .selected .account-name,
	.mail-item.visible-selection.has-focus .selected .original-folder,
	.mail-item.visible-selection.has-focus .selected .original-folder .breadcrumb-link
	{
	color: #fff
}

.mail-item .thread-item {
	padding: 5px 16px 5px 46px
}

.mail-item .thread-item .from span.person {
	font-weight: 400
}

.mail-item .thread-item i.icon-unread {
	color: #3c73aa;
	position: absolute;
	line-height: 20px;
	left: 16px
}

.mail-item .thread-item:first-child {
	padding-top: 7px
}

.mail-item .thread-item:last-child {
	padding-bottom: 7px
}

.mail-item .attachments {
	padding: 10px 16px 9px;
	border-bottom: 1px solid #eee
}

.mail-item .attachments .io-ox-inline-links {
	display: inline;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 16px
}

.mail-item .attachments .io-ox-inline-links a:hover {
	text-decoration: underline
}

.mail-item .attachments .io-ox-inline-links li {
	margin-right: 16px
}

.mail-item .attachments .fa-paperclip {
	font-size: 16px;
	color: #3c73aa
}

.mail-item .attachment-list b {
	opacity: .3
}

.mail-item .attachment-list .dropdown {
	margin-right: 1em
}

.mail-item .attachment-list .fa-paperclip {
	font-size: 16px;
	color: #3c73aa
}

.mail-item .unread-toggle {
	position: absolute;
	top: 19px;
	left: 72px;
	outline: 0;
	font-size: 14px;
	color: #767676
}

.mail-item .unread-toggle:focus i {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.mail-item .unread-toggle:hover {
	text-decoration: none;
	color: #aaa
}

.mail-item .unread-toggle i.fa:before {
	content: "\f003"
}

.mail-item.unread .unread-toggle {
	color: #3c73aa
}

.mail-item.unread .unread-toggle i.fa:before {
	content: "\f0e0"
}

.thread-view-list {
	padding: 16px;
	background-color: #eee
}

.thread-view-list.scrollable {
	overflow: auto
}

.thread-view-list>.thread-view-header {
	padding-bottom: 0;
	background-color: #fff
}

.thread-view-list>.thread-view-header>* {
	font-size: 20px;
	line-height: 24px;
	padding: 12px 16px 4px;
	margin: 0;
	font-weight: 300
}

.thread-view-list>.thread-view-header .subject {
	word-break: break-word;
	padding-bottom: 0
}

.thread-view-list>.thread-view-header .subject.spacer {
	padding-bottom: 20px
}

.thread-view-list>.thread-view-header .summary {
	display: block;
	color: #767676;
	font-size: 13px;
	line-height: 16px;
	font-weight: 300;
	margin: 0;
	padding-top: 0;
	padding-bottom: 4px
}

html.high-contrast .thread-view-list>.thread-view-header .summary {
	color: #767676
}

.thread-view-list>.thread-view-header .toggle-all, .thread-view-list>.thread-view-header .toggle-big-screen
	{
	color: #767676;
	float: right;
	outline: 0;
	padding: 0;
	margin: 12px 16px 4px 0;
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start
}

.thread-view-list>.thread-view-header .toggle-all:hover,
	.thread-view-list>.thread-view-header .toggle-big-screen:hover {
	color: #595959
}

.thread-view-list>.thread-view-header .toggle-all:focus,
	.thread-view-list>.thread-view-header .toggle-big-screen:focus {
	color: #3c73aa
}

.mail-progress .progress {
	height: 4px;
	margin-bottom: 8px;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0
}

.mail-progress .caption {
	font-size: 12px;
	line-height: 16px;
	text-align: center
}

.mail-progress a {
	display: inline-block;
	padding-right: 10px
}

.inplace-reply {
	margin: 16px 0 0;
	padding: 0 16px
}

.inplace-reply .form-group {
	margin-bottom: 0
}

.inplace-reply .progress {
	height: 4px;
	margin-bottom: 20px;
	position: relative;
	top: 8px
}

.inplace-reply .success {
	font-size: 14px;
	font-weight: 500;
	text-align: right;
	color: #358000;
	padding: 2px 0
}

textarea.inplace-editor {
	color: #333;
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	width: 100%;
	height: 105px;
	min-height: 105px;
	max-height: 401px;
	padding: 11px 11px 8px;
	margin: 0 0 15px;
	resize: none
}

.thread-view-control {
	background-color: #eee
}

.thread-view-control .back-navigation {
	display: none;
	top: 0;
	border-bottom: 1px solid #ccc
}

.thread-view-control .back-navigation a {
	outline: 0
}

.thread-view-control .back-navigation a:hover {
	text-decoration: none
}

.thread-view-control .back-navigation a.disabled {
	color: #aaa;
	cursor: default
}

.thread-view-control .back-navigation .button, .thread-view-control .back-navigation .prev-next
	{
	display: table-cell;
	width: 40%
}

.thread-view-control .back-navigation .button {
	padding-left: 16px
}

.thread-view-control .back-navigation .button i {
	margin-right: 16px
}

.thread-view-control .back-navigation .position {
	color: #767676;
	display: table-cell;
	text-align: center;
	width: 20%
}

.thread-view-control .back-navigation .prev-next {
	text-align: right;
	padding-right: 16px
}

.thread-view-control .back-navigation .prev-next i {
	margin-left: 16px
}

.thread-view-control .back-navigation .fa {
	color: inherit;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px
}

.thread-view-control .detail-view {
	top: 0;
	outline: 0;
	overflow: auto;
	z-index: 1
}

.thread-view-control.back-navigation-visible .back-navigation {
	display: table
}

.thread-view-control.back-navigation-visible .detail-view,
	.thread-view-control.back-navigation-visible .thread-view-list {
	top: 45px
}

.thread-view-control.thread-view-navigation-visible .thread-view-navigation
	{
	display: table
}

.thread-view-control.thread-view-navigation-visible .detail-view {
	top: 45px
}

.thread-view.list-view {
	list-style-type: none;
	padding: 0;
	overflow: visible;
	height: auto
}

.thread-view.list-view .list-item {
	cursor: default;
	background-color: #fff;
	clear: both;
	padding: 0;
	margin-bottom: 8px;
	border-bottom: 1px solid transparent
}

.thread-view.list-view .list-item:last-child {
	margin-bottom: 0;
	border-bottom-color: transparent
}

.thread-view.list-view.multiple-messages .list-item {
	cursor: pointer
}

.smartphone .thread-view.list-view .list-item:last-child {
	margin-bottom: 40px
}

.smartphone .thread-view.list-view .list-item:last-child .detail-view-header
	{
	border-bottom: 0
}

.rightside.mail-detail-pane {
	background-color: #eee
}

.rightside.mail-detail-pane .thread-view-control, .rightside.mail-detail-pane.selection-one .multi-selection-message
	{
	display: none
}

.rightside.mail-detail-pane.selection-one .thread-view-control {
	display: block
}

.rightside.mail-detail-pane .scrollable-pane {
	margin-bottom: 20px;
	height: 110%
}

.rightside.mail-detail-pane .multi-selection-message div {
	color: #555
}

.mail-source-view {
	width: 100%;
	visibility: hidden
}

.io-ox-alert .category-toast .status {
	padding: 0 32px 0 0
}

.io-ox-alert .category-toast p {
	margin-bottom: 16px
}

.mail-categories-dialog .description {
	padding-left: 34px;
	padding-bottom: 6px
}

.mail-categories-dialog .center-childs {
	display: flex;
	align-items: center
}

.mail-categories-dialog .category-item {
	padding-bottom: 6px
}

.mail-categories-dialog .category-item .status {
	height: 14px;
	width: 14px;
	margin: 0;
	margin-right: 8px
}

.mail-categories-dialog .category-item .status.disabled {
	visibility: hidden
}

.mail-categories-dialog .category-item .name {
	flex: 1;
	display: inline-block
}

.mail-categories-dialog .category-item label {
	margin-bottom: 0;
	width: 100%
}

.mail-categories-dialog .category-item label .form-control {
	box-shadow: none;
	border: 0
}

.mail-categories-dialog .hint {
	padding-top: 16px
}

.window-container.mail-categories-visible:not (.io-ox-find-active ) .categories-toolbar-container
	{
	display: flex
}

.window-container.mail-categories-visible:not (.io-ox-find-active ) .classic-toolbar-container .classic-toolbar
	{
	top: 40px
}

.window-container.mail-categories-visible:not (.io-ox-find-active ) .window-body.classic-toolbar-visible .abs.window-content
	{
	top: 80px
}

.categories-toolbar-container .link {
	line-height: 40px
}

.categories-toolbar-container .category-drop-helper {
	display: none
}

body.dragging .categories-toolbar-container .link {
	line-height: 20px
}

body.dragging .categories-toolbar-container .category-drop-helper {
	display: block;
	padding: 0 16px;
	font-size: 12px;
	font-weight: 300
}

.categories-toolbar-container {
	display: none;
	justify-content: flex-start;
	align-items: center
}

.categories-toolbar-container .classic-toolbar {
	display: flex;
	position: static;
	border-bottom: 0;
	width: 100%
}

.categories-toolbar-container .free-space {
	flex: 1
}

.categories-toolbar-container .category:not (.selected ),
	.categories-toolbar-container .free-space {
	border-bottom: 1px solid #ddd
}

.categories-toolbar-container .category {
	cursor: pointer;
	background: #f5f5f5;
	border-right: 1px solid #ddd;
	flex: 1;
	display: flex;
	flex-direction: column;
	max-width: 160px;
	min-width: 0
}

.categories-toolbar-container .category.selected {
	background: #fff
}

.categories-toolbar-container .category .link {
	padding: 0 16px;
	display: flex;
	width: 100%;
	color: inherit
}

.categories-toolbar-container .category .link:focus {
	background-color: inherit
}

.categories-toolbar-container .category .link .category-icon {
	padding-right: 8px
}

.categories-toolbar-container .category .link .category-counter .counter
	{
	padding-left: 8px;
	color: #0076b3;
	font-weight: 700
}

.categories-toolbar-container .category .link .category-icon,
	.categories-toolbar-container .category .link .category-name,
	.categories-toolbar-container .category .link .category-counter {
	display: inline-block
}

.categories-toolbar-container .category .link div:empty,
	.categories-toolbar-container .category .link span:empty {
	display: none
}

.categories-toolbar-container .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

@media ( max-width :768px) {
	.thread-view-list {
		padding: 8px
	}
}

.touch.ios .mail-detail .detail-view-header, .touch.android .mail-detail .detail-view-header
	{
	overflow: hidden
}

@media ( max-width :700px) {
	.io-ox-mail-window .vsplit {
		width: 100%
	}
	.io-ox-mail-window .vsplit .rightside {
		width: auto;
		top: 0;
		right: 0
	}
	.mail-detail-pane .scrollable-pane, .mail-detail-pane.rightside {
		background-color: #fff
	}
	.scrollable-pane::after {
		content: ''
	}
	.mail-detail .subject {
		padding-right: 0
	}
}

.smartphone .io-ox-sidepopup-pane .mail-detail .subject {
	padding-bottom: 12px
}

.smartphone .io-ox-sidepopup-pane .mail-detail .detail-view-header .unread-toggle
	{
	left: 0;
	float: left;
	margin: 0;
	display: block;
	z-index: 2
}

.smartphone .io-ox-sidepopup-pane .mail-detail .detail-view-header .from
	{
	padding: 0 0 10px 20px
}

.smartphone .thread-view-list {
	padding: 0
}

.smartphone .thread-view-list a.unread-toggle {
	left: 16px;
	float: left;
	top: -3px
}

.smartphone .thread-view-list>.thread-view-header {
	padding-bottom: 10px;
	background-color: #aaa;
	color: #fff
}

.smartphone .thread-view-list>.thread-view-header>* {
	font-size: 16px
}

.smartphone .thread-view-list>.thread-view-header .subject {
	line-height: 20px
}

.smartphone .thread-view-list>.thread-view-header .summary {
	padding-top: 20px;
	font-size: 14px;
	color: #fff
}

.smartphone .thread-view-list .row-3 {
	display: none
}

.smartphone .thread-view-list .thread-view header {
	border-bottom: 1px solid #ccc
}

.smartphone .thread-view-list .from, .smartphone .thread-view-list .recipients,
	.smartphone .thread-view-list .date {
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 26px
}

.smartphone .thread-view-list .from .person-link.person-from {
	font-weight: 500
}

.smartphone .thread-view-list .mail-detail:not (.expanded ) .recipients
	{
	max-height: initial
}

.smartphone .mail-item .subject {
	margin-right: 32px
}

.smartphone .mail-item .unread-toggle {
	display: inline-block;
	position: relative;
	top: 0;
	left: auto;
	float: right;
	right: 16px;
	bottom: auto;
	margin-top: 16px
}

.smartphone .mail-item .attachments .io-ox-inline-links {
	font-size: 16px;
	margin-left: 0
}

.smartphone .mail-item .from {
	max-height: none
}

.smartphone .thread-view.list-view.multiple-messages .mail-detail .detail-view-header
	{
	padding: 0;
	min-height: auto
}

.smartphone .thread-view.list-view.multiple-messages .mail-detail .detail-view-header .from
	{
	padding: 8px 8px 0 24px
}

.smartphone .thread-view.list-view.multiple-messages .mail-detail .detail-view-header time
	{
	padding: 8px 16px 0 0
}

.smartphone .thread-view.list-view.multiple-messages .mail-detail .detail-view-header .recipients
	{
	padding-top: 0;
	padding-bottom: 10px;
	margin-bottom: -1px;
	border-bottom: 0
}

.smartphone .thread-view.list-view .list-item {
	margin-bottom: 0
}

.smartphone .mail-detail {
	list-style-type: none;
	border-bottom: 0
}

.smartphone .mail-detail .contact-picture {
	display: none
}

.smartphone .mail-detail .detail-view-header {
	padding: 0 0 16px
}

.smartphone .mail-detail .detail-view-header .from, .smartphone .mail-detail .detail-view-header .recipients,
	.smartphone .mail-detail .detail-view-header .subject {
	padding: 16px
}

.smartphone .mail-detail .detail-view-header .from {
	padding-bottom: 5px
}

.smartphone .mail-detail .detail-view-header .from .person-link.person-from
	{
	font-weight: 500
}

.smartphone .mail-detail .detail-view-header .recipients {
	line-height: 23px;
	padding-top: 8px;
	border-bottom: 1px solid #eee
}

.smartphone .mail-detail .detail-view-header .subject {
	font-size: 16px;
	padding-bottom: 8px;
	line-height: 23px;
	font-weight: 700
}

.smartphone .mail-detail .detail-view-header time {
	padding-left: 16px
}

.smartphone .mail-detail .detail-view-header .sp {
	margin-right: 4px
}

.smartphone .mail-detail section .attachments, .smartphone .mail-detail section .body
	{
	border-top: 1px solid #eee
}

.smartphone .mail-detail section .attachments {
	margin-bottom: 0
}

.smartphone .mail-detail section .body {
	padding: 8px 16px
}

.smartphone .mail-detail.expanded section.attachments:empty {
	border: 0
}

.smartphone .mail-detail .has-attachments {
	display: none
}

.smartphone .mail-detail .mail-attachment-list ul.inline-items li.item {
	line-height: 35px
}

.smartphone .mail-detail .mail-attachment-list ul.inline-items.preview li.item .file
	{
	display: block
}

.smartphone .mail-detail .mail-attachment-list .list-unstyled.io-ox-inline-links
	{
	display: none
}

.smartphone .mail-detail .mail-attachment-list .links {
	display: block
}

.smartphone .mail-detail:not (.expanded ) .recipients {
	opacity: 1
}

.smartphone .mail-detail>header.mobile-detail-view-mail .date {
	margin-left: 0;
	display: inline-block;
	float: none
}

.smartphone .mail-detail>header.mobile-detail-view-mail .flag-picker {
	display: inline-block;
	float: none;
	position: absolute;
	right: 16px
}

.smartphone .io-ox-sidepopup-pane .mail-detail.no-padding .detail-view-header
	{
	padding-left: 0
}

@media print {
	.abs, .atb, .window-container, .window-body, .rightside {
		position: static
	}
	#io-ox-banner, #io-ox-topbar, .window-sidepanel,
		.categories-toolbar-container, .classic-toolbar-container, .leftside,
		.back-navigation, ul.actions, .toggle-all, .contact-picture,
		.unread-toggle, .show-all-recipients {
		display: none !important
	}
	.thread-view-list, .rightside {
		padding: 0 !important;
		overflow: visible !important
	}
	.thread-view.list-view .list-item {
		margin-bottom: 0;
		border-bottom: 1px solid #ddd
	}
	.detail-view-header {
		padding-left: 16px !important
	}
	.detail-view-header .recipients .io-ox-label, .detail-view-header .recipients .person-link,
		.detail-view-header .recipients .delimiter {
		display: inline-block !important
	}
}