/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

.taskNotification  {
    .status {
        float: right;
        margin-top: 4px;
        margin-bottom: 2px;
    }
    .info-wrapper {
        min-height: 24px;
    }
}
#io-ox-notifications {
    #io-ox-notifications-confirmation-tasks {
        .stateselect{
            margin-top: 1px;
            float: left;
            width: 50%;
        }

        .accept-decline-button { margin-right: 14px }
    }
    .end_date {
        line-height: 24px;
    }
}
