/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * © 2016 OX Software GmbH, Germany. info@open-xchange.com
 *
 * @author Daniel Dickhaus <daniel.dickhaus@open-xchange.com>
 */

//definitions
@freetime-free:             rgba(58, 107, 23, 0.5);
@freetime-temporary:        #ffbb00;
@freetime-reserved:         #3774a8;
@freetime-absent:           #eee;
@freetime-lasso:            rgba(54, 155, 255, 0.2);;
@freetime-non-working-hour: #efefef;
@today: #cf3239;
@weekend: #a00;

.scheduling-distribution-name-label {
    width: 100%;
}

.io-ox-calendar-scheduling-window {

    // prevent text cursor on lasso drag
    cursor: default;

    .window-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
    }

    .scheduling-app-header {
        display: flex;
        display: -webkit-flex;
        flex-grow: 0;
        padding: 8px 16px;
        min-height: 56px;
        .app-title {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    .scheduling-app-footer {
        border-top: #ccc solid 1px;
        padding: 8px 16px;
    }
    .freetime-participants-view-body {
        margin-left: 16px;
    }
    .scheduling-app-body {
        display: flex;
        display: -webkit-flex;
        height: 100%;
    }
    .freetime-time-view-header {
        &.row1 {
            padding-top: 8px;
        }
    }
    .scheduling-app-close {
        padding: 0 0 2px 32px;
        color: #666;
    }
}

.freetime-popup {
    padding: 16px;
    overflow-x: hidden;
}
.freetime-popup, .io-ox-calendar-scheduling-window {
    .modal-content .modal-header {
        min-height: 56px;
    }
    .modal-content .modal-header, .scheduling-app-header {
        display: flex;
        display: -webkit-flex;
        .modal-title, .app-title{
            min-width: 255px;
            max-width: 255px;

            @media all and (max-width: 850px) {
                min-width: 185px;
                max-width: 185px;
            }
        }
    }
    .modal-content .modal-body {
        display: flex;
        display: -webkit-flex;
        padding: 0 0 0 16px;
    }
    .info {
        left: auto;
        text-align: left;
        max-width: 30%;
        position: absolute;
        margin-left: 16px;
        line-height: 18px;
        font-size: 16px;
        color: #333;
        text-decoration: none;

        .ellipsis();
        .fontWeight(300);

        .cw {
            font-size: 14px;
            color: @hc-gray;
            margin-left: 8px;
        }
    }

    .header-row2 {
        display: flex;
        display: -webkit-flex;
    }
    .freetime-participants-view-header {
        &.row2 {
            min-width: 255px;
            max-width: 255px;

            @media all and (max-width: 850px) {
                min-width: 185px;
                max-width: 185px;
            }
            .tt-dropdown-menu {
                width: 350px;
                // twitter plugin manually overides this with 100 otherwise
                z-index: 10000 !important
            }
            border-bottom: 1px solid #ccc;
        }

        .add-participants-wrapper {
            padding-left: 16px;
            margin-top: 11px;

            .add-participant {
                height: 32px;
            }

            // maximize content
            .tt-suggestion {
                padding: 3px;
                font-size: 13px;

                .participant-image {
                    margin-top: 8px;
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }
    .freetime-time-view-header {
        flex: 1;
        -webkit-flex: 1;
        &.row1 {
            margin-top: 1px;
        }

        .controls-container {
            display: inline-block;
            width: auto;

            a { padding: 9px; }
        }
    }
    .dropdown-menu {
        // stay over dynamic appointment indexes
        z-index: 10000;
    }
}

.freetime-view-header {

    .header-row2 {
        position: relative;
        height: 56px;
    }

    // use min height or flex grow produces overlap when participant list is large
    min-height: 56px;

    .freetime-participants-view-header {

        &.row2 {
            min-width: 271px;
            max-width: 271px;

            @media all and (max-width: 850px) {
                min-width: 201px;
                max-width: 201px;
            }
        }
    }
    .freetime-time-view-header {
        flex: 1;
        -webkit-flex: 1;

        &.row2 {
            border-left: 1px solid #ddd;
            overflow: hidden;
        }

        .freetime-timeline {
            display: flex;
            display: -webkit-flex;
            font-size: 13px;

            .timeline-day {
                border-bottom: 1px solid #ccc;
                // needed to make safari happy
                flex-shrink: 0;

                &.today {
                    .daylabel-container {
                        border-left-color: @today;
                        .day-label-wrapper:first-child {
                            .day-label {
                                background: @today;
                                color: #fff;
                            }
                        }
                    }
                    .day-start {
                        border-left-color: @today;
                    }
                }

                .daylabel-container {
                    display: flex;
                    display: -webkit-flex;
                    height: 24px;
                    border-left: 1px solid #888;
                    .day-label-wrapper {
                        font-weight: bold;
                        display: inline;
                        min-width: 25%;
                        .day-label {
                            padding: 2px 8px 4px 8px;
                            display: inline-block;
                        }
                        &.weekend {
                            color: #cf3239;
                        }
                    }

                    &.first {
                        border-left: none;
                    }
                }

                .day-hours {
                    display: flex;
                    display: -webkit-flex;
                    height: 31px
                }
            }

            .freetime-hour {
                flex: 1;
                -webkit-flex: 1;
                line-height: 21px;
                margin-top: 9px;
                padding-left: 8px;
                cursor: pointer;
                border-left: #ccc solid 1px;
                &.hover {
                    text-decoration: underline;
                }
                &.day-start{
                    border-left: #888 solid 1px;
                    margin-top: 0;
                    padding-top: 9px;
                }
                &.first {
                    border-left: none;
                }
            }

        }
    }

    &.zoomlevel-100  {
        .freetime-timeline .timeline-day .daylabel-container .level-2{
            display: none;
        }

        .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper {
            min-width: 50%;
        }

        &.only-workinghours .freetime-timeline .timeline-day .daylabel-container .level-1{
            display: none;
        }
        .freetime-hour {
            min-width: 60px;
        }
    }
    &.zoomlevel-200 {
        &.only-workinghours .freetime-timeline .timeline-day .daylabel-container .day-label-wrapper {
            min-width: 50%;
            &.level-2{
                display: none;
            }
        }
        .freetime-hour {
            min-width: 120px;
        }
    }
    &.zoomlevel-400 .freetime-hour {
        min-width: 240px;
    }

    &.zoomlevel-1000 .freetime-hour {
        min-width: 600px;
    }
}

.freetime-view-body {
    display: flex;
    display: -webkit-flex;
    overflow-x: hidden;

    .freetime-participants-view-body {
        width: 255px;
        font-size: 13px;
        overflow-y: hidden;
        min-height: auto;

        @media all and (max-width: 850px) {
            width: 185px;
        }

        .participantsrow {
            padding-left: 0;
            margin-bottom: 0;
            padding-right: 1px;

            .participant-image {
                margin-top: 2px;
                width: 32px;
                height: 32px;
            }
            .participant-name {
                padding-top: 8px;
                font-weight: normal;
                .family-name {
                    font-weight: bold;
                }
            }

            .participant-wrapper {
                padding-left: 0;
                min-height: 38px;
                margin: 1px 0;
            }
            .remove:not(:hover) {
                background-color: #fff;
            }
        }
    }
    &.compact {
        .participantsrow {
            .participant-wrapper {
                min-height: 22px;
            }
            .participant-image {
                margin-top: 2px;
                width: 16px;
                height: 16px;
            }
            .participant-name {
                padding-top: 0px;
            }
        }
    }

    &.zoomlevel-100 .appointment{
         &.under-one-hour .title,.location{
            display: none;
        }
    }

    &.zoomlevel-100 .freetime-table-cell {
        width: 60px;
    }
    &.zoomlevel-200 .freetime-table-cell {
        width: 120px;
    }
    &.zoomlevel-400 .freetime-table-cell {
        width: 240px;
    }
    &.zoomlevel-1000 .freetime-table-cell {
        width: 600px;
    }

    .freetime-time-view-body {
        flex: 1;
        -webkit-flex: 1;
        position: relative;
        overflow-y: auto;
        border-left: 1px solid #ddd;

        // to show busy animation correctly
        &.io-ox-busy {
            position: initial;
        }

        // copied from bootstrap; but without own background-color; mixins do not work here; therefore copy/paste
        .striped {
            background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,0.15) 25px, rgba(255,255,255,0.15) 50px);
            background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,0.15) 25px, rgba(255,255,255,0.15) 50px);
            background-image: -o-repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,0.15) 25px, rgba(255,255,255,0.15) 50px);
            background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(255,255,255,0.15) 25px, rgba(255,255,255,0.15) 50px);
            background-repeat: repeat;
            background-size: 141px 141px;
        }

        .freetime-table {
            position: relative;
            // small hack to force correct scrollbar rendering so height cacluclation can be done
            min-height: 1px;

            .freetime-time-table {
                display: flex;
                display: -webkit-flex;
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 1;

                .freetime-table-cell {
                    height: 100%;
                    border-left: #ccc solid 1px;
                    &.non-working-hour {
                        background-color: @freetime-non-working-hour;
                    }

                    &.day-start {
                        border-left: #888 solid 1px;
                    }

                    &.first {
                        border-left: none;
                    }

                    &.today {
                        border-left-color: @today
                    }
                }
            }
            .freetime-lasso {
                // important or the lasso prevents clicks on the appointments
                pointer-events:none;
                background-color: @freetime-lasso;
                bottom: 0px;
                top: 0px;
                position: absolute;
                border: 1px solid #63b7ff;
                border-width: 0 1px 0 1px;
                // high z index to leave room for dynamic appointment z index
                z-index: 9000;
            }
        }
        .appointments {
            position: relative;
            font-size: 12px;

            .appointment-table {
                height: 40px;
                position: relative;
                &:not(:last-child) {
                    border-bottom: #eee solid 1px;
                }

                .appointment {
                    height: 100%;
                    position: absolute;
                    overflow: hidden;
                    border-left: 1px solid rgba(0, 0, 0, 0.2);
                    birder-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 8px;
                    display: none;
                    .title {
                        line-height: 24px;
                        font-weight: normal;
                        overflow: hidden;
                        color: #fff;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .appointment-time {
                        opacity: 0.6;
                        margin-left: 4px;
                    }
                    &.has-detailview:hover {
                        cursor: pointer;
                    }
                    &.has-location {
                        padding: 4px 8px;
                        .title {
                            line-height: 16px;
                        }
                        .location {
                            opacity: 0.6;
                            line-height: 16px;
                            font-weight: normal;
                            overflow: hidden;
                            color: #fff;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    &.free {
                        background-color: @freetime-free;
                    }
                    &.absent {
                        background-color: @freetime-absent;
                        .title, .location {
                            color: #333;
                        }
                        border-left-color: #333;
                        background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbbbbb 1px, #bbbbbb 8px);
                        background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbbbbb 1px, #bbbbbb 8px);
                        background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbbbbb 1px, #bbbbbb 8px);
                        background-image: repeating-linear-gradient(-45deg, transparent, transparent 7px, #bbbbbb 1px, #bbbbbb 8px);
                    }
                    &.temporary {
                        background-color: @freetime-temporary;
                    }
                    &.reserved {
                        background-color: @freetime-reserved;
                    }
                }
            }
        }

        &.showFree .appointments .free { display: block; }
        &.showTemporary .appointments .temporary { display: block; }
        &.showReserved .appointments .reserved { display: block; }
        &.showAbsent .appointments .absent { display: block; }
    }
    &.compact {
        .appointments {
            .appointment-table {
                height: 24px;
                .appointment {
                    padding: 4px 8px;
                    .title {
                        line-height: 16px;
                    }
                    .location {
                        display: none;
                    }
                }
            }
        }
    }
}
