.io-ox-search .result li:first-child {
	padding-top: 0
}

.io-ox-search .result .item {
	font-size: 13px;
	line-height: 20px;
	list-style-type: none;
	padding: 9px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	max-width: 500px;
	cursor: pointer
}

.io-ox-search .result .line1 {
	font-weight: 500
}

.io-ox-search .result .line2 {
	font-style: italic
}