.io-ox-portal .widget.widget-color-custom.color-linkedin {
	background-color: #000
}

.io-ox-portal .widget.widget-color-custom.color-linkedin .decoration {
	background-color: #007bb6
}

.io-ox-portal .widget.widget-color-custom.color-linkedin:focus .decoration
	{
	background-color: #005983
}

@media all and (max-width:480px) , all and (max-device-width:480px) {
	.io-ox-portal .widget.widget-color-custom.color-linkedin {
		background-color: #007bb6
	}
	.io-ox-portal .widget.widget-color-custom.color-linkedin .decoration {
		background-color: transparent
	}
}

.linkedIn .actions a {
	margin-right: 10px
}

.linkedIn .extension {
	margin-bottom: 20px
}

.linkedIn .position {
	margin: .5em 0
}

.linkedIn .position .companyName {
	font-size: 9pt
}

.linkedIn .position .companyIndustry {
	display: none;
	font-size: 9pt
}

.linkedIn .position .timeSpent {
	float: right;
	color: #AAA
}

.linkedIn .details .name {
	font-size: 24px
}

.linkedIn .details .headline {
	font-size: 16px;
	color: #AAA
}