/*!
 * bootstrap-tokenfield
 * https://github.com/sliptree/bootstrap-tokenfield
 * Copyright 2013-2014 Sliptree and other contributors; Licensed MIT
 */
.twitter-typeahead {
	width: 100%;
	position: relative;
	vertical-align: top
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint {
	margin: 0;
	width: 100%;
	vertical-align: middle;
	background-color: #fff;
	height: 30px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 1.428571429
}

.twitter-typeahead .tt-hint {
	color: #999;
	z-index: 1;
	border: 1px solid transparent
}

.twitter-typeahead .tt-input {
	color: #555;
	z-index: 2
}

.twitter-typeahead .input-sm.tt-input, .twitter-typeahead .hint-sm.tt-hint
	{
	border-radius: 3px
}

.twitter-typeahead .input-lg.tt-input, .twitter-typeahead .hint-lg.tt-hint
	{
	border-radius: 6px
}

.input-group .twitter-typeahead:first-child .tt-input, .input-group .twitter-typeahead:first-child .tt-hint
	{
	border-radius: 4px 0 0 4px !important
}

.input-group .twitter-typeahead:last-child .tt-input, .input-group .twitter-typeahead:last-child .tt-hint
	{
	border-radius: 0 4px 4px 0 !important
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,
	.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
	border-radius: 3px 0 0 3px !important
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,
	.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
	border-radius: 0 3px 3px 0 !important
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,
	.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
	border-radius: 6px 0 0 6px !important
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,
	.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
	border-radius: 0 6px 6px 0 !important
}

.input-sm.tt-input, .hint-sm.tt-hint, .input-group.input-group-sm .tt-input,
	.input-group.input-group-sm .tt-hint {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5
}

.input-lg.tt-input, .hint-lg.tt-hint, .input-group.input-group-lg .tt-input,
	.input-group.input-group-lg .tt-hint {
	height: 45px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33
}

.tt-dropdown-menu {
	width: 100%;
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}

.tt-suggestion {
	display: block;
	padding: 3px 20px
}

.tt-suggestion.tt-cursor {
	color: #262626;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
		endColorstr='#ffe8e8e8', GradientType=0)
}

.tt-suggestion.tt-cursor a {
	color: #fff
}

.tt-suggestion p {
	margin: 0
}

.tokenfield .twitter-typeahead {
	width: auto
}

.tokenfield .twitter-typeahead .tt-hint {
	padding: 0;
	height: 20px
}

.tokenfield .twitter-typeahead .tt-suggestions {
	font-size: 14px
}

.tokenfield.input-sm .twitter-typeahead .tt-input, .tokenfield.input-sm .twitter-typeahead .tt-hint
	{
	height: 18px;
	font-size: 12px;
	line-height: 1.5
}

.tokenfield.input-lg .twitter-typeahead .tt-input, .tokenfield.input-lg .twitter-typeahead .tt-hint
	{
	height: 23px;
	font-size: 18px;
	line-height: 1.33
}