.mce-content-body.editable {
    outline: none;
    border-radius: @border-radius-base;
}

.io-ox-signature-edit {
    .user-select(text);
    background: white;
    border: 1px solid #ccc;
    padding: 13px;

    &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.io-ox-signature-import {
    padding: 0;
    margin-top: 10px;

    li {
        list-style-type: none;
        background-color: #f5f5f5;
        margin-top: 8px;
        padding: 8px;

        div { margin: 2px; }

        .signature-name {
            display: inline-block;
            font-weight: bold;
        }

        .signature-preview {
            margin-top: 10px;
            color: #666;
            font-size: 13px;
            line-height: 18px;
            max-height: 144px;
            overflow: hidden;
        }
    }

}

.io-ox-signature-settings {
    .radio label { width: 100%; }

    .signature-preview {
        width: 100%;
        color: #aaa;
        padding-top: 0px;
        padding-right: 40px;
        font-size: 13px;
        line-height: 18px;
        cursor: pointer;

        > div {
            overflow: hidden;
            max-height: 153px;
        }
    }
}

input.error { border-color: #b94a48; }

.io-ox-signature-dialog {
    .form-group {
        position: relative;

        .editable-toolbar .mce-tinymce {
            background-color: transparent;

            .mce-toolbar-grp { background-color: transparent; }

            .mce-edit-area { border-color: transparent!important; }
        }
    }
}
