@font-face {
	font-family: AndroidEmojiRegular;
	src: url(v=7.8.3-11.20170116.064730/font/androidemoji.eot);
	src: url(v=7.8.3-11.20170116.064730/font/androidemoji.eot)
		format('embedded-opentype'),
		url(v=7.8.3-11.20170116.064730/font/androidemoji.woff) format('woff'),
		url(v=7.8.3-11.20170116.064730/font/androidemoji.ttf)
		format('truetype')
}

.emojifont {
	font-family: AndroidEmojiRegular
}

img.emoji {
	border: 0;
	margin: 0 2px
}

.mceIcon.mce_emoji {
	background-position: -60px -20px
}

.mceEmojiPane, .mce-container .mceEmojiPane {
	height: 309px;
	width: 238px;
	vertical-align: top;
	border: 1px solid #ccc;
	border-width: 0 1px
}

.mceEmojiPane .emoji-tabs, .mce-container .mceEmojiPane .emoji-tabs {
	height: 34px;
	bottom: auto
}

.mceEmojiPane .emoji-tab, .mce-container .mceEmojiPane .emoji-tab {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	padding: 7px 14px;
	background-color: #ccc;
	border: 1px solid #fff;
	cursor: pointer
}

.mceEmojiPane .emoji-tab.left, .mce-container .mceEmojiPane .emoji-tab.left
	{
	right: 50%;
	border-right: 0 none
}

.mceEmojiPane .emoji-tab.right, .mce-container .mceEmojiPane .emoji-tab.right
	{
	left: 50%
}

.mceEmojiPane .emoji-tab.active, .mce-container .mceEmojiPane .emoji-tab.active
	{
	background-color: #333
}

.mceEmojiPane .emoji-tab:focus, .mce-container .mceEmojiPane .emoji-tab:focus,
	.mceEmojiPane .emoji-tab:active, .mce-container .mceEmojiPane .emoji-tab:active
	{
	outline: 0;
	background-color: #555
}

.mceEmojiPane .emoji-header, .mce-container .mceEmojiPane .emoji-header
	{
	line-height: 20px;
	height: 34px;
	bottom: auto;
	padding: 0 0 0 14px;
	background-color: #f5f5f5
}

.mceEmojiPane .emoji-header .emoji-category, .mce-container .mceEmojiPane .emoji-header .emoji-category
	{
	line-height: 34px;
	font-weight: 700;
	color: #333;
	display: inline-block;
	width: 100%;
	padding-right: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mceEmojiPane .emoji-header i, .mce-container .mceEmojiPane .emoji-header i
	{
	line-height: 20px
}

.mceEmojiPane .emoji-use-tabs .emoji-header, .mce-container .mceEmojiPane .emoji-use-tabs .emoji-header
	{
	top: 34px
}

.mceEmojiPane .emoji-options .dropdown-toggle, .mce-container .mceEmojiPane .emoji-options .dropdown-toggle
	{
	width: 34px;
	height: 20px;
	padding: 7px 0;
	display: inline-block;
	text-align: center
}

.mceEmojiPane .emoji-options .dropdown-toggle:focus, .mce-container .mceEmojiPane .emoji-options .dropdown-toggle:focus
	{
	outline: 0;
	background-color: #08c
}

.mceEmojiPane .emoji-options .dropdown-toggle:focus i, .mce-container .mceEmojiPane .emoji-options .dropdown-toggle:focus i
	{
	color: #fff
}

.mceEmojiPane .emoji-icons, .mce-container .mceEmojiPane .emoji-icons {
	top: 34px;
	bottom: 65px;
	height: 210px;
	padding: 14px 8px 14px 14px;
	white-space: normal;
	overflow: auto;
	background-color: #fff
}

.mceEmojiPane .emoji-use-tabs .emoji-icons, .mce-container .mceEmojiPane .emoji-use-tabs .emoji-icons
	{
	top: 68px
}

.mceEmojiPane .reset-recents, .mce-container .mceEmojiPane .reset-recents
	{
	color: #3c73aa;
	cursor: pointer;
	display: block;
	margin: 7px 0;
	text-align: right
}

.mceEmojiPane .reset-recents:hover, .mce-container .mceEmojiPane .reset-recents:hover
	{
	text-decoration: underline
}

.mceEmojiPane .emoji, .mce-container .mceEmojiPane .emoji {
	width: 20px;
	height: 20px;
	margin: 0 7px 7px 0;
	cursor: pointer
}

.mceEmojiPane .emoji:focus, .mce-container .mceEmojiPane .emoji:focus {
	outline: 5px solid #ccc;
	background-color: #ccc
}

.mceEmojiPane .emoji-footer, .mce-container .mceEmojiPane .emoji-footer
	{
	top: auto;
	height: 50px;
	padding: 7px 0 7px 10px;
	white-space: normal;
	border-top: 1px solid #fff;
	overflow: hidden;
	background-color: #f5f5f5;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5),
		to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',
		endColorstr='#ffdcdcdc', GradientType=0)
}

.mceEmojiPane .emoji-footer .emoji, .mce-container .mceEmojiPane .emoji-footer .emoji
	{
	margin: 0 27px 3px 0
}

.mceEmojiPane .one-row-footer .emoji-icons, .mce-container .mceEmojiPane .one-row-footer .emoji-icons
	{
	bottom: 40px
}

.mceEmojiPane .one-row-footer .emoji-footer, .mce-container .mceEmojiPane .one-row-footer .emoji-footer
	{
	height: 25px
}

.mceEmojiPane .one-row-footer .emoji-footer .emoji, .mce-container .mceEmojiPane .one-row-footer .emoji-footer .emoji
	{
	margin: 0 18px 3px 0
}

.mceEmojiPane .dropdown-toggle, .mce-container .mceEmojiPane .dropdown-toggle,
	.mceEmojiPane .dropdown-toggle *, .mce-container .mceEmojiPane .dropdown-toggle *
	{
	cursor: pointer
}

.mceEmojiPane .dropdown-menu, .mce-container .mceEmojiPane .dropdown-menu
	{
	padding: 5px 0;
	margin: 2px 0 0;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .2)
}

.mceEmojiPane .dropdown-menu a, .mce-container .mceEmojiPane .dropdown-menu a
	{
	cursor: pointer
}