/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Michael Nimz <michael.nimz@open-xchange.com>
 */

@import "../../../tk/definitions.less";

/* all styles for the modal 'Custom Sort' dialog */
.io-ox-office-custom-sort-dialog {
    overflow: visible !important;
    min-width: 350px;

    & .modal-body{
        overflow: visible !important;
        min-width: 350px;
    }

    hr{
        box-sizing: border-box;
        display: block;
        margin: 5px 13px;
    }

    a{
        padding-left: 2px;
        padding-right: 2px;

        &:focus{
            outline-offset: 0px;
        }
    }

    & .check-box{
        padding: 5px 13px;
        color: #333;
        text-decoration: none;

        & .button{
            font-size: 13px;
            cursor: pointer;
            color: #333;
            text-decoration: none;
            position: relative;

            &:hover{
                color: #333;
                text-decoration: none;
            }

            & .check-mark{
                color: #333;
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 2px;
            }

            & .caption{
                padding-left: 18px;
            }
        }
    }

    & .dropdown-link{
        padding: 5px 13px;

        & label span{
            color: #333;
        }

        & .dropdown{
            margin-left: 5px;
        }
    }

    & .rule-collection{
        padding: 5px 13px;

        & span{
            display: inline-block;
            width: 50%;

            i{
                margin-right: 5px;
                float: left;
            }

            a{
                float: left;
                max-width: 85%;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                white-space: nowrap;
            }
        }
        & span + span{
            width: 40%;
        }
        & > div > span + span + a.trash{
            color: #333;
            width: 10%;
            float: right;
        }

        & > div{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        & ul.dropdown-menu{
            max-width: 100%;

            li{
                a{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    & .btnHolder{
        box-sizing: border-box;
        display: block;
        padding: 5px 13px;

        & .newSortRuleBtn{
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }

            &.disabled{
                cursor: default !important;
                color: #b0b0b0;
                text-decoration: none;
            }
        }
    }
}
