/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Kai Ahrens <kai.ahrens@open-xchange.com>
 */

@import "../../../tk/definitions.less";

/* total height of the dialog (with header and footer button area) */
@body-height: 360px;

/* all styles for the modal 'Insert Function' dialog */
.io-ox-office-spreadsheet-function-dialog {
    height: @body-height;
    font-size: @standard-font-size;
    overflow-y: visible !important; // overwrite .io-ox-dialog-wrapper .modal-body

    .browser-safari &.mobile {
        > .list{
            > .control{
                height: 50px;
            }
        }
    }

    /* position of the root container nodes in the dialog body: desktop mode */
    &:not(.mobile),
    &.mobile.landscape {

        > .list {
            float: left;
            width: 40%;
            height: 100%;
        }

        > .desc {
            float: left;
            width: 60%;
            height: 100%;
            padding: 10px 0 0 (2 * @standard-distance-h);
        }
    }

    /* position of the root container nodes in the dialog body: mobile mode */
    &.mobile.portrait {

        > .list {
            float: left;
            width: 100%;
            height: 50%;
        }

        > .desc {
            float: left;
            width: 100%;
            height: 50%;
            padding: 0;
        }
    }

    /* first container with the category drop-down and function list */
    > .list {

        /* container node for a list control with labels */
        .control {
            width: 100%;
            padding-bottom: @standard-distance-v;
    
            label {
                color: @label-default-bg;
                font-weight: bold;
            }

            label + .dropdown, .dropdown + label {
                margin-left: 6px;
            }
        }
    
        /* drop-down menu with function category names */
        ul.categories {
            border-color: @standard-border-color;
    
            li:first-child { border-bottom: @standard-border; }
            a { padding: 1px @standard-distance-h; }
            .selected { background-color: @control-list-selected-color; }
        }

        /* list box with function names */
        .control.functions select {
            width: 100%;
            border: @standard-border;
            color: @text-color;

            option { padding: 3px 8px; }
        }
    }

    /* second container with the detailed function description */
    > .desc {
        overflow-y: auto;

        p, li {
            margin: @standard-distance-v 0;
        }

        p.desc-title {
            margin-top: (2 * @standard-distance-v);
            &.main { .light-heading-font(150%; bold); }
            &.sub { .light-heading-font(120%; bold); }
        }
        
        ul.desc-params {
            margin: 0;
            padding: 0 0 0 20px;

            > li {
                span:first-child { font-weight: bold; }
                span + span { margin-left: 6px; }
            }
        }
    }
}
