/**
 * This work is provided under the terms of the CREATIVE COMMONS PUBLIC
 * LICENSE. This work is protected by copyright and/or other applicable
 * law. Any use of the work other than as authorized under this license
 * or copyright law is prohibited.
 *
 * http://creativecommons.org/licenses/by-nc-sa/2.5/
 *
 * Copyright (C) 2016 OX Software GmbH
 * Mail: info@open-xchange.com
 *
 * @author Daniel Rentz <daniel.rentz@open-xchange.com>
 */

@import "../../../tk/definitions.less";

/* all styles for the modal 'Reorder Sheets' dialog */
.io-ox-office-spreadsheet-reorder-dialog {

    .dialog-ordersheets-holder {
        width: 225px;
        max-height: 200px;
        overflow-y: auto;
    }

    .dialog-ordersheets-list {
        display: inline-block;
        width: 100%;
        max-width: 200px;
        padding: 10px 0 15px 0;
        vertical-align: top;
        text-align: left;
    }

    .dialog-ordersheets-control {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 12px;
        margin-top: -30px;
    }

    .dialog-ordersheets-list > * {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-height: 3em;
        margin-bottom: 7px;
        padding: 0.5em;
        overflow: hidden;
        background-color: #eee;
        border: 1px transparent;
        border-radius: 0;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    .dialog-ordersheets-list > .btn-primary {
        background-image: linear-gradient(to bottom, #0088CC, #006699);
    }
}
