.mail-detail-content {
	font: 400 13px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-feature-settings: "liga" 0;
	width: 100%;
	position: relative;
	display: table;
	padding: 0
}

.mail-detail-content>div>[class$="-content"] {
	padding: 0
}

.mail-detail-content.plain-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap
}

.mail-detail-content.plain-text blockquote {
	white-space: normal
}

.mail-detail-content.fixed-width-font, .mail-detail-content.fixed-width-font.plain-text,
	.mail-detail-content.fixed-width-font blockquote, .mail-detail-content.fixed-width-font.plain-text blockquote,
	.mail-detail-content.fixed-width-font blockquote p,
	.mail-detail-content.fixed-width-font.plain-text blockquote p {
	font-family: monospace;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal
}

.mail-detail-content.simple-mail {
	max-width: 700px
}

.mail-detail-content.simple-mail.big-screen {
	max-width: 100%
}

.mail-detail-content.simple-mail img {
	max-width: 100%;
	height: auto !important
}

.mail-detail-content img {
	max-width: 10000px;
	vertical-align: middle
}

.mail-detail-content img[src=""] {
	background-color: rgba(0, 0, 0, .1);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255
		, 255, 255, .5) 20px, rgba(255, 255, 255, .5) 40px)
}

.mail-detail-content p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 0 1em
}

.mail-detail-content h1 {
	font-size: 28px
}

.mail-detail-content h2 {
	font-size: 21px
}

.mail-detail-content h3 {
	font-size: 16.38px
}

.mail-detail-content h4 {
	font-size: 14px
}

.mail-detail-content h5 {
	font-size: 11.62px
}

.mail-detail-content h6 {
	font-size: 9.38px
}

.mail-detail-content a {
	word-break: break-word;
	text-decoration: none;
	color: inherit
}

.mail-detail-content a:hover {
	color: inherit
}

.mail-detail-content a[href] {
	color: #007dbc;
	text-decoration: underline
}

.mail-detail-content a[href]:hover {
	color: #08c
}

.mail-detail-content th {
	padding: 8px;
	text-align: center
}

.mail-detail-content th[align=left] {
	text-align: left
}

.mail-detail-content .calendar-detail .label {
	display: block;
	text-shadow: none;
	font-weight: 400;
	background-color: transparent
}

.mail-detail-content img.emoji-softbank {
	margin: 0 2px
}

.mail-detail-content pre {
	word-break: keep-all;
	word-break: initial;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0 none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0
}

.mail-detail-content table {
	border: 0 none;
	line-height: normal;
	border-collapse: initial
}

.mail-detail-content ul, .mail-detail-content ol {
	padding: 0;
	padding-left: 16px;
	margin: 1em 0 1em 24px
}

.mail-detail-content ul {
	list-style-type: disc
}

.mail-detail-content ul ul {
	list-style-type: circle
}

.mail-detail-content ul ul ul {
	list-style-type: square
}

.mail-detail-content li {
	line-height: normal;
	margin-bottom: .5em
}

.mail-detail-content blockquote {
	color: #555;
	font-size: 13px;
	border-left: 2px solid #ddd;
	padding: 0 0 0 16px;
	margin: 16px 0
}

.mail-detail-content blockquote p {
	font-size: 13px
}

.mail-detail-content blockquote blockquote {
	border-color: #3C73AA;
	margin: 8px 0
}

.mail-detail-content.colorQuoted blockquote blockquote {
	color: #3c73aa !important;
	border-left: 2px solid #3c73aa
}

.mail-detail-content.colorQuoted blockquote blockquote a[href]:not (.deep-link
	){
	color: #3c73aa
}

.mail-detail-content.colorQuoted blockquote blockquote a[href]:not (.deep-link
	):hover {
	color: #2f5984
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote {
	color: #dd0880 !important;
	border-left: 2px solid #dd0880
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote a[href]:not
	(.deep-link ){
	color: #dd0880
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote a[href]:not
	(.deep-link ):hover {
	color: #ac0663
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote
	{
	color: #8f09c7 !important;
	border-left: 2px solid #8f09c7
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote a[href]:not
	(.deep-link ){
	color: #8f09c7
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote a[href]:not
	(.deep-link ):hover {
	color: #6c0796
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote blockquote
	{
	color: #777 !important;
	border-left: 2px solid #777
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote blockquote a[href]:not
	(.deep-link ){
	color: #777
}

.mail-detail-content.colorQuoted blockquote blockquote blockquote blockquote blockquote a[href]:not
	(.deep-link ):hover {
	color: #5e5e5e
}

.mail-detail-content .collapsed-blockquote {
	display: none
}

.mail-detail-content .blockquote-toggle {
	color: #777;
	font-size: 13px;
	padding-left: 56px;
	margin: 16px 0;
	min-height: 16px;
	word-break: break-word
}

.mail-detail-content .blockquote-toggle button.bqt {
	color: #888;
	background-color: #eee;
	padding: 1px 10px;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	outline: 0;
	position: absolute;
	left: 0;
	border: 0
}

.mail-detail-content .blockquote-toggle button.bqt:hover,
	.mail-detail-content .blockquote-toggle button.bqt:focus {
	color: #fff;
	background-color: #3c73aa;
	text-decoration: none
}

.mail-detail-content .max-size-warning {
	color: #777;
	margin: 10px -16px 0 -16px;
	padding: 16px 16px 0;
	border-top: 1px solid #ddd
}

.mail-detail-content a.deep-link {
	color: #fff;
	background-color: #3c73aa;
	text-decoration: none;
	font-size: 90%;
	font-weight: 700;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding: .1em 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px
}

.mail-detail-content a.deep-link:hover, .mail-detail-content a.deep-link:focus,
	.mail-detail-content a.deep-link:active {
	color: #fff;
	background-color: #2f5984
}

.mail-detail-content .loading-error {
	color: #800;
	line-height: 16px
}

.mail-detail-content .loading-error h4 {
	margin: 4px 0 0
}

@media print {
	.mail-detail-content .collapsed-blockquote {
		display: block !important
	}
	.mail-detail-content .blockquote-toggle {
		display: none !important
	}
}