.mail-detail-content {
	cursor: auto;
	display: block;
	overflow: hidden
}

.mail-detail-content * {
	line-height: normal;
	box-sizing: content-box
}

.mail-detail-content [class*=span] {
	float: none;
	margin-left: 0
}

.mail-detail-content small {
	color: inherit;
	font-size: initial
}

.mail-detail-content code {
	font-family: inherit
}

.mail-detail-content th {
	padding: 8px;
	text-align: center
}

.mail-detail-content th[align=left] {
	text-align: left
}

.touch .mail-detail .mail-detail-content.plain-text {
	font-size: 16px
}

.smartphone .mail-detail-content {
	padding: 0;
	font-size: 16px;
	overflow: auto
}

.smartphone .mail-detail-content * {
	line-height: 1.42857142em
}

.smartphone .mail-detail-content ul, .smartphone .mail-detail-content ol
	{
	padding-left: 10px;
	margin-left: 16px
}

.smartphone .io-ox-pagecontroller.page .mail-detail .mail-detail-content
	{
	margin: 0
}